@font-face {
    font-family: 'MicroExtendFLFBold';
    src: url('fuentes/microextendflf-bold-webfont.eot');
    src: url('fuentes/microextendflf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/microextendflf-bold-webfont.woff') format('woff'),
         url('fuentes/microextendflf-bold-webfont.ttf') format('truetype'),
         url('fuentes/microextendflf-bold-webfont.svg#MicroExtendFLFBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MicroExtendFLFRegular';
    src: url('fuentes/microextendflf-webfont.eot');
    src: url('fuentes/microextendflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/microextendflf-webfont.woff') format('woff'),
         url('fuentes/microextendflf-webfont.ttf') format('truetype'),
         url('fuentes/microextendflf-webfont.svg#MicroExtendFLFRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Global properties
---------------------------------------- */
body {
	background:#e6e6e8;
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family:Helvetica, Arial, sans-serif;
	font-size:100%;
	line-height:1.25em;
	color:#6f6f6f;
}
html { min-width:950px;}
html, body { height:100%;}
.alignMiddle{ vertical-align:middle}
.alignCenter{ text-align: center}
.alignright { text-align:right;}
.clear { clear:both;}
.fleft{ float:left}
.fright{ float:right}
.container {	overflow:hidden; width: 100%;}
.container1{ width:100%}
.wrapper { 	width:110%;	overflow:hidden;}
a img{ border:0px}
img{ vertical-align:top;  }
fieldset{ border:none}
.oh{ overflow:hidden}


.main {	margin:0 auto;	width:85%; 	}
#main {	margin:0 auto; position: relative;	width:82%;}

.col-1, .col-2, .col-3, .col-4{ float:left}
.row .col-1{ width:200px; margin-right:15px}
.row .col-2{ width:200px;}
.row1 .col-1{ width:302px; margin-right:20px}
.row1 .col-2{ width:302px;}
.row2 .col-1{ width:190px; margin-right:30px}
.row2 .col-2{ width:190px;}

.bg-main{ background: white;}/*url(../images/bg-blue.gif) top left repeat-x #f8f8fa}*/
#content { }
#content .bg-main{ background:none;}

/*----- links -----*/
a {color:#00669d; outline:none; text-decoration:underline;}
a:hover, a:focus { text-decoration:none;}
a:active, a:visited { }








/* Global Structure
---------------------------------------- */

/* Header */
#header{	height:150px; overflow:hidden; background:url(../images/top.gif) top left repeat-x;}
#header .indent{
    width:60px;
    height:24px;
    float: right;
   /* border: 2px dashed #423BCC;*/
    padding: 0 0px 0px 0;
    z-index: 30;
    position:relative;
    top:10px

   /*width:60px;
    float: right;
    border: 2px dashed #423BCC;
    padding: 0;
    z-index: 30;
    position:relative;
    top:10px;*/

 }
#header .inside{padding:0px 0px 0px 0px}
#header .logo{display:block; padding-top:16px;}
#header .languages{display:block; position:absolute; top:7px; right:0px;}
#header .languages a{display:block; float:left; width:25px; height:25px; margin-left:3px;color:#FFF;text-decoration:none;font-size:13px;}
#header .languages .langEn{
	background:url(../images/cps/canada.jpg) scroll top;
	padding-top:2px;
	text-align:center;
	/*-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;*/

	/*background: #000000;  Old browsers */
	/*background: -moz-linear-gradient(top, #000000 0%, #45484d 100%);  FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d));  Chrome,Safari4+ */
	 /*background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%); Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #000000 0%,#45484d 100%);  Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #000000 0%,#45484d 100%);  IE10+ */
	/*background: linear-gradient(top, #000000 0%,#45484d 100%);  W3C */
	 /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); IE6-9 */

}
#header .languages .select{
	padding-top:4px;
	text-align:left;
    width: 74px;
	color: #C33527;
}
#header .languages .langEs{
	background:url(../images/cps/colombia.jpg) scroll top;
	padding-top:2px;
	text-align:center;
	/*-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;*/

	/*background: #000000;  Old browsers */
	/*background: -moz-linear-gradient(top, #000000 0%, #45484d 100%);  FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d));  Chrome,Safari4+ */
	 /*background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%); Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #000000 0%,#45484d 100%);  Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #000000 0%,#45484d 100%);  IE10+ */
	/*background: linear-gradient(top, #000000 0%,#45484d 100%);  W3C */
	 /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); IE6-9 */

}
#header .languages .langEs:hover{ /*background:url(../images/site/icoEs.gif) scroll bottom;*/}
#header .languages .langEn:hover{
	/*background:url(../images/site/icoEn.gif) scroll bottom;*/

	/*background: #45484d;  Old browsers */
/*	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);  FF3.6+ */
 /*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);  Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top, #45484d 0%,#000000 100%);  Opera 11.10+ */
/*	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);  IE10+ */
/*	background: linear-gradient(top, #45484d 0%,#000000 100%);  W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );  IE6-9 */
}

#header h1 {position:absolute; left:0px; top:49px; text-indent:-9999px;}
#header h1 a { display:block; width:257px; height:45px; background:url(../images/logo.gif) no-repeat left top;	}

#header nav {	position:absolute;	left:0;	top:110px; width:100%;	z-index:20;}
#header .nav {	position:absolute;	left:0;	top:110px; width:100%;	z-index:20;}
#headersocial {
    position:absolute;
   /* border:1px solid #6b9b00;*/
    top:40px;
    width:690px;
    height: 70px;
    right:0px
}

#divHeader1 {
    width:436px;
    height:64px;
    float: right;
   /* border: 2px dashed #423BCC;*/
    padding: 0;
    z-index: 30;
    position:relative;
    top:10px;
    right:0px;
}

#divHeader2 {
    width:60px;
    height:24px;
    float: right;
    /*border: 2px dashed #423BCC;*/
   padding: 0 60px 0 30px;
    z-index: 30;
    position:relative;
    top:10px

}
#divHeader3 {
    width:60px;
    height:24px;
    float: right;
   /* border: 2px dashed #423BCC;*/
    padding: 0 0px 0px 0;
    z-index: 30;
    position:relative;
    top:10px
}

#menufullheader {
z-index: 100;
position:absolute;	left:0;	top:110px; width:100%;
background: -moz-linear-gradient(270deg, rgba(3,151,241,1) 0%, rgba(3,151,241,1) 19%, rgba(0,112,175,1) 82%, rgba(0,112,175,1) 83%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(3,151,241,1)), color-stop(19%, rgba(3,151,241,1)), color-stop(82%, rgba(0,112,175,1)), color-stop(83%, rgba(0,112,175,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(3,151,241,1) 0%, rgba(3,151,241,1) 19%, rgba(0,112,175,1) 82%, rgba(0,112,175,1) 83%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(3,151,241,1) 0%, rgba(3,151,241,1) 19%, rgba(0,112,175,1) 82%, rgba(0,112,175,1) 83%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(3,151,241,1) 0%, rgba(3,151,241,1) 19%, rgba(0,112,175,1) 82%, rgba(0,112,175,1) 83%); /* ie10+ */
background: linear-gradient(180deg, rgba(3,151,241,1) 0%, rgba(3,151,241,1) 19%, rgba(0,112,175,1) 82%, rgba(0,112,175,1) 83%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0397F1', endColorstr='#0070AF',GradientType=0 ); /* ie6-9 */
}


#header ul.icon{margin:0; padding:0; list-style:none;}
#header ul.icon li{ padding-left:5px; display:inline; margin:0; float:left}
#header ul.icon li a{color:#14acba; text-decoration:none; padding:0}
#header ul.icon li a:hover { text-decoration:none;}

/*--- superfish dropdown menu begin ---*/
.selected
{
  background-color:#D84527;
}
.sf-menu {margin:0; padding:0;	list-style: none; z-index:10; position:relative; float:right }
.sf-menu li{ margin:0; display:inline; position:relative; float:left;}
.sf-menu li a{
	margin:0;
	display:inline;
	position:relative;
	float:left; background:none;
	 border-radius:0px;
	 -moz-border-radius:0px;
	 -webkit-border-radius:0px;
	  position:relative;
	  color:#FFF;
	  text-decoration:none;
	  display:block;
	   float:left; line-height:31px;
	   font-size:12px;
	   font-family:Helvetica, Arial, sans-serif, Times, serif;
	   text-transform:uppercase;
	    padding:0px 24px 0px 25px;
	    border-right-width: thin;
	    border-right-style: solid;
	    border-right-color: #6E6E6E;
	    border-left-width: thin;
	    border-left-style: solid;
	    border-left-color: #E8E3E4;
}



.sf-menu li a:hover{color:#0070AF;  text-decoration:none;
background: -moz-linear-gradient(270deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(208,208,208,1)), color-stop(19%, rgba(208,208,208,1)), color-stop(82%, rgba(254,254,254,1)), color-stop(83%, rgba(254,254,254,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* ie10+ */
background: linear-gradient(180deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0D0D0', endColorstr='#FEFEFE',GradientType=0 ); /* ie6-9 */
border-left-color: #CCC0C0; border-left-style: solid }
.sf-menu li.current a{ color:#0070AF; text-decoration:none;
background: -moz-linear-gradient(270deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(208,208,208,1)), color-stop(19%, rgba(208,208,208,1)), color-stop(82%, rgba(254,254,254,1)), color-stop(83%, rgba(254,254,254,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* ie10+ */
background: linear-gradient(180deg, rgba(208,208,208,1) 0%, rgba(208,208,208,1) 19%, rgba(254,254,254,1) 82%, rgba(254,254,254,1) 83%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0D0D0', endColorstr='#FEFEFE',GradientType=0 ); /* ie6-9 */
border-left-color: #CCC0C0; border-left-style: solid}


.sf-menu ul { position:absolute; top:-999em; width:10em; line-height:1.0; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { color:#FFF; top:31px; z-index:99;}

/*.sf-menu ul li:current a{color:#FFF;  text-decoration:none; }*/

/*** DEMO SKIN ***/
.sf-menu ul {	width:153px;  display:block;   background:#666666; border-style: solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:3px 0px 3px 0px}
.sf-menu ul ul{ margin-left:153px; }
.sf-menu li li {  text-align:left; line-height:27px; padding:0;  z-index:9; position:relative; display:block;}
.sf-menu li li a {text-transform:none; line-height:27px; text-align:left; padding:0 0 0 28px; width:125px;  font-size:12px; color:#e8e8ea; z-index:9; display:block; float:left; background:#666 !important }
/*.sf-menu li li a:hover{ color:#353535; background: url(../images/bg_menu1-act.gif) top left repeat-x !important; display:block }
.sf-menu li li a.current{ color:#353535; background: url(../images/bg_menu1-act.gif) top left repeat-x !important; display:block }*/
/*.sf-menu li li  a {border: solid 1px;text-transform:none; line-height:27px; text-align:left; padding:0 0 0 28px; width:125px;  font-size:12px; color:#FFF; z-index:9; display:block; float:left; background:white !important }*/
.sf-menu li li a:hover{color:#FFCC00;  text-decoration:none;


}


.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {	 position:relative }

.sf-menu li:hover ul,
.sf-menu li.sfHover ul { left:0; top:31px; /* match top ul list item height */	z-index: 99;}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {  /* match ul width */ top:0;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul { top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left:10em; /* match ul width */ top:0;}

.sf-sub-indicator {	position: absolute;	display:block;	right:10px;	width:10px;	height:10px; text-indent:-999em; overflow:hidden;}

/* Aside */
aside.bottom { background:#000; padding:0 0 0 15px; position:relative; }
	aside.bottom .inside { padding:30px 0 43px 0; }



/*********faded************/
#faded {position:relative;  top:0; left:0; height:270px;  z-index:1}

#faded .pagination1 {position:absolute; bottom:0px; left:0px; width:60px; list-style:none }
#faded ul{ list-style:none }
#faded .pagination1 li {float:left; line-height:0; font-size:0; padding-right:6px}
#faded .pagination1 li a {display:block; float:left; width:9px; height:9px; text-decoration:none; background:url(../images/bull.png) 0 0 no-repeat; text-indent:-5000px;}
#faded .pagination1 li:hover a,
#faded .pagination1 li.current a{background:url(../images/bull-h.png) 0 0 no-repeat; text-decoration:none}




/*===== looperSlider =====*/
/* * Required */
#loopedSlider {	height:410px;}
#loopedSlider .container { width:950px; height:410px; overflow:hidden; position:relative; margin:0; font-size:12px;}
#loopedSlider .slides { position:absolute; top:20px; left:0; }
#loopedSlider .slides .div { position:absolute; top:0; width:950px; display:none; }

#loopedSlider .slides .div div {display:block; color:#a6a6a6; position:absolute; z-index:1050; width:410px; color:#a6a6a6; font-size:18px; top:80px; left:15px}
#loopedSlider .slides .div .steps{
	display:block;
	position:absolute;
	top:50px;
	left:400px;
	width:600px;
	height:260px;
}
#loopedSlider .slides .div .steps li{
	list-style:none;
	margin:12px 0;
	font-size:22px;
}
#loopedSlider .slides .div .steps li span{
	color:#CD3127;
	font-size:30px;
	font-weight:bold;
}
#loopedSlider .slides .div h1 { font-size:60px; color:#000; letter-spacing:-2px; margin-bottom:0; }
#loopedSlider .slides .div h1 span {font-family:'MicroExtendFLFRegular'; }
#loopedSlider .slides .div h2 { font-size:40px; color:#333; margin-top:-20px;}
#loopedSlider .slides .div h2 span {font-family:'MicroExtendFLFRegular'; }
#loopedSlider .slides .div .img { right:0; position:absolute}

/* * Optional*/
#loopedSlider,#newsSlider { width:950px; position:relative; clear:both; }
#loopedSlider .pagination { position:absolute; right:0px; top:30px; width:80px; z-index:10}
#loopedSlider iframe { position:absolute; right:40px; top:45px; z-index:1000}
#loopedSlider a.video { position:absolute; right:40px; top:45px; z-index:1}
#loopedSlider a.videox { position:absolute; z-index:1000}
#loopedSlider .pagination li{ margin-right:6px; float:left; display:inline;}
#loopedSlider .pagination li a{ background:#d2d2d2; width:9px; height:9px; border-style: solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;  position:relative; text-indent:-1000em; color:#d2d2d2; text-decoration:none; display:inline-block }
#loopedSlider .pagination li:hover a{ background:#CD3127; color:#CD3127; text-decoration:none}
#loopedSlider .pagination li.active a{ background:#CD3127; color:#CD3127; text-decoration:none}

.pagination-container {	padding:11px 168px 0 0;	float:right; width:193px;}
	.pagination-container a.previous {display:none}
	.pagination-container a.next {display:none}

/*--------------------*/



/*content*/
section{ font-size:0.75em; width:100%; text-align:left;}
section .inside{padding:50px 0px 65px 0px}
section .inside1{padding:0px 0px 65px 0px}
.container .inside{padding:50px 0px 65px 0px}
.img-left{ float:left; margin:0 20px 0px 0}
.img-left1{ float:left; margin:0 5px 0px 0}
.img-indent{ margin:0 0 16px 0}
.tail{ background:url(../images/tail.gif) bottom repeat-x; padding-bottom:1px; margin-bottom:20px}
.tail1{ background:url(../images/tail.gif) bottom repeat-x; padding-bottom:45px; margin-bottom:55px}
.tail2{ background:url(../images/tail1.gif) bottom repeat-x; padding-bottom:18px; margin-bottom:21px}
.txt-1{ float:right; display:block; margin-bottom:31px; font-weight:bold; color:#5e5e5e}
.num{ background:url(../images/bg_num.gif) top left no-repeat; width:51px; line-height:51px; padding-bottom:21px; color:#fff; font-size:36px; text-align:center; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold; float:left; padding-right:18px}
.txt{ margin-bottom:5px; color:#d9310a; font-size:16px; font-weight:bold}
.txt1{ margin-bottom:5px; color:#d9310a; font-size:16px; font-weight:bold; float:left; width:28px}
.icon-1{ position:absolute; top:6px; left:16px}
.txt2{ color:#b3b3b4}
.txt2 strong{ color:#969697}

.pr{ position:relative}

/* indents */
.inside{padding:0px 0px 0px 0px }
.indent{padding:20px 0px 0px 0px}
.indent1{padding:40px 0px 0px 0px}


/*footer*/
#footer { color:#D7D4E9; font-size:12px; background-color:#005377; background-image: -moz-linear-gradient(top left, #005377, #005377 33px); background-image: -webkit-linear-gradient(top left, #005377, #005377 33px); background-image: -o-linear-gradient(top left, #005377, #005377 33px); background-image: -ms-linear-gradient(top left, #005377, #005377 33px); background-image: linear-gradient(top left, #005377, #005377 33px); font-family:Helvetica, Arial, sans-serif; position:relative}
#footer .inside{ padding:33px 0px 50px 0px; position:relative }
#footer a {color:#D7D4E9; text-decoration:underline}
#footer a:hover {  text-decoration:none}
.title1{ position:absolute; right:56px; top:40px}
.title{ margin-bottom:11px}

#footer ul{margin:0; padding:0; list-style:none; }
#footer ul li{ margin:0px; display:inline; background:url(../images/bg_li.gif) center left no-repeat; float:left; padding:2px 14px 2px 14px}
#footer ul li a{color:#D7D4E9; text-decoration:none; display:block; float:left}
#footer ul li a:hover { text-decoration:none; color:#D7D4E9 }
#footer ul .first{background:none; padding-left:0px}
#footer ul li .current{ text-decoration:none; color:#D7D4E9  }

.contact-block span{ float:right; padding-right:120px}

/*  Header styles */
h1, h2, h3, h4, h5, h6 {margin:0 0 23px 0; line-height:1.2em; color:#104F8B;}
h1 {	font-size:45px; }
h2 {	font-size:40px; }
h3 {	font-size:36px; }
h4 {	font-size:32px; }
h5 {	font-size:28px; }
h6 {	font-size:24px; color:#666666}
.h6 {	font-size:24px; color:#fff; margin-left:39px; letter-spacing:-1px; margin-bottom:18px}


/* Paragraph styling */
p {margin-bottom:21px;}
.p { margin-bottom:0;}
.p1 { margin-bottom:21px;}
.p2 { margin-bottom:9px;}
.p3 { margin-bottom:27px;}

.pad{ float:left; margin-right:10px}
/* link */
.linkNormal{color:#00669D; font-weight:bold; text-decoration:none; cursor:pointer}
.link {
    -webkit-box-shadow: inset 0px 2px 5px 3px #00000;
    -moz-box-shadow: inset 0px 2px 5px 3px #00000;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background: #E7E7E7;
    width:80px;
    height:25px;
    padding:8px 12px;
    text-align:center;
    text-decoration:none;
    color:#317BA2;
    top:10px;

}
.link:hover{
background: #DB481C; /* Old browsers */

	}
/* .link:hover{ text-decoration:underline} */
.link1{color:#0591CE;  text-decoration:none}
.forgotPass .link1{color:#FFF;  text-decoration:none}
.link1:hover{ text-decoration:underline}

.button{color:#fff; background:#00669D; padding:0px 14px 0px 14px; line-height:28px; display:inline-block; text-decoration:none; border-style: solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:relative  }
.button:hover{text-decoration:none; background:#005377; }
.button-1{color:#fff; background:#00669D; padding:0px 14px 0px 14px; line-height:28px; display:inline-block; text-decoration:none; border-style: solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:relative  }
.button-1:hover{text-decoration:none; background:#005377}
.button-2{color:#fff; background:#00669D; padding:0px 14px 0px 14px; line-height:28px; display:inline-block; text-decoration:none; border-style: solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:relative  }
.button-2:hover{text-decoration:none; background:#005377 }

.link-1 { display:inline-block; float:right; line-height:28px; background:url(../images/marker2.png) no-repeat 100% 11px #27960c; padding:0 17px 0 13px; color:#fff; text-transform:uppercase; text-decoration:none; border-radius:5px;	-moz-border-radius:5px; -webkit-border-radius:5px; cursor:pointer; position:relative; }
.link-1:hover {background:#000; text-decoration:none; color:#fff}

.button1 { display:inline-block; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; line-height:44px; height:44px; background:url(../images/but.gif) top left repeat-x; padding:0 16px 0 16px; color:#dc0000; text-decoration:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; cursor:pointer; position:relative; text-transform:uppercase }
.button1:hover {	color:#fff;	text-decoration:none;}

.line-hor { background:#3a3c52; height:1px; overflow:hidden; font-size:0; line-height:0; margin:20px 0 20px 0;}
/*  Horizontal divider */
.hr {display:block; position:relative; padding:55px 0 35px 0; border:none; background:url(../images/hr.gif) 0 50% repeat-x; height:2px; overflow:hidden; font-size:11px; margin:0 10px 0 0; }
.hr a { position:absolute; right:0; top:25px; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; text-decoration:none; background:url(../images/arrow-top.png) no-repeat 0 6px; padding-left:13px; color:#6b6a6a; }
.hr a:hover { color:#000;}



/* Custom select color */
abbr[title], dfn[title] {color:#e34d29; border-bottom:1px dotted #ff0000; text-transform:uppercase; cursor:help;}
abbr, acronym  			{ border-bottom:1px dashed #e34d29;}
em, dfn  		  		{ font-style:italic;}
b						{ color:#353535}

big						{ font-size:22px}
del						{ color:#e34d29;  text-decoration: line-through;	}
ins						{ color:#fff; background-color:#e34d29; text-decoration:none;	}
dfn 	 		     	{ color:#e34d29; letter-spacing:1px; font-size:14px; font-style:normal; font-family:Arial, Helvetica, sans-serif}
q						{ color:#e34d29; font-size:14px; font-family:Arial, Helvetica, sans-serif}
sup	  					{ padding-bottom:10px; font-size:10px}
sub 		  			{ vertical-align:bottom; font-size:10px}
var						{ font-style:normal}

mark 					{ color:#e34d29; background-color:#ff9; font-style:italic; font-weight:bold;	}
address 		   		{ margin:0 0 1.5em;font-style:italic;}
pre, code, tt  			{ font:1em 'andale mono', 'lucida console', monospace; line-height:1.5; display:block;}
code 			    	{ color:#333; background-color:#f6f6f6; display:block; padding:3px 2px 3px 5px; line-height:1.67em;  border:1px dotted #333; text-shadow:none }
pre 			     	{ white-space:pre;}


/* Custom select color */
::selection {background: #bdbdbf; color:#000; /* Safari */}
::-moz-selection {background: #bdbdbf; /* Firefox */ color:#000;}

/* blockquote */
blockquote {margin:0 5px 10px 5px;	padding:0 10px 10px 95px; font-size:1.16em; line-height:1.2em; color:#6b6a6a; quotes:none; background:url(../images/quotes.png) no-repeat 0 0;}
blockquote.left {border-right:1px solid #ccc; width:35%; float:left; margin-right:20px; padding-right:20px; background:none; padding-left:0; margin-left:0}
blockquote.right {border-left:1px solid #ccc; width:35%; float:right; margin-left:20px; padding-left:60px; background-position:20px 0; background:none; padding-left:10px; margin-left:10px}


/* Unordered list style
---------------------------------------- */

/* List */
ul.list{margin:0; padding:0; list-style:none;}
ul.list li{background:url(../images/marker.gif) top left no-repeat; background-position:0 7px; padding-left:15px; overflow:hidden; padding-bottom:7px }
ul.list li a{color:#888484; text-decoration:none; line-height:18px}
ul.list li a:hover { text-decoration: underline; }

/* List */
ul.list1{margin:0; padding:0; list-style:none;}
ul.list1 li{ padding-bottom:2px}
ul.list1 li a{color:#050404; text-decoration:none; display:block; background:url(../images/bg_list1.png) top left no-repeat; width:222px; line-height:43px; padding-left:45px; font-size:21px; font-style:italic}
ul.list1 li a:hover { color:#fff; text-decoration:none; background:url(../images/bg_list1.png) bottom left no-repeat;}

/* List_1 */
ul.list_1{margin:0; padding:0; list-style:none;}
ul.list_1 li{background:url(../images/marker_1.gif) top left no-repeat; background-position:0 7px; padding-left:15px; overflow:hidden; padding-bottom:7px }
ul.list_1 li a{color:#888484; text-decoration:none; line-height:18px}
ul.list_1 li a:hover { text-decoration: underline; }
ul.list_1 li ul { margin-left:10px}
ul.list_1 li ul li {background:url(../images/marker_1-sub.gif) no-repeat 0 5px;	padding:0 0 3px 13px; font-size:14px; position:relative; zoom:1; }

/* List_2 */
ul.list_2{margin:0; padding:0; list-style:none;}
ul.list_2 li{background:url(../images/marker.gif) top left no-repeat; background-position:0 7px; padding-left:15px; overflow:hidden; padding-bottom:7px }
ul.list_2 li a{color:#888484; text-decoration:none; line-height:18px}
ul.list_2 li a:hover { text-decoration: underline; }

/* Ordered list style */
ol {margin:0; padding:0; font-weight:bold}
ol li { margin-left:30px; list-style-position:outside; 	list-style-type:decimal; font-size:12px; color:#fff  }
ol li a{ font-size:12px; color:#6f6f6f;	text-decoration:none; line-height:28px; padding-left:36px; background:url(../images/bg_ol.gif) 2px 4px no-repeat; display:block; margin-left:-28px; font-weight:normal}
ol li a:hover{ text-decoration: underline}
ol li a strong{ color:#353535}


/* Definition list style */
dl { margin:15px 0}
dl dt {font-size:1.16em; color:#353535 !important;	margin-bottom:15px	}
dl dd { margin-bottom:1.5em;}
dl .dd {margin-left:30px}
dl.def-list { padding-bottom:5px;}
dl.def-list dt {font-size:13px; color:#fff; width:100%; overflow:hidden; margin-bottom:1em; position:relative; z-index:0; }
dl.def-list dd {margin-bottom:2em;}


/* News style*/
.news {	padding-bottom:18px;}
.news li {	position:relative;	padding:0 0 25px 70px;	color:#000;	height:1%;	}
.news li p.date {position:absolute;	left:0;	top:3px; background:#666; width:59px;	height:69px; font-size:25px; line-height:64px; color:#fff; text-align:center; font-weight:bold;}
.news li a.title {  display:block; color:#8e8d8b;  text-transform:uppercase;  font-size:11px;  margin-bottom:.5em;  }


/* Layouts navigation */
.layouts-nav {width:100%; overflow:hidden; padding-bottom:30px !important; list-style:none }
.layouts-nav li { float:left; margin-right:20px; background:none !important; padding:0 !important;}
.layouts-nav li a {float:left; background:#333 !important; padding:2px 10px; color:#fff; text-decoration:none; margin-right:10px; cursor:pointer; position:relative; }
.layouts-nav li a:hover {background:#e34d29 !important;}

/* Table styling */
table { width:100%; border:2px solid #e34d29}
table {border:none !important ; }
.table100 table{width:100%;}
.noBorder table {border:none;}
table thead th {  text-align:left; background:#e34d29; border:1px solid #ff7655; text-transform:uppercase; color:#fff; padding:15px 20px; }
table tbody td {padding:10px 20px; background:#fafafa; border:1px solid #bfbfbf; }
table tr td:hover {	background-color:#bfbfbf; color:#e34d29}

/*  Dropcaps style */
.dropcap_1 {color:#e34d29; font-size:36px; width:55px; font-weight:bold; font-family: Georgia, "Times New Roman", Times, serif; line-height:1em;  display:block; float:left; text-align:center; }
.dropcap_2 {color:#fff; font-size:41px; width:49px; line-height:49px; background:url(../images/dropcap.png) no-repeat 50% 0; text-align:center; font-weight:bold; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;  display:block; float:left; margin-right:8px; }


/* Main banner
---------------------------------------- */
.main-banner {height:372px; overflow:hidden; margin-bottom:5px; background:#666; position:relative;	}

/* Blocks and Boxes style
---------------------------------------- */
/*box*/
.box{ background:#78ae00; border:1px solid #6b9b00; position:relative; border-style: solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.box .indent-box{ padding:18px 20px 32px 18px; }

.box1{ background:#d2d2d2}
.box1 .indent-box{ padding:20px 18px 11px 20px; }

.box2{ background:url(../images/box2.gif); width:266px}
.box2 .box-top{ background:url(../images/box2_top.gif) top left no-repeat}
.box2 .box-bot{ background:url(../images/box2_bot.gif) bottom left no-repeat}
.box2 .indent-box{ padding:42px 10px 0px 31px; }
.box2 p{ padding-bottom:25px}


/* 404 page */
.box_404{background:url(../images/img_404.jpg) top left no-repeat; height:375px; color:#a3a3a4; font-family:Arial, Helvetica, sans-serif; position:relative}
.box_404 .indent-box{padding:21px 10px 0px 642px; width:290px}
.box_404 h2 { font-size:42px; line-height:1.2em; margin:0px 0 0px 0; letter-spacing:-2px; color:#353535 }
.box_404 .p1 { margin-bottom:30px}


/* Information box */
.info-box { border:1px solid #68a2cf; padding:19px 10px 24px 112px; color:#161819; margin-bottom:20px; background:#e1f2fc; position:relative; height:1%; }
.info-box p.icon { position:absolute; left:30px; top:10px; margin:0; }

/* Download box */
.download-box { border:1px solid #a3c159; padding:19px 10px 24px 112px; color:#161819; margin-bottom:20px; background:#eeffdd; position:relative; height:1%; }
.download-box p.icon { position:absolute; left:30px; top:10px; margin:0; }

/* Notification box */
.notification-box { border:1px solid #e6c555; padding:19px 10px 24px 112px; color:#161819; margin-bottom:20px; background:#fef7e0; position:relative; height:1%; }
.notification-box p.icon { position:absolute; left:30px; top:10px; margin:0; }

/* Error message box */
.error-box { border:1px solid #ff9999; padding:19px 10px 24px 112px; color:#161819; margin-bottom:20px; background:#ffeded; position:relative; height:1%; }
.error-box p.icon { position:absolute; left:30px; top:10px; margin:0; }


/* Lightbox image */
.lightbox-image {	position:relative;	overflow:hidden; display:block	}
.lightbox-image1 {	position:relative;	overflow:hidden; float:left	}
	.lightbox-image img {		position:relative;		z-index:2;		}
	.lightbox-image span {		display:block;		position:absolute;		left:0;		top:0;		width:100%;		height:100%;		background:url(../images/magnify.png) no-repeat 50% 50%;		z-index:1;		}
	.lightbox-image1 img {		position:relative;		z-index:2;		}
	.lightbox-image1 span {		display:block;		position:absolute;		left:0;		top:0;		width:100%;		height:100%;		background:url(../images/magnify.png) no-repeat 50% 50%;		z-index:1;		}

/* Easy Tooltip */
#easyTooltip{padding:5px 10px;
	border:1px solid #000;
	background:#fff;
	color:#a7a7a7;
	font-size:11px;
	text-transform:none;
	z-index:900;
	position:relative
}
/* // Easy Tooltip */


/* Pages
---------------------------------------- */
/* Under Construction page =====*/
#constuction-box {
	width:800px;
	height:500px;
	position:relative;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-250px;
	background:#eae9e7;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-color:#ccc;
	box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-webkit-box-shadow:0 0 10px #999;
	text-align:center;
	behavior:url(js/PIE.htc);
	}
	#constuction-box .inside {
		padding:40px 40px 40px 40px;
		}
		#constuction-box .button {
			position:relative;
			}
		#constuction-box h1 {
			font-weight:700;
			text-align:center;
			font-size:4em;
			margin-bottom:.2em;
			line-height:1.2em;
			letter-spacing: 2px;
			border-bottom: 1px solid #ddd;
			padding-bottom:10px;
			}
			#constuction-box h1 span {
				text-transform:uppercase;
				color:#e34d29;
				display:block;
				margin-bottom:-15px;
			}

	/* Countdown */
	#countdown_dashboard {
		height: 110px;
		padding:30px 0 40px 0;
		width:650px;
		margin:0 auto;
		position:relative;
		}
	.dash {
		width: 110px;
		height: 114px;
		background: transparent url('../images/dash.png') 0 0 no-repeat;
		float: left;
		margin-left: 20px;
		position: relative;
		}

	.dash .digit {
		font-size:75px;
		line-height:85px;
		font-weight: bold;
		float: left;
		width: 55px;
		text-align: center;
		font-family:"Times New Roman", Times, serif;
		color: #555;
		position: relative;
	}
		.dash .digit .bottom {
			font-size:75px;
			line-height:85px;
		}

	.dash_title {
		position: absolute;
		display: block;
		bottom: 0px;
		left:0;
		font-size: 12px;
		color: #555;
		text-transform: uppercase;
		letter-spacing: 2px;
		width:110px;
	}

	.dev_comment {
		font-size: 14pt;
		color: #777;
		text-align: center;
		font-style: italic;
		margin: 40px 10px;
	}

	#subscribe_form {
		position: relative;
	}

	#email_field {
		font-size: 16pt;
		padding: 6px 10px;
		width: 300px;
	}

	#subscribe_button {
		font-size: 14pt;
		color: #333;
		padding: 4px 8px;
	}

	.copyright {
		font-size: 9pt;
		color: #333;
		margin: 40px 0px;
	}

	.faded {
		color: #999;
	}

	.form_message {
		width: 400px;
		padding: 10px;
		margin: 15px auto;
		display: none;
	}

	#error_message {
		background-color: #ffe;
		border-left: 5px solid #bb3;
		border-right: 5px solid #bb3;
		color: #770;
	}

	#info_message {
		background-color: #f0f9ff;
		border: 1px solid #eef;
	}

	#loading {
		text-align: center;
		margin: 10px;
		display: none;
		position: absolute;
		width: 100%;
		top: 60px;
	}

/* Intro page */
#intro-box {
	width:600px;
	height:400px;
	position:relative;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-200px;
	background:#eae9e7;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-color:#ccc;
	box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-webkit-box-shadow:0 0 10px #999;
	text-align:center;
	behavior:url(js/PIE.htc);
	float:left;
	}
	#intro-box .inside {
		padding:40px 40px 40px 40px;
		}
		#intro-box h1 {
			font-weight:700;
			text-align:center;
			font-size:4em;
			margin-bottom:.2em;
			line-height:1.2em;
			position:absolute;
			left:0;
			top:-90px;
			text-align:center;
			width:600px;
			overflow:hidden;
			height:100px;
			color:#353535;
			}
			#intro-box h1 span {
				text-transform:uppercase;
				color:#1fb7c4;
				display:block;
				margin-bottom:-15px;
			}
		#intro-box .button {
			position:absolute;
			right:30px;
			bottom:20px;
			float:right;
			white-space:nowrap;
			}
		.intro-buttons {
			width:500px;
			padding:0 50px;
			position:absolute;
			left:0;
			bottom:50px;
			}
		#flash-intro {
			margin-bottom:20px;
			position:absolute;
			left:23px;
			top:20px;
			}

/* Content
---------------------------------------- */



/* Pagination
.pagination {
	display:block;
	width:100%;
	overflow:hidden;
	}
	.pagination a {
		float:left;
		font-size:11px;
		color:#000;
		text-decoration:none;
		text-transform:uppercase;
		line-height:31px;
		padding-left:14px;
		}
	.pagination a:hover {
		text-decoration:underline;
		}
		.pagination ul {
			float:left;
			padding:0 3px 0 18px;
			}
			.pagination ul li {
				float:left;
				padding-left:1px;
				margin-right:1px;
				padding:0 0 0 0 !important;
				background:none !important;
				}
			.pagination ul li span {
				width:31px;
				float:left;
				text-align:center;
				color:#000;
				}
				.pagination ul li a {
					font-size:15px;
					color:#000;
					text-decoration:none;
					width:31px;
					line-height:31px;
					height:31px;
					text-align:center;
					background:#e9e9e9;
					padding:0;
					}
				.pagination ul li a:hover {
					background:#19b6c5;
					text-decoration:none;
					color:#fff;
					}
*/

/* Other */
figure {
	margin:4px 26px 0 0;
	background:#e6e5e8;
	border:1px solid #000;
	float:left;
	}
	figure figcaption {
		color:#2d2d2d;
		font-size:22px;
		text-align:center;
		padding:11px 0 11px 0;
	}

figure.fright {
	float:right;
	margin:4px 0 0 26px;
	}

.img-box {
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
	}
	.img-box img.fleft {
		float:left;
		margin-right:15px;
	}


.extra-wrap {
	overflow:hidden;
	}


/* Postal address */
.address {
	float:left;
	margin-right:30px;
	}
.address.last {
	margin-right:0;
	}
	.address dt {
		font-weight:normal;
		color:#6b6a6a;
		}
	.address dd {
		clear:both;
		margin:0 0 0 0 !important;
		}
		.address dd span {
			float:left;
			width:90px;
			}





/* Forms
---------------------------------------- */
.rowElem1{ height:35px}
.input{
		width:170px;
		padding:4px 10px 4px 10px;
		background:#0d0c0e;
		vertical-align:middle;
		border:1px solid #2e3032;
		color:#fff;
	}

/* Forms default */
input, select, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	}

/* Newsletter form */
#newsletter-form fieldset {
	border:none;
	}
	#newsletter-form .field {
		overflow:hidden;
		margin-bottom:8px;
		}
	#newsletter-form input[type=text] {
		width:175px;
		padding:3px 0 3px 5px;
		background:#4d4d4d;
		border:none;
		color:#a7a7a7;
		border-right:1px solid #000;
		border-left:1px solid #000;
		margin-right:3px;
	}
	#newsletter-form input[type=submit] {
		width:30px;
		height:22px;
		background:#fff;
		border:1px solid #000;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		cursor:pointer;
		color:#2f2f2f;
		font-weight:bold;
		text-transform:uppercase;
		text-shadow:0 1px 0 #f1f1f1;
		}

.rowElem{ background:url(../images/bg_input.gif) top left no-repeat; height:28px}
.rowElem1{ background:url(../images/bg_input1.gif) top left no-repeat; height:28px}
.rowElem2{
    border-color: #CBCBCB #DCDCDC #EDEDED;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    float: left;
    margin-right:5px;
    padding:2px 2px;

}
.rowElem3{/* LogIn button Styles*/
	display:block;
	background:url(../images/site/logIn.png);
	width:49px;
	height:25px;
}
/* Login form */
#login-form {

  right: 0px;
  position:absolute;
}
#login-form .myBalance {
	font-size: 12px;
	font-weight: bold;
}
#login-form fieldset {
	border:none;
	width:356px;
	}
	#login-form.alignRight fieldset{
		text-align: right;
		color:#006B96;
	}
	#login-form.alignRight fieldset a{
		color:#C33527;
	}
	#login-form fieldset .loginInputs{
	float:right;
	}
	#login-form .forgotPass {
		font-size:11px;
		color:#cccccc;
		float:right;
		padding-top:5px;
        display: block;
		}
	#login-form .link1 {
		margin-right:5px;
		float:left;
		}
	#login-form input[type=text] {
		border:none;
		color:#000;
		font-size:12px;
		color:#666666;
		}
	#login-form input[type=password] {
		border:none;
		color:#000;
		font-size:12px;
		color:#666666;

	}
	#login-form input[type=submit] {
		background: url(../images/site/butLog.gif) top left no-repeat;
		border:none;
		width:64px; text-align:center; line-height:25px;
		height:22px;
		top:0;
		padding:0px 0 3px 0;
		margin:0;
		cursor:pointer;
		color:#333;
		font-size:14px;
		font-family:"Times New Roman", Times, serif;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */


		}
	#login-form input[type=submit]:hover {
		background: #cccccc; /* Old browsers */
		background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* IE10+ */
		background: linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
		}
		/* Login form2 */

#login-form2 fieldset {
	border:none;
	}
	#login-form2 input[type=text] {
		background:none;
		border:none;
		padding:6px 6px 6px 0px;
		width:153px;
		margin-right:8px;
		margin-left:31px;
		color:#000;
		font-size:12px;
		}
	#login-form2 input[type=submit] {
		background: url(../images/but.gif) top left no-repeat;
		border:none;
		width:72px; text-align:center; line-height:25px;
		height:28px;
		top:0;
		padding:0px 0 3px 0;
		margin:0;
		cursor:pointer;
		color:#fff;
		font-size:17px;
		font-family:"Times New Roman", Times, serif
		}
	#login-form2 input[type=submit]:hover {
		color:#000;
		}

/* Login form1 */
#login-form1 fieldset {
	border:none;
	}
	#login-form1 input[type=text] {
		background:none;
		border:none;
		padding:6px 10px 6px 10px;
		width:185px;
		margin-right:8px;
		color:#000;
		font-size:12px;
		}
	#login-form1 input[type=submit] {
		background: url(../images/but1.gif) top left no-repeat;
		border:none;
		width:45px; text-align:center; line-height:25px;
		height:28px;
		top:0;
		padding:0px 0 3px 0;
		margin:0;
		cursor:pointer;
		color:#fff;
		font-size:17px;
		font-family:"Times New Roman", Times, serif
		}
	#login-form1 input[type=submit]:hover {
		color:#000;
		}


/* Contact form */
#contact-form {
	overflow:hidden;
	position:relative;
	vertical-align:top;
	}
	#contact-form fieldset {
		border:none;
		padding:0;
		}
		#contact-form fieldset .profileForm{
			display:inline-block;
			/*padding-left:60px;*/
		}
		#contact-form fieldset #registerBirthDate_input{
			float:left;
		}
		#contact-form fieldset #ui-datepicker-trigger{
			width:15px;
		}
		#contact-form fieldset #ui-datepicker-trigger img{
			width:10px;
		}
		#contact-form fieldset .column{
			display:block;
			width:350px;
			float:left;
		}
		#contact-form .field {
			overflow:hidden;
			padding:0 0 7px 4px;
			}
			#contact-form .field {
				overflow:hidden;
				padding:0 0 7px 4px;
			}
			.container .buttonForm {
				/*padding-left:65px;	*/
			}
			.container .buttonForm .fleft {
				margin:20px 0;
			}
			#contact-form .field .ui-message-error {
				width:292px;
				margin-top:10px;
			}
			#contact-form input[type=text] {
				width:292px;
				padding:9px 10px 9px 10px;
				background:#fff;
				border:1px solid #dbdbdd;
				display:block;
				color:#6b6a6a;
				font-family:Georgia, "Times New Roman", Times, serif
				}

			#contact-form input[type="password"] {
              background: none repeat scroll 0 0 #FFFFFF;
              border: 1px solid #DBDBDD;
              color: #6B6A6A;
              display: block;
              font-family: Georgia,"Times New Roman",Times,serif;
              padding: 9px 10px;
              width: 292px;
             }

             #contact-form select {
              background: none repeat scroll 0 0 #FFFFFF;
              border: 1px solid #DBDBDD;
              color: #6B6A6A;
              display: block;
              font-family: Georgia,"Times New Roman",Times,serif;
              padding: 9px 10px;
              width: 292px;
             }
			#contact-form.main-contacts .field input {
				margin-top:4px;
				}
			#contact-form textarea {
				width:520px;
				height:200px;
				background:#fff;
				border:1px solid #dbdbdd;
				padding:9px 10px 9px 10px;
				overflow:auto;
				margin:0 0 4px 4px;
				display:block;
				color:#6b6a6a;
				resize: none;
				font-family:Georgia, "Times New Roman", Times, serif
				}
				#contact-form a {
					cursor:pointer;
					}
				#contact-form .alignright {
					padding-top:12px;
					}
					#contact-form small {
						color:red;
						font-weight:bold;
						padding:0 0 0 5px;
						}
			#contact-form label {
				padding:0 0 2px 5px;
				display:inline-block;
				}
			#contact-form strong {
				padding:0 0 2px 9px;
				display:inline-block;
				color:#838383;
				}
				#contact-form .error {
					color:red;
					display:none
				}
		.buttons-wrapper {
			padding-top:30px;
			}

		#contact-form.main-contacts .buttons-wrapper {padding-top:19px;}
		#contact-form.main-contacts .buttons-wrapper a {
			float:right !important;
			margin:0 0 0 12px;
			}

/* Contact form */
.contact-form {
	overflow:hidden;
	position:relative;
	vertical-align:top;
	}
	.contact-form fieldset {
		border:none;
		padding:0;
		}
		.contact-form fieldset .profileForm{
			display:inline-block;
			padding-left:60px;
		}
		.contact-form fieldset #registerBirthDate_input{
			float:left;
		}
		.contact-form fieldset #ui-datepicker-trigger{
			width:15px;
		}
		.contact-form fieldset #ui-datepicker-trigger img{
			width:10px;
		}
		.contact-form fieldset .column{
			display:block;
			width:350px;
			float:left;
		}
		.contact-form .field {
			overflow:hidden;
			padding:0 0 7px 4px;
			}
			.contact-form .field {
				overflow:hidden;
				padding:0 0 7px 4px;
			}
			.container .buttonForm {
				/*padding-left:65px;	*/
			}
			.contact-form .field .ui-message-error {
				width:292px;
				margin-top:10px;
			}
			.contact-form input[type=text] {
				width:292px;
				padding:9px 10px 9px 10px;
				background:#fff;
				border:1px solid #dbdbdd;
				display:block;
				color:#6b6a6a;
				font-family:Georgia, "Times New Roman", Times, serif
				}

			.contact-form input[type="password"] {
              background: none repeat scroll 0 0 #FFFFFF;
              border: 1px solid #DBDBDD;
              color: #6B6A6A;
              display: block;
              font-family: Georgia,"Times New Roman",Times,serif;
              padding: 9px 10px;
              width: 292px;
             }

             .contact-form select {
              background: none repeat scroll 0 0 #FFFFFF;
              border: 1px solid #DBDBDD;
              color: #6B6A6A;
              display: block;
              font-family: Georgia,"Times New Roman",Times,serif;
              padding: 9px 10px;
              width: 292px;
             }
			.contact-form.main-contacts .field input {
				margin-top:4px;
				}
			.contact-form textarea {
				width:520px;
				height:200px;
				background:#fff;
				border:1px solid #dbdbdd;
				padding:9px 10px 9px 10px;
				overflow:auto;
				margin:0 0 4px 4px;
				display:block;
				color:#6b6a6a;
				font-family:Georgia, "Times New Roman", Times, serif
				}
				.contact-form a {
					cursor:pointer;
					}
				.contact-form .alignright {
					padding-top:12px;
					}
					.contact-form small {
						color:red;
						font-weight:bold;
						padding:0 0 0 5px;
						}
			.contact-form label {
				padding:0 0 2px 5px;
				display:inline-block;
				}
			.contact-form strong {
				padding:0 0 2px 9px;
				display:inline-block;
				color:#838383;
				}
				.contact-form .error {
					color:red;
					display:none
				}
		.buttons-wrapper {
			padding-top:30px;
			}

		.contact-form.main-contacts .buttons-wrapper {padding-top:19px;}
		.contact-form.main-contacts .buttons-wrapper a {
			float:right !important;
			margin:0 0 0 12px;
			}


/* Newsletter-form */
#newsletter-alt-form fieldset {
	border:none;
}
	#newsletter-alt-form input[type=text] {
		width:215px;
		padding:7px 0 7px 10px;
		background:#f9f9f9;
		border:none;
		color:#686666;
		border:1px solid #e2e2e2;
		border-right:1px solid #bababa;
		border-left:1px solid #bababa;
		border-top:1px solid #bababa;
		border-radius:6px;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		behavior:url(js/PIE.htc);
		margin-right:12px;
		font-size:12px;
		position:relative;
		}
	#newsletter-alt-form input[type=submit] {
		width:75px;
		height:32px;
		background:#e34d29;
		border:none;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		behavior:url(js/PIE.htc);
		position:relative;
		cursor:pointer;
		color:#fff;
		font-weight:bold;
		font-size:12px;
		}




/* SlideDown element */
.slideDown {
	padding:0 1px 0 0;
	}
	.slideDown dt {
		background-color:#333132;
		background-image:url(../images/arrow1.gif);
		background-repeat:no-repeat;
		background-position:100% 16px;
		box-shadow:1px 1px 1px #d1d1d1;
		-moz-box-shadow:1px 1px 0 #d1d1d1;
		-webkit-box-shadow:1px 1px 0 #d1d1d1;
		color: #fff !important;
		padding:9px 0 9px 21px;
		margin-bottom:4px;
		font-weight:bold;
		text-decoration:none;
		display:block;
		font-size:12px;
		cursor:pointer;
		margin-bottom:10px;
	}
	.slideDown dt:hover, .slideDown dt.active {
		background-color:#9a9999;
		color:#fff !important;
	}
	.slideDown dt.active {
		background-image:url(../images/arrow2.gif);
	}

	.slideDown dd {
		display:none;
		padding:10px 20px 20px 20px;
	}
	.slideDown.absolute dd {
		position:absolute;
		background:#fff;
	}




/* Accordion */
dl#accordion {
	list-style-type:none;
	margin: 0;
	padding: 0 2px 0 0;
	height:auto !important;
}
	dl#accordion .indent {
		padding-top:7px !important;
		padding-bottom:5px !important
		}

	dl#accordion a {
		display: block;

		text-decoration: none;
		}

	dl#accordion dt {
		margin-top:1px;
		}
		dl#accordion dt a {
			background-color:#333132;
			background-image:url(../images/arrow1.gif);
			background-repeat:no-repeat;
			background-position:100% 16px;
			box-shadow:1px 1px 1px #d1d1d1;
			-moz-box-shadow:1px 1px 0 #d1d1d1;
			-webkit-box-shadow:1px 1px 0 #d1d1d1;
			color: #7f7f7f;
			padding:9px 0 9px 21px;
			margin-bottom:4px;
			font-weight:bold;
			text-decoration:none;
			display:block;
			font-size:12px;
			}

		dl#accordion dt a:hover {
			background-color:#8e8d8b;
			color:#fff;
			}

		dl#accordion dt.active a{
			background-color:#ccc;
			background-image:url(../images/arrow2.gif);
			color:#333;
			}

	dl#accordion dd {
		display:none;
		margin-bottom:0;
	}
		dl#accordion dd .indent {
			padding:10px 30px 14px 20px !important;
		}
		dl#accordion dd a {
			display:inline;
			background:none;
			padding:0;
			font-weight:bold;
			width:auto;
			text-decoration:underline;
		}
		dl#accordion dd a:hover {
			text-decoration:none;
			background:none;
		}
		.sub_menu  li {
			list-style:none;
			line-height:30px!important;
			padding-left:0 !important;
			background:none !important;
			padding:0px 0 !important
		}
		.sub_menu li a {
			font-size:12px !important;
			line-height:30px!important;
		}


/* Tooltips */
.aToolTip {
	border:2px solid #444;
	background:#555;
	color:#fff;
	margin:0;
	padding:2px 8px;
	font-size:11px;
	}

.aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
	}

a.aToolTipCloseBtn {
	display:block;
	height:20px;
	width:20px;
	overflow:hidden;
	background:url(../images/close.gif) no-repeat;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-15px;
	right:-20px;
	}


/* Coin Slider */
#coind-slider { overflow:hidden;}
.coin-slider {
	overflow: hidden;
	zoom: 1;
	position: relative;
	padding-bottom:30px;
	}
.coin-slider a { text-decoration: none; outline: none; border: none; }

.cs-buttons {
	font-size: 0px;
	padding: 10px;
	float: left;
	}
	.cs-buttons a {
		margin-left: 5px;
		height: 10px;
		width: 10px;
		float: left;
		border: 1px solid #322e30;
		background:#322e30;
		color: #e34d29;
		text-indent: -9999em;
		border-radius:6px;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		behavior:url(js/PIE.htc);
	}
	.cs-buttons a:hover,
	.cs-buttons a.cs-active {
		background-color: #e34d29;
		border: 1px solid #e34d29;
		color: #fff;
		}

	.cs-title {
		width:100%;
		padding: 10px 0;
		background-color: #000;
		color: #fff;
		text-indent:10px;
		}

	.cs-prev,
	.cs-next {
		background-color: #000;
		color: #fff;
		padding: 0px 10px;
	}
	.cs-prev:hover,
	.cs-next:hover { background:#e34d29;}


/* Gallery */
#galleryfic_gallery {
	padding-bottom:50px;
	width:100%;
	overflow:hidden;
	}
	div.content {
		/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
		display: none;
		width: 919px;
		position:relative;
		z-index:10;
		margin-bottom:20px;
	}
		div.content a, div.navigation a {
			text-decoration: none;
			color: #777;
		}
		div.content a:focus, div.content a:hover, div.content a:active {
			text-decoration: underline;
		}
	div.slideshow-container {
		position: relative;
		clear: both;
		height: 480px; /* This should be set to be at least the height of the largest image in the slideshow */
		z-index:10
	}
		.advanced_gallery div.slideshow-container {
			width:60%;
			overflow:hidden;
		}
	div.loader {
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
	}
	div.slideshow {
		height: 463px;
		width:919px;
		overflow:hidden;
	}
	div.slideshow span.image-wrapper {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 475px;
		width:919px;
	}
	div.slideshow a.advance-link {
		display: block;
		width: 466px;
		height: 243px; /* This should be set to be at least the height of the largest image in the slideshow */
		text-align: center;
		overflow:hidden;
	}
	div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
		text-decoration: none;
	}
	div.slideshow img {
		position:absolute;
		left:0;
		top:0;
		padding:4px;
		border:1px solid #ddd;
	}
	div.slideshow.noborder img {
		padding:0;
		border:none;
	}
	div.caption-container {
		position: relative;
		clear: left;
		height:40px;
	}
		.advanced_gallery div.caption-container {
			position:absolute;
			right:0;
			top:0;
			width:40%;
		}
	span.image-caption {
		display: block;
		position: absolute;
		width: 466px;
		top: 0;
		left: 0;
	}
	div.caption {
		padding:10px 70px 0 30px;
		overflow:hidden;
	}
	div.caption h4 {
		float:left;
		background:#fff;
	}
	div.image-desc {
		font-size:10px;
		text-transform:uppercase;
		float:right;
		padding:8px 0 0 0;
	}
	div.navigation {
		/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
	}
	ul.thumbs {
		clear: both;
		margin: 0;
		padding: 0;
	}
	ul.thumbs li {
		float: left;
		padding:1px !important;
		background:none !important;
		list-style: none;
		margin:0 4px 0 0;
		border:1px solid #ddd;
		margin-bottom:4px;
	}
	ul.thumbs li.last {
		padding-right:0;
	}
	a.thumb {
		display: block;
	}
	ul.thumbs li.selected a.thumb {
	}
	a.thumb:focus {
		outline: none;
	}
	ul.thumbs img {
		border: none;
		display: block;
	}


/* Kwicks */
.kwicks-wrapper {
	width:940px;
	overflow:hidden;
}
	.kwicks-box {
		border:1px solid #323232;
		padding:12px;
		}

	.kwicks {
		/* recommended styles for kwicks ul container */
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0 !important;
		overflow:hidden;
		height:396px;
		background:#000;
		}
	.kwicks li{
		/* these are required, but the values are up to you (must be pixel) */
		width: 155px;
		height: 396px;
		/*do not change these */
		display: block;
		overflow: hidden;
		padding: 0 !important;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */
		cursor:pointer;
		opacity:.5;
		filter: alpha(opacity=50);
		background:none !important;
		}
	.kwicks li.active {
		opacity:1;
		filter: alpha(opacity=100);
		}
	.kwicks.horizontal li {
		/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
		margin-right: 0; /*Set to same as spacing option. */
		float: left;
		}

	.kwicks_vertical {
		/* recommended styles for kwicks ul container */
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0 !important;
		overflow:hidden;
		width:950px;
		height:396px;
		background:#000;
		}
	.kwicks_vertical li{
		/* these are required, but the values are up to you (must be pixel) */
		height: 196px;
		/*do not change these */
		display: block;
		overflow: hidden;
		padding: 0 !important;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */
		cursor:pointer;
		float:none;
		opacity:.5;
		filter: alpha(opacity=50);
		}
	.kwicks_vertical li.active {
		opacity:1;
		filter: alpha(opacity=100);
		}

/* Elements list */
.elements-list li {
	background:none !important;
	padding:0 0 12px 0 !important;
	position:relative;
	}
	.elements-list li code {
		position:absolute;
		right:0;
		top:-3px;
		padding:2px 3px 1px 3px;
		border:1px dotted #333;
		}


/* Tabs */
.tabs {
	clear: left;
	float: left;
	padding: 15px 0 30px 0;
	}
	.tabs ol {
		list-style-type: decimal;
		margin: 0 0 0 20px;
		}
		.tabs ol li {
			display: list-item;
			float: none;
			padding-bottom:5px !important;
			font-size:12px;
			color:#6b6a6a;
			}

	.tabs ul.nav { width:100%;}

	.tabs ul {
		float: left;
		list-style: none;
		margin: 0 0 5px 0 !important;
		padding:0 0 0 0 !important;
		}
		.tabs li {
			display: block;
			float: left;
			margin: 0 5px 0 0;
			background:none !important;
			padding:0 0 0 0 !important;
			}
		.tabs .selected {
			margin-bottom: -5px;
			position: relative;
			}
		.tabs .selected a {
			background: #f0f0f0;
			color: #000;
			padding-bottom: 10px;
			}
		.tabs a:hover {
			background: #f0f0f0;
			color: #000;
			}

		.tabs a {
			background:#000;
			color: #fff;
			display: block;
			padding:5px 10px;
			text-decoration: none;
			}

	.tabs .tab-content {
		background: #f0f0f0;
		clear: both;
		width: auto;
		max-width:940px;
		overflow:auto;
		}
		.tabs .tab-content .inner {
			padding:10px;
			}

	.tabs p { margin-bottom: 5px; }
	.tabs .tab-content strong { color:#000;}

	.tabs pre {
		margin:4px 0;
	}
	.tabs code {
		overflow:auto;
	}
	*+html .tabs code { overflow:visible;}


/* Twitter */
#twitter {
	margin-bottom: 2em;
	}

	#twitter h2 {
		margin: 0 0 5px 0;
		padding:.5em 1em;
		font-size: 1.5em;
		color: #fff;
		background-color: #888;
		letter-spacing:0;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		}

	#preloader {

		margin: 0;
		padding: 1em 1em 1em 3em;
		text-indent:10px;
		background: transparent url(../images/loader.gif) 1em center no-repeat;
		/* generate your own loader gif: http://www.ajaxload.info */
		}

	ul#twitter_update_list {
		margin: 0;
		padding: 0 0 0.5em 0;
		list-style-type: none;
		}
		ul#twitter_update_list li {
			margin: 0;
			padding: 0.8em 0 1em 1em !important;
			background:#f0f0f0;
			margin-bottom:7px;
			}
		ul#twitter_update_list li:hover {
			background-color:#e34d29;
			color:#fff;
			}
			ul#twitter_update_list li:hover a {
				color:#000;
				}

			ul#twitter_update_list li a {
				/* timestamp link */
				color: #000;
				}

				ul#twitter_update_list li span {
					display: block;
					}

				ul#twitter_update_list li span a {
					/* links in tweet */
					color: #e34d29;
					}

			ul#twitter_update_list li.firstTweet {

				}
			ul#twitter_update_list li.lastTweet {
				border-bottom: none;
				}

			a#profileLink {
				display: block;
				padding: 0.3em 1em;
				color: #fff;
				background-color: #000;
				}





/*======================================================*/

/* Code grabber */
.code {
	padding:30px 0 10px 0;
}
	.code a.code-icon {
		margin-bottom:10px;
	}
	.code a.code-icon:hover {
		text-decoration:none;
		color:#000
	}
	.code a.code-icon i {
		padding-right:6px;
		font-style:normal;
	}
	.code div.grabber {
		display:none;
	}
	.code code {
		padding:0 10px 0 10px;
		background:#f6f6f6;
		color:#333;
		border:1px solid #dfdfdf;
		white-space:pre;
		overflow:auto;
	}

/* Advanced Menu */
#advanced {
	position:fixed;
	z-index:999;
	right:-172px;
	top:50px;
	background:#181818;
	padding:20px 16px 20px 18px;
	width:135px;
	font-size:11px;
	border-right:3px solid #3a3a3a;
	font-family:Tahoma, Geneva, sans-serif;
	color:#dfdfdf;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
	#advanced span.trigger {
		display:block;
		position:absolute;
		left:-81px;
		top:50%;
		margin-top:-160px;
		width:81px;
		height:50px;
		background:#fff;
		cursor:pointer;
		text-align:center;
		background:url(../images/panel/adv-trigger.png) no-repeat 0 0;
	}
		#advanced span.trigger strong {display:block; padding:4px 0 0 0;}
		#advanced ul{
			background:none; list-style:none
		}
		#advanced ul li {
			background:url(../images/panel-arrow.gif) no-repeat 0 6px;
			padding:0 0 0 13px;
			font-size:12px;
		}
		#advanced ul li.trigger_adv {
			padding:0 0 0 0;
		}
			#advanced ul li.trigger_adv > span {
				background:url(../images/panel-arrow2.gif) no-repeat 100% 8px #636363;
				border-radius:3px;
				-moz-border-radius:3px;
				-webkit-border-radius:3px;
				padding:0 20px 0 12px;
				color:#dfdfdf;
				font-weight:bold;
				display:inline-block;
			}

		#advanced ul li a {
			color:#4393d0;
			text-decoration:none;
		}
		#advanced ul li a:hover {
			text-decoration:underline;
		}
		#advanced ul ul {
			margin-left:13px;
		}
			#advanced ul ul li {
				font-size:11px;
				background:url(../images/panel-arrow1.gif) no-repeat 0 7px;
			}
			#advanced ul ul a {
				text-transform:capitalize;
				color:#dfdfdf;
			}
			#advanced ul ul ul {
				margin-left:8px;
			}
			#advanced ul ul ul li {
				background:none;
				}
			#advanced ul ul ul li a {
				color:#939393;
			}


	/* Estilos adicionales CPS */
	.pageInfo{
		margin: 10px 0;
		font-size: 18px;
	}
	.serviceLogo{
		position: absolute;
		right:100px;
		top:0px;
	}
	fieldset h5{float:left}
	.grid_15 h5{float:left}
	.pageImage{
	margin-top:-10px;
	margin-left:5px;
		width: 32px !important;
		height: 32px !important;
	}

	/* DOWNLOADS */
	.wrapper .downloads{
		display:block;
		margin:20px auto;
		width:920px;
	}
	.wrapper .downloads .item{
		display:block;
		float:left;
		width:200px;
	}
	.wrapper .downloads .item h5{
		text-align:center;
		margin:0 !important;
	}
	.wrapper .downloads .item .info{
		display:block;
		text-align:left;
		width:90%;
		margin:5px auto;
	}
	.wrapper .downloads .item a{
		display:block;
		position:relative;
	}
	.wrapper .downloads .item img.phone{
		display:block;
		width:200px;
		height:380px;
	}.wrapper .downloads .item img.qrcode{
		display:block;
		width:140px;
		height:140px;
		margin:0px auto;
	}

	
/* DRIVER */
   .container-driver .ml {
	   	margin-left: 10px;
	   	margin-top: 3px;
   }
   .container-driver .listStatus {
	width: 76%;
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
   }
   .container-driver .listStatus li {
	   	display: inline-block;
	   	margin-right: 8px;
   }
  .container-driver .listStatus li>span {
		display: inline-block;
		height: 19px;
		width: 19px;
		margin-right: 3px;
		overflow: hidden;
		text-indent: 9999px;
   }
   .container-driver .status1 {
		background-color: #efefef;
		color: #006499;
   }
   .container-driver .status2 {
       background-color: #FFFE7D;
       color: #2E2E2E;
   }
   .container-driver .status3 {
       background-color: #66C1FF;
       color: #2E2E2E;
   }
   .container-driver .status4 {
       background-color: #B3FF83;
       color: #2E2E2E;
   }
   .container-driver .status5 {
       background-color: #E0534F;
       color: #fff;
   }
   .container-driver .hiddenfalse {
   		display: block;
   }
   .container-driver .hiddentrue {
   		display: none;
   }
   .container-driver .listLabel {
		font-weight: bold;
		padding-right: 10px;
   }
   .container-driver .profileList .column {
   		width: 100%;
   }
   .container-driver .profileList .field {
	   	border-top: 1px solid #ccc;
		background: #fcfcfc;
		padding: 5px 20px;
   }
   .container-driver .profileList .field:last-child {
	   	border-bottom: 1px solid #ccc;
   }
   .container-driver .autocomplete-cps select {
	   	display: none !important;
   }
   .container-driver .ui-autocomplete-items .ui-state-highlight td {
    	color: #FFFFFF;
    	background-color: #006499;
   }
   .container-driver table tr td:hover {
	   	color: #006499;
	   	background-color: #dddddd;
   }
   .container-driver .tblDriver .ui-datatable-tablewrapper {
	    overflow: auto;
 		width: 100%;
	}		    
   .container-driver .tblDriver table td:nth-child(1), 
   .container-driver .tblDriver table th:first-child  {
 		width: 35px;
	}
	.container-driver .tblDriver.ui-datatable .ui-column-filter {
		width: 78%;
	}
   .container-driver .ui-autocomplete-items tr td:hover {
   		background-color: #eeeeee;
   		color: #006499;
		text-shadow: none;
   }
   .container-driver .ui-autocomplete-multiple-container {
		clear: left;
		cursor: text;
		list-style-type: none;
		margin: 0 !important;
		min-height: 1px;
		overflow: hidden;
		width: 85%;
	}
	.container-driver .ui-autocomplete-input-token input {
		height: 25px;
		width: 140px !important;
		padding: 0 !important;
		border: 0 none !important;
	}
	.container-driver textarea {
		width: 78%;
	}
	.container-driver .buttonForm {
		display: inline-block;
	}
	.container-driver .contact-form input[disabled=disabled],
	.container-driver .contact-form select[disabled=disabled] {
		background-color: #eeeeee;
	}