<div ng-init="parking.listBooking()">
    <div class="list">

        <div ng-repeat="service in parking.bookings track by service.idbooking">
            <div class="item item-divider item-icon-right">
                <h2>
                    <span locale-id="bookingNumber">Booking</span>:
                    <span>#{{service.idbooking}}</span>
                </h2>
                <!-- <i class="icon ion-edit"></i> -->
                <button class="icon ion-delete-item button icon button-icon" hm-tap="parking.cancelBooking(service.idbooking)">
                </button>
            </div>
            <div class="item item-button-right" ng-click="parking.detailBooking(service.idbooking)">
                <h3 ng-class="booking-status-{{service.bookingStatus.description | cpsLodash:'kebabCase'}}">
                    <i class="icon ion-android-radio-button-on"></i>
                    <!-- <span locale-id="status">Status</span>: -->
                    <span locale-id="bookingStatus{{service.bookingStatus.idBookingStatus}}" locale-fallback="{{service.bookingStatus.description}}"></span>
                </h3>
                <p>
                    <i class="icon ion-arrow-right-c"></i>
                    {{ 'bookingStart' | cpsGetLocale}}: {{service.bookingDate | cpsDateFormat:'DD MMM YYYY h:mm a'}}
                </p>
                <p>
                    <i class="icon ion-arrow-left-c"></i>
                    {{ 'bookingEnd' | cpsGetLocale}}: {{service.bookingEndDate | cpsDateFormat:'DD MMM YYYY h:mm a'}}
                </p>
                <p>
                    <i class="icon ion-flag secondary"></i>
                    {{service.zone.name}} ({{service.zone.address | cpsTitleCase}})
                </p>
                <p ng-if="service.fee">
                    <i class="icon secondary" ng-class="{0: 'ion-car', 1: 'ion-car', 2: 'ion-moto', 3: 'ion-bike' }[service.vehicle.type || 0]"></i>
                    {{service.vehicle.plate | uppercase}}
                </p>
                <p ng-if="service.fee">
                    <i class="icon ion-cash secondary"></i>
                    {{service.fee | cpsFormat}}
                </p>
                <button class="button button-clear" ng-click="parking.detailBooking(service.idbooking)">
                    <i class="icon ion-chevron-right"></i>
                </button>
            </div>
        </div>
        <div ng-if="!parking.bookings.length" class="text-center padding mb-s booking-description">
            <p locale-id="bookingDescription" locale-fallback="bookingEmpty">No bookings...</p>
        </div>

    </div>

</div>
