<form autocomplete="off" method="post" name="parkingGetBalanceForm" id="parkingGetBalanceForm" class="list list-inset"
      ng-submit="parkingGetBalanceForm.$valid && parking.adminGetBalance()"
      cps-form-success="parking.formSuccess" cps-clean-data="true" novalidate>

  <label class="item item-input cps-validated" for="cuMobileInput">
    <input type="number" placeholder="UC/Cell phone" locale-id="cuMobile" id="cuMobileInput" name="cuMobileInput" ng-minlength="3" ng-maxlength="12"
           ng-model="parking.getUserData.identifier" required/>
  </label>

  <input type="submit" locale-id="submit" value="Submit" id="parkingGetBalanceSubmit" class="button button-block button-primary" cps-is-hold/>
</form>

<div class="list card" ng-if="parking.userData.balance">
  <div class="item item-divider text-center item-icon-right">
    <h2>{{parking.userData.fullName}}</h2>
    <a hm-tap="parking.userData = {}" class="button button-icon icon ion-close-circled"></a>
  </div>
  <div class="item">
    <span locale-id="balance">Balance</span>:
    <span>{{parking.userData.balance}}</span>
  </div>
  <div class="item">
    <span locale-id="cu">CU</span>:
    <span>{{parking.userData.cu}}</span>
  </div>
  <div class="item">
    <span locale-id="login">login</span>:
    <span>{{parking.userData.login}}</span>
  </div>
  <div class="item">
    <span locale-id="email">email</span>:
    <span>{{parking.userData.email}}</span>
  </div>
  <div class="item">
    <span locale-id="phone">Phone</span>:
    <span>{{parking.userData.phone}}</span>
  </div>
</div>
