<cps-content>
  <div class="list">
    <div ng-repeat="(key, price) in parking.rates.vtype_id">

      <div class="item item-divider item-icon-left">
        <i class="icon" ng-class="{1: 'ion-car', 2: 'ion-moto', 3: 'ion-bike' }[key]"></i>
        <h2 locale-id="vehicleType{{key}}"></h2>
      </div>

      <div class="item-group">
        <div class="item" ng-if="price.rate">
          <span locale-id="minuteRate"></span>
          <span class="item-note item-text-wrap">
            {{price.rate}}
          </span>
        </div>
        <div class="item" ng-if="price.discount">
          <span locale-id="discountRate"></span>
          <span class="item-note item-text-wrap">
            {{price.discount}}
          </span>
        </div>
        <div class="item" ng-if="price.month">
          <span locale-id="monthRate"></span>
          <span class="item-note item-text-wrap">
            {{price.month}}
          </span>
        </div>
      </div>

    </div>

    <div class="padding">
      <i class="icon ion-information-circled primary"></i>
      <span locale-id="rateListInfo" class="dark">Rates info</span>
    </div>

  </div>
</cps-content>
