<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">
			function handleDialogSubmit(xhr, status, args, dialog) {
				if (!args.validationFailed) {
					PF(dialog).hide(); 
				} else {
					jQuery(".ui-dialog.ui-overlay-visible").effect("shake", {
						times : 1
					}, 100);
				}
			}
		</script>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container container-driver">
			<div class="inside">
				<h:form prependId="false" id="contact-form">
					<fieldset>
						<p:growl id="growl" showSummary="true" showDetail="true"
							globalOnly="true" life="3000" />
						<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
 
						<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    						<p:graphicImage value="/images/loader.gif" />
						</p:dialog>							
						<h5>
							<h:outputText value="#{msgs['menu.myDriver']}" />
						</h5>
						<p:commandButton class="ml" value="#{msgs['driver.addService']}"
										 oncomplete="PF('driverAddDialog').show()"
										 actionListener="#{cityDriverController.selectTypeUser}"
										 update=":formExitUser :formNewUser :formExitUserCheck">
						</p:commandButton>

						<ul class="listStatus">
							<li><span class="status1">1</span><h:outputText value="#{msgs['driver.status1']}"/></li>
							<li><span class="status2">2</span><h:outputText value="#{msgs['driver.status2']}"/></li>
							<li><span class="status3">3</span><h:outputText value="#{msgs['driver.status3']}"/></li>
							<li><span class="status4">4</span><h:outputText value="#{msgs['driver.status4']}"/></li>
							<li><span class="status5">5</span><h:outputText value="#{msgs['driver.status5']}"/></li>
						</ul>
						<br></br>
						<br></br>
						<p:dataTable id="tbl" styleClass="tblDriver" var="driver"
							value="#{cityDriverController.listDriver}" paginator="true"
							rows="12" emptyMessage="Not info">
							<p:column filterBy= "#{driver.idCityDriver}" styleClass="status#{driver.state}">
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.id']}" />
								</f:facet>
								<h:outputText value="#{driver.idCityDriver}" />
							</p:column>
							<p:column filterBy= "#{driver.sysUser.name}" styleClass="status#{driver.state}">
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.user.fullName']}" />
								</f:facet>
								<h:outputText value="#{driver.sysUser.name} #{driver.sysUser.lastName}" />
							</p:column>
							<p:column styleClass="status#{driver.state}">
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.user.phone']}" />
								</f:facet>
								<h:outputText type="tel" value="#{driver.sysUser.favoriteMsisdn}">
									<f:convertNumber type="number"></f:convertNumber>
								</h:outputText>
							</p:column>
							<p:column styleClass="status#{driver.state}">
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.address.start']}" />
								</f:facet>
								<h:outputText value="#{driver.addressOrigin}" />
							</p:column>
							<p:column styleClass="status#{driver.state}">
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.address.end']}" />
								</f:facet>
								<h:outputText value="#{driver.addressDest}" />
							</p:column>
							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<p:commandButton title="Detail" update=":contact-form2:displayMore"
									oncomplete="PF('driverMoreDialog').show()" icon="ui-icon-plusthick"
									action="#{cityDriverController.getMoreDriver}">
									<f:setPropertyActionListener value="#{driver}"
										target="#{cityDriverController.cityDriver}" />
								</p:commandButton>							
							</p:column>
							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<p:commandButton title="Status"
									update=":contact-form4:displayStatus" 
									oncomplete="PF('driverStatusDialog').show()"
									icon="ui-icon-info"
									action="#{cityDriverController.getStatus}">
									<f:setPropertyActionListener value="#{driver}"
										target="#{cityDriverController.cityDriver}" />
								</p:commandButton>
							</p:column>							
						</p:dataTable>
					</fieldset>
				</h:form>
				
				<!-- Add -->
				<p:dialog width="480" height="500" widgetVar="driverAddDialog" header="Driver" id="dialogAdd" modal="true">
					<fieldset>
					<h5>
						<h:outputText value="#{msgs['driverAddTitle']}" />
					</h5>
					</fieldset>
					<!-- Check if user exist -->					
					<h:panelGroup id="formExitUserCheck">
					<h:panelGroup>
						<h:form prependId="false" id="contact-form1" styleClass="contact-form" rendered="#{cityDriverController.formUserExits == false}">
						<fieldset>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />
							<h:panelGroup id="displayAddExitCheck">
								<div class="profileForm">

									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.Mobile']}"
												for="driverMobileExit" />
											<h:inputText type="tel" styleClass="text-input" maxlength="15"
												id="driverMobileExit" value="#{cityDriverController.mobile}"
												required="false" requiredMessage="#{msgs.fieldRequired}"
												validatorMessage="#{msgs['phone.invalid']}">
												<f:validateRegex pattern="[0-9]+" />
											</h:inputText>
											<p:message for="driverMobileExit" />
										</div>										
									</div>									
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.checkButton}]"
											actionListener="#{cityDriverController.checkDriver}"
											update=":contact-form:growl :formExitUser :formExitUserCheck :formNewUser" />
									</div>
								</div>
							 </div>
							</h:panelGroup>
						</fieldset>
						</h:form>
						<!--  if exit user show form -->
						<h:panelGroup id="formExitUser">
						<h:form prependId="false" id="contact-form1-2" styleClass="contact-form" rendered="#{cityDriverController.userType == 2}">
						  <fieldset>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />
							<h:panelGroup id="displayAddExit">
								<div class="profileForm">
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.cu']}"
												for="driverCU" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverCU" value="#{cityDriverController.sysUser.cu}"
												required="false" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverCU" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.email']}"
												for="driverEmail" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="driverEmail" value="#{cityDriverController.sysUser.email}"
												required="false" requiredMessage="#{msgs.fieldRequired}" 
												validatorMessage="#{msgs['email.invalid']}" >
												<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
											</h:inputText>
											<p:message for="driverEmail" />
										</div>										
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.name']}"
												for="driverName" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverName" value="#{cityDriverController.sysUser.name}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverName" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.lastName']}"
												for="driverLastName" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverLastName" value="#{cityDriverController.sysUser.lastName}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverLastName" />
										</div>
										
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.phone']}"
												for="driverPhone" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverPhone"
												value="#{cityDriverController.sysUser.favoriteMsisdn}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												validatorMessage="#{msgs['phone.invalid']}">
												<f:validateRegex pattern="[0-9]+" />
											</h:inputText>
											<p:message for="driverPhone" />
										</div>
										<div class="field">
										  <h:outputLabel value="#{msgs.registerCountry}" for="driverCountry"/>
										  <h:selectOneMenu value="#{cityDriverController.sysUser.countryIdcountry}" 
										  id="driverCountry" required="true" requiredMessage="#{msgs.fieldRequired}"
										  disabled="true" >
										   <f:selectItem itemLabel="" itemValue=""></f:selectItem>
										   <f:selectItems value="#{parametrosController.listCountries}" var="country" itemLabel="#{country.name}" itemValue="#{country.idcountry}" itemDescription="#{country.name}"/>
						                   <p:ajax listener="#{cityDriverController.changeCountry}" event="change" update="driverCityNew" process="@this"/>
										  </h:selectOneMenu>
										 <p:message for="driverCountry"/>
										</div>
										<div class="field">
										  <h:outputLabel value="#{msgs.registerCity}" for="driverCity"/>
										   <h:selectOneMenu value="#{cityDriverController.city}" 
										   id="driverCity" required="true" requiredMessage="#{msgs.fieldRequired}"
										   disabled="true">
										    <f:selectItems value="#{cityDriverController. cities}" var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}" itemDescription="#{city.name}"/>
										   </h:selectOneMenu>
										  <p:message for="driverCity"/>
										</div>	
									</div>
								<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.contactName']}"
												for="driverContact" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverContact"
												         value="#{cityDriverController.cityDriver.contactName}"
												         required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverContact" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.contactLastName']}"
												for="driverContactLast" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverContactLast"
												         value="#{cityDriverController.cityDriver.contactLastName}"
												         required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverContactLast" />
										</div>										
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.contactPhone']}"
												for="driverContactPhone" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverContactPhone"
												value="#{cityDriverController.cityDriver.contactPhone}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												validatorMessage="#{msgs['phone.invalid']}">
											<f:validateRegex pattern="[0-9]+" />
											</h:inputText>
											<p:message for="driverContactPhone" />
										</div>										
									</div>
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.address.start']}"
												for="origAddress" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="origAddress"
												         value="#{cityDriverController.cityDriver.addressOrigin}"
												         required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="origAddress" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.address.end']}"
												for="destAddress" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="destAddress"
												         value="#{cityDriverController.cityDriver.addressDest}"
												         required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="destAddress" />
										</div>		
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverPlate']}" for="cityDriverVehicle" 
												rendered="#{cityDriverController.userHasVehicle == true}"/>
											<h:selectOneMenu styleClass="select-input"
												value="#{cityDriverController.plate}"
												id="cityDriverVehicle" requiredMessage="#{msgs.fieldRequired}"
												required="#{cityDriverController.userHasVehicle == true}"
												rendered="#{cityDriverController.userHasVehicle == true}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{cityDriverController.listVehicle}"
														var="plate" itemLabel="#{plate.vehiclePlate}"
														itemValue="#{plate.vehiclePlate}" itemDescription="#{plate.vehiclePlate}" />
														<p:ajax event="change" update="cityDriverVehicleType cityDriverVehicleBrand"
                           										listener="#{cityDriverController.getVehicleData('register')}" />
											</h:selectOneMenu>
											<p:message for="cityDriverVehicle" />
											
											<h:outputLabel value="#{msgs['driver.user.driverPlate']}"
												for="driverPlate" rendered="#{cityDriverController.userHasVehicle == false}" />
											<h:inputText styleClass="text-input" maxlength="10"
												id="driverPlate"
												value="#{cityDriverController.cityDriver.plate}"
												required="#{cityDriverController.userHasVehicle == false}"
												rendered="#{cityDriverController.userHasVehicle == false}" 
												requiredMessage="#{msgs.fieldRequired}"
												validatorMessage="#{msgs['plate.invalid']}">
												<f:validateRegex pattern="[a-zA-Z0-9]+" />
											</h:inputText>
											<p:message for="driverPlate" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.vehicleType']}" for="cityDriverVehicleType" />
											<h:selectOneMenu styleClass="select-input"
												value="#{cityDriverController.vehicleType}"
												id="cityDriverVehicleType" required="true" requiredMessage="#{msgs.fieldRequired}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{cityDriverController.listVehicleType}"
													var="vehicle" itemLabel="#{msgs['vehicleType'.concat(vehicle.vTypeId)]}"
													itemValue="#{vehicle.vTypeId}" itemDescription="#{vehicle.vTypeName}" />
											</h:selectOneMenu>
											<p:message for="cityDriverVehicleType" />
										</div>	
										<div class="field">
											<h:outputLabel value="#{msgs['driver.vehicleBrand']}" for="cityDriverVehicleBrand" />
											<h:inputText styleClass="text-input" maxlength="12"
												id="cityDriverVehicleBrand"
												value="#{cityDriverController.vehicleDescription}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="cityDriverVehicleBrand" />
										</div>											
									</div>		
								<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverSoat']}"
												for="driverSoat" />
										 	<p:selectOneRadio id="driverSoat" value="#{cityDriverController.soat}" required="true">  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverSoatYes']}" itemValue="1" />  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverSoatNo']}" itemValue="0" />  
        									</p:selectOneRadio>
        									<p:message for="driverSoat" />
										</div>		
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverRtm']}"
												for="driverRtm" />
										 	<p:selectOneRadio id="driverRtm" value="#{cityDriverController.rtm}" required="true">  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverRtmYes']}" itemValue="1" />  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverRtmNo']}" itemValue="0" />  
        									</p:selectOneRadio>
        									<p:message for="driverRtm" />
										</div>																											
									</div>
									<div class="column">
										<div class="field">
											<h:outputLabel  value="#{msgs['driver.user.driverDate']}" for="driverDate"/>
											<p:calendar navigator="true" pattern="MM/dd/yyyy HH:mm" yearRange="c-80:c+0" readOnlyInputText="true" maxlength="10" 
												id="driverDate" value="#{cityDriverController.cityDriver.dateService}" required="true" 
												requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverDate"/>
										</div>								
										<div class="field">
										<h:outputLabel  value="#{msgs['driver.user.driverObservation']}" for="driverObservation"/>
											<p:inputTextarea value="#{cityDriverController.cityDriver.comments}" id="driverObservation" 
												style="width:300px;height:100px;" effectDuration="400" maxlength="255"/>
											<p:message for="driverObservation" />  
										</div>
									</div>																						
								</div>
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.addButton}]"
											actionListener="#{cityDriverController.registerDriver}"
											oncomplete="handleDialogSubmit(xhr, status, args, 'driverAddDialog')"
											update=":contact-form:growl :contact-form1-2 :contact-form:tbl" />
									</div>
								</div>
							</h:panelGroup>
						  </fieldset>
						</h:form>
						</h:panelGroup>									
					<!--  -->
					</h:panelGroup>
					</h:panelGroup>
					
					<!-- Form new user -->
					<h:panelGroup id="formNewUser">
					<h:form prependId="false" id="contact-form1-1" styleClass="contact-form" rendered="#{cityDriverController.userType == 1}">
						<fieldset>
							<h:panelGroup id="displayAdd">
								<div class="profileForm">
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.email']}"
												for="driverEmailNew" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="driverEmailNew" value="#{cityDriverController.email}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												validatorMessage="#{msgs['email.invalid']}" >
												<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
											</h:inputText>	
											<p:message for="driverEmailNew" />
										</div>										
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.name']}"
												for="driverNameNew" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverNameNew" value="#{cityDriverController.sysUser.name}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverNameNew" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.lastName']}"
												for="driverLastNameNew" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverLastNameNew" value="#{cityDriverController.sysUser.lastName}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverLastNameNew" />
										</div>										
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.phone']}"
												for="driverPhoneNew" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverPhoneNew" type="tel" 
												value="#{cityDriverController.sysUser.favoriteMsisdn}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												validatorMessage="#{msgs['phone.invalid']}">
												<f:validateRegex pattern="[0-9]+" />
											</h:inputText>
											<p:message for="driverPhoneNew" />
										</div>
										<div class="field">
										  <h:outputLabel value="#{msgs.registerCountry}" for="driverCountryNew"/>
										  <h:selectOneMenu value="#{cityDriverController.sysUser.countryIdcountry}" id="driverCountryNew" required="true" requiredMessage="#{msgs.fieldRequired}">
										   <f:selectItem itemLabel="" itemValue=""></f:selectItem>
										   <f:selectItems value="#{parametrosController.listCountries}" var="country" itemLabel="#{country.name}" itemValue="#{country.idcountry}" itemDescription="#{country.name}"/>
						                   <p:ajax listener="#{cityDriverController.changeCountry}" event="change" update="driverCityNew" process="@this"/>
										  </h:selectOneMenu>
										 <p:message for="driverCountryNew"/>
										</div>
										<div class="field">
										  <h:outputLabel value="#{msgs.registerCity}" for="driverCityNew"/>
										   <h:selectOneMenu value="#{cityDriverController.city}" id="driverCityNew" required="true" requiredMessage="#{msgs.fieldRequired}">
										    <f:selectItems value="#{cityDriverController.cities}" var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}" itemDescription="#{city.name}"/>
										   </h:selectOneMenu>
										  <p:message for="driverCityNew"/>
										</div>										
									</div>
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.contactName']}"
												for="driverContactNew" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverContactNew"
												value="#{cityDriverController.cityDriver.contactName}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverContactNew" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.contactLastName']}"
												for="driverContactLastNew" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverContactLastNew"
												value="#{cityDriverController.cityDriver.contactLastName}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverContactLastNew" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.contactPhone']}"
												for="driverContactPhoneNew" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverContactPhoneNew"
												value="#{cityDriverController.cityDriver.contactPhone}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												validatorMessage="#{msgs['phone.invalid']}">
												<f:validateRegex pattern="[0-9]+" />
											</h:inputText>												
											<p:message for="driverContactPhoneNew" />
										</div>										
									</div>
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.address.start']}"
												for="origAddressNew" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="origAddressNew"
												value="#{cityDriverController.cityDriver.addressOrigin}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="origAddressNew" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.address.end']}"
												for="destAddressNew" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="destAddressNew"
												value="#{cityDriverController.cityDriver.addressDest}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="destAddressNew" />
										</div>		
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverPlate']}"
												for="driverPlateNew" />
											<h:inputText styleClass="text-input" maxlength="12"
												id="driverPlateNew"
												value="#{cityDriverController.plate}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												validatorMessage="#{msgs['plate.invalid']}">
												<f:validateRegex pattern="[a-zA-Z0-9]+" />
											</h:inputText>
											<p:message for="driverPlateNew" />
										</div>	
										<div class="field">
											<h:outputLabel value="#{msgs['driver.vehicleType']}" for="cityDriverVehicleTypeNew" />
											<h:selectOneMenu styleClass="select-input"
												value="#{cityDriverController.vehicleType}"
												id="cityDriverVehicleTypeNew" required="true" requiredMessage="#{msgs.fieldRequired}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{cityDriverController.listVehicleType}"
														var="vehicle" itemLabel="#{msgs['vehicleType'.concat(vehicle.vTypeId)]}"
														itemValue="#{vehicle.vTypeId}" itemDescription="#{vehicle.vTypeName}" />
											</h:selectOneMenu>
											<p:message for="cityDriverVehicleTypeNew" />
										</div>						
										<div class="field">
											<h:outputLabel value="#{msgs['driver.vehicleBrand']}" for="cityDriverVehicleBrandNew" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="cityDriverVehicleBrandNew"
												value="#{cityDriverController.vehicleDescription}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="cityDriverVehicleBrandNew" />
										</div>											
									</div>		
								<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverSoat']}"
												for="driverSoatNew" />
										 	<p:selectOneRadio id="driverSoatNew" value="#{cityDriverController.soat}" 
										 	requiredMessage="#{msgs.fieldRequired}" required="true">  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverSoatYes']}" itemValue="1" />  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverSoatNo']}" itemValue="" />  
        									</p:selectOneRadio>
        									<p:message for="driverSoatNew" />
										</div>		
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverRtm']}"
												for="driverRtmNew" />
										 	<p:selectOneRadio id="driverRtmNew" value="#{cityDriverController.rtm}" 
										 	requiredMessage="#{msgs.fieldRequired}" required="true">  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverRtmYes']}" itemValue="1" />  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverRtmNo']}" itemValue="" />  
        									</p:selectOneRadio>
        									<p:message for="driverRtmNew" />
										</div>																											
									</div>
									<div class="column">
										<div class="field">
											<h:outputLabel  value="#{msgs['driver.user.driverDate']}" for="driverDateNew"/>
											<p:calendar navigator="true" pattern="MM/dd/yyyy HH:mm" yearRange="c-80:c+0" readOnlyInputText="true" maxlength="10" 
														id="driverDateNew" value="#{cityDriverController.cityDriver.dateService}" required="true" 
														requiredMessage="#{msgs.fieldRequired}"/>
											<p:message for="driverDateNew"/>
										</div>								
										<div class="field">
										<h:outputLabel  value="#{msgs['driver.user.driverObservation']}" for="driverObservationNew"/>
											<p:inputTextarea value="#{cityDriverController.cityDriver.comments}" id="driverObservationNew" style="width:300px;height:100px;" effectDuration="400" />
											<p:message for="driverObservationNew" maxlength="255" />  
										</div>
									</div>																						
								</div>
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.addButton}]"
											actionListener="#{cityDriverController.registerDriver}"
											oncomplete="handleDialogSubmit(xhr, status, args, 'driverAddDialog');"
											update=":contact-form:growl :contact-form1-1 :contact-form:tbl"/>
									</div>
								</div>
							</h:panelGroup>
						</fieldset>
					</h:form>
					</h:panelGroup>
				</p:dialog>
				<!-- /Add -->
				
				
				<!--  More -->
				<p:dialog width="480" height="500" widgetVar="driverMoreDialog" header="Driver" id="dialogMore" modal="true">
					<h:form prependId="false" id="contact-form2" styleClass="contact-form">
						<fieldset>
							<h5>
								<h:outputText value="#{msgs['driverMoreTitle']}" />
							</h5>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />
							<h:panelGroup id="displayMore">
								<div class="profileForm">
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.cu']}"
												for="driverMoreCU" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverMoreCU" value="#{cityDriverController.cityDriver.sysUser.cu}"
												required="false" requiredMessage="#{msgs.fieldRequired}" 
												disabled="true" />
											<p:message for="driverMoreCU" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.email']}"
												for="driverMoreEmail" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="driverMoreEmail" value="#{cityDriverController.cityDriver.sysUser.email}"
												required="false" requiredMessage="#{msgs.fieldRequired}"
												disabled="true" 
												validatorMessage="#{msgs['email.invalid']}">
												<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
											</h:inputText>	
											<p:message for="driverMoreEmail" />
										</div>										
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.name']}"
												for="driverMoreName" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverMoreName" value="#{cityDriverController.cityDriver.sysUser.name}"
												required="true" requiredMessage="#{msgs.fieldRequired}"
												disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="driverMoreName" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.lastName']}"
												for="driverMoreLastName" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverMoreLastName" value="#{cityDriverController.cityDriver.sysUser.lastName}"
												required="true" requiredMessage="#{msgs.fieldRequired}"
												disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="driverMoreLastName" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.phone']}"
												for="driverMorePhone" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverMorePhone"
												value="#{cityDriverController.cityDriver.sysUser.favoriteMsisdn}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												disabled="#{cityDriverController.formNoEditable}" 
												validatorMessage="#{msgs['phone.invalid']}">
												<f:validateRegex pattern="[0-9]+" />
											</h:inputText>
											<p:message for="driverMorePhone" />
										</div>
										<div class="field">
										  <h:outputLabel value="#{msgs.registerCountry}" for="driverMoreCountry"/>
										  <h:selectOneMenu value="#{cityDriverController.sysUser.countryIdcountry}" 
										  id="driverMoreCountry" required="true" requiredMessage="#{msgs.fieldRequired}"
										  disabled="true" >
										   <f:selectItem itemLabel="" itemValue=""></f:selectItem>
										   <f:selectItems value="#{parametrosController.listCountries}" var="country" itemLabel="#{country.name}" itemValue="#{country.idcountry}" itemDescription="#{country.name}"/>
						                   <p:ajax listener="#{adminUserController.changeCountry}" event="change" update="driverCityNew" process="@this"/>
										  </h:selectOneMenu>
										 <p:message for="driverMoreCountry"/>
										</div>
										<div class="field">
										  <h:outputLabel value="#{msgs.registerCity}" for="driverMoreCity"/>
										   <h:selectOneMenu value="#{cityDriverController.city}" 
										   id="driverMoreCity" required="true" requiredMessage="#{msgs.fieldRequired}"
										   disabled="true">
										    <f:selectItems value="#{adminUserController.cityes}" var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}" itemDescription="#{city.name}"/>
										   </h:selectOneMenu>
										  <p:message for="driverMoreCity"/>
										</div>											
									</div>
								<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.contactName']}"
												for="driverMoreContact" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverMoreContact"
												value="#{cityDriverController.cityDriver.contactName}"
												required="true" requiredMessage="#{msgs.fieldRequired}"
												disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="driverMoreContact" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.contactPhone']}"
												for="driverMoreContactPhone" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverMoreContactPhone"
												value="#{cityDriverController.cityDriver.contactPhone}"
												required="true" requiredMessage="#{msgs.fieldRequired}"
												disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="driverMoreContactPhone" />
										</div>										
									</div>
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.address.start']}"
												for="origMoreAddress" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="origMoreAddress"
												value="#{cityDriverController.cityDriver.addressOrigin}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="origMoreAddress" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.address.end']}"
												for="destMoreAddress" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="destMoreAddress"
												value="#{cityDriverController.cityDriver.addressDest}"
												required="true" requiredMessage="#{msgs.fieldRequired}"
												disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="destMoreAddress" />
										</div>		
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverPlate']}"
												for="driverMorePlate" />
											<h:selectOneMenu styleClass="select-input"
												value="#{cityDriverController.plate}"
												id="driverMorePlate" requiredMessage="#{msgs.fieldRequired}"
												disabled="#{cityDriverController.formNoEditable}" >
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{cityDriverController.listVehicle}"
														var="plate" itemLabel="#{plate.vehiclePlate}"
														itemValue="#{plate.vehiclePlate}" itemDescription="#{plate.vehiclePlate}" />
														<p:ajax event="change" update="driverMoreVehicleType driverMoreVehicleBrand"
                           										listener="#{cityDriverController.getVehicleData('update')}" />
											</h:selectOneMenu>
											<p:message for="driverMorePlate" />										
										</div>	
		                                <div class="field">
											<h:outputLabel value="#{msgs['driver.vehicleType']}" for="driverMoreVehicleType" />
											<h:selectOneMenu styleClass="select-input"
												value="#{cityDriverController.vehicleType}"
												id="driverMoreVehicleType" required="true" requiredMessage="#{msgs.fieldRequired}"
												disabled="#{cityDriverController.formNoEditable}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{cityDriverController.listVehicleType}"
														var="vehicle" itemLabel="#{msgs['vehicleType'.concat(vehicle.vTypeId)]}"
														itemValue="#{vehicle.vTypeId}" itemDescription="#{vehicle.vTypeName}" />
											</h:selectOneMenu>
											<p:message for="driverMoreVehicleType" />
										</div>	
										<div class="field">
											<h:outputLabel value="#{msgs['driver.vehicleBrand']}" for="driverMoreVehicleBrand" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverMoreVehicleBrand"
												value="#{cityDriverController.vehicleDescription}"
												required="true" requiredMessage="#{msgs.fieldRequired}" 
												disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="driverMoreVehicleBrand" />
										</div>							
									</div>		
								<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverSoat']}"
												for="driverMoreSoat" />
										 	<p:selectOneRadio id="driverMoreSoat" value="#{cityDriverController.soat}" 
										 		required="true" requiredMessage="#{msgs.fieldRequired}"
										 		disabled="#{cityDriverController.formNoEditable}" >  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverSoatYes']}" itemValue="1" />  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverSoatNo']}" itemValue="" />  
        									</p:selectOneRadio>
        									<p:message for="driverMoreSoat"/> 
										</div>		
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.driverRtm']}"
												for="driverMoreRtm" />
										 	<p:selectOneRadio id="driverMoreRtm" value="#{cityDriverController.rtm}"
										 		required="true" requiredMessage="#{msgs.fieldRequired}"
										 		disabled="#{cityDriverController.formNoEditable}" >  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverRtmYes']}" itemValue="1" />  
            									<f:selectItem itemLabel="#{msgs['driver.user.driverRtmNo']}" itemValue="" />  
        									</p:selectOneRadio>
        									<p:message for="driverMoreRtm"/> 
										</div>																											
									</div>
									<div class="column">
										<div class="field">
											<h:outputLabel  value="#{msgs['driver.user.driverDate']}" for="driverMoreDate"/>
											<p:calendar navigator="true" pattern="MM/dd/yyyy HH:mm" yearRange="c-80:c+0" readOnlyInputText="true" maxlength="10" 
														id="driverMoreDate" value="#{cityDriverController.cityDriver.dateService}" required="true" 
														requiredMessage="#{msgs.fieldRequired}"
														disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="driverMoreDate"/>
										</div>								
										<div class="field">
										<h:outputLabel  value="#{msgs['driver.user.driverObservation']}" for="driverMoreObservation"/>
											<p:inputTextarea value="#{cityDriverController.cityDriver.comments}" maxlength="200"
											id="driverMoreObservation" style="width:300px; height:100px;" effectDuration="400"
											  disabled="#{cityDriverController.formNoEditable}" />
											<p:message for="driverMoreObservation"/>  
										</div>
									</div>																						
								</div>
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.editButton}]"
											rendered="#{cityDriverController.formNoEditable == true}"
											actionListener="#{cityDriverController.toggleformEditable}"
											update=":contact-form2 :contact-form2:displayMore" />
									<p:commandLink styleClass="link"
											value="[#{msgs.saveButton}]"
											rendered="#{cityDriverController.formNoEditable == false}"
											actionListener="#{cityDriverController.updateCityDriver}"
											oncomplete="handleDialogSubmit(xhr, status, args, 'driverMoreDialog')"
											update=":contact-form2 :contact-form:growl :contact-form:tbl :contact-form2:displayMore" />	
									<p:commandLink styleClass="link"
											rendered="#{cityDriverController.formNoEditable == false}"
											value="[#{msgs.cancelButton}]"
											actionListener="#{cityDriverController.toggleformEditable}"
											oncomplete="PF('driverMoreDialog').hide()"
											update=":contact-form2 :contact-form:growl :contact-form:tbl :contact-form2:displayMore" /> 
									</div>
								</div>
							</h:panelGroup>
						</fieldset>
					</h:form>
				</p:dialog>
				<!-- /More -->
				
				<!--  Status & Assign -->
				<p:dialog width="480" height="500" widgetVar="driverStatusDialog" header="Driver" id="dialogstatus" modal="true">
					<h:form prependId="false" id="contact-form4"
						styleClass="contact-form">
						<fieldset>
							<h5>
								<h:outputText value="#{msgs['driverStatusTitle']}" />
							</h5>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />
							<h:panelGroup id="displayStatus">
								<div class="profileForm">
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.Status']}" for="cityDriverStatus" />
											<h:selectOneMenu styleClass="select-input"
												value="#{cityDriverController.cityDriver.state}"
												id="cityDriverStatus" required="true" requiredMessage="#{msgs.fieldRequired}">
												<f:selectItems value="#{cityDriverController.listStatus}"
														var="status" itemLabel="#{msgs['driver.status'.concat(status.statusId)]}"
														itemValue="#{status.statusId}" itemDescription="#{status.statusName}" />
												<p:ajax event="change" update="@form"/>
											</h:selectOneMenu>
											<p:message for="cityDriverStatus" />
										</div>
										<div class="field">	
											<p:outputLabel value="#{msgs['driver.AssignTo']}" for="cityDriverAssignTo" />
        									<p:autoComplete class="autocomplete-cps" id="cityDriverAssignTo" multiple="true" value="#{cityDriverController.listOperators}" completeMethod="#{cityDriverController.completeOperator}"
                        								var="operator" itemLabel="#{operator.name} #{operator.lastName}" itemValue="#{operator}" converter="entityConverter" forceSelection="true"
                        								required="#{cityDriverController.cityDriver.state == 3 || cityDriverController.cityDriver.state == 4}" requiredMessage="#{msgs.checkDriverNoOperator}">
            									<p:ajax event="itemSelect" listener="#{cityDriverController.handleSelectComplete}" global="false" ></p:ajax>
												<p:ajax event="itemUnselect" listener="#{cityDriverController.handleUnSelectComplete}" global="false" ></p:ajax>
        									</p:autoComplete>
											<p:message for="cityDriverAssignTo" />
										</div>		
										<div class="field hidden#{cityDriverController.cityDriver.state != 4}" id="statusStopsField">
											<div>
												<h:outputLabel value="#{msgs['driver.Stops']}" for="cityDriverStops" />
												<h:inputText id="cityDriverStops" value="#{cityDriverController.numberStops}" 
												required="#{cityDriverController.cityDriver.state == 4}" requiredMessage="#{msgs.fieldRequired}"/>
												<p:message for="cityDriverStops" />
											</div>
											<div>
												<h:outputLabel value="#{msgs['driver.StopsPrice']}" for="cityDriverStopsPrice" />
												<h:inputText id="cityDriverStopsPrice" value="#{cityDriverController.stopsPrice}" 
												required="#{cityDriverController.cityDriver.state == 4}" requiredMessage="#{msgs.fieldRequired}"/>
												<p:message for="cityDriverStopsPrice" />
											</div>
										</div>	
										<div class="field hidden#{cityDriverController.cityDriver.state != 5}" id="statusCommentField">
											<div>
												<h:outputLabel value="#{msgs['driver.Comment']}" for="cityDriverComment" />
												<h:inputTextarea id="cityDriverComment" value="#{cityDriverController.commentStatus}" 
												required="#{cityDriverController.cityDriver.state == 5}" requiredMessage="#{msgs.fieldRequired}"/>
												<p:message for="cityDriverComment" />
											</div>
										</div>																			
									</div>
																							
								</div>
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.saveButton}]"
											actionListener="#{cityDriverController.updateStatusCityDriver}"
											oncomplete="handleDialogSubmit(xhr, status, args, 'driverStatusDialog')"
											process="@this"
											update=":contact-form:growl :contact-form:tbl" />
									</div>
								</div>
							</h:panelGroup>
						</fieldset>
					</h:form>
				</p:dialog>
				<!-- /Status & Assign -->							
			</div>
		</div>
		<h:form>
			<p:confirmDialog id="confirmDeleteDialog"
				message="#{msgs['driver.delete']}"
				header="#{msgs['driver.delete']}" severity="alert"
				widgetVar="confirmDialogDriverW" modal="true">
				<p:commandButton process="@this" id="botonDelete"
					value="#{msgs['driver.delete']}"
					actionListener="#{cityDriverController.deleteDriver}"
					update=":contact-form:growl :contact-form:tbl"
					oncomplete="PF('dconfirmDialogDriverW').hide();" />
				<p:commandButton value="#{msgs['parameter.cancel']}"
					onclick="PF('dconfirmDialogDriverW').hide();" type="button" />
			</p:confirmDialog>
		</h:form> 
		</section>
	</ui:define>
</ui:composition>
</html>