<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">
			function handleDialogSubmit(xhr, status, args, dialog) {
				if (!args.validationFailed) {
					PF(dialog).hide(); 
				} else {
					jQuery(".ui-dialog.ui-overlay-visible").effect("shake", {
						times : 1
					}, 100);
				}
			}
		</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container container-driver">
			<div class="inside">
				<h:form prependId="false" id="contact-form">
					<fieldset>
						<p:growl id="growl" showSummary="true" showDetail="true"
							life="3000" />
						<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
 
						<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    						<p:graphicImage value="/images/loader.gif" />
						</p:dialog>								
						<h5>
							<h:outputText value="#{msgs['menu.myDriverOperator']}" />
						</h5>
						<p:commandButton class="ml" value="#{msgs['driver.addOperator']}"
										 oncomplete="PF('driverAddDialog').show()"
										 actionListener="#{cityDriverController.selectTypeUser}"
										 update=":formExitUser :formNewUser :formExitUserCheck">
						</p:commandButton>
						<br></br>
						<br></br>
						<p:dataTable id="tbl" styleClass="tblDriver" var="driver"
							value="#{cityDriverController.allOperators}" paginator="true"
							rows="12" emptyMessage="Not info">

							<p:column filterBy= "#{driver.cu}">
								<f:facet name="header">
									<h:outputText value="CU" />
								</f:facet>
								<h:outputText value="#{driver.cu}" />
							</p:column>
							
							<p:column filterBy= "#{driver.name}">
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.user.fullName']}" />
								</f:facet>
								<h:outputText value="#{driver.name} #{driver.lastName}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.user.phone']}" />
								</f:facet>
								<h:outputText value="#{driver.favoriteMsisdn}">
									<f:convertNumber type="currency"></f:convertNumber>
								</h:outputText>
							</p:column>
							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<p:commandButton title="Detail"
									oncomplete="PF('driverMoreDialog').show()" icon="ui-icon-minus"
									update=":contact-form2:displayMore :driverMoreDialog :contact-form2" >
									<f:setPropertyActionListener value="#{driver}"
										target="#{cityDriverController.sysUser}" />
								</p:commandButton>							
							</p:column>						
						</p:dataTable>
					</fieldset>
				</h:form>

				<!-- Add -->
				<p:dialog width="480" height="500" widgetVar="driverAddDialog" header="Driver" id="dialogAdd" modal="true">
					<fieldset>
					<h5>
						<h:outputText value="#{msgs['driver.addOperator']}" />
					</h5>
					</fieldset>
					<!-- check user operator -->					
					<h:panelGroup id="formExitUserCheck">
					<h:panelGroup>
						<h:form prependId="false" id="contact-form1" styleClass="contact-form" rendered="#{cityDriverController.formUserExits == false}">
						<fieldset>
							<p:messages showSummary="true" showDetail="true" globalOnly="true" />
							<h:panelGroup id="displayAddExitCheck">
								<div class="profileForm">

									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.Mobile']}"
												for="driverMobileExit" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverMobileExit" value="#{cityDriverController.mobile}"
												required="false" requiredMessage="#{msgs.fieldRequired}" 
												validatorMessage="#{msgs['phone.invalid']}">
												<f:validateRegex pattern="[0-9]+" />
											</h:inputText>
											<p:message for="driverMobileExit" />
										</div>										
									</div>									
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.checkButton}]"
											actionListener="#{cityDriverController.checkDriver}"
											update=":formExitUser :formExitUserCheck :formNewUser" />
									</div>
								</div>
							 </div>
							</h:panelGroup>
						</fieldset>
						</h:form>
						<!--  if exit user show info -->
						<h:panelGroup id="formExitUser">
						<h:form prependId="false" id="contact-form1-2" styleClass="contact-form" rendered="#{cityDriverController.userType == 2}">
						  <fieldset>
						  
							<h:panelGroup id="displayAddExit">
								<div class="profileList">
									<div class="column">
										<div class="field">
											<h:outputText value="#{msgs['driver.user.cu']} :" styleClass="listLabel" />
											<h:outputText id="driverCU" value="#{cityDriverController.sysUser.cu}" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.email']} :" styleClass="listLabel" />
											<h:outputText id="driverEmail" value="#{cityDriverController.sysUser.email}" />
										</div>										
										<div class="field">
											<h:outputText value="#{msgs['driver.user.name']} :" styleClass="listLabel"/>
											<h:outputText id="driverName" value="#{cityDriverController.sysUser.name}" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.lastName']} :" styleClass="listLabel"/>
											<h:outputText id="driverLastName" value="#{cityDriverController.sysUser.lastName}" />
										</div>
										
										<div class="field">
											<h:outputText value="#{msgs['driver.user.phone']} :" styleClass="listLabel" />
											<h:outputText id="driverPhone" value="#{cityDriverController.sysUser.favoriteMsisdn}" />
										</div>
									</div>											
								</div>
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.addButton}]"
											actionListener="#{cityDriverController.addDriverOperator}"
											oncomplete="handleDialogSubmit(xhr, status, args, 'driverAddDialog')"
											update=":contact-form1-2 :contact-form:growl :contact-form:tbl" />
									</div>
								</div>
							</h:panelGroup>
						  </fieldset>
						</h:form>
						</h:panelGroup>									
					<!--  -->
					</h:panelGroup>
					</h:panelGroup>
					
					<!-- Form new user -->
					<h:panelGroup id="formNewUser">
					<h:form prependId="false" id="contact-form1-1" styleClass="contact-form" rendered="#{cityDriverController.userType == 1}">
					
						<fieldset>							
							<h:panelGroup id="displayAdd">
								<div class="profileForm">
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.email']}"
												for="driverEmailNew" />
											<h:inputText styleClass="text-input" maxlength="45"
												id="driverEmailNew" value="#{cityDriverController.email}"
												required="true" requiredMessage="#{msgs.fieldRequired}"
												validatorMessage="#{msgs['email.invalid']}" >
												<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
											</h:inputText>
											<p:message for="driverEmailNew" />
										</div>										
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.name']}"
												for="driverNameNew" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverNameNew" value="#{cityDriverController.sysUser.name}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverNameNew" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.lastName']}"
												for="driverLastNameNew" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="driverLastNameNew" value="#{cityDriverController.sysUser.lastName}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="driverLastNameNew" />
										</div>										
										<div class="field">
											<h:outputLabel value="#{msgs['driver.user.phone']}"
												for="driverPhoneNew" />
											<h:inputText styleClass="text-input" maxlength="15"
												id="driverPhoneNew"
												value="#{cityDriverController.sysUser.favoriteMsisdn}"
												required="true" requiredMessage="#{msgs.fieldRequired}"
												validatorMessage="#{msgs['phone.invalid']}">
												<f:validateRegex pattern="[0-9]+" />
											</h:inputText>
											<p:message for="driverPhoneNew" />
										</div>
										<div class="field">
										  <h:outputLabel value="#{msgs.registerCountry}" for="driverCountryNew"/>
										  <h:selectOneMenu value="#{cityDriverController.sysUser.countryIdcountry}" id="driverCountryNew" required="true" requiredMessage="#{msgs.fieldRequired}">
										   <f:selectItem itemLabel="" itemValue=""></f:selectItem>
										   <f:selectItems value="#{parametrosController.listCountries}" var="country" itemLabel="#{country.name}" itemValue="#{country.idcountry}" itemDescription="#{country.name}"/>
						                   <p:ajax listener="#{cityDriverController.changeCountry}" event="change" update="driverCityNew" process="@this"/>
										  </h:selectOneMenu>
										 <p:message for="driverCountryNew"/>
										</div>
										<div class="field">
										  <h:outputLabel value="#{msgs.registerCity}" for="driverCityNew"/>
										   <h:selectOneMenu value="#{cityDriverController.city}" id="driverCityNew" required="true" requiredMessage="#{msgs.fieldRequired}">
										    <f:selectItems value="#{cityDriverController.cities}" var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}" itemDescription="#{city.name}"/>
										   </h:selectOneMenu>
										  <p:message for="driverCityNew"/>
										</div>										
									</div>																							
								</div>
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.addButton}]"
											actionListener="#{cityDriverController.addDriverOperator}"
											oncomplete="handleDialogSubmit(xhr, status, args, 'driverAddDialog');"
											update=":contact-form1-1 :contact-form:growl :contact-form:tbl"/>
									</div>
								</div>
							</h:panelGroup>
						</fieldset>
					</h:form>
					</h:panelGroup>
				</p:dialog>
				<!-- /Add -->
				
				
				<!--  More -->
				<p:dialog width="480" height="500" widgetVar="driverMoreDialog" header="Driver" id="dialogMore" modal="true">
				  <h:panelGroup id="driverMoreDialog">
				  <fieldset>
				  	<h5>
						<h:outputText value="#{msgs['driverMoreTitle']}" />
					</h5>
				  </fieldset>
					<h:form prependId="false" id="contact-form2" styleClass="contact-form">
					    <p:messages showSummary="true" showDetail="true" globalOnly="true" />
						<fieldset>						
							<h:panelGroup id="displayMore">
								<div class="profileList">
									<div class="column">
										<div class="field">
											<h:outputText value="#{msgs['driver.user.cu']}" styleClass="listLabel" />
											<h:outputText id="driverMoreCU" value="#{cityDriverController.sysUser.cu}" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.email']}" styleClass="listLabel" />
											<h:outputText id="driverMoreEmail" value="#{cityDriverController.sysUser.email}"/>
										</div>										
										<div class="field">
											<h:outputText value="#{msgs['driver.user.name']}" styleClass="listLabel" />
											<h:outputText id="driverMoreName" value="#{cityDriverController.sysUser.name}" />
											<p:message for="driverMoreName" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.lastName']}" styleClass="listLabel" />
											<h:outputText id="driverMoreLastName" value="#{cityDriverController.sysUser.lastName}" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.phone']}" styleClass="listLabel" />
											<h:outputText id="driverMorePhone" value="#{cityDriverController.sysUser.favoriteMsisdn}" />
										</div>
									</div>																					
								</div>
								<div class="container buttonForm">
									<div class="fleft">
									<p:commandLink styleClass="link"
											value="[#{msgs.unprivilegedButton}]"
											oncomplete="PF('confirmDialogDriverW').show();"
											update=":contact-form2:displayMore" />
									</div>
								</div>
							</h:panelGroup>
						</fieldset>
					</h:form>
				  </h:panelGroup>
				</p:dialog>
				<!-- /More -->
							
			</div>
		</div>
		<h:form>
			<p:confirmDialog id="confirmDeleteDialog"
				message="#{msgs['driver.confirmRemoveOperator']}"
				header="#{msgs['unprivilegedButton']}" severity="alert"
				widgetVar="confirmDialogDriverW" modal="true">
				<p:commandButton process="@this" id="botonConfirm"
					value="#{msgs['confirmButton']}"
					actionListener="#{cityDriverController.removeOperator}"
					oncomplete="handleDialogSubmit(xhr, status, args, 'confirmDialogDriverW'); handleDialogSubmit(xhr, status, args, 'driverMoreDialog');" 
					update=":driverMoreDialog :contact-form2 :contact-form:growl :contact-form:tbl" />
				<p:commandButton value="#{msgs['parameter.cancel']}"
					onclick="PF('confirmDialogDriverW').hide();" type="button" />
			</p:confirmDialog>
		</h:form> 
		</section>
	</ui:define>
</ui:composition>
</html>