<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">	
<ui:define name="head">
<script src="https://maps.google.com/maps/api/js?sensor=false"
type="text/javascript"></script>
</ui:define>
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_15 omega">
                            <div class="suffix_1">
                            <h:form id="contact-form" prependId="false">
        <fieldset>
        <p:growl id="growl" showDetail="true" life="3000" /> 
        <h5><h:outputText value="#{msgs['menu.myZones']}"/></h5>
        <img style="margin-top:0px;" class="pageImage" src="../images/cps/search1.png"></img>
        <div style="clear:both"></div>
        <div class="field">
		<h:outputLabel value="#{msgs.registerCountry}" for="registerCountry"/>
		<h:selectOneMenu immediate="true" valueChangeListener="#{searchZonesController.changeZone}" onchange="this.form.submit();"  id="registerCountry">
		<f:selectItem itemValue="-1" itemLabel="#{msgs.registerCountry}"></f:selectItem>
		<f:selectItems value="#{parametrosController.listCountries}" var="country" itemLabel="#{country.name}" itemValue="#{country.idcountry}" itemDescription="#{country.name}"/>
		</h:selectOneMenu>
		</div>
</fieldset>
</h:form>
<p:gmap zoom="4" center="#{searchZonesController.country.latitude},#{searchZonesController.country.longitude}" type="HYBRID"   
        style="width:900px;height:500px"  
        model="#{searchZonesController.simpleModel}" streetView="true" />
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</ui:define>
</ui:composition>
</html>