<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">	
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
   
        <h:form id="contact-form" prependId="false" >
        
        <p:growl id="growl" showDetail="true" life="3000" /> 
        <h5><h:outputText value="#{msgs['menu.ActiveParkingGraphic']}"/></h5>
        
        <div class="field">
		<h:selectOneMenu rendered="#{activeParkingController.admin}" valueChangeListener="#{activeParkingController.changeClient}" onchange="this.form.submit();" immediate="true" id="idClient" value="#{activeParkingController.idClient}">
		<f:selectItem itemValue="-1" itemLabel="Client"></f:selectItem>
		<f:selectItems value="#{activeParkingController.listClients}" var="client" itemLabel="#{client.name}" itemValue="#{client.idclient}" itemDescription="#{client.name}"/>
		</h:selectOneMenu>
		</div>
        <div class="field">
		<h:selectOneMenu immediate="true" valueChangeListener="#{activeParkingController.changeZone}" onchange="this.form.submit();"  id="registerCountry" value="#{activeParkingController.idZone}">
		<f:selectItem itemValue="-1" itemLabel="Zone"></f:selectItem>
		<f:selectItems value="#{activeParkingController.listZones}" var="zone" itemLabel="#{zone.name}" itemValue="#{zone.idzone}" itemDescription="#{zone.name}"/>
		</h:selectOneMenu>
		</div>
		<p:ajaxStatus>
		<f:facet name="start">
		 <h:graphicImage value="/images/loader.gif" />
		</f:facet>
		<f:facet name="complete">
		<h:outputText value="" />
		</f:facet>
		</p:ajaxStatus>
		<br></br>

<p:dataGrid  id="tbl" var="history" value="#{activeParkingController.listAllActiveParking}" emptyMessage="No info" columns="5">  
  <p:column>  
    <p:panel style="text-align:center">
     <f:facet name="header">  
            <h:outputText value="#{history.placeIdplace}" converter="zoneIdConverter" />
     </f:facet>
     
      <h:outputText rendered="#{history.vehiclePlate != null}" value="#{history.vehiclePlate}" />
      <br></br> 
      <p:graphicImage value="#{history.vehiclePlate != null ? (history.currentMins > history.maxMins ? '/images/parkingred.jpg' : '/images/parkinguse.jpg') : '/images/parkingavailable.jpg'}" width="50" height="50"/> 
      <br></br> 
      <p:commandLink rendered="#{history.vehiclePlate != null}" update="formDetail" oncomplete="carDialog.show()" title="View Detail">  
                        <p:graphicImage value="/images/search.png" width="18" height="18"/>   
                        <f:setPropertyActionListener value="#{history}"   
                                target="#{activeParkingController.activeParking}" />  
      </p:commandLink>  
      &nbsp;&nbsp;
      <p:commandLink title="SMS" update="display" rendered="#{history.enableSMSNotif == '1'}" oncomplete="smsDialog.show()">  
                <p:graphicImage value="/images/pic_2.jpg" width="18" height="18"/>
                <f:setPropertyActionListener value="#{history}"  
                    target="#{activeParkingController.activeParking}" />  
      </p:commandLink>  

    </p:panel>  
  </p:column>
</p:dataGrid> 
<h5> 
<h:outputText rendered="#{activeParkingController.idZone != '-1' &amp;&amp;  empty activeParkingController.listAllActiveParking}"  value="#{msgs['parameter.activeparking.noparking']}"/>
</h5>
<p:poll interval="10" rendered="#{activeParkingController.idZone != '-1'}" listener="#{activeParkingController.updateActiveParking}" update="tbl" /> 
</h:form>
<h:form id="formDetail" prependId="false">
 <p:dialog header="SMS" widgetVar="smsDialog" resizable="false"  
              width="400" showEffect="explode" hideEffect="explode">  
  
        <h:panelGrid id="display" columns="2" cellpadding="4">  
            <f:facet name="header">  
                <p:graphicImage value="/images/icon.png"/>  
            </f:facet>  
            <h:outputText value="#{msgs['myHistory.phone']}" />
            <h:inputTextarea value="#{activeParkingController.textSms}" rows="2" required="true" requiredMessage="Ingrese el Mensaje"/>
            <h:outputText value="" />  
            <p:commandButton oncomplete="smsDialog.hide();" actionListener="#{activeParkingController.sendSms}"  value="Enviar" update="growl"/>
        </h:panelGrid>  
    </p:dialog> 
    
    <p:dialog header="Detail" widgetVar="carDialog" modal="true" width="420" height="320" resizable="false">  
        <p:outputPanel id="carDetail" style="text-align:left;" layout="block">  
          
            <h:panelGrid  columns="2" cellpadding="5">  
            
                <h:outputLabel for="plate" value="#{msgs['myHistory.titlePlate']}" />  
                <h:outputText id="plate" value="#{activeParkingController.activeParking.vehiclePlate}" />  
                  
                <h:outputLabel for="place" value="#{msgs['myHistory.titlePlace']}" />  
                <h:outputText id="place" value="#{activeParkingController.activeParking.placeIdplace}">
                    <f:converter converterId="zoneIdConverter"/>
                </h:outputText> 
                  
                <h:outputLabel for="start" value="#{msgs['myHistory.titleStart']}" />  
                <h:outputText id="start" value="#{activeParkingController.activeParking.startTime}"/>  
                
                <h:outputLabel for="currentMins" value="#{msgs['myHistory.currentminuts']}" />  
                <h:outputText id="currentMins" value="#{activeParkingController.activeParking.currentMins}"/>  
                
                <h:outputLabel for="maxMinuts" value="#{msgs['myHistory.maxminuts']}" />  
                <h:outputText id="maxMinuts" value="#{activeParkingController.activeParking.maxMins}"/>  
                
                <h:outputLabel for="phone" value="#{msgs['myHistory.phone']}" />  
                <h:outputText id="phone" value="#{activeParkingController.activeParking.msisdn}"/>  
                
            </h:panelGrid>  
        </p:outputPanel>  
    </p:dialog>   
</h:form>
</div>
</div>
</section>
</ui:define>
</ui:composition>
</html>