<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">	
<ui:define name="head">
<script type="text/javascript">  
function handleComplete(xhr, status, args){

	$('#tbl_data tr').each(function() {
		//console.log("test");
		//alert("test");
						
					//var value = $this.find("span.value").html();
					//var quantity = $this.find("input.quantity").val();
					  console.log( $(this).find("td:eq(5)").val());
					}
				);
    $('#tbl\\:totalMinutos').html(args.totalMinutos);
    $('#tbl\\:totalMoney').html(args.totalMoney);

    
    
    console.log("refreshing value="+ args.totalMinutos);
}
</script> 

</ui:define>
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
        <h:form id="contact-form" prependId="false" >
        <h5><h:outputText value="#{msgs['menu.myHistory']}"/></h5>
        <div class="field">
        <h:outputText value="#{msgs['myHistory.dateinit']}"/><p:calendar value="#{reportParkingController.fechaIni}" navigator="true" id="fechaIni"   pattern="d/M/yyyy" required="true" requiredMessage="#{msgs.fieldRequired}"/><p:message for="fechaIni"/>
        <h:outputText value="#{msgs['myHistory.dateend']}"/><p:calendar value="#{reportParkingController.fechaFin}" navigator="true" id="fechaFin"  pattern="d/M/yyyy" required="true" requiredMessage="#{msgs.fieldRequired}"/><p:message for="fechaFin"/>
        </div>
        <div class="field">
		<h:selectOneMenu rendered="#{reportParkingController.admin}" valueChangeListener="#{reportParkingController.changeClient}" onchange="this.form.submit();" immediate="true" id="idClient" value="#{reportParkingController.idClient}">
		<f:selectItem itemValue="-1" itemLabel="Client"></f:selectItem>
		<f:selectItems value="#{activeParkingController.listClients}" var="client" itemLabel="#{client.name}" itemValue="#{client.idclient}" itemDescription="#{client.name}"/>
		</h:selectOneMenu>
		</div>
        <div class="field">
		<h:selectOneMenu immediate="true" id="registerCountry" value="#{reportParkingController.idZone}">
		<f:selectItem itemValue="%" itemLabel="Zone"></f:selectItem>
		<f:selectItems value="#{reportParkingController.listZones}" var="zone" itemLabel="#{zone.name}" itemValue="#{zone.idzone}" itemDescription="#{zone.name}"/>
		</h:selectOneMenu>
		</div>
		<p:commandButton actionListener="#{reportParkingController.reportParking}" value="#{msgs['myHistory.search']}" update="tbl @form"></p:commandButton>
		<br></br>
		<p:dataTable id="tbl" var="history" value="#{reportParkingController.listReportParking}" paginator="true" rows="12" emptyMessage="No info"> 
		  <p:ajax  oncomplete="handleComplete(xhr, status, args)" event="filter"  /> 
 <p:column filterBy="#{history.sysUser.cu}" filterFunction="#{reportParkingController.filterCU}">
							<f:facet name="header">
								<h:outputLabel value="#{msgs['myuser.uc']}" />
							</f:facet>
							<h:outputText value=" #{history.sysUser.cu}" />
						</p:column>
 
  <p:column sortBy="#{history.zone.name}" filterBy="#{history.zone.name}" filterFunction="#{reportParkingController.filterPlace}" rendered="#{reportParkingController.idZone == '%' and not empty reportParkingController.listReportParking}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.titleZone']}" />  
        </f:facet>  
        <h:outputText value="#{history.zone.name}" />  
    </p:column>  
   
  
    <p:column sortBy="#{history.startTime}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.titleStart']}" />  
        </f:facet>  
        <h:outputText value="#{history.startTime}" />  
    </p:column>  
    
    <p:column sortBy="#{history.endTime}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.titleEnd']}" /> 
        </f:facet>  
        <h:outputText value="#{history.endTime}" />  
    </p:column>  
    
    <p:column sortBy="#{history.minutsRound}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.minuts']}" />  
        </f:facet>  
        <h:outputText value="#{history.minutsRound}">
        <f:convertNumber integerOnly="true"/>
        </h:outputText>  
    </p:column>  
    
    
    <p:column>  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.payId']}" />  
        </f:facet>  
        <h:outputText value="#{history.payId}">
         
        </h:outputText>  
    </p:column> 
     <p:column>  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.amount']}" />  
        </f:facet>  
        <h:outputText value="#{history.fee}">
         
        </h:outputText>  
    </p:column>   
    
    <f:facet name="footer">  
            <h:outputText value="#{msgs['myHistory.totalminuts']}" /><h:outputText value="  " /><h:outputText id="totalMinutos" value="#{reportParkingController.totalMinutos}"><f:convertNumber integerOnly="true"/></h:outputText>
            <h:outputText value="  "/>
            <h:outputText value="#{msgs['myHistory.totalamount']}" /><h:outputText id="totalMoney"  value="#{reportParkingController.totalMoney}"><f:convertNumber type="currency"/></h:outputText>
    </f:facet>  
</p:dataTable>  
<h:commandLink title="#{msgs['myHistory.linkExcel']}" disabled="#{!reportParkingController.history}"  styleClass="link1" value="" action="#{reportParkingController.generarInforme}">
<f:param name="formato" value="xls"/>
<h:graphicImage url="/images/icons/excelsmall.gif"/>
</h:commandLink>
<h:commandLink title="#{msgs['myHistory.linkPdf']}" disabled="#{!reportParkingController.history}" styleClass="link1" value="" action="#{reportParkingController.generarInforme}">
<f:param name="formato" value="pdf"/>
<h:graphicImage url="/images/icons/pdfsmall.gif"/>
</h:commandLink>
</h:form>
</div>
</div>
</section>
</ui:define>
</ui:composition>
</html>