<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<!-- Inclusion de contenido -->
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">
						<div class="grid_15 omega">
							<div class="suffix_1">

								<p:tabView dynamic="true" id="passTabs"
									activeIndex="#{changePasswordController.passwordTabActiveIndex}"
									style="width:150% ; height:100%">
									<p:ajax event="tabChange"
										listener="#{changePasswordController.passwordTabChangeListener}" />
									<p:tab title="#{msgs['changePassTabName']}">
										<h:form id="contact-form">
											<p:messages showSummary="true" globalOnly="true" />
											<fieldset>
												<h5>
													<h:outputText value="#{msgs['menu.changePass']}" />
												</h5>
												<img style="margin-top: -5px;" class="pageImage"
													src="../images/cps/lock1.png"></img>
												<!-- CONTRASEÑA PRINCIPAL ACTUAL-->
												<div class="field" style="clear: both;">
													<h:outputLabel value="#{msgs.changePassCurrentPass}"
														styleClass="cf2label" for="currentPass" />
													<p:password id="currentPass" immediate="true"
														value="#{changePasswordController.currentPass}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="currentPass" display="false" />
												</div>
												<br />
												<!-- CONTRASEÑA PRINCIPAL NUEVA -->
												<div class="field" style="clear: both;">
													<h:outputLabel value="#{msgs.changePassNewPass}"
														styleClass="cf2label" for="newPass" />
													<p:password id="newPass" styleClass="text-input"
														value="#{changePasswordController.newPass}"
														required="true" requiredMessage="#{msgs.passRequired}">

														<f:attribute name="uiComponentIdToCompare"
															value="passTabs:contact-form:currentPass" />
														<f:attribute name="messageToDisplay"
															value="#{msgs['registerMainPasswordInvalid']}" />
														<f:validator validatorId="cps.SecondPasswordValidator" />

													</p:password>
													<p:message for="newPass" display="false" />
												</div>
												<br />
												<!-- CONTRAEÑA PRINCIPAL RETYPE -->
												<h:outputLabel value="#{msgs.changePassRetypePass}"
													styleClass="cf2label" for="retypeNewpass" />
												<p:password styleClass="text-input" id="retypeNewpass"
													value="#{changePasswordController.reTypePass}"
													required="true" requiredMessage="#{msgs.passRequired}" />
												<p:message for="retypeNewpass" display="false" />

												<div class="container">
													<div class="fleft" style="margin: 20px 0;">
														<h:commandLink styleClass="link" id="updateButton"
															value="[#{msgs.updateButton}]"
															action="#{changePasswordController.changePass}" />
													</div>
												</div>

											</fieldset>

											<p:blockUI block="contact-form" trigger="updateButton" />

										</h:form>

									</p:tab>
									<p:tab title="#{msgs['changePass2TabName']}">

										<h:form id="contact-form2">

											<p:messages showSummary="true" showDetail="true"
												globalOnly="true" />

											<fieldset>
												<h5>
													<h:outputText value="#{msgs['menu.changePass2']}" />
												</h5>
												<img style="margin-top: -5px;" class="pageImage"
													src="../images/cps/lock1.png"></img>
												<!-- CONTRASEÑA DE TRANSACCIONES ACTUAL -->
												<div class="field" style="clear: both;">
													<h:outputLabel value="#{msgs.changePass2CurrentPass}"
														styleClass="cf2label" for="currentPass2" />
													<p:password id="currentPass2"
														value="#{changePasswordController.currentPass2}"
														required="true" requiredMessage="#{msgs.fieldRequired}" maxlength="4"/>
													<p:message for="currentPass2" display="true" />
												</div>
												<br />
												<!-- CONTRASEÑA DE TRANSACCIONES NUEVA -->
												<div class="field" style="clear: both;">
													<h:outputLabel value="#{msgs.changePass2NewPass}"
														styleClass="cf2label" for="newPass2" />
													<p:password id="newPass2" styleClass="text-input"
														value="#{changePasswordController.newPass2}"
														required="true" requiredMessage="#{msgs.passRequired}" maxlength="4">
														<f:validateLength minimum="4" />
														<f:attribute name="uiComponentIdToCompare"
															value="passTabs:contact-form2:currentPass2" />
														<f:attribute name="messageToDisplay"
															value="#{msgs['registerTransactionPasswordInvalid']}" />
														<f:validator validatorId="cps.SecondPasswordValidator" />
														<p:watermark value="#{msgs.changePass2OnlyNum4}"
															for="newPass2" />
													</p:password>
													<p:message for="newPass2" display="true" />
												</div>
												<br />
												<div class="field" style="clear: both;">
													<!-- CONTRASEÑA DE TRANSACCIONES RETYPE -->
													<h:outputLabel value="#{msgs.changePass2RetypePass}"
														styleClass="cf2label" for="retypeNewpass2" />
													<p:password styleClass="text-input" id="retypeNewpass2"
														value="#{changePasswordController.reTypePass2}"
														required="true" requiredMessage="#{msgs.passRequired}" maxlength="4">
														<f:validateLength minimum="1" />
													</p:password>
													<p:message for="retypeNewpass2" display="true" />
												</div>

												<div class="container">
													<div class="fleft" style="margin: 20px 0;">
														<p:commandLink styleClass="link" id="updateButtonPass2"
															value="[#{msgs.updateButton}]"
															actionListener="#{changePasswordController.changePass2}"
															ajax="false" update="contact-form2" />
													</div>
												</div>
											</fieldset>
											<p:blockUI block="contact-form2" trigger="updateButtonPass2" />
										</h:form>
									</p:tab>
								</p:tabView>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>