<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
	
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">
						<div class="grid_15 omega">
							<div class="suffix_1">

								<p:tabView dynamic="false" id="passTabs"
									style="width:150% ; height:100%">								
									<p:tab title="#{msgs['menu.createPass2']}">

										<h:form id="contact-form2">

											<p:messages showSummary="true" showDetail="true"
												globalOnly="true" />

											<fieldset>
												<h5>
													<h:outputText value="#{msgs['menu.createPass2']}" />
												</h5>
												<img style="margin-top: -5px;" class="pageImage"
													src="../images/cps/lock1.png"></img>
												<br />
												<!--CREAR CONTRASEÑA DE TRANSACCIONES-->
												<div class="field" style="clear: both;">
													<h:outputLabel value="#{msgs.changePass2NewPass}"
														styleClass="cf2label" for="newPass2" />
													<p:password id="newPass2" styleClass="text-input"
														value="#{addPasswordController.newPass2}"
														required="true" requiredMessage="#{msgs.passRequired}" maxlength="4"
														placeholder="#{msgs.lengthPass2}"/>
														
													<p:message for="newPass2" display="true" />
												</div>
												<br />
												<div class="field" style="clear: both;">
												
													<!-- CONTRASEÑA DE TRANSACCIONES RETYPE -->
													<h:outputLabel value="#{msgs.changePass2RetypePass}"
														styleClass="cf2label" for="retypeNewpass2" />
													<p:password styleClass="text-input" id="retypeNewpass2"
														value="#{addPasswordController.reTypePass2}"
														required="true" requiredMessage="#{msgs.passRequired}" maxlength="4" 
														placeholder="" />
													<p:message for="retypeNewpass2" display="true" />
												</div>

												<div class="container">
													<div class="fleft" style="margin: 20px 0;">
														<p:commandLink styleClass="link" id="updateButtonPass2"
															value="[#{msgs.registerButton}]"
															actionListener="#{addPasswordController.addPass2}"
															ajax="false" update="contact-form2" />
													</div>
												</div>
											</fieldset>
											
										</h:form>
									</p:tab>
								</p:tabView>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		

		
	</ui:define>
</ui:composition>
</html>
