.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90000;
    display: none;
}

.modal {
    display: none;
    padding: 20px;
    overflow: auto;
    z-index: 90001;
    position: absolute;
    width: 800px;
    margin-left: -11%;
    min-height: 300px;
}

#promo_box {
    background: url('../../images/popmodal/landingpage.png') no-repeat scroll center bottom;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
}

.modal .closeBtn {
    background: url("../../images/popmodal/close.png") no-repeat scroll center center / 40px auto rgba(0, 0, 0, 0);
    height: 40px;
    position: absolute;
    cursor: pointer;
    right: 0;
    width: 40px;
}

#promo_box .promo-header h1 {
    float: left;
    position: relative;
    width: 300px;
}

#promo_box .promo-header-right {
    float: right;
    position: relative;
    top: 30px;
    width: 320px;
}

#promo_box .promo-header-right > ul {
    float: right;
    width: 196px;
}

#promo_box .promo-header-right ul li {
    display: inline;
    list-style: none outside none;
    padding: 0 5px;
}

#promo_box .promo-content {
    margin: auto;
    width: 675px;
}

#promo_box .promo-footer {
    height: 150px;
}

#promo_box .promo-footer h3 {
    float: left;
    position: relative;
    top: 20px;
    left: 20px;
}

#promo_box .promo-footer > ul {
    float: right;
    position: relative;
    top: 20px;
}

#promo_box .promo-footer > ul li {
    display: inline;
    list-style: none outside none;
    padding: 0 20px;
}