<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">  
    function handleLoginRequest(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  


    function handleRefresh(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  
</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<fieldset>
					<div>
						<h5>
							<h:outputText value="#{msgs['menu.myClient']}" />
						</h5>
						<div style="clear: both;"></div>
						<h:outputLink id="newUserLink" styleClass="link"
							value="javascript:void(0)" onclick="PF('dlg').show()" title="">
							<h:outputText value="[#{msgs['myClient.linkNew']}]" />
						</h:outputLink>
					</div>

					<br></br>
					<p:growl id="growl" showSummary="true" life="3000" />
					<h:form id="formClient" prependId="false">
						<p:dataTable id="tableClient" var="client"
							value="#{managerClientController.listClients}">
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['myClient.nameTitle']}" />
								</f:facet>
								<h:outputText value="#{client.name}" />
							</p:column>
							<!--         <p:column>   -->
							<!--             <f:facet name="header">   -->
							<!--               <h:outputText value="#{msgs['myClient.countryTitle']}"/>         -->
							<!--             </f:facet>   -->
							<!--             <h:outputText value="#{client.country.name}" />   -->
							<!--         </p:column>  -->
							<!--         <p:column>   -->
							<!--             <f:facet name="header">   -->
							<!--               <h:outputText value="#{msgs['myClient.cityTitle']}"/>         -->
							<!--             </f:facet>   -->
							<!--             <h:outputText value="#{client.city.name}" />   -->
							<!--         </p:column> -->
							<p:column>
								<p:commandButton icon="ui-icon-circle-minus" title="Delete"
									process="@this" update="@none"
									oncomplete="PF('confirmDelete').show()" style="width:30px;">
									<f:setPropertyActionListener value="#{client}"
										target="#{managerClientController.client}" />
								</p:commandButton>
							</p:column>
							<p:column>
								<p:commandButton icon="ui-icon-info" title="Information"
									action="#{managerClientController.fillInfo}" process="@this"
									update=":formInfo:countryTree"
									oncomplete="PF('dlgInfo').show()" style="width:30px;">
									<f:setPropertyActionListener value="#{client}"
										target="#{managerClientController.client}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>

						<p:dialog resizable="false" draggable="false" id="dialog"
							header="#{msgs['myClient.linkNew']}" widgetVar="dlg" width="450">
							<h:panelGrid columns="2" cellpadding="5">

								<h:outputLabel for="name"
									value="#{msgs['myClient.nameTitle']}: *" />
								<p:inputText value="#{managerClientController.client.name}"
									id="name" required="true"
									requiredMessage="#{msgs.fieldRequired}" />
								<f:facet name="footer">
									<p:commandButton value="#{msgs['myClient.register']}"
										update=":growl :formClient:tableClient  @parent"
										actionListener="#{managerClientController.registerClient}"
										oncomplete="handleLoginRequest(xhr, status, args)" />
								</f:facet>
							</h:panelGrid>
						</p:dialog>

					</h:form>

					<p:dialog resizable="false" draggable="false" id="dialogInfo"
						header="#{msgs['myClient.country.list']}" widgetVar="dlgInfo"
						width="750" modal="true">
						<h:form id="formInfo">
							<h:panelGrid id="panelTree" columns="2" cellpadding="5">

								<p:treeTable id="countryTree"
									value="#{managerClientController.root}" var="treeitem">

									<p:column headerText="Nombre">
										<h:outputText value="#{treeitem.name}" />
									</p:column>
									<p:column headerText="Id">
										<h:outputText value="#{treeitem.id}" />
									</p:column>

									<p:column style="width:24px">
										<p:commandLink oncomplete="PF('addCityDlg').show()"
											title="View Detail" styleClass="ui-icon ui-icon-plusthick"
											rendered="#{treeitem.type eq 1}"
											action="#{managerClientController.changeCountry}"
											process="@this" update=":formDlgCIty:dialogAddCity">

											<f:setPropertyActionListener value="#{treeitem}"
												target="#{managerClientController.selectedItem}" />
										</p:commandLink>

									</p:column>
									<p:column style="width:24px">
										<p:commandLink oncomplete="PF('confirmDeleteCountry').show()"
											title="View Detail" styleClass="ui-icon ui-icon-closethick"
											rendered="#{treeitem.type eq 1}">
											<f:setPropertyActionListener value="#{treeitem}"
												target="#{managerClientController.selectedItem}" />
										</p:commandLink>
										<p:commandLink oncomplete="PF('confirmDeleteCity').show()"
											title="View Detail" styleClass="ui-icon ui-icon-closethick"
											rendered="#{treeitem.type eq 2}">
											<f:setPropertyActionListener value="#{treeitem}"
												target="#{managerClientController.selectedItem}" />
										</p:commandLink>
									</p:column>

								</p:treeTable>

								<f:facet name="footer">
									<p:commandButton value="#{msgs['myClient.country.add']}"
										oncomplete="PF('dlgAddCountry').show()">
									</p:commandButton>
								</f:facet>
							</h:panelGrid>
						</h:form>
					</p:dialog>


					<h:form>
						<p:confirmDialog id="confirmDialog"
							message="#{msgs['myClient.deleteCliente']}"
							header="#{msgs['myClient.deleteCliente']}" severity="alert"
							widgetVar="confirmDelete" modal="true">
							<p:commandButton process="@this" id="botonDelete"
								value="#{msgs['myClient.deleteCliente']}"
								actionListener="#{managerClientController.deleteClient}"
								update=":formClient:tableClient :growl"
								oncomplete="PF('confirmDelete').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="PF('confirmDelete').hide();" type="button" />
						</p:confirmDialog>
						<p:confirmDialog id="confirmDeleteCountryDlg"
							message="#{msgs['myClient.country.msg.delete']}"
							header="#{msgs['myClient.country.delete']}" severity="alert"
							widgetVar="confirmDeleteCountry">
							<p:commandButton process="@this" id="botonDeleteCountry"
								value="#{msgs['myClient.country.delete']}"
								actionListener="#{managerClientController.deleteCountry}"
								update=" :formInfo:countryTree :growl @parent"
								oncomplete="PF('confirmDeleteCountry').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="PF('confirmDeleteCountry').hide();" type="button" />
						</p:confirmDialog>
						<p:confirmDialog id="confirmDeleteCityDlg"
							message="#{msgs['myClient.city.msg.delete']}"
							header="#{msgs['myClient.city.delete']}" severity="alert"
							widgetVar="confirmDeleteCity">
							<p:commandButton process="@this" id="botonDeleteCity"
								value="#{msgs['myClient.city.delete']}"
								actionListener="#{managerClientController.deleteCity}"
								update=":formInfo :formInfo:countryTree :growl @parent"
								oncomplete="PF('confirmDeleteCity').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="PF('confirmDeleteCity').hide();" type="button" />
						</p:confirmDialog>
					</h:form>


					<!--                             add country dialog -->

					<p:dialog resizable="true" draggable="false" id="dialogAddCountry"
						header="#{msgs['myClient.country.add']}" widgetVar="dlgAddCountry"
						width="450">
						<h:form>
							<h:panelGrid columns="2" cellpadding="5">

								<h:outputLabel value="#{msgs.registerCountry}"
									for="registerCountry" />
								<h:selectOneMenu id="registerCountry"
									value="#{managerClientController.idCountry}" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItem itemLabel="" itemValue=""></f:selectItem>
									<f:selectItems value="#{parametrosController.listCountries}"
										var="country" itemLabel="#{country.name}"
										itemValue="#{country.idcountry}"
										itemDescription="#{country.name}" />
								</h:selectOneMenu>


								<f:facet name="footer">
									<p:commandButton value="#{msgs['myClient.country.add']}"
										update="@parent :formInfo:countryTree "
										actionListener="#{managerClientController.addCountry}"
										oncomplete="PF('dlgAddCountry').hide();" />
								</f:facet>
							</h:panelGrid>
						</h:form>
					</p:dialog>


					<h:form id="formDlgCIty">

						<p:dialog resizable="false" draggable="false" id="dialogAddCity"
							header="#{msgs['myClient.city.add']}" widgetVar="addCityDlg"
							width="450">
							<h:panelGrid columns="2" cellpadding="5">


								<h:outputLabel value="#{msgs.registerCity}" for="registerCity" />
								<h:selectOneMenu value="#{managerClientController.city}"
									id="registerCity" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItems value="#{managerClientController.listCities}"
										var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}"
										itemDescription="#{city.name}" />
								</h:selectOneMenu>


								<f:facet name="footer">
									<p:commandButton value="#{msgs['myClient.city.add']}"
										update=":growl :formInfo:countryTree   @parent"
										actionListener="#{managerClientController.addCity}"
										oncomplete="PF('addCityDlg').hide();" />
								</f:facet>
							</h:panelGrid>
						</p:dialog>

					</h:form>
				</fieldset>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>