<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
<div class="bg-main">
	<div id="main">
    <!-- content -->
    <section id="content">
      <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                   <div class="wrapper">
                          <div class="grid_8 alpha">
                              <div class="suffix_1">
                                <h5><h:outputText escape="false" value="#{msgs['parameter.aboutus.whyus.title']}"/> </h5>
                                <div class="tail2">
                                	<div class="container">
                                    	<div class="num">1</div>
                                        <div class="oh" align="justify">
                                        	<b><h:outputText escape="false" value="#{msgs['parameter.aboutus.whyus.1.title']}"/> </b>
                                            <h:outputText escape="false" value="#{msgs['parameter.aboutus.whyus.1.description']}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="tail2">
                                	<div class="container">
                                    	<div class="num">2</div>
                                        <div class="oh" align="justify">
                                        	<b><h:outputText escape="false" value="#{msgs['parameter.aboutus.whyus.2.title']}"/> </b>
                                            <h:outputText escape="false" value="#{msgs['parameter.aboutus.whyus.2.description']}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="num">3</div>
                                    <div class="oh" align="justify">
                                        <b><h:outputText escape="false" value="#{msgs['parameter.aboutus.whyus.3.title']}"/> </b>
                                        <h:outputText escape="false" value="#{msgs['parameter.aboutus.whyus.3.description']}"/>
                                    </div>
                                </div>                              
                              </div>
                          </div>
                          <div class="grid_16 omega">
                              <h5 class="p3"><h:outputText escape="false" value="#{msgs['parameter.aboutus.mision.title']}"/> </h5>
                             <p></p>
                             <p><h:outputText escape="false" value="#{msgs['parameter.aboutus.mision.description']}"/> </p>
                              <br />  
                              <h5 class="p3"><h:outputText escape="false" value="#{msgs['parameter.aboutus.vision.title']}"/> </h5>
                             <p></p>
                             <p><h:outputText escape="false" value="#{msgs['parameter.aboutus.vision.description']}"/> </p>
                             <h5><h:outputText escape="false" value="#{msgs['parameter.aboutus.valores.title']}"/></h5>
                             <p><h:outputText escape="false" value="#{msgs['parameter.aboutus.valores.description']}"/></p>
                          </div>
                      </div>
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
  </div>
</div>
</ui:define>
</ui:composition>
</html>  

