<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<ui:composition template="/template/template.xhtml">

<ui:define name="head">
  
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script> 
<script type="text/javascript" src="js/easyTooltip.js"></script>
<script type="text/javascript">
	    $(document).ready(function(){
	        $(".icon a.tooltips").easyTooltip();
	    });
</script>
<script src="js/jquery.faded.js" type="text/javascript"></script>
<script type="text/javascript">
	   $(function(){
	        $("#faded").faded();
		});
</script>
<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript">
$(document).ready(function() {
   $('ul.sf-menu').superfish();
});
</script>  

<script>
// hover phones
	$(document).ready(function() {
				$(".v1").hover(
					function() {
						$('#pic1').animate({top:'-15px'},{queue:false,duration:200});
					},
					function() {
						$('#pic1').animate({top:'0px'},{queue:false,duration:200});
					}
				);
				
				$(".v2").hover(
					function() {
						$('#pic2').animate({top:'-15px'},{queue:false,duration:200});
					},
					function() {
						$('#pic2').animate({top:'0px'},{queue:false,duration:200});
					}
				);
				
				$(".v3").hover(
					function() {
						$('#pic3').animate({top:'-15px'},{queue:false,duration:200});
					},
					function() {
						$('#pic3').animate({top:'0px'},{queue:false,duration:200});
					}
				);
				
				$(".v4").hover(
					function() {
						$('#pic4').animate({top:'-15px'},{queue:false,duration:200});
					},
					function() {
						$('#pic4').animate({top:'0px'},{queue:false,duration:200});
					}
				);
		
				
		
			});
</script>

<!--[if lt IE 8]><div style=' clear: both; height: 59px; text-align:center; position: relative;'> <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" height="42" width="820" alt="" /></a></div><![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" href="css/ie_style.css" type="text/css" media="screen"><![endif]-->

</ui:define>

<!-- Inclusion de contenido -->
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">

     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                                
                    <div class="wrapper">
                        <div class="downloads versions">
                        	<h1>CityParking</h1>
                      
                        	<div class="item">
                            	<div class="image version v1">                            		
                                	<a href="http://goo.gl/b2Pcfc" target="_blank" id="pic1" >
                                		<img class="phone" src="images/cps/android.png"></img>
                                	</a>
                                	<h5 style="margin-left:35px;">Android OS</h5>                                    
                                    <div class="container info">                                	
                                    <h:outputText value="#{msgs['parameter.download.android.description']}"/>      
                                	</div>
                                	<br/>
                                	<br/>
                                	<img class="qrcode" src="images/cps/qrcodeAndroidCity.png"></img>
                                	<br/>
                                    <div class="container buttonForm" style="padding:0px;" align="center">
	           							<div style="margin:0px 0;">
	           								<a href="http://goo.gl/b2Pcfc" target="_blank" class="button" style="width: 60px;">
	           									<h:outputText value="#{msgs['parameter.download']}" escape="false" />
	           								</a>
	          							</div>
       								</div>
                                </div>
                            </div>
                          
                            <div class="item">
                            	<div class="image version v2">                            		
                                	<a href="https://itunes.apple.com/us/app/cityparking/id868140927" target="_blank" id="pic2" >
                                		<img class="phone" src="images/cps/iphone.png"></img>
                                	</a>
                                	<h5 style="margin-left:35px;">iPhone</h5>                                    
                                    <div class="container info">                                	
                                    	<h:outputText value="#{msgs['parameter.download.general.description']}"/>
                                	</div>
                                	<br/><br/>
                                	<img class="qrcode" src="images/cps/qrcodeiphone.png"></img>
                                    <br/>
                                     <div class="container buttonForm" style="padding:0px;" align="center">
	           							<div style="margin:0px 0;">
	           								<a href="https://itunes.apple.com/us/app/cityparking/id868140927" target="_blank" class="button" style="width: 60px;"><h:outputText value="#{msgs['parameter.download']}" escape="false" /></a>
	          							</div>
       								</div> 
                                </div>
                            </div>
                   			<div class="item">
                            	<div class="image version v3">                            	
                                	<a href="http://www.windowsphone.com/s?appid=e76a319a-665f-4d09-9e15-2eaab2f660d4" target="_blank" id="pic3" >
                                		<img class="phone" src="images/cps/wp.png"></img>
                                	</a>
                                	<h5 style="margin-left:35px;">Windows Phone</h5>                                    
                                    <div class="container info">                                	
                                    	<h:outputText value="#{msgs['parameter.download.windows.description']}"/>                                    
                                	</div>
                                    <br/>
                                	<img class="qrcode" src="images/cps/qrcodeWPCity.png"></img>

                                	<br/>
                                    <div class="container buttonForm" style="padding:0px;" align="center">
	           							<div style="margin:0px 0;">
	           								<a href="http://www.windowsphone.com/s?appid=e76a319a-665f-4d09-9e15-2eaab2f660d4" target="_blank" class="button" style="width: 60px;">
	           									<h:outputText value="#{msgs['parameter.download']}" escape="false" />
	           								</a>
	          							</div>
       								</div>
       								
                                </div>
                            </div>                            
                            <!-- 
                            <div class="item">
                            	<div class="image version v3">                            	
                                	<a href="#" id="pic3" ><img class="phone" src="images/cps/blackberry.png"></img></a>
                                	<h5 style="margin-left:35px;">Blackberry</h5>                                    
                                    <div class="container info">                                	
                                    	<h:outputText value="#{msgs['parameter.download.blackberry.description']}"/>                                    
                                	</div>
                                    <br/>
                                	<img class="qrcode" src="images/cps/blakberryApp.png"></img>

                                	<br/>
                                    <div class="container buttonForm" style="padding:0px;" align="center">
	           							<div style="margin:0px 0;">
	           								<a href="http://96.45.176.18/bb/CPSAPP.jad" class="button" style="width: 60px;"><h:outputText value="#{msgs['parameter.download']}" escape="false" /></a>
	          							</div>
       								</div>
       								
                                </div>
                            </div>
                            
                            <div class="item">
                            	<div class="image version v4">
                                	<a href="#" id="pic4" ><img class="phone" src="images/cps/nokia.png"></img></a>
                                	<h5 style="margin-left:35px;">Nokia</h5>                                
                                    <div class="container info">                                	
                                    	<h:outputText value="#{msgs['parameter.download.nokia.description']}"/>                                
                                	</div>                                	
                                    <br/>  
                                	<img class="qrcode" src="images/cps/nokiaApp.png"></img>
                                	<br/>
                                    <div class="container buttonForm" style="padding:0px;" align="center">
	           							<div style="margin:0px 0;">
	           								<a href="http://96.45.176.18/symbian/CPSAPP.jad" class="button" style="width: 60px;"><h:outputText value="#{msgs['parameter.download']}" escape="false" /></a>
	          							</div>
       								</div>
                                </div>
                            </div>
                             -->
                        </div>
                    </div>   
                    
                                     
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
	

	
	</ui:define>
</ui:composition>
</html>