<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/template/template.xhtml">
<!-- Inclusion de contenido -->
	<ui:define name="content">
	     <!-- content -->
    <section id="content">
      <!-- main banner begin -->  
    Usuario logueado  
    </section>
	</ui:define>
</ui:composition>
</html>