<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
<a name="regs" id="a"></a>   
<div class="bg-main">
	<div id="main">
   <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">

                
                    <div class="wrapper">
                        <div class="grid_17 alpha">
                            <div class="suffix_1">
                                <h1><h:outputText escape="false" value="#{msgs['parameter.services.title']}"/></h1>
								
					
								<h6><h:outputText escape="false" value="#{msgs['parameter.services.1.title']}"/></h6>                                
                                
                                <div class="tail2" align="justify">
	                                <p>
	                                <h:outputText escape="false" value="#{msgs['parameter.services.1.description']}"/>              
	                                </p>
                                </div>
								
								<a name="pdp" id="a"></a>
								<h6><h:outputText escape="false" value="#{msgs['parameter.services.2.title']}"/> </h6>                                
                                
                                <div class="tail2" align="justify">
                                <p><h:outputText escape="false" value="#{msgs['parameter.services.2.description']}"/></p>	                                  
                                </div>
                                
                                <a name="regv" id="a"></a>
                                <h6><h:outputText escape="false" value="#{msgs['parameter.services.3.title']}"/></h6>                                
                                
                                <div class="tail2" align="justify">
                               <p>
                               <h:outputText escape="false" value="#{msgs['parameter.services.3.description']}"/>
                               </p>
                                </div>                                
                                
                            </div>
                        </div>
                        <div class="grid_7 omega">                            
                            <ul class="list1">
                                <li><a href="#regs"><h:outputText escape="false" value="#{msgs['parameter.services.1.title']}"/></a></li>
                                <li><a href="#pdp"><h:outputText escape="false" value="#{msgs['parameter.services.2.title']}"/></a></li>
                                <li><a href="#regv" style="font-size: 15px;"><h:outputText escape="false" value="#{msgs['parameter.services.3.title']}"/></a></li>
                            </ul>
                        </div>
                    </div>   
                    <br/>
                    <a href="#regs" class="linkNormal">[<h:outputText value="#{msgs['parameter.top']}" escape="false" />]</a>
                                     
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
  </div>
</div>
</ui:define>
</ui:composition>
