<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
<div class="bg-main">
	<div id="main">
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_17 alpha">
                            <div class="suffix_1">
                                <h5>Integrity as a Driving Force of the Company </h5>
                                <div class="tail2">
                                    <p><b>Geriat oficia desemrun mol ster pot rse namet hasellu misie ater port rsebe maetes port Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar.</b></p>
                                    Anim laborum excepteur  sunt in culpa quitr officia desent uptates velit. Excep teur sint oca. Ecat serese cupdatat nons proident, sunt in culpa qui sit of. Fficia deserunt mollit anim id est laborum duis aute irure dolor reprehenderit. Nuis aue irure dolor sit reprenderit amet voluptate velit.
                                </div>
                               	<p> <b>Se namet hasellu misie ater port rsebe maetes port Praesent justo dolor, lobortis quis.</b></p>
                               	<p>Cerepteur  sunt in culpa quitr officia desent uptates velit. Excep teur sint oca. Ecat serese cupdatat nonser  proident, sunt in culpa qui sit of. Fficia deserunt mollit anim id est laborum duis aute irure dolor reprehe nderit. Nuis aue irure dolor sit reprenderit amet voluptate velit. </p>
                               	<div class="container">
                               		<div class="grid_8 alpha">
                                		<div class="container p1">
                                        	<img alt="" src="images/5page_img1.jpg" class="img-left1" />
                                            <p class="txt">Se namet hasellu mi.</p>
                                            Cerepteur  sunt in culpa quitrcia<br />desent uptates velit. Excep teusi<br />
                                            oca. Ecat serese cupda <a href="more.html" class="link1">[...]</a>
                                        </div>
                                        <div class="container p1">
                                        	<img alt="" src="images/5page_img2.jpg" class="img-left1" />
                                            <p class="txt">Met hasellu mi lroem.</p>
                                            Cerepteur  sunt in culpa quitrcia<br /> desent uptates velit. Excep teusi<br />
                                            oca. Ecat serese cupda <a href="more.html" class="link1">[...]</a>
                                        </div>
                                        <div class="container">
                                        	<img alt="" src="images/5page_img3.jpg" class="img-left1" />
                                            <p class="txt">Serellu mi lroemes ste.</p>
                                            Cerepteur  sunt in culpa quitrcia<br /> desent uptates velit. Excep teusi<br />
                                            oca. Ecat serese cupda <a href="more.html" class="link1">[...]</a>
                                        </div>
                                	</div>
                                    <div class="grid_8 omega">
                                		<div class="container p1">
                                        	<img alt="" src="images/5page_img4.jpg" class="img-left1" />
                                            <p class="txt">Amet hasellu misi ster.</p>
                                            Cerepteur  sunt in culpa quitrcia<br />desent uptates velit. Excep teusi<br />
                                            oca. Ecat serese cupda <a href="more.html" class="link1">[...]</a>
                                        </div>
                                        <div class="container p1">
                                        	<img alt="" src="images/5page_img5.jpg" class="img-left1" />
                                            <p class="txt">Hasellu misi ster stel.</p>
                                            Cerepteur  sunt in culpa quitrcia<br /> desent uptates velit. Excep teusi<br />
                                            oca. Ecat serese cupda <a href="more.html" class="link1">[...]</a>
                                        </div>
                                	</div>
                               	</div>
                            </div>
                        </div>
                        <div class="grid_7 omega">
                            <h5><h:outputText escape="false" value="#{msgs['parameter.operation.title']}"/></h5>
                            <ol>
                                <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.1.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.2.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.3.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.4.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.5.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.6.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.7.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.8.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.9.description']}"/></a></li>
                                        <li><a href="javascript:void(0);"><h:outputText escape="false" value="#{msgs['parameter.operation.10.description']}"/></a></li>
                            </ol>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
  </div>
</div>
  </ui:define>
</ui:composition>
</html> 
