
// Slide up from the bottom, used for modals
// -------------------------------

.slide-in-up {
    .translate3d(0, 100%, 0);
}
.slide-in-up.ng-enter,
.slide-in-up > .ng-enter {
    .transition(@ease: cubic-bezier(0.1, 0.7, 0.1, 1), @duration:400ms);
}
.slide-in-up.ng-enter-active,
.slide-in-up > .ng-enter-active {
    .translate3d(0, 0, 0);
}

.slide-in-up.ng-leave,
.slide-in-up > .ng-leave {
    .transition(@ease:ease-in-out, @duration:250ms);
}


// Scale Out
// Scale from hero (1 in this case) to zero
// -------------------------------
.keyframes (
    scaleOut, {
    from { .transform(scale(1)); .opacity(1); }
    to { .transform(scale(0.8)); .opacity(0); }
});

// Super Scale In
// Scale from super (1.x) to duper (1 in this case)
// -------------------------------

.keyframes (
    superScaleIn, {
    from { .transform(scale(1.2)); .opacity(0); }
    to { .transform(scale(1)); .opacity(1); }
});

// Bounce Color
// from any color to @light
.keyframes (
    bounceLight, {
    0%{}
    50%{background-color: @light;}
    100%{}
});