
/**
 * Button Group
 * --------------------------------------------------
 */

.button-group {
    .display-flex(flex);
    .flex(1);
    width: 100%;
    > .button {
        .flex(1);
        display: block;
        overflow: hidden;
        padding: 0 16px;
        width: 0;
        border-width: 1px 0px 1px 1px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:first-child {
            margin-right: 5px;
        }
        &.button-block {
            width: 0;
        }
    }
}
