/**
 * Content styles
 * --------------------------------------------------
 */

.title-icon-left {
    position: relative;
    padding-left: 2.5em;
    line-height: 1.5em;
    .icon {
        position: absolute;
        left: 0;
        top: -5px;
        &:before {
            font-size: 2em;
        }
    }
}
