.driver-addresses {
    position: absolute;
    height: 160px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &.ng-hide {
        z-index: 0;
        height: 0;
    }
    .driver-addresses-wrapper {
        height: 160px;
        width: 100%;
    }

    .list {
        .item ~ .button {
            margin-left: 0;
        }
        .ion-location {
            .border-rounded(50px);
            height: 40px;
            width: 40px;
            min-width: 40px;
            min-height: 40px;
            margin: 5px 0;
        }
    }
    input[type="text"] {
        width: 100%;
        background: @light;
    }
    .item.item-invalid, .item .item-invalid {
      border-color: @button-light-border;
      border-bottom-color: @error;
      border-bottom-width: 4px;
    }
}

.driver-addresses-open {
    .maps-inside {
        .controls-inside {
            width: 100%;
            left: 0;
            margin-left: 0;
            height: 100px;
        }
        .controls-driver {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 50%;
            z-index: 2;
            .button {
                width: 100%;
            }
        }
    }
}
