/**
 * Filter Bar
 * --------------------------------------------------
 * Bar to filter collections lists
 */


.filter-bar-backdrop {
    .transition(opacity, 150ms, ease-in-out);
    opacity: 0;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.active {
        z-index: @z-index-bar-above;
        opacity: 1;
    }
}

.filter-bar {
    position: fixed;
    width: 100%;
    height: @bar-height;
    z-index: @z-index-bar-above;

    .filter-bar-wrapper {
        z-index: @z-index-filter-bar;
        position: absolute;
        top: 0;
        right:0;
        width: 100%;

        .item-input-inset {
            .icon.placeholder-icon:before {
                padding-top: 3px;
                font-size: 16px;
            }
            .item-input-wrapper {
                background: @light;
                height: 28px;
                .filter-bar-clear {
                    padding: 0 2px 0 0;
                    &:before {
                        color: #aaa;
                        font-size: 18px;
                        padding-top: 1px;
                    }
                }
            }
        }
    }
}

//android
.platform-android {
    .filter-bar {
        .filter-bar-primary  {
            .filter-bar-style(@bar-primary-bg, @bar-primary-active-border, @bar-primary-text);
        }
        .filter-bar-secondary  {
            .filter-bar-style(@bar-secondary-bg, @bar-secondary-active-border, @bar-secondary-text);
        }
        .filter-bar-light  {
            .filter-bar-style(@bar-light-bg, @bar-light-active-border, @bar-light-text);
        }
        .filter-bar-stable  {
            .filter-bar-style(@bar-stable-bg, @bar-stable-active-border, @bar-stable-text);
        }
        .filter-bar-positive  {
            .filter-bar-style(@bar-positive-bg, @bar-positive-active-border, @bar-positive-text);
        }
        .filter-bar-calm  {
            .filter-bar-style(@bar-calm-bg, @bar-calm-active-border, @bar-positive-text);
        }
        .filter-bar-assertive  {
            .filter-bar-style(@bar-assertive-bg, @bar-assertive-active-border, @bar-assertive-text);
        }
        .filter-bar-balanced  {
            .filter-bar-style(@bar-balanced-bg, @bar-balanced-active-border, @bar-balanced-text);
        }
        .filter-bar-energized  {
            .filter-bar-style(@bar-energized-bg, @bar-energized-active-border, @bar-energized-text);
        }
        .filter-bar-royal  {
            .filter-bar-style(@bar-royal-bg, @bar-royal-active-border, @bar-royal-text);
        }
        .filter-bar-dark  {
            .filter-bar-style(@bar-dark-bg, @bar-dark-active-border, @bar-dark-text);
        }
        .filter-bar-default  {
            .filter-bar-style(@bar-default-bg, @bar-default-active-border, @bar-default-text)
        };
    }

    .filter-bar-wrapper {
        .item-input-inset {
            padding-right: @button-padding * 2;
            .filter-bar-cancel {
                padding-left: 0;
                &:before {
                    font-size: 24px;
                }
            }
            .item-input-wrapper {
                border-radius: 0;
                padding-left: 0;
                margin-left: 10px;
                input[type="search"] {
                    font-weight: 500;
                }
                .filter-bar-clear:before {
                    font-size: 20px;
                }
            }
        }
    }
}

.filter-bar-transition-horizontal {
    .transition-transform(cubic-bezier(.25, .45, .05, 1) 300ms);
    .translate3d(100%, 0, 0);
}

.filter-bar-transition-vertical {
    .transition-transform(cubic-bezier(.25, .45, .05, 1) 350ms);
    .translate3d(0, -100%, 0);
}

.filter-bar-transition-fade {
    .transition(opacity 250ms ease-in-out) ;
    opacity: 0;
}

.filter-bar-in {
    .translate3d(0, 0, 0);
    opacity: 1;
}

.filter-bar-modal {
    .item {
        &.item-input {
            padding-right: @item-padding;
        }
    }
    .list-right-editing {
        .item.item-input {
            opacity: .5;
        }
    }

    //in my opinion the ios checkmark is a little skimp.. make it bigger
    .button.button-icon.ion-ios-checkmark-empty:before {
        font-size: 42px;
    }
}

.filter-bar-hide {
    display: none;
}