/**
 * Maps
 * --------------------------------------------------
 */

.cps-maps {
    .cps-maps-background {
        height: 100%;
        width: 100%;
    }
    &.maps-fallback {
        overflow: hidden;
        position: relative;
        [ng-transclude] {
            z-index: 1;
            position: absolute;
            width: 100%;
        }
    }
    .controls-inside {
        z-index: 2;
        position: relative;
        margin-left: -130px;
        width: 130px;
        left: 100%;
    }
}

// Style for SDK map
.maps-sdk {
    .cps-maps {
        position: relative;
        [ng-transclude] {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .cps-maps-background {
            opacity: 0;
            z-index: 0;
            background-size: cover;
            background-image: url("../images/bg-maps.jpg"); //Fix force transparent in SDK google maps
            .transition(opacity, 0.2s, ease-out);
            position: absolute;
            top: 0;
        }
        &.disabled {
            background-size: cover;
            background-image: url("../images/bg-maps.jpg");
            .cps-maps-background {
                opacity: 1;
            }
            [ng-transclude] {
                display: none;
            }
        }
    }
    &.maps-disabled {
        ._gmaps_cdv_ {
            background-color: rgba(255,255,255,1) !important;
        }
    }
    .view-container {
        .menu {
            visibility: hidden;
            &.menu-visible {
                visibility: visible;
            }
        }
    }
}

/**
* Places
* -----------------------------------
*/
.maps-places-container {
    &.modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        background: transparent;
        .scroll-content {
            &:first-child {
                padding: 0;
            }
            .button-full {
                margin: 0;
            }
        }
        .item-input-inset {
          .icon.placeholder-icon:before {
            padding-top: 3px;
            font-size: 16px;
          }
          .item-input-wrapper {
            // background: @light;
            //height: 28px;
            .maps-places-clear {
              padding: 0 2px 0 0;
              &:before {
                color: #aaa;
                font-size: 18px;
                padding-top: 1px;
              }
            }
          }
        }
        .spinner {
          position: relative;
          top: 8px;
        }
    }
}
//android
.platform-android {
  .maps-places-container {
    &.modal {
        .item-input-inset {
            //padding-right: @button-padding * 2;
            .item-input-wrapper {
                //border-radius: 0;
                //padding-left: 0;
                //margin-left: 10px;
                input[type="search"] {
                    font-weight: 500;
                }
                .maps-places-clear:before {
                    font-size: 20px;
                }
            }
        }
    }
  }
}

input.maps-places[readonly]{
    background-color: transparent;
    cursor: text;
}

/**
 * InfoWindow
 * --------------------------------------------------
*/
.infowin {
    position: absolute;
    width: @infowin-width;
    height: (@infowin-height + 50);
    margin-left: -70px;
    margin-top: -75px;
    &.info-animated {
        .transition();
    }
    //.transition(@target: all, @duration:0.2s, @ease:ease);
}
.infowin-primary {
    background-color: @infowin-background-color;
    border-radius: @infowin-border-radius;
    color: @light;
    p,.title {
        color: @light;
    }
}

.infowin-body {
    position: relative;
    height: @infowin-height;
    width: 100%;
    h1,h2,h3 {
        font-size: 1.1em;
    }
    p, span {
        font-size: 0.9em;
    }
}

.infowin-content {
    .title {
        max-width: 180px;
    }
}

.infowin-text {
    overflow: auto;
    max-height: 90px;
}

.infowin-note {
    position: absolute;
    font-weight: bold;
    top: 14px;
    right: 17px;
}

.infowin-value {
    .description {
        font-weight: bold;
        line-height: 1em;
        padding: 1px 0;
    }
    .value {
        text-align: left;
        line-height: 1em;
        padding: 1px 0;
    }
}

.infowin-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-height: @infowin-button-min-height + 20;
    width: 100%;
    bottom: 0;

    .button {
        flex: 1;
        display: block;
        font-size: 1em;
        min-height: @infowin-button-min-height;
        border-radius: @infowin-button-border-radius;
        line-height: @infowin-button-line-height;

        margin-right: 5px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

/* For devices larger than 400px */
@media (max-width: @larger-than-mobile) {
    .infowin {
        width: (@infowin-width - 60);
        margin-left: -40px;
    }

    .infowin-value {
        .value {
            left: 87px;
            width: 190px;
        }
    }
}
