/**
 * Notifications
 * --------------------------------------------------
 */

.notify-tray {
    .badge {
        display: none;
        font-size: 0.5em;
        padding: 0 5px;
        top: -7px;
        left: 19px;
        z-index: 2;
        .border-radius(4px);
    }
    .notify-button {
        &:before {
            content: @cpsicons-var-notify-none;
        }
    }
    &.notify-unread {
        .badge {
            display: inline-block;
        }
        .notify-button {
            &:before {
                content: @cpsicons-var-notify;
            }
        }
    }
}

// Notification tray
.popover-notify-tray {
    .popover {
        max-height: @popover-height + 100;
        min-height: @popover-min-height;
        height: auto;
        width: @popover-width + 100;
        .popover-content {
            max-height: @popover-height + 100;
            min-height: @popover-min-height;
            height: auto;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .item {
            &.item-received {
              .item-style(darken(@item-stable-bg, 10%), darken(@item-stable-bg, 10%), darken(@item-stable-bg, 10%));
            }
            &.item-read {
              .item-style(@item-stable-bg, @item-stable-border, @item-stable-text);
            }
        }
    }
}
