
/**
 * Popups
 * --------------------------------------------------
 */

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0);

    .display-flex(flex);
    .justify-content(center);
    .align-items(center);

    z-index: @z-index-popup;

    // Start hidden
    visibility: hidden;
    &.popup-showing {
        visibility: visible;
    }

    &.popup-hidden .popup {
        .animation(@name: scaleOut, @duration: @popup-leave-animation-duration, @ease: ease-in-out, @fill: both);
    }

    &.active .popup {
        .animation(@name: superScaleIn, @duration: @popup-enter-animation-duration, @ease: ease-in-out, @fill: both);
    }

    .popup {
        width: @popup-width;
        max-width: 100%;
        max-height: 90%;

        .border-rounded(@popup-border-radius);
        background-color: @popup-background-color;

        .display-flex(flex);
        .flex-direction(column);
    }
}

.popup-head {
    position: relative;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    .button-close {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.popup-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.popup-sub-title {
    margin: 5px 0 0 0;
    padding: 0;
    font-weight: normal;
    font-size: 11px;
}
.popup-body {
    padding: 10px;
    overflow: auto;
}

.popup-buttons {
    .display-flex(flex);
    .flex-direction(row);
    padding: 10px;
    min-height: @popup-button-min-height + 20;

    .button {
        .flex(1);
        display: block;
        min-height: @popup-button-min-height;
        border-radius: @popup-button-border-radius;
        line-height: @popup-button-line-height;

        margin-right: 5px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

.popup-open {
    pointer-events: none;

    &.modal-open .modal {
        pointer-events: none;
    }

    .popup-backdrop, .popup {
        pointer-events: auto;
    }
}
