/**
 * Preload
 * --------------------------------------------------
 */

cps-preload {
    position: absolute;
    background-color: @primary;
    opacity: 1;
    padding: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    color: @light;
    .transition(opacity, 0.2s);
    &.disabled {
        opacity: 0;
    }
}

.preload-wrapper {
    top: 45%;
    position: absolute;
    text-align: center;
    width: 100%;
}
.preload-container{
    width: 110.3px;
    margin: auto;
    &.double {
        width: 40px;
        height: 40px;
        position: relative;
        margin: 15px auto;
    }
}
// Dot
.dot {
    background-color: @primary;
    float:left;
    height:10px;
    margin-left:17px;
    width:10px;

    .animation(@name: bounceLight, @duration: 1.95s, @iteration: infinite, @direction: normal);
    .border-rounded(21px);

    // Midddle
    .animation-delay(0.909s);

    // Fisrt
    &:first-child {
        .animation-delay(0.39s);
    }
    // Last
    &:last-child {
        .animation-delay(1.170s);
    }
}
// Double
.double-bounce {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: @light;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    .animation(@name: cps-double-bounce, @duration: 2.0s, @iteration: infinite, @ease: ease-in-out);
    &:last-child {
        .animation-delay(-1.0s);
    }
}
.keyframes(
    cps-double-bounce, {
    0%{}
    100% {
        .transform(scale(0.0));
    }
    50% {
        .transform(scale(1.0));
    }
});

// scaleOut
.scaleout {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    background-color: @light;
    .border-rounded(100%);
    .animation(@name: cps-scaleout, @duration: 1.0s, @iteration: infinite, @ease: ease-in-out);
}

.keyframes(
    cps-scaleout, {
    0%{.transform(scale(0))}
    100% {
        .transform(scale(1.0));
        opacity: 0;
    }
});