/**
 * Tab
 * --------------------------------------------------
 * A navigation bar with any number of tab items supported.
 */

.tabs {
    .display-flex(flex);
    .flex-direction(horizontal);
    .justify-content(center);
    .translate3d(0,0,0);

    .tab-style(@tabs-default-bg, @tabs-default-border, @tabs-default-text);
    .tab-badge-style(@tabs-default-text, @tabs-default-bg);

    position: absolute;
    bottom: 0;

    z-index: @z-index-tabs;

    width: 100%;
    height: @tabs-height;

    border-style: solid;
    border-top-width: 1px;

    background-size: 0;
    line-height: @tabs-height;

    @media (min--moz-device-pixel-ratio: 1.5),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
        padding-top: 2px;
        border-top: none !important;
        border-bottom: none;
        background-position: top;
        background-size: 100% 1px;
        background-repeat: no-repeat;
    }

}
/* Allow parent element of tabs to define color, or just the tab itself */
.tabs-primary > .tabs,
.tabs.tabs-primary {
    .tab-style(@tabs-primary-bg, @tabs-primary-border, @tabs-primary-text);
    .tab-badge-style(@tabs-primary-text, @tabs-primary-bg);
}
.tabs-secondary > .tabs,
.tabs.tabs-secondary {
    .tab-style(@tabs-secondary-bg, @tabs-secondary-border, @tabs-secondary-text);
    .tab-badge-style(@tabs-secondary-text, @tabs-secondary-bg);
}
.tabs-light > .tabs,
.tabs.tabs-light {
    .tab-style(@tabs-light-bg, @tabs-light-border, @tabs-light-text);
    .tab-badge-style(@tabs-light-text, @tabs-light-bg);
}
.tabs-stable > .tabs,
.tabs.tabs-stable {
    .tab-style(@tabs-stable-bg, @tabs-stable-border, @tabs-stable-text);
    .tab-badge-style(@tabs-stable-text, @tabs-stable-bg);
}
.tabs-positive > .tabs,
.tabs.tabs-positive {
    .tab-style(@tabs-positive-bg, @tabs-positive-border, @tabs-positive-text);
    .tab-badge-style(@tabs-positive-text, @tabs-positive-bg);
}
.tabs-calm > .tabs,
.tabs.tabs-calm {
    .tab-style(@tabs-calm-bg, @tabs-calm-border, @tabs-calm-text);
    .tab-badge-style(@tabs-calm-text, @tabs-calm-bg);
}
.tabs-assertive > .tabs,
.tabs.tabs-assertive {
    .tab-style(@tabs-assertive-bg, @tabs-assertive-border, @tabs-assertive-text);
    .tab-badge-style(@tabs-assertive-text, @tabs-assertive-bg);
}
.tabs-balanced > .tabs,
.tabs.tabs-balanced {
    .tab-style(@tabs-balanced-bg, @tabs-balanced-border, @tabs-balanced-text);
    .tab-badge-style(@tabs-balanced-text, @tabs-balanced-bg);
}
.tabs-energized > .tabs,
.tabs.tabs-energized {
    .tab-style(@tabs-energized-bg, @tabs-energized-border, @tabs-energized-text);
    .tab-badge-style(@tabs-energized-text, @tabs-energized-bg);
}
.tabs-royal > .tabs,
.tabs.tabs-royal {
    .tab-style(@tabs-royal-bg, @tabs-royal-border, @tabs-royal-text);
    .tab-badge-style(@tabs-royal-text, @tabs-royal-bg);
}
.tabs-dark > .tabs,
.tabs.tabs-dark {
    .tab-style(@tabs-dark-bg, @tabs-dark-border, @tabs-dark-text);
    .tab-badge-style(@tabs-dark-text, @tabs-dark-bg);
}

.tabs-striped {
    .tabs {
        background-color: white;
        background-image: none;
        border: none;
        border-bottom: 1px solid #ddd;
        padding-top: @tabs-striped-border-width;
    }
    .tab-item {
        // default android tab styl
        &.tab-item-active,
        &.active,
        &.activated {
            margin-top: -@tabs-striped-border-width;
            border-style: solid;
            border-width: @tabs-striped-border-width 0 0 0;
            border-color: @dark;
            .badge{
                top:@tabs-striped-border-width;
                .opacity(1);
            }
        }
    }
    .tabs-striped('tabs-light', @dark, @light);
    .tabs-striped('tabs-stable', @dark, @stable);
    .tabs-striped('tabs-positive', @light, @positive);
    .tabs-striped('tabs-calm', @light, @calm);
    .tabs-striped('tabs-assertive', @light, @assertive);
    .tabs-striped('tabs-balanced', @light, @balanced);
    .tabs-striped('tabs-energized', @light, @energized);
    .tabs-striped('tabs-royal', @light, @royal);
    .tabs-striped('tabs-dark', @light, @dark);

    // doing this twice so striped tabs styles don't override specific bg and color vals
    .tabs-striped-background('tabs-background-light', @light);
    .tabs-striped-background('tabs-background-stable', @stable);
    .tabs-striped-background('tabs-background-positive', @positive);
    .tabs-striped-background('tabs-background-calm', @calm);
    .tabs-striped-background('tabs-background-assertive', @assertive);
    .tabs-striped-background('tabs-background-balanced', @balanced);
    .tabs-striped-background('tabs-background-energized',@energized);
    .tabs-striped-background('tabs-background-royal', @royal);
    .tabs-striped-background('tabs-background-dark', @dark);

    .tabs-striped-color('tabs-color-light', @light);
    .tabs-striped-color('tabs-color-stable', @stable);
    .tabs-striped-color('tabs-color-positive', @positive);
    .tabs-striped-color('tabs-color-calm', @calm);
    .tabs-striped-color('tabs-color-assertive', @assertive);
    .tabs-striped-color('tabs-color-balanced', @balanced);
    .tabs-striped-color('tabs-color-energized',@energized);
    .tabs-striped-color('tabs-color-royal', @royal);
    .tabs-striped-color('tabs-color-dark', @dark);

}

.tabs-background('tabs-background-light', @light, @bar-light-border);
.tabs-background('tabs-background-stable', @stable, @bar-stable-border);
.tabs-background('tabs-background-positive', @positive, @bar-positive-border);
.tabs-background('tabs-background-calm', @calm, @bar-calm-border);
.tabs-background('tabs-background-assertive', @assertive, @bar-assertive-border);
.tabs-background('tabs-background-balanced', @balanced, @bar-balanced-border);
.tabs-background('tabs-background-energized',@energized, @bar-energized-border);
.tabs-background('tabs-background-royal', @royal, @bar-royal-border);
.tabs-background('tabs-background-dark', @dark, @bar-dark-border);

.tabs-color('tabs-color-light', @light);
.tabs-color('tabs-color-stable', @stable);
.tabs-color('tabs-color-positive', @positive);
.tabs-color('tabs-color-calm', @calm);
.tabs-color('tabs-color-assertive', @assertive);
.tabs-color('tabs-color-balanced', @balanced);
.tabs-color('tabs-color-energized',@energized);
.tabs-color('tabs-color-royal', @royal);
.tabs-color('tabs-color-dark', @dark);


ion-tabs {
    .tabs-standard-color('tabs-color-active-light', @light, @dark);
    .tabs-standard-color('tabs-color-active-stable', @stable, @dark);
    .tabs-standard-color('tabs-color-active-positive', @positive, @dark);
    .tabs-standard-color('tabs-color-active-calm', @calm, @dark);
    .tabs-standard-color('tabs-color-active-assertive', @assertive, @dark);
    .tabs-standard-color('tabs-color-active-balanced', @balanced, @dark);
    .tabs-standard-color('tabs-color-active-energized',@energized, @dark);
    .tabs-standard-color('tabs-color-active-royal', @royal, @dark);
    .tabs-standard-color('tabs-color-active-dark', @dark, @light);
}

.tabs-top {
    &.tabs-striped {
        padding-bottom:0;
        .tab-item{
            background: transparent;
            // animate the top bar, leave bottom for platform consistency
            .transition(color, 0.1s, ease);
            &.tab-item-active,
            &.active,
            &.activated {
                margin-top: @tabs-striped-border-width - 1px;
                border-width: 0px 0px @tabs-striped-border-width 0px !important;
                border-style: solid;
                > .badge, > i{
                    margin-top: -@tabs-striped-border-width + 1px;
                }
            }
            .badge{
                .transition(color, 0.2s, ease);
            }
        }
    }
}

/* Allow parent element to have tabs-top */
/* If you change this, change platform.scss as well */
.tabs-top > .tabs,
.tabs.tabs-top {
    top: @bar-height;
    padding-top: 0;
    background-position: bottom;
    border-top-width: 0;
    border-bottom-width: 1px;
    .tab-item {
        &.tab-item-active,
        &.active,
        &.activated {
            .badge {
                top: 4%;
            }
        }
    }
}
.tabs-top ~ .bar-header {
    border-bottom-width: 0;
}

.tab-item {
    flex: 1;
    display: block;
    overflow: hidden;

    max-width: @tab-item-max-width;
    height: 100%;

    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-weight: 400;
    font-size: @tabs-text-font-size;
    font-family: @font-family-sans-serif;

    opacity: 0.7;

    &:hover {
        cursor: pointer;
    }
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &.tab-hidden{
        display:none;
    }
}

.tabs-item-hide > .tabs,
.tabs.tabs-item-hide {
    display: none;
}

.tabs-icon-top > .tabs .tab-item,
.tabs-icon-top.tabs .tab-item,
.tabs-icon-bottom > .tabs .tab-item,
.tabs-icon-bottom.tabs .tab-item {
    font-size: @tabs-text-font-size-side-icon;
    line-height: @tabs-text-font-size;
}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: @tabs-icon-size;
    font-size: @tabs-icon-size;
}

.tabs-icon-left.tabs .tab-item,
.tabs-icon-left > .tabs .tab-item,
.tabs-icon-right.tabs .tab-item,
.tabs-icon-right > .tabs .tab-item {
    font-size: @tabs-text-font-size-side-icon;

    .icon {
        display: inline-block;
        vertical-align: top;
        margin-top: -.1em;

        &:before {
            font-size: @tabs-icon-size - 8;
            line-height: @tabs-height;
        }
    }
}

.tabs-icon-left > .tabs .tab-item .icon,
.tabs-icon-left.tabs .tab-item .icon {
    padding-right: 3px;
}

.tabs-icon-right > .tabs .tab-item .icon,
.tabs-icon-right.tabs .tab-item .icon {
    padding-left: 3px;
}

.tabs-icon-only > .tabs .icon,
.tabs-icon-only.tabs .icon {
    line-height: inherit;
}


.tab-item.has-badge {
    position: relative;
}

.tab-item .badge {
    position: absolute;
    top: 4%;
    right: 33%; // fallback
    right: calc(50% - 26px);
    padding: @tabs-badge-padding;
    height: auto;
    font-size: @tabs-badge-font-size;
    line-height: @tabs-badge-font-size + 4;
}


/* Navigational tab */

/* Active state for tab */
.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    opacity: 1;

    &.tab-item-primary {
        color: @primary;
    }
    &.tab-item-secondary {
        color: @secondary;
    }
    &.tab-item-light {
        color: @light;
    }
    &.tab-item-stable {
        color: @stable;
    }
    &.tab-item-positive {
        color: @positive;
    }
    &.tab-item-calm {
        color: @calm;
    }
    &.tab-item-assertive {
        color: @assertive;
    }
    &.tab-item-balanced {
        color: @balanced;
    }
    &.tab-item-energized {
        color: @energized;
    }
    &.tab-item-royal {
        color: @royal;
    }
    &.tab-item-dark {
        color: @dark;
    }
}

.item.tabs {
    display: flex;
    padding: 0;

    .icon:before {
        position: relative;
    }
}

.tab-item.disabled,
.tab-item[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}
