
/**
 * Utility Classes
 * --------------------------------------------------
 */

.hide {
    display: none;
}
.opacity-hide {
    opacity: 0;
}
.grade-b .opacity-hide,
.grade-c .opacity-hide {
    opacity: 1;
    display: none;
}
.show {
    display: block;
}
.opacity-show {
    opacity: 1;
}
.invisible {
    visibility: hidden;
}

.bw {
    word-wrap: break-word;
    white-space: normal;
}

.bold {
    font-family: @fontTitleBold;
}
.hline {
    border-bottom: 1px solid lighten(@bgColor2, 55%);
    display: inline-block;
    position: relative;
    top: -10px;
    width: 65px;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.font-xs {
    font-size: 0.5em;
}
.font-s {
    font-size: 0.8em;
}
.font-m {
    font-size: 1em;
}
.font-l {
    font-size: 1.5em;
}
.font-x {
    font-size: 2em;
}
.pt-s {
    padding-top: 1em;
}
.pt-m {
    padding-top: 2em;
}
.pt-l {
    padding-top: 3em;
}
.pt-x {
    padding-top: 4em;
}
.pt-xl {
    padding-top: 5em;
}
.mt-s {
    margin-top: 1em;
}
.mb-s {
    margin-bottom: 1em;
}
.ml-s {
    margin-left: 1em;
}
.ml-m {
    margin-left: 2em;
}
.mr-s {
    margin-right: 1em;
}
.mr-m {
    margin-right: 2em;
}

.np {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.np-t {
    padding-top: 0;
}
.np-b {
    padding-bottom: 0;
}
.nm {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.nm-r {
    margin-right: 0;
}
.nm-b {
    margin-bottom: 0;
}

.text-uc {
    text-transform: uppercase;
}
.text-nt {
    text-transform: none;
}
.text-big {
    font-size: 30px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-justify {
    text-align: justify;
}
.text-wrap {
    overflow: visible;
    white-space: normal;
}
.block-center {
  margin: 0 auto;
  position: relative;
}
.hyphens {
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

.keyboard-open .hide-on-keyboard-open {
    display: none;
}

.keyboard-open .tabs.hide-on-keyboard-open + .pane .has-tabs,
.keyboard-open .bar-footer.hide-on-keyboard-open + .pane .has-footer {
    bottom: 0;
}

.inline {
    display: inline-block;
}

.disable-pointer-events {
    pointer-events: none;
}

.enable-pointer-events {
    pointer-events: auto;
}

.disable-user-behavior {
    // used to prevent the browser from doing its native behavior. this doesnt
    // prevent the scrolling, but cancels the contextmenu, tap highlighting, etc

    user-select: none;
    -webkit-touch-callout: none;
    .tap-highlight-transparent();

    -webkit-user-drag: none;

    -ms-touch-action: none;
    -ms-content-zooming: none;
}

// Fill the screen to block clicks (a better pointer-events: none) for the body
// to avoid full-page reflows and paints which can cause flickers
.click-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: @z-index-click-block;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}
.click-block-hide {
    transform: translate3d(-9999px, 0, 0);
}

.no-resize {
    resize: none;
}

.block {
    display: block;
    clear: both;
    &:after {
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        content: ".";
    }
}

.full-image {
    width: 100%;
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

/**
 * Content Padding
 * --------------------------------------------------
 */

.padding {
    padding: @content-padding;
}

.padding-top,
.padding-vertical {
    padding-top: @content-padding;
}

.padding-right,
.padding-horizontal {
    padding-right: @content-padding;
}

.padding-bottom,
.padding-vertical {
    padding-bottom: @content-padding;
}

.padding-left,
.padding-horizontal {
    padding-left: @content-padding;
}


/**
 * Scrollable iFrames
 * --------------------------------------------------
 */

.iframe-wrapper {
    position: fixed;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;

    iframe {
        height: 100%;
        width: 100%;
    }
}


/**
 * Rounded
 * --------------------------------------------------
 */

.rounded {
    .bordered(@border-radius-base);
}


/**
 * Utility Colors
 * --------------------------------------------------
 * Utility colors are added to help set a naming convention. You'll
 * notice we purposely do not use words like "red" or "blue", but
 * instead have colors which represent an emotion or generic theme.
 */
.primary, a.primary {
    color: @primary;
}
.primary-bg {
    background-color: @primary;
}
.primary-border {
    border-color: @button-primary-border;
}

.secondary, a.secondary {
    color: @secondary;
}
.secondary-bg {
    background-color: @secondary;
}
.secondary-border {
    border-color: @button-secondary-border;
}

.light, a.light {
    color: @light;
}
.light-bg {
    background-color: @light;
}
.light-border {
    border-color: @button-light-border;
}

.stable, a.stable {
    color: @stable;
}
.stable-bg {
    background-color: @stable;
}
.stable-border {
    border-color: @button-stable-border;
}

.positive, a.positive {
    color: @positive;
}
.positive-bg {
    background-color: @positive;
}
.positive-border {
    border-color: @button-positive-border;
}

.calm, a.calm {
    color: @calm;
}
.calm-bg {
    background-color: @calm;
}
.calm-border {
    border-color: @button-calm-border;
}

.assertive, a.assertive {
    color: @assertive;
}
.assertive-bg {
    background-color: @assertive;
}
.assertive-border {
    border-color: @button-assertive-border;
}

.balanced, a.balanced {
    color: @balanced;
}
.balanced-bg {
    background-color: @balanced;
}
.balanced-border {
    border-color: @button-balanced-border;
}

.energized, a.energized {
    color: @energized;
}
.energized-bg {
    background-color: @energized;
}
.energized-border {
    border-color: @button-energized-border;
}

.royal, a.royal {
    color: @royal;
}
.royal-bg {
    background-color: @royal;
}
.royal-border {
    border-color: @button-royal-border;
}

.dark, a.dark {
    color: @dark;
}
.dark-bg {
    background-color: @dark;
}
.dark-border {
    border-color: @button-dark-border;
}


[cps-repeat] {
    /* Position is set by transforms */
    left: 0 !important;
    top: 0 !important;
    position: absolute !important;
    z-index: 1;
}
.cps-repeat-container {
    position: relative;
    z-index: 1; //make sure it's above the after-container
}
.cps-repeat-after-container {
    z-index: 0;
    display: block;

    /* when scrolling horizontally, make sure the after container doesn't take up 100% width */
    &.horizontal {
        display: inline-block;
    }
}

// ng-show fix for windows phone
// https://www.hoessl.eu/2014/12/on-using-the-ionic-framework-for-windows-phone-8-1-apps/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
.x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
                 display: none !important;
             }
