<form autocomplete="off" method="post" name="balanceRechargeForm" id="balanceRechargeForm" class="list list-inset"
      ng-submit="balanceRechargeForm.$valid && balance.recharge()" cps-form-success="balance.formSuccess" cps-clean-data="true" novalidate>

  <label class="item item-input cps-validated" for="addBalance">
    <input type="tel" name="rechargeAmountInput" locale-id="amount" id="rechargeAmountInput" placeholder="Amount"
           cps-format="0,0" ng-minlength="3" ng-maxlength="30" ng-model="balance.dataRecharge.value" required/>
  </label>

  <input type="submit" value="Recharge" locale-id="recharge" id="btnRechargeBalance" class="button button-block button-primary" cps-is-hold/>

  <div ng-transclude>
    <!-- Aditional content -->
  </div>
</form>
