<form autocomplete="off" method="post" name="balanceTransferForm" id="balanceTransferForm" class="list list-inset"
      ng-submit="balanceTransferForm.$valid && balance.transfer()" cps-form-success="balance.formSuccess" cps-clean-data="true" novalidate>

  <div class="ui-field-contain">

    <label class="item item-input cps-validated" for="transferPassInput" >
      <input type="password" locale-id="password" name="transferPassInput" id="transferPassInput" placeholder="Your Password" ng-minlength="3" ng-maxlength="30"
             ng-model="balance.dataTransfer.repass" required/>
    </label>

    <label class="item item-input cps-validated" for="transferCUInput">
      <input type="number" cps-format="0:string" locale-id="transferToInput" name="transferToInput" id="transferToInput" placeholder="CU" ng-minlength="3" ng-maxlength="10"
             ng-model="balance.dataTransfer.to_identifier" required/>
    </label>

    <label class="item item-input cps-validated" for="transferReCUInput">
      <input type="number" cps-format="0:string" locale-id="transferToInputRe" name="transferToInputRe" id="transferToInputRe" placeholder="Repeat CU" ng-minlength="3" ng-maxlength="10"
             ng-model="repeatTo_identifier" cps-match="balance.dataTransfer.to_identifier" required/>
    </label>
    <div class="item-input-message" ng-if="balanceTransferForm.transferToInputRe.$dirty && balanceTransferForm.transferToInputRe.$error.cpsMatch">
      <span class="ng-message" locale-id="transferToInputRe-cpsMatch">Not macth</span>
    </div>

    <label class="item item-input cps-validated" for="transferAmountInput">
      <input type="tel" name="transferAmountInput" locale-id="amountTransfer" locale-fallback="amount" id="transferAmountInput" placeholder="Amount"
             cps-format="0,0" ng-minlength="2" ng-maxlength="10" ng-model="balance.dataTransfer.amount" required/>
    </label>

    <button type="submit" locale-id="transferBalance" id="btnTransferBalance" class="button button-block button-primary" cps-is-hold>
      Transfer Balance
    </button>
  </div>
</form>
