<div style="booking-detail">
    <p class="bold text-center">{{'bookingDetailDescription'|cpsGetLocale}}</p>

    <div class="barcode block-center">
        <canvas id="barcode">

        </canvas>
    </div>
</div>
