<div ng-switch="parking.step">
    <cps-content ng-switch-when="1">
        <form autocomplete="off" method="post" name="bookingForm" id="bookingForm" class="list list-inset"
              ng-submit="bookingForm.$valid && nextStep()" cps-form-success="parking.formSuccess" cps-clean-data="true" novalidate>

            <div ng-init="parking.getVehicles({background: true})">
                <div class="item text-center">
                    <i class="icon ion-flag" ></i>
                    {{zoneData.name}}
                </div>
                <label class="item item-input item-select cps-validated" for="parkingBookingPlate">
                    <div class="input-label" locale-id="plate">
                        Plate
                    </div>
                    <cps-user-vehicles ng-model="parking.vehicleData.plate" name="parkingBookingPlate" fetch="true" ng-change="parking.priceBooking(zonePrice)" required>
                    </cps-user-vehicles>
                </label>
                <div class="item" ng-if="parking.vehicleData.vehicleBrand">
                    <i class="icon" ng-class="{0: 'ion-car', 1: 'ion-car', 2: 'ion-moto', 3: 'ion-bike' }[parking.vehicleData.type || 0]"></i>
                    {{parking.vehicleData.vehicleBrand.vBrandName}}
                </div>
                <div class="item" ng-if="parking.vehicleData.description">
                    <span class="item-note" locale-id="vehicleDescription">
                        Brand and Color
                    </span>
                    {{parking.vehicleData.description}}
                </div>

                <p class="text-center padding nm row">
                    <span class="hline col col-center">&nbsp;</span>
                    <span class="bold col-text" locale-id="bookingDate">Date of Booking</span>
                    <span class="hline col col-center">&nbsp;</span>
                </p>

                <div class="row item-group">
                    <div class="col">
                        <label class="item item-input item-select cps-validated" for="bookingStartDay">
                            <div class="input-label" locale-id="day">
                                Day
                            </div>
                            <cps-dates date-type="days" date-element="select" ng-model="parking.bookingData.date_service.day"
                                       ng-change="parking.priceBooking(zonePrice)" name="bookingStartDay" required>
                            </cps-dates>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input item-select cps-validated" for="bookingStartMonth">
                            <div class="input-label" locale-id="month">
                                Month
                            </div>
                            <cps-dates date-type="months" date-element="select"  ng-model="parking.bookingData.date_service.month"
                                       ng-change="parking.priceBooking(zonePrice)" name="bookingStartMonth" required>
                            </cps-dates>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input item-select cps-validated" for="bookingStartHour">
                            <div class="input-label" locale-id="hour">
                                Hour
                            </div>
                            <cps-dates date-type="hour" date-element="select" ng-model="parking.bookingData.date_service.hour"
                                       ng-change="parking.priceBooking(zonePrice)" name="bookingStartHour" required>
                            </cps-dates>
                        </label>
                    </div>
                </div>
                <div class="item">
                    {{parking.bookingData.date_end_service | cpsDateFormat:'DD MMM YYYY h:mm a'}}
                    <span class="item-note" locale-id="bookingEndDate">
                        End date
                    </span>
                </div>

                <p class="text-center padding nm row">
                    <span class="hline col col-center">&nbsp;</span>
                    <span class="bold col-text" locale-id="bookingTotalPrice">Total Price</span>
                    <span class="hline col col-center">&nbsp;</span>
                </p>

                <div class="item">
                    <span class="primary">{{parking.bookingData.fee | cpsFormat}}</span>
                    <span class="item-note" locale-id="bookingPriceDiscount">
                        Discount
                    </span>
                </div>

                <div class="padding">
                    <i class="icon ion-information-circled primary"></i>
                    <span locale-id="parkingBookingInfo" locale-args="{{zoneData | cpsLodash:'pick':['schedule']}}" class="dark">Booking info</span>
                </div>

            </div>

        </form>
    </cps-content>

    <cps-content ng-switch-when="2">
        <cps-payment-methods next-fn="parking.paymentNext" on-method="bookingConfirm($method)" on-change="paymentChage($method)">
            <!-- Steps Methods -->
        </cps-payment-methods>
    </cps-content>

    <cps-footer>
        <button type="submit" locale-id="next" form="bookingForm" ng-switch-when="1"
                class="button button-block button-primary" cps-hold="true">
            Next
        </button>

        <button hm-tap="paymentChage({isNext: true}, $event)" locale-id="next" ng-if="parking.step == 2 && !isLastStep"
                class="button button-block button-primary" cps-hold="true">
            Next
        </button>

        <button hm-tap="paymentChage({isNext: true}, $event)" locale-id="parkingBookingBtn" ng-if="parking.step == 2 && isLastStep"
                class="button button-block button-secondary" cps-hold="true">
            Booking
        </button>

    </cps-footer>
</div>
