<cps-content padding="true" class="driver">
  <h4 locale-id="driverLegalsTitle">Terms and conditions</h4>
  <p class="hyphens text-justify" ng-bind-html="driver.agreements | cpsGetLocale">
    <!-- Text -->
  </p>
  <button hm-tap="legalsAgree()" locale-id="agree" class="button button-block button-primary">I agree</button>
</cps-content>
