<p locale-id="driverConfirmDescription">Before requesting read service rates</p>

<ul class="list list-bullet">
  <li class="item item-text-wrap">
    <h2>
      <span locale-id="stopPrice">
        Additional stop
      </span>:
    </h2>
    <p>{{driver.rates.stopFormat}}</p>
  </li>
  <li class="item item-text-wrap">
    <h2>
      <span locale-id="ruralPrice">
        Service within city
      </span>:
    </h2>
    <p>{{driver.rates.ruralFormat}}</p>
  </li>
  <li class="item item-text-wrap">
    <h2>
      <span locale-id="cityPrice">
        Service surrounding villages
      </span>:
    </h2>
    <p>{{driver.rates.cityFormat}}</p>
  </li>
</ul>
