<div class="help-header">
  <img src="static/images/logo-app_big.png" alt="CPS" />
</div>
<cps-slide options="data.sliderOpt" slider="data.slider">
  <cps-slide-page>
    <div class="box">
      <i class="icon-slide icon-slide1"></i>
      <div class="content">
        <h3 class="title" locale-id="helpTitleSlide1">...</h3>
        <p locale-id="helpTextSlide1"></p>
      </div>
    </div>
  </cps-slide-page>
  <cps-slide-page>
    <div class="box">
      <i class="icon-slide icon-slide2"></i>
      <div class="content">
        <h3 class="title" locale-id="helpTitleSlide2">...</h3>
        <p locale-id="helpTextSlide2"></p>
      </div>
    </div>
  </cps-slide-page>
  <cps-slide-page>
    <div class="box">
      <i class="icon-slide icon-slide3"></i>
      <div class="content">
        <h3 class="title" locale-id="helpTitleSlide3">...</h3>
        <p locale-id="helpTextSlide3"></p>
      </div>
    </div>
  </cps-slide-page>
</cps-slide>
<div ng-switch="loginButtons">
  <button ng-switch-when="true" class="button button-small button-secondary button-help-close icon-right ion-chevron-right"
          hm-tap="hideModal()" locale-id="jump">
    Jump
  </button>
  <button ng-switch-default class="button button-small button-secondary button-help-close icon-right ion-chevron-right"
          hm-tap="hideModal()" locale-id="close">
    Close
  </button>
</div>
