<form autocomplete="off" method="post" name="changeLocaleForm" id="changeLocaleForm" class="list list-inset" novalidate>

  <label for="changeLocale" class="item item-input item-select cps-validated">
    <div class="input-label" locale-id="language">
      Language
    </div>
    <cps-setlocale name="changeLocale" cps-omit-clean="true">
      <!-- select inject -->
    </cps-setlocale>
  </label>

  <input type="submit" locale-id="save" value="Save" id="btnTransferBalance" class="button button-block button-positive"/>

</form>
