<div id="{{::container}}">

  <div class="maps-inside" data-clickable='false' ng-transclude>
    <!-- custom content -->
  </div>

  <div class="cps-maps-background maps-background" id="{{::container}}-fallback" data-tap-disabled="true">
  </div>
</div>
