<cps-content delegate-handle="notifyTray">
  <div class="list">

    <a class="item item-icon-left item-{{notifyTray.data.notifyData.status}}" ng-repeat="notifyTray in userNotify | orderBy:'-data.notifyData.datereg' as date track by notifyTray.id"
       ng-click="notify.onClick(notifyTray)">
        <i class="icon icon-small ion-notify ion-{{notifyTray.data.notifyData.op | cpsLodash:'kebabCase'}} notify-{{notifyTray.data.notifyData.op | cpsLodash:'kebabCase'}}"></i>
        <span class="item-text-wrap">
            <h3 locale-id="{{notifyTray.data.notifyData.locale_id || notifyTray.data.localeId}}Tray" locale-args="{{notifyTray.data.notifyData.payload || notifyTray.data.notifyData.full_data | cpsFlatObject:{currency: ['amount']} }}">
                {{notifyTray.title}}
            </h3>
        </span>
        <span class="item-note font-s">
            {{notifyTray.data.dateFormat || notifyTray.data.notifyData.date_format || notifyTray.data.notifyData.date_notify || notifyTray.data.notifyData.date}}
        </span>
    </a>

    <div class="item item-icon-left" ng-hide="userNotify.length">
      <p locale-id="notifyTrayEmpty">Nothing here</p>
    </div>
  </div>
</cps-content>
