<form autocomplete="off" method="post" name="parkForm" id="parkForm" class="list list-inset"
      ng-submit="parkForm.$valid && parking.startPark()" cps-form-success="parking.formSuccess" cps-clean-data="true" novalidate>

  <div class="text-center" ng-init="parking.getVehicles({background: true})">
    <label ng-if="parking.hasVehicles()" class="item item-input item-select cps-validated" for="parkPlateInput">
      <div class="input-label" locale-id="plate">
        Plate
      </div>
      <cps-user-vehicles ng-model="parking.startData.plate" name="parkPlateInput" id="parkPlateInput" required>
      </cps-user-vehicles>
    </label>
    <label ng-if="!parking.hasVehicles()" class="item item-input cps-validated" for="parkPlateInput">
      <input type="text" locale-id="plate" name="parkPlateInput" id="parkPlateInput" placeholder="Plate"
             ng-minlength="1" ng-maxlength="10" ng-model="parking.startData.plate" required/>
    </label>
    <label class="item item-input cps-validated" for="parkSpaceInput">
      <input type="number" locale-id="parkingSpace" name="parkSpaceInput" id="parkSpaceInput" placeholder="Space"
             ng-minlength="1" ng-maxlength="10" ng-model="parking.startData.idp" required/>
    </label>

    <button type="submit" locale-id="park" id="btnParkForm" class="button button-block button-primary" cps-hold>
      Park
    </button>
  </div>

</form>
