<div ng-switch="paymentez.hasCards()" ng-init="paymentez.init()">

  <div ng-switch-default>
    <a class="button button-block button-primary" hm-tap="paymentez.addCard()" locale-id="addCard">
      Add Card
    </a>
  </div>

  <div ng-switch-when="true">
    <form autocomplete="off" method="post" name="paymentezRechargeForm" id="paymentezRechargeForm" class="list list-inset"
          ng-submit="paymentezRechargeForm.$valid && paymentez.recharge()" cps-form-success="paymentez.formSuccess" cps-clean-data="true" novalidate>

      <div class="text-center">
        <label class="item item-input cps-validated" for="rechargeAmountInput">
          <input type="tel" name="rechargeAmountInput" locale-id="amount" id="rechargeAmountInput" placeholder="Amount"
                 cps-format="0,0" ng-minlength="3" ng-maxlength="30" ng-model="paymentez.debitData.amount" required/>
        </label>

        <input type="submit" value="Recharge" locale-id="recharge" id="btnRechargePaymentez" class="button button-block button-primary" cps-hold/>

      </div>
    </form>
  </div>

</div>
