<div class="list" ng-init="pay = payment.dataCodeConfirm">

  <div class="item item-divider" locale-id="information">
    Información:
  </div>
  <div class="item">
    <h2 locale-id="opCodeMin">Cod. Operation</h2>
    <p>{{pay.place}}</p>
  </div>
  <div class="item">
    <h2 locale-id="payCodeMin">Cod. Pay</h2>
    <p>{{pay.id}}</p>
  </div>
  <div class="item" ng-switch="pay.type">
    <h2 locale-id="paymentDetail">Detail</h2>
    <p ng-switch-when="services" locale-id="paymentDetailServices">{{pay.type}}</p>
    <p ng-switch-when="parking" locale-id="paymentDetailParking">{{pay.type}}</p>
    <p ng-switch-default locale-id="paymentDetailOther">{{pay.type}}</p>
  </div>
  <div class="item" ng-if="pay.initDate != pay.endDate">
    <h2 locale-id="start">Start</h2>
    <p>{{pay.initDate | cpsDateFormat:'DD/MMM/YYYY h:mm a'}}</p>
  </div>
  <div class="item" ng-if="pay.endDate != pay.initDate">
    <h2 locale-id="end">End</h2>
    <p>{{pay.endDate | cpsDateFormat:'DD/MMM/YYYY h:mm a'}}</p>
  </div>

  <div class="item">
    <h2 locale-id="value">Value</h2>
    <p>${{pay.minAmount}}</p>
  </div>
</div>
