<form autocomplete="off" method="post" name="paymentCodeForm" id="paymentCodeForm" class="list list-inset"
      ng-submit="paymentCodeForm.$valid && payment.paymentCode(paymentCodeDialog)" cps-form-success="payment.formSuccess" cps-clean-data="true" novalidate>

  <div class="text-center">
    <label class="item item-input cps-validated" for="codeOpInput">
      <input type="number" locale-id="paymentOpCode" name="codeOpInput" id="codeOpInput" placeholder="Operation Code"
             ng-minlength="1" ng-maxlength="10" ng-model="payment.dataCode.opcode" required/>
    </label>
    <label class="item item-input cps-validated" for="codePayInput">
      <input type="number" locale-id="paymentPayCode" name="codePayInput" id="codePayInput" placeholder="Payment Code"
             ng-minlength="1" ng-maxlength="10" ng-model="payment.dataCode.paycode" required/>
    </label>

    <input type="submit" value="Submit" locale-id="submit" id="btnPaymentCode" class="button button-block button-primary" cps-hold/>
  </div>

  <div class="padding">
    <i class="icon ion-information-circled primary"></i>
    <span locale-id="paymentCodeInfo" class="dark">Payment info</span>
  </div>

</form>
