<div class="list">

  <label class="item item-radio" ng-repeat="method in payment.methods()">
    <div ng-init="payment.onInitMethod(method)">
      <input type="radio" name="group" ng-value="method" ng-model="payment.dataMethod">
      <div class="item-content">
        <h2 locale-id="{{method.locale || method.name}}">{{method.name}}</h2>
        <p ng-if="method.hasBalance(method)">
          <span locale-id="balance">Balance</span>:
          <cps-spinner processing="!method.data.balance && method.data.balance != 0" icon="dots"></cps-spinner>
          <span ng-if="method.data.balance >= 0" cps-format=":currency" cps-format-value="{{method.data.balance}}"></span>
        </p>
        <p ng-if="method.data.info">
          <span locale-id="{{method.locale || method.name}}Info">Info</span>:
          <span>{{method.data.info.length}}</span>
        </p>
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>

</div>
