<!-- Register -->
<cps-content>
  <cps-page id="adminbalancePage" class="adminBalancePage" data-parent-section="admin">

    <cps-admin-balance-form>
      <!-- balanceForm-->
    </cps-admin-balance-form>

  </cps-page>
</cps-content>
<!-- End register -->
