<!-- Pass recovery -->
<cps-content>
  <!-- Recovery page pass -->
  <cps-page id="resetPasswordPage" class="resetPasswordPage">

    <!-- Remember password  -->
    <cps-passrecovery-form>
      <!-- recoverypassForm -->
    </cps-passrecovery-form>
    <!-- End Remember password-->

  </cps-page>
  <!-- End Pass recovery -->
</cps-content>
