<!-- Payment -->
<cps-content>
  <cps-page id="paymentCodePage" class="paymentCodePage padding">

    <cps-payment-code-form>
      <!-- payment section here -->
    </cps-payment-code-form>

  </cps-page>
</cps-content>
<!-- End Payment -->
