<!-- History -->
<cps-content>
  <cps-page id="historicPage" class="historicPage">

    <cps-payment-history>
      <!-- list history here -->
    </cps-payment-history>

  </cps-page>
</cps-content>
<!-- End History -->
