<!-- Register -->
<cps-content>
  <cps-page id="registerPage" class="registerPage">

    <cps-register-form>
      <!-- registerForm -->
    </cps-register-form>

  </cps-page>
</cps-content>
<!-- End register -->
