<!-- Vehicles -->
<cps-content>
  <cps-page id="vehiclesPage" class="vehiclesPage padding">

    <cps-vehicles>
      <!-- vehicles section here -->
    </cps-vehicles>

  </cps-page>
</cps-content>
<!-- End Vehicles -->
