<!-- Zones -->
<cps-content scroll="false">
  <!-- Zones seacrh Page -->
  <cps-page id="zonesPage" class="zonesPage" section="zones">

    <div>
      <cps-maps container="generalMaps" cps-full-height>
        <!-- Maps here -->
        <div class="row controls-inside">
          <div class="col" cps-module="cpsDriver" cps-controller="DriverController as driver" module-fallback="invisible">
            <button hm-tap="driver.controls('show')" class="nm icon button button-primary cityicon-driver">
              <span locale-id="driver" class="hide">Driver</span>
            </button>
          </div>
          <div class="col">
            <button cps-modal-control="modalZonesList|show" class="nm icon button button-primary cityicon-list">
              <span locale-id="zonesList" class="hide">Zones List</span>
            </button>
          </div>
          <div class="col">
            <button hm-tap="zones.zonesByPosition()" class="nm icon button button-primary cityicon-geo">
              <span locale-id="geolocation" class="hide">Geolocation</span>
            </button>
          </div>
        </div>
      </cps-maps>

    </div>
    <!-- End Zones search Page -->
  </cps-page>
</cps-content>
<!-- End Zones -->


<!-- <cps-modal id="modalZonesList" modal-close-btn="true" modal-title="zones" on-close="onClose()" on-show="zones.zonesInit({onlyList: true})"> -->
<cps-modal id="modalZonesList" modal-title="zones" close-btn="true" action-btn="zones.filter()" on-close="zones.refresh()">
  <label class="item item-input item-select">
    <div class="input-label" locale-id="city">
      City
    </div>
    <select ng-model="zones.dataZonesCity.idcity" name="zonesCity" ng-change="zones.changeCity()">
      <option ng-repeat="city in zones.cities" label="{{city.name}}">{{city.idcity}}</option>
    </select>
  </label>

  <cps-content relative="true" delegate-handle="zonesList">
    <ul class="list">

      <li class="item item-button-right" ng-click="zones.byCityMap()" locale-id="zonesViewAll">
        View all
        <button class="button button-secondary">
          <i class="icon ion-map"></i>
        </button>
      </li>
      <li class="item item-icon-right" ng-repeat="zone in zones.zonesList" ng-click="zones.zonesByPoint($index)">
        {{zone.name}}
        <span ng-if="zone.places">
          <i ng-show="!zone.online" class="icon ion-no-phone"></i>
          <span ng-show="zone.online">
            <i ng-show="!zone.paymentAvailable" class="icon ion-no-phone"></i>
            <span ng-show="zone.paymentAvailable" class="badge badge-light" ng-class="{'badge-no-icon': zone.paymentAvailable}">{{zone.places}}</span>
          </span>
        </span>
      </li>
    </ul>
  </cps-content>
</cps-modal>
