<div ng-switch="driver.step">

  <cps-content ng-switch-when="1" >
    <cps-driver-form button-disabled="false">
      <!-- service form -->
    </cps-driver-form>
  </cps-content>

  <cps-content ng-switch-when="2">
    <cps-driver-rates>
      <!-- rates -->
    </cps-driver-rates><!--
                            <form autocomplete="off" method="post" name="driverConfirmForm" id="driverConfirmForm" class="list pt-m"
                            ng-submit="driverConfirmForm.$valid && driver.nextStep()" novalidate>
                          -->
    <div class="list pt-m">
      <label class="item item-input item-select" for="driverStops">
        <div class="input-label" locale-id="stops">
          Stops
        </div>
        <select ng-model="driver.dataRequest.stops" name="driverStops"
                ng-options="stops for stops in [0,1,2,3,4,5,6,7,8,9,10]" required>
        </select>
      </label>

      <div class="item item-checkbox item-checkbox-small item-text-wrap">
        <label class="checkbox">
          <input ng-model="driver.dataRequest.legals" name="driverLegals" type="checkbox" required/>
        </label>
        <span locale-id="driverLegals">I accept terms and conditions</span>
      </div>
      <div class="padding item-link">
        <i class="icon ion-link primary"></i>
        <a hm-tap="driver.legalsDialog()" locale-id="driverLegalsView" class="primary">View terms and conditions</a>
      </div>
    </div>
    <!-- </form> -->
  </cps-content>

  <cps-content ng-switch-when="3">
    <cps-payment-methods next-fn="driver.paymentNext" on-method="driver.paymentStep($method)" on-change="driver.paymentChage($method)">
      <!-- Steps Methods -->
    </cps-payment-methods>
  </cps-content>


  <cps-footer>
    <button type="submit" locale-id="next" form="driverForm" ng-switch-when="1"
            class="button button-block button-primary" cps-hold="true">
      Next
    </button>

    <button hm-tap="driver.ratesStep()" locale-id="next" ng-switch-when="2"
            class="button button-block button-primary" cps-hold="true">
      Next
    </button>

    <button hm-tap="driver.paymentChage({isNext: true}, $event)" locale-id="request" ng-if="driver.step == 3 && isLastStep"
            class="button button-block button-secondary" cps-hold="true">
      Request
    </button>
    <button hm-tap="driver.paymentChage({isNext: true}, $event)" locale-id="next" ng-if="driver.step == 3 && !isLastStep"
            class="button button-block button-primary" cps-hold="true">
      Next
    </button>

  </cps-footer>

</div>
