<div class="driver-addresses-wrapper driver-addresses-transition-{{::addressesOpts.transition}}">
  <div class="bar bar-header bar-primary item-input-inset">
    <button hm-tap="driver.hide()" class="driver-addresses-cancel button button-icon icon {{::addressesOpts.buttons.cancel()}}"></button>
    <h1 class="title">
      {{title || "driver" | cpsGetLocale}}
    </h1>
  </div>
  <div class="list">
      <div class="item item-icon-left item-icon-right" ng-class="{'item-invalid': driver.position.origin.invalid}">
          <i class="icon ion-driver-orig secondary"></i>
          <cps-maps-places placeholder="{{'origin.placeholder' | cpsGetLocale:driver.position}}" predictions-options="driver.predictionsOpts"
                           current-location="true" on-close="driver.setOrigin()" ng-model="driver.position.origin" filter="driver.filterAddress"
                           ng-class="{'secondary': !driver.position.origin.formatted_address}">
          </cps-maps-places>
          <button hm-tap="driver.setAddress({withGeo: true})"  class="button button-primary icon ion-location">
          </button>
    </div>
    <div class="item item-icon-left" ng-class="{'item-invalid': driver.position.destination.invalid}">
        <i class="icon ion-driver-dest secondary"></i>
        <cps-maps-places placeholder="{{'destination.placeholder' | cpsGetLocale:driver.position}}" predictions-options="driver.predictionsOpts"
                         ng-model="driver.position.destination" on-close="driver.setDestination()" filter="driver.filterAddress"
                         ng-class="{'secondary': !driver.position.destination.formatted_address}">
        </cps-maps-places>
    </div>
  </div>

</div>
