<div ng-if="main.isMinRole()">
  <form autocomplete="off" method="post" name="feedbackForm" id="feedbackForm" class="list list-inset"
        ng-submit="feedbackForm.$valid && main.sendFeedback()" cps-form-success="main.formSuccess" cps-clean-data="true" novalidate>

    <label class="item item-input cps-validated" for="feedbackMsg">
      <textarea ng-model="main.dataFeedback.sug" name="feedbackMsg" id="feedbackMsg" rows="5" placeholder="Suggestion" locale-id="suggestion" required></textarea>
    </label>

    <input type="submit" locale-id="submit" value="Submit" id="sendFeedback" class="button button-block button-primary" cps-is-hold/>

  </form>
</div>
