<div class="list">
  <div class="item item-divider title text-center" locale-id="create">
    Create
  </div>
</div>

<form autocomplete="off" method="post" name="secondPassCreateForm" id="secondPassCreateForm" class="list list-inset"
      ng-submit="secondPassCreateForm.$valid && login.passSecond('create')" cps-form-success="login.formSuccess" cps-clean-data="true" novalidate>

  <label class="item item-input cps-validated" for="passCurrent">
    <input type="password" placeholder="Second Password" id="passSecond" name="passSecond" ng-minlength="4" ng-maxlength="4"
           cps-format="0" ng-pattern="/^[0-9]*$/" ng-model="login.secondPass.pass" locale-id="passwordSecond" required/>
  </label>

  <label class="item item-input cps-validated" for="passRepeat">
    <input type="password" placeholder="Repeat Password" id="passRepeat" name="passRepeat" ng-minlength="4" ng-maxlength="4"
           cps-format="0" ng-pattern="/^[0-9]*$/" ng-model="login.secondPass.rePass" locale-id="passwordRepeatSecond" cps-match="login.secondPass.pass" required/>
  </label>
  <input type="submit" locale-id="submit" value="Submit" id="btnSecondCreateSend" class="button button-block button-primary" cps-is-hold/>

  <div class="padding">
    <i class="icon ion-information-circled primary"></i>
    <span locale-id="passwordSecondInfo" class="dark">The second password must be only numbers</span>
  </div>
</form>
