<div class="list">
  <div class="item item-divider title text-center" locale-id="change">
    Change
  </div>
</div>

<form autocomplete="off" method="post" name="secondPassChangeForm" id="secondPassChangeForm" class="list list-inset"
      ng-submit="secondPassChangeForm.$valid && login.passSecond('change')" cps-form-success="login.formSuccess" cps-clean-data="true" novalidate>

  <label class="item item-input cps-validated" for="passSecond">
    <input type="password" placeholder="Second Password" id="passSecond" name="passSecond" ng-minlength="4" ng-maxlength="4"
           cps-format="0" ng-pattern="/^[0-9]*$/" ng-model="login.secondPass.pass" locale-id="passwordSecond" required/>
  </label>


  <label class="item item-input cps-validated" for="passNewSecond">
    <input type="password" placeholder="New second password" id="passNewSecond" name="passNewSecond" ng-minlength="4" ng-maxlength="4"
           cps-format="0" ng-pattern="/^[0-9]*$/" ng-model="login.secondPass.newPass" locale-id="passwordNewSecond" required/>
  </label>

  <label class="item item-input cps-validated" for="repassNewSecond">
    <input type="password" placeholder="Repeat new second password" id="repassNewSecond" name="repassNewSecond" ng-minlength="4" ng-maxlength="4"
           cps-format="0" ng-pattern="/^[0-9]*$/" ng-model="login.secondPass.newRePass" cps-match="login.secondPass.newPass" locale-id="passwordNewRepeatSecond" required/>
  </label>

  <input type="submit" locale-id="submit" value="Submit" id="btnSecondChangeSend" class="button button-block button-primary" cps-is-hold/>

  <div class="padding">
    <i class="icon ion-information-circled primary"></i>
    <span locale-id="passwordSecondInfo" class="dark">The second password must be only numbers</span>
  </div>
</form>
