<form autocomplete="off" method="post" name="changePassForm" id="changePassForm" class="list list-inset"
      ng-submit="changePassForm.$valid && login.passChange(data)" cps-form-success="login.formSuccess" cps-clean-data="true" novalidate>

  <label class="item item-input cps-validated" for="passCurrent">
    <input type="password" placeholder="Current Password" id="passCurrent" name="passCurrent" ng-minlength="2" ng-maxlength="45"
           ng-model="login.changePass.pass" locale-id="password" required/>
  </label>

  <label class="item item-input cps-validated" for="passNew">
    <input type="password" placeholder="New Password" id="passNew" name="passNew" ng-minlength="2" ng-maxlength="45"
           ng-model="login.changePass.newPass" locale-id="passwordNew" required/>
  </label>

  <label class="item item-input cps-validated" for="repassNew">
    <input type="password" placeholder="New Repat Password" id="repassNew" name="repassNew" ng-minlength="2" ng-maxlength="45"
           ng-model="login.changePass.newRePass" cps-match="login.changePass.newPass" locale-id="passwordNewRepeat" required/>
  </label>

  <input type="submit" locale-id="submit" value="Submit" id="btnLoginChangeSend" class="button button-block button-primary" cps-hold/>

</form>
