<form autocomplete="off" method="post" name="passRecoveryForm" id="passRecoveryForm" class="list list-inset"
      ng-submit="passRecoveryForm.$valid && login.passRecovery(passRecoveryDialog)" cps-form-clean="login.cleanForm" novalidate>

  <div class="ui-field-contain text-center">

    <label class="item item-input cps-validated" for="emailRecovery">
      <input type="email" placeholder="Email" id="emailRecovery" name="emailRecovery" ng-minlength="3" ng-maxlength="45"
             ng-model="login.recovery.email" locale-id="email" required/>
    </label>

    <input type="submit" locale-id="submit" value="Send" id="sendEmailRecovery" ng-disabled="login.isHold"
           class="button button-block button-primary"/>

  </div>

</form>
