<section ng-init="payment.initHistory()" class="list list-inset">

  <label class="item item-input">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" ng-model="payment.q" placeholder="Search" locale-id="search">
  </label>
  <div class="padding">
    <i class="icon ion-information-circled primary"></i>
    <span locale-id="paymentHistoryInfo" class="dark">History info</span>
  </div>
  <div class="row item item-divider">
    <div class="col" locale-id="description">Description</div>
    <div class="col col-33 text-right" locale-id="value">Value</div>
  </div>
  <div ng-repeat="history in payment.userHistory | orderBy:'datereg || date':true">
    <div class="row item item-text-wrap stable-bg secondary" ng-if="history.transactions.length">
      <div class="col" ng-bind="history.dateFormat"></div>
      <div class="col col-33 text-right" cps-format=":currency" cps-format-value="{{history.balance}}"></div>
    </div>
    <!--  -->
    <div class="row item item-text-wrap" ng-repeat="transaction in history.transactions | orderBy:'datereg || date':true | filter:payment.q as results track by transaction.datereg || transaction.date">
      <div class="col">
        <h2 ng-bind="transaction.hourFormat"></h2>
        <p locale-id="{{transaction.locale}}History" locale-fallback="{{transaction.operation + ' ' + transaction.type}}"></p>
        <p ng-if="transaction.branch">
          <span locale-id="zone">Branch</span>:
          <span>{{transaction.branch.name}}</span>
        </p>
        <p ng-if="transaction.pocket">
          <span locale-id="pocket">Pocket</span>:
          <!-- <span locale-id="pocket{{history.pocket.pocketType.idPocketType}}"></span> -->
          <span locale-key="name" locale-obj="{{transaction.pocket.Info.locales}}">
            {{transaction.pocket.name || transaction.pocket.description | cpsCapitalize}}
          </span>
        </p>
      </div>
      <div class="col col-33 text-right" ng-class="transaction.egress ? 'egress' : 'income'" ng-bind="transaction.amountFormat"></div>
    </div>
  </div>

  <div ng-if="payment.userHistory <= 0" class="row item">
    <span locale-id="notHaveHistory">Not have history</span>
  </div>
</section>
