<form autocomplete="off" method="post" name="profileForm" id="profileForm" class="list list-inset"
      ng-submit="profileForm.$valid && profile.sendProfile(userInfo)" ng-init="profile.initProfile()"
      cps-form-success="profile.formSuccess" cps-clean-data="false" novalidate>

  <fieldset class="fieldset-container" ng-disabled="profile.isDisabled">

    <div class="list row list-user-data nm">
      <div class="col item item-icon-left">
        <i class="button button-icon icon ion-ios-person primary"></i>
        <h2 locale-id="username">Username</h2>
        <p>{{profile.dataProfile.login}}</p>
      </div>
      <div class="col item item-icon-left">
        <i class="button button-icon icon ion-android-lock primary"></i>
        <h2 locale-id="cuFull">UC</h2>
        <p>{{profile.dataProfile.cu}}</p>
      </div>
    </div>

    <label class="item item-input cps-validated" for="profileName">
      <input type="text" placeholder="Name" locale-id="name" id="profileName" name="profileName" minlength="3" maxlength="30"
             ng-model="profile.dataProfile.name" required/>
    </label>

    <label class="item item-input cps-validated" for="profileLastName">
      <input type="text" placeholder="Last Name" locale-id="lastName" id="profileLastName" name="profileLastName" minlength="3" maxlength="30"
             ng-model="profile.dataProfile.lastName" required/>
    </label>

    <label class="item item-input cps-validated" for="profileMobile" cps-is-invalid="profile.phoneExist">
      <input type="tel" placeholder="Mobile" locale-id="mobile" id="profileMobile" name="profileMobile" minlength="{{profile.options.phoneMin}}"
             maxlength="{{profile.options.phoneMax}}" ng-pattern="profile.options.phonePattern"
             ng-model="profile.dataProfile.msisdn" required/>
    </label>
    <div class="item-input-message" ng-if="profile.phoneExist">
      <span class="ng-message" locale-id="profilePhoneExist">Phone Exist</span>
    </div>

    <label class="item item-input cps-validated" for="profileEmail" cps-is-invalid="profile.emailExist">
      <input type="email" placeholder="Email" locale-id="email" id="profileEmail" name="profileEmail" minlength="3" maxlength="30"
             ng-model="profile.dataProfile.email" required/>
    </label>
    <div class="item-input-message" ng-if="profile.emailExist">
      <span class="ng-message" locale-id="profileEmailExist">Email Exist</span>
    </div>

    <label class="item item-input cps-validated" for="profileAddress">
      <input type="text" placeholder="Address" locale-id="address" id="profileAddress" name="profileAddress" minlength="3" maxlength="30"
             ng-model="profile.dataProfile.address" required/>
    </label>
    <label class="item item-input item-select cps-validated" for="profileCountry">
      <div class="input-label" locale-id="country">
        Country
      </div>
      <select ng-model="profile.dataProfile.country" name="profileCountry"
              ng-options="+value.idcountry as value.name for (key, value) in profile.countries" ng-change="profile.getCities()" required>
      </select>
    </label>

    <label class="item item-input item-select cps-validated" for="profileCity">
      <div class="input-label" locale-id="city">
        City
      </div>
      <select ng-model="profile.dataProfile.city" name="profileCity"
              ng-options="value.idcity as value.name for (key, value) in profile.cities" required>
      </select>
    </label>

    <p class="profileDob c_gray text-center">
      <span class="hline">&nbsp;</span>
      <span class="bold dobtxt" locale-id="dateOfBirth">Date of Birth</span>
      <span class="hline">&nbsp;</span>
    </p>

    <div class="row item-group">
      <div class="col">
        <label class="item item-input item-select cps-validated" for="profileBDYear">
          <div class="input-label" locale-id="year">
            Year
          </div>
          <cps-dates date-type="years" date-element="select" ng-model="profile.dataProfile.bdyear" name="profileBDYear" required>
          </cps-dates>
        </label>
      </div>
      <div class="col">
        <label class="item item-input item-select cps-validated" for="profileBDMonth">
          <div class="input-label" locale-id="month">
            Month
          </div>
          <cps-dates date-type="months" date-element="select"  ng-model="profile.dataProfile.bdmonth" name="profileBDMonth" required>
          </cps-dates>
        </label>
      </div>
      <div class="col">
        <label class="item item-input item-select cps-validated" for="profileBDDay">
          <div class="input-label" locale-id="day">
            Day
          </div>
          <cps-dates date-type="days" date-element="select" ng-model="profile.dataProfile.bdday" name="profileBDDay" required>
          </cps-dates>
        </label>
      </div>
    </div>

  </fieldset>

  <a href="" locale-id="edit" id="btnEditProfile" class="button button-block button-primary"
     ng-click="profile.editProfile()" ng-show="profile.isDisabled">Edit</a>

  <div class="button-group" ng-switch="profile.options.alwaysEditable" ng-hide="profile.isDisabled">
    <input type="submit" locale-id="save" value="Save" id="btnSaveProfile" class="button button-block button-primary"
           ng-hide="profileForm.$pristine" cps-is-hold/>

    <a ng-switch-default locale-id="cancel" id="btnCancelProfile" class="button button-block button-primary"
       ng-click="profile.cancelEditProfile()" ng-hide="profileForm.$pristine">Cancel</a>

    <a ng-switch-when="true" locale-id="reset" id="btnCancelProfile" class="button button-block button-primary"
       ng-click="profile.cancelEditProfile()" ng-hide="profileForm.$pristine">Reset</a>
  </div>
</form>
