<form autocomplete="off" method="post" name="rechargePinForm" id="rechargePinForm" class="list list-inset"
      ng-submit="rechargePinForm.$valid && balance.rechargePin()" cps-form-success="balance.formSuccess" cps-clean-data="true" novalidate>

  <div class="padding info">
    <i class="icon ion-information-circled primary"></i>
    <span locale-id="rechargePinInfo" class="dark">Recharge info</span>
  </div>

  <label class="item item-input cps-validated" for="rechargePinInput">
    <input type="number" name="rechargePinInput" locale-id="pin" id="rechargePinInput" placeholder="PIN"
           ng-minlength="3" ng-maxlength="30" ng-model="balance.dataPin.pin" required/>
  </label>

  <button type="submit" locale-id="recharge" id="btnRechargePin" class="button button-block button-primary" cps-is-hold>
    Recharge
  </button>

  <div ng-transclude>
    <!-- Aditional content -->
  </div>
</form>
