<form autocomplete="off" method="post" name="registerForm" id="registerForm" class="list list-inset"
      ng-submit="registerForm.$valid && register.sendRegister(userInfo)" cps-form-success="register.formSuccess" cps-clean-data="true" ng-init="register.initRegister()" novalidate>

  <div class="ui-field-contain">

    <label for="registerLocale" class="item item-input item-select cps-validated">
      <div class="input-label" locale-id="language">
        Language
      </div>
      <cps-setlocale name="registerLocale" cps-omit-clean="true">
        <!-- select inject -->
      </cps-setlocale>
    </label>

    <span ng-switch="main.loginType.name">
      <label ng-switch-when="numeric" class="item item-input cps-validated" for="registerNid" cps-is-invalid="register.userExist">
        <input type="number" ng-pattern="main.loginType.regex" placeholder="Number ID" id="registerNid" name="registerNid"
               minlength="2" maxlength="45" ng-model="register.dataRegister.user" locale-id="nid" required/>
      </label>
      <label ng-switch-when="custom" class="item item-input cps-validated" for="registerLoginCustom" cps-is-invalid="register.userExist">
        <input type="text" ng-pattern="main.loginType.regex" placeholder="Username" id="registerLoginCustom" name="registerLoginCustom"
               minlength="2" maxlength="45" ng-model="register.dataRegister.user" locale-id="username" required/>
      </label>
      <label ng-switch-default class="item item-input cps-validated" for="registerUsername" cps-is-invalid="register.userExist">
        <input type="text" ng-pattern="main.loginType.regex" placeholder="Username" id="registerUsername" name="registerUsername"
               minlength="2" maxlength="45" ng-model="register.dataRegister.user" locale-id="username" required/>
      </label>
      <div class="item-input-message" ng-if="register.userExist">
        <span class="ng-message" locale-id="registerUserExist">User Exist</span>
      </div>
    </span>

    <label class="item item-input cps-validated" for="registerName">
      <input type="text" placeholder="Name" id="registerName" name="registerName" minlength="2" maxlength="30"
             ng-model="register.dataRegister.name" locale-id="name" required/>
    </label>

    <label class="item item-input cps-validated" for="registerLastName">
      <input type="text" placeholder="Last Name" id="registerLastName" name="registerLastName" minlength="2" maxlength="30"
             ng-model="register.dataRegister.last_name" locale-id="lastName" required/>
    </label>

    <label class="item item-input cps-validated" for="registerEmail" cps-is-invalid="register.emailExist">
      <input type="email" placeholder="Email" id="registerEmail" name="registerEmail" minlength="2" maxlength="45"
             ng-model="register.dataRegister.email" locale-id="email" required/>
    </label>
    <div class="item-input-message" ng-if="register.emailExist">
      <span class="ng-message" locale-id="registerEmailExist">Email Exist</span>
    </div>

    <span ng-switch="register.options.countryCode">
      <div class="row" ng-switch-default>
        <div class="col">
          <label for="registerCC" class="item item-input item-select cps-validated">
            <div class="input-label" locale-id="countryCode">
              Country Code
            </div>
            <select ng-model="register.dataRegister.countryCode" name="registerCC" required>
              <option>+506</option>
              <option selected>+57</option>
            </select>
          </label>
        </div>
        <div class="col col-80">
          <label class="item item-input cps-validated" for="registerMobile" cps-is-invalid="register.phoneExist">
            <input type="tel" placeholder="Mobile" id="registerMobile" name="registerMobile" minlength="{{register.options.phoneMin}}"
                   maxlength="{{register.options.phoneMax}}" ng-pattern="register.options.phonePattern"
                   ng-model="register.dataRegister.msisdn" locale-id="mobile" required/>
          </label>
        </div>
      </div>
      <label ng-switch-when="false" class="item item-input cps-validated" for="registerMobile" cps-is-invalid="register.phoneExist">
        <input type="tel" placeholder="Mobile" id="registerMobile" name="registerMobile" minlength="{{register.options.phoneMin}}"
               maxlength="{{register.options.phoneMax}}" ng-pattern="register.options.phonePattern"
               ng-model="register.dataRegister.msisdn" locale-id="mobile" required/>
      </label>
      <div class="item-input-message" ng-if="register.phoneExist">
        <span class="ng-message" locale-id="registerPhoneExist">Phone Exist</span>
      </div>
    </span>

    <label class="item item-input cps-validated" for="registerPass">
      <input type="password" placeholder="Password" id="registerPass" name="registerPass" minlength="2" maxlength="45"
             ng-model="register.dataSecret.pass" locale-id="password" required/>
    </label>

    <label class="item item-input cps-validated" for="registerRePass">
      <input type="password" placeholder="Repeat Password" id="registerRePass" name="registerRePass" minlength="2" maxlength="45"
             ng-model="register.dataSecret.repass" cps-match="register.dataSecret.pass" locale-id="passwordRepeat" required/>
    </label>

    <div ng-if="main.options.withDob">
      <p class="row c_gray text-center">
        <span class="hline col col-center">&nbsp;</span>
        <span class="bold col-text" locale-id="dateOfBirth">Date of Birth</span>
        <span class="hline col col-center">&nbsp;</span>
      </p>

      <div class="row">
        <div class="col">
          <label class="item item-input item-select cps-validated" for="registerBDYear">
            <div class="input-label" locale-id="year">
              Year
            </div>
            <cps-dates date-type="years" date-element="select" ng-model="register.dataRegister.dob.year" name="registerBDYear" required>
            </cps-dates>
          </label>
        </div>
        <div class="col">
          <label class="item item-input item-select cps-validated" for="registerBDMonth">
            <div class="input-label" locale-id="month">
              Month
            </div>
            <cps-dates date-type="months" date-element="select"  ng-model="register.dataRegister.dob.month" name="registerBDMonth" required>
            </cps-dates>
          </label>
        </div>
        <div class="col">
          <label class="item item-input item-select cps-validated" for="registerBDDay">
            <div class="input-label" locale-id="day">
              Day
            </div>
            <cps-dates date-type="days" date-element="select" ng-model="register.dataRegister.dob.day" name="registerBDDay" required>
            </cps-dates>
          </label>
        </div>
      </div>
    </div>

    <div ng-if="register.options.requireAd" class="item item-checkbox item-text-wrap">
      <label class="checkbox">
        <input ng-model="register.dataRegister.emailad" type="checkbox">
      </label>
      <span locale-id="adsemailcheck">For further information about the products and services.</span>
    </div>


    <input type="submit" locale-id="submit" value="Submit" id="btnRegisterSend" class="button button-block button-primary" cps-is-hold/>

  </div>

</form>
