<button hm-tap="parking.addVehiclesDialog()" class="button button-block button-primary" locale-id="addVehicle">
  Add vehicle
</button>

<ul class="list list-cps" ng-init="parking.getVehicles()">

  <li class="item item-icon-right item-icon-left" ng-repeat="vehicle in parking.vehiclesList">
    <i class="icon" ng-class="{0: 'ion-car', 1: 'ion-car', 2: 'ion-moto', 3: 'ion-bike' }[vehicle.type || 0]"></i>
    {{vehicle.plate | uppercase}}
    <button class="icon ion-delete-item button icon button-icon" ng-click="parking.deleteVehicles(vehicle)">
    </button>
  </li>
  <li ng-if="!parking.vehiclesList.length" class="item text-center">
    <span locale-id="noHaveVehicles">No have vehicles</span>
  </li>

</ul>
