<form autocomplete="off" method="post" name="vehiclesAddForm" id="vehiclesAddForm" class="list list-inset"
      ng-submit="vehiclesAddForm.$valid && parking.addVehicles()"
      cps-form-success="parking.formSuccess" cps-clean-data="true" novalidate>

  <label class="item item-input cps-validated" for="addPlate">
    <input type="text" placeholder="Plate" locale-id="plate" id="addPlate" name="addPlate" ng-minlength="3" ng-maxlength="12"
           ng-model="parking.vehicleData.plate" required/>
  </label>

  <label class="item item-input item-select cps-validated" for="addPlateType" ng-if="parking.options.vehicleComplete">
    <div class="input-label" locale-id="type">
      Type
    </div>
    <select ng-model="parking.vehicleData.type"  id="addPlateType" name="addPlateType" ng-change="parking.getBrands()" required>
      <option value="{{type.vTypeId}}" label="{{type.vTypeName}}" locale-id="vehicleType{{type.vTypeId}}" ng-repeat="type in parking.vehicleTypes track by type.vTypeId"></option>
    </select>
  </label>

  <label class="item item-input item-select cps-validated" for="addPlateBrand" ng-if="parking.vehicleBrands.length" ng-if="parking.options.vehicleComplete">
    <div class="input-label" locale-id="brand">
      Brand
    </div>
    <select ng-model="parking.vehicleData.brand"  id="addPlateBrand" name="addPlateBrand" required>
      <option value="{{brand.vBrandId}}" label="{{brand.vBrandName}}" ng-repeat="brand in parking.vehicleBrands track by brand.vBrandId"></option>
    </select>
  </label>

  <label class="item item-input cps-validated" for="addPlateDescription" ng-if="parking.options.vehicleComplete">
    <input type="text" placeholder="Description" locale-id="vehicleDescription" id="addPlateDescription" name="addPlateDescription" ng-minlength="5" ng-maxlength="99"
           ng-model="parking.vehicleData.description" required/>
  </label>

  <button type="submit" locale-id="add" id="btnVehiclesAdd" class="button button-block button-primary" cps-is-hold>
    Add
  </button>

</form>
