<form autocomplete="off" method="post" name="vehiclesUpdateForm" id="vehiclesUpdateForm" class="list list-inset"
      ng-submit="vehiclesUpdateForm.$valid && parking.updateVehicles()"
      cps-form-success="parking.formSuccess" cps-clean-data="true" novalidate>

  <div class="item item-icon-right">
    <i class="icon" ng-class="{0: 'ion-plate', 1: 'ion-car', 2: 'ion-moto', 3: 'ion-bike' }[parking.vehicleData.type || 0]"></i>
    <h2 locale-id="plate">Plate</h2>
    <p>{{parking.vehicleData.plate | uppercase }}</p>
  </div>

  <label class="item item-input item-select cps-validated" for="addPlateType">
    <div class="input-label" locale-id="type">
      Type
    </div>
    <select ng-model="parking.vehicleData.type"  id="addPlateType" name="addPlateType" ng-change="parking.getBrands()" required>
      <option value="{{type.vTypeId}}" label="{{type.vTypeName}}" locale-id="vehicleType{{type.vTypeId}}" ng-repeat="type in parking.vehicleTypes track by type.vTypeId"></option>
    </select>
  </label>

  <label class="item item-input item-select cps-validated" for="addPlateBrand" ng-if="parking.vehicleBrands.length">
    <div class="input-label" locale-id="brand">
      Brand
    </div>
    <select ng-model="parking.vehicleData.brand"  id="addPlateBrand" name="addPlateBrand" required>
      <option value="{{brand.vBrandId}}" label="{{brand.vBrandName}}" ng-repeat="brand in parking.vehicleBrands track by brand.vBrandId"></option>
    </select>
  </label>

  <label class="item item-input cps-validated" for="addPlateDescription">
    <input type="text" placeholder="Description" locale-id="vehicleDescription" id="addPlateDescription" name="addPlateDescription" ng-minlength="5" ng-maxlength="99"
           ng-model="parking.vehicleData.description" required/>
  </label>

  <input type="submit" locale-id="update" value="Update" id="btnVehiclesUpdate" class="button button-block button-primary" cps-is-hold/>
</form>
