
<div>
  <span>Payment: {{wallet.paymentPrice}}</span>
  <span>Total: {{wallet.paymentTotal}}</span>
</div>
<ul class="list">

  <li class="item item-toggle">
    <span locale-id="personalPay">Personal</span>
    <label class="toggle toggle-assertive">
      <input type="checkbox">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
    <div class="item range range-positive">
      <i class="icon ion-ios-sunny-outline"></i>
      <input type="range" name="volume" min="0" max="100" value="33">
      <i class="icon ion-ios-sunny"></i>
    </div>
  </li>
  <li class="item item-toggle">
     <span locale-id="bondsPay">Bonds</span>
    <label class="toggle toggle-assertive">
      <input type="checkbox">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </li>
  <li class="item item-toggle">
    <span locale-id="creditPay">Credit</span>
    <label class="toggle toggle-assertive">
      <input type="checkbox">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </li>

</ul>
