<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">	
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
   
        <h:form id="contact-form" prependId="false" >
        
        <p:growl id="growl" showDetail="true" life="3000" /> 
        <h5><h:outputText value="#{msgs['menu.ActiveParking']}"/></h5>
        
        <div class="field">
		<h:selectOneMenu rendered="#{activeParkingController.admin}" valueChangeListener="#{activeParkingController.changeClient}" onchange="this.form.submit();" immediate="true" id="idClient" value="#{activeParkingController.idClient}">
		<f:selectItem itemValue="-1" itemLabel="Client"></f:selectItem>
		<f:selectItems value="#{activeParkingController.listClients}" var="client" itemLabel="#{client.name}" itemValue="#{client.idclient}" itemDescription="#{client.name}"/>
		</h:selectOneMenu>
		</div>
        <div class="field">
		<h:selectOneMenu immediate="true" valueChangeListener="#{activeParkingController.changeZone}" onchange="this.form.submit();"  id="registerCountry" value="#{activeParkingController.idZone}">
		<f:selectItem itemValue="-1" itemLabel="Zone"></f:selectItem>
		<f:selectItems value="#{activeParkingController.listZones}" var="zone" itemLabel="#{zone.name}" itemValue="#{zone.idzone}" itemDescription="#{zone.name}"/>
		</h:selectOneMenu>
		</div>
		<br></br>
		<p:dataTable id="tbl" var="history" value="#{activeParkingController.listActiveParking}" paginator="true" rows="12" emptyMessage="No info">  

    <p:column>  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.titlePlate']}" />  
        </f:facet>  
        <h:outputText value="#{history.vehiclePlate}"/>  
    </p:column>  
  
   <p:column>  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.titlePlace']}" />  
        </f:facet>  
        <h:outputText value="#{history.placeIdplace}">
        <f:converter converterId="zoneIdConverter"/>
        </h:outputText>  
    </p:column>  
   
   
    <p:column sortBy="#{history.startTime}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.titleStart']}" />  
        </f:facet>  
        <h:outputText value="#{history.startTime}" />  
    </p:column>  
    
    <p:column sortBy="#{history.currentMins}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.currentminuts']}" />
        </f:facet>  
        <h:outputText value="#{history.currentMins}" />  
    </p:column>  
    
        <p:column sortBy="#{history.maxMins}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.maxminuts']}" />
        </f:facet>  
        <h:outputText value="#{history.maxMins}" />  
    </p:column>  
  
  <p:column> 
        <f:facet name="header">  
            <h:outputText value="#{msgs['myHistory.phone']}" />
        </f:facet>  
        <h:outputText value="#{history.msisdn}" />
    </p:column>  
     <p:column style="width:32px">  
     <f:facet name="header">  
            <h:outputText value="SMS Notif" />  
        </f:facet>  
            <p:commandButton title="" update="display" rendered="#{history.enableSMSNotif == '1'}" oncomplete="PF('smsDialog').show()"  
                    image="ui-icon-mail-closed">  
                <f:setPropertyActionListener value="#{history}"  
                    target="#{activeParkingController.activeParking}" />  
            </p:commandButton>  
        </p:column> 
</p:dataTable>  
 <p:poll interval="10" rendered="#{activeParkingController.idZone != '-1'}" listener="#{activeParkingController.updateActiveParking}" update="tbl" /> 
</h:form>
<h:form>
 <p:dialog header="SMS" widgetVar="smsDialog" resizable="false"  
              width="400" showEffect="explode" hideEffect="explode">  
  
        <h:panelGrid id="display" columns="2" cellpadding="4">  
            <f:facet name="header">  
                <p:graphicImage value="/images/icon.png"/>  
            </f:facet>  
            <h:outputText value="#{msgs['myHistory.phone']}" />
            <h:inputTextarea value="#{activeParkingController.textSms}" rows="2" required="true" requiredMessage="Ingrese el Mensaje"/>
            <h:outputText value="" />  
            <p:commandButton oncomplete="PF('smsDialog').hide();" actionListener="#{activeParkingController.sendSms}"  value="Enviar" update=":contact-form:growl"/>
        </h:panelGrid>  
    </p:dialog>  
</h:form>
</div>
</div>
</section>
</ui:define>
</ui:composition>
</html>