<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
<!-- 				<div class="container_24"> -->
<!-- 					<div class="wrapper" style="position: relative;"> -->


						<div class="suffix_1">
							<h:form id="contact-form" prependId="false">
								<fieldset>
									<p:growl id="growl" showDetail="true" life="3000" />
									<h5>
										<h:outputText value="#{msgs['menu.myHistory']}" />
									</h5>
									<img style="margin-top: 0px;" class="pageImage"
										src="../images/cps/calendar1.png"></img>
									<div style="clear: both; margin-bottom: 20px;"></div>
									<div class="field">
										<h:outputText value="#{msgs['myHistory.dateinit']}" />
										<p:calendar value="#{historyCityParkingController.fechaIni}"
											navigator="true" id="fechaIni" pattern="d/M/yyyy"
											required="true" requiredMessage="#{msgs.fieldRequired}" />
										<p:message for="fechaIni" />
										<h:outputText value="#{msgs['myHistory.dateend']}" />
										<p:calendar value="#{historyCityParkingController.fechaFin}"
											navigator="true" id="fechaFin" pattern="d/M/yyyy"
											required="true" requiredMessage="#{msgs.fieldRequired}" />
										<p:message for="fechaFin" />
									</div>


									<p:commandButton
										actionListener="#{historyCityParkingController.reportParking}"
										value="#{msgs['myHistory.search']}" update="tbl @form"></p:commandButton>
									<br></br>
									<p:dataTable id="tbl" var="history"
										value="#{historyCityParkingController.lisHistory}"
										paginator="true" rows="10">
										<p:column sortBy="#{history.zone.name}"
											filterBy="#{history.zone.name}">
											<f:facet name="header">
												<h:outputText value="#{msgs['myHistory.titleZone']}" />
											</f:facet>
											<h:outputText value="#{history.zone.name}" />
										</p:column>



										<p:column sortBy="#{history.startTime}"
											filterBy="#{history.startTime}">
											<f:facet name="header">
												<h:outputText value="#{msgs['myHistory.titleStart']}" />
											</f:facet>
											<h:outputText value="#{history.startTime}" />
										</p:column>

										<p:column sortBy="#{history.endTime}"
											filterBy="#{history.endTime}">
											<f:facet name="header">
												<h:outputText value="#{msgs['myHistory.titleEnd']}" />
											</f:facet>
											<h:outputText value="#{history.endTime}" />
										</p:column>

										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['myHistory.payId']}" />
											</f:facet>
											<h:outputText value="#{history.payId}">

											</h:outputText>
										</p:column>
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['myHistory.amount']}" />
											</f:facet>
											<h:outputText value="#{history.fee}">

											</h:outputText>
										</p:column>
										<p:column>
											<h:commandLink title="#{msgs['myHistory.linkPdf']}"
												styleClass="link1" value=""
												action="#{historyCityParkingController.generarInforme}">
												<f:param name="formato" value="pdf" />
												<f:param name="idHistory" value="#{history.idhistory}" />
												<h:graphicImage url="/images/icons/pdfsmall.gif" />
											</h:commandLink>
										</p:column>
									</p:dataTable>
									<h:commandLink title="#{msgs['myHistory.linkExcel']}"
										disabled="#{!historyCityParkingController.history}"
										styleClass="link1" value=""
										action="#{historyCityParkingController.generarInforme}">
										<f:param name="formato" value="xls" />
										<h:graphicImage url="/images/icons/excelsmall.gif" />
									</h:commandLink>
									&nbsp;&nbsp;
									<h:commandLink title="#{msgs['myHistory.linkPdf']}"
										disabled="#{!historyCityParkingController.history}"
										styleClass="link1" value=""
										action="#{historyCityParkingController.generarInforme}">
										<f:param name="formato" value="pdf" />
										<h:graphicImage url="/images/icons/pdfsmall.gif" />
									</h:commandLink>
								</fieldset>
							</h:form>
						</div>
<!-- 					</div> -->
<!-- 				</div> -->
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>