<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			
			  		
			<p:layout style="width:950px;height:500px;">
			  <p:layoutUnit header="#{msgs['menu.layoutReports']}" position="left" width="180" resizable="true" collapsible="true" maxWidth="250">
			  <h:form>
			    <p:commandButton rendered="#{sessionScope.userSession.idsysUserType == '1' || sessionScope.userSession.idsysUserType == '5'}" value="#{msgs['report.moreparking.title']}" actionListener="#{navBean.pageAction}" update="centerPanel">
			    <f:setPropertyActionListener target="#{navBean.page}" value="reportZoneMoreParking"></f:setPropertyActionListener>
			    </p:commandButton>
			    <p:commandButton rendered="#{sessionScope.userSession.idsysUserType == '1' || sessionScope.userSession.idsysUserType == '3' || sessionScope.userSession.idsysUserType == '5'}" value="#{msgs['report.totalsbyzones.title']}" actionListener="#{navBean.pageAction}" update="centerPanel">
			    <f:setPropertyActionListener target="#{navBean.page}" value="reportSalesZonesDates"></f:setPropertyActionListener>
			    </p:commandButton>
			    <p:commandButton rendered="#{sessionScope.userSession.idsysUserType == '1' || sessionScope.userSession.idsysUserType == '5'}" value="#{msgs['report.monthly.parkingchart']}" actionListener="#{navBean.pageAction}" update="centerPanel">
			    <f:setPropertyActionListener target="#{navBean.page}" value="reportSalesMonth"></f:setPropertyActionListener>
			    </p:commandButton>
			  	<p:commandButton rendered="#{sessionScope.userSession.idsysUserType == '1' || sessionScope.userSession.idsysUserType == '5'}" value="#{msgs['report.salescard.title']}" actionListener="#{navBean.pageAction}" update="centerPanel">
			    <f:setPropertyActionListener target="#{navBean.page}" value="reportSalesCards"></f:setPropertyActionListener>
			    </p:commandButton>
			  </h:form>
			  </p:layoutUnit>
			  <p:layoutUnit position="center" width="400" id="centerPanel">
			   <iframe width="100%" height="500" src="#{facesContext.externalContext.requestContextPath}/faces/reports/#{navBean.page}.xhtml"></iframe>
			  </p:layoutUnit>
			</p:layout>
			
			</div>
				</section>
	</ui:define>
</ui:composition>
</html>