/**
 * Bar (Headers and Footers) for CityParking
 * --------------------------------------------------
 */

.bar {
    &.bar-city, &.bar-primary {
        border-color: lighten(@bgCity, 20%);
        background-color: @bgCity;
        background-image: linear-gradient(0deg, @bgCity, @bgCity 50%, transparent 50%);
        color: @bgLight;
        .title {
            color: @bgLight;
            min-width: 125px;

            &.np {
                img {
                    padding: 0 0;
                }
            }
        }
        .button {
            border-color: darken(@bgCity, 10%);
            background-color: @bgCity;
            color: @bgLight;
            &.button-icon {
                border-color: transparent;
                background: none;
            }
            &.ion-navicon {
                background-color: @bgLight;
                color: @bgCity;
                height: 20px;
                padding: 0 5px;
                .border-radius-single(6px);
                &:before {
                    font-size: 25px;
                }
            }
            &.button-clear {
                border-color: transparent;
                background: none;
                box-shadow: none;
                color: @bgLight;
                font-size: 17px;
            }
        }
        &.bar-header-big {
            height: 60px;
            .title {
                height: 60px;
            }
            > .button {
                margin-top: 8px;
            }
        }
    }

    &.bar-footer {
        border-bottom-color: @bgLight;
        border-bottom-width: 5px;
        .title-right {
            right: 0 !important;
            .logo-footer {
                max-width: 250px;
                width: 80%;
                height: auto;
                padding: 12px 0 15px 12px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .button:first-child {
            &:before {
                font-weight: bold;
            }
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            height: 100%;
        }
    }
}