/**
 * Buttons
 * --------------------------------------------------
 */

.button {
    font-family: @fontBtn;
    &.button-primary {
        border-color: darken(@bgCity, 10%);
        background-color: @bgCity;
        color: @bgLight;
        .border-radius-single(3px);
        &.button-clear {
            color: @bgCity;
        }
        &.active,
        &.activated {
            border-color: darken(@bgCity, 15%);
            background-color: darken(@bgCity, 5%);
        }
    }

    &.button-secondary {
        border-color: lighten(@bgCitysun, 10%);
        background-color: @bgCitysun;
        color: darken(@bgCitysun, 30%);
        .border-radius-single(3px);
        &.active,
        &.activated {
            border-color: darken(@bgCitysun, 20%);
            background-color: darken(@bgCitysun, 10%);
            color: darken(@bgCitysun, 40%);
        }
    }

}