/**
 * Checkbox
 * --------------------------------------------------
 */

.checkbox {
    input,
    .checkbox-icon {
        &:before {
            border-color: darken(@bgCity, 5%);
        }
        &:checked,
        &:checked+ {
            &:before {
                background: @bgCity;
                border-color: darken(@bgCity, 5%);
            }
        }
    }
}

.item-checkbox-small {
    font-size: 15px;
}