/**
 * Dialogs
 * --------------------------------------------------
 */
.popup-container {
    .popup {
        background-color: @bgLight;
        .popup-sub-title {
            color: @bgCity;
        }
        .popup-head {
            .button {
                &.button-close {
                    top: -8px;
                    right: -8px;
                    color: transparent;
                    font-size: 0;
                    background-color: @bgCity;
                    .border-radius-single(50px);
                    .box-shadow(-2px 2px 3px lighten(@bgDark, 40%));
                    border: 2px solid @bgLight;
                    height: 30px;
                    width: 30px;
                    min-width: 30px;
                    min-height: 30px;

                    &:before {
                        display: inline-block;
                        padding: 0 0 1px 0;
                        vertical-align: inherit;
                        font-size: 24px;
                        line-height: 41px;
                        pointer-events: none;
                        color: @bgLight;
                        content: "\f2d7";
                        font-family: "CpsIcons";
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        text-rendering: auto;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
        }
        .list {
            .item {
                padding: 7px 10px;
            }
            .item-radio {
                padding: 0;
            }
        }
    }
}
