/**
 * Driver module
 * ------------------
 */

.driver-confirm {
    .item.item-text-wrap h2 {
        font-size: 0.9em;
    }
}
.driver-steps-modal {
    .modal {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        min-height: 100%;
        width: 100%;
        .bar {
            &.bar-header {
                .bar.bar-primary();
            }
            &.bar-footer {
                border-bottom-width: 0;
                .button {
                    margin: 0;
                }
            }
            .button.button-close {
                top: 5px;
                right: 5px;
                border-radius: 0;
                border: none;
                box-shadow: none;
                color: @bgLight;
                font-size: 17px;
                width: initial;
                height: initial;
                background: transparent;
                &:before {
                    content: none;
                }
                &:after {
                    content: none;
                }
            }
        }
    }
}
.list {
    .driver-description {
        background-color: lighten(@bgCitysun, 40%);
        p {
            margin: 10px;
        }
        h4 {
            margin-top: 0;
        }
        .driver-logo {
            background-image: url("@{basePath}/logo-driver.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            height: auto;
            max-width: 100px;
            min-width: 100px;
        }
    }
}
