//
// Color scheme
//
// CPS -- Cellular Parking Systems
//

// Table of Content
// ==================================================
//  #Font Mixin
//  #Font Face

/*---------------------
  Font Mixin
  ---------------------*/
.font-face(@name; @realname; @path: @fontPath; @svg: @name; @fontVersion: "all"){
    @font-face {
        font-family: @name;
        src: url("@{path}/@{realname}.eot?");
        src: url("@{path}/@{realname}.eot??#iefix") format("embedded-opentype"),
        url("@{path}/@{realname}.ttf?") format("truetype"),
        url("@{path}/@{realname}.woff?") format("woff"),
        url("@{path}/@{realname}.svg?#@{svg}") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/*---------------------
  Font Face
  ---------------------*/
.font-face(@name: "cityapp"; @realname: "cityapp";);
.font-face(@name: "open_sanslight"; @realname: "opensans-light-webfont";);
.font-face(@name: "open_sansregular"; @realname: "opensans-regular-webfont";);
.font-face(@name: "open_sanssemibold"; @realname: "opensans-semibold-webfont";);
.font-face(@name: "open_sansbold"; @realname: "opensans-bold-webfont";);