/**
 * Forms
 * --------------------------------------------------
 */


form {
    .item-checkbox {
        border-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0;
        padding-left: 38px;
        .checkbox {
            padding: 7px 2px;
            left: 0px;
        }
    }
    .item-toggle {
        border-color: transparent;
        padding-left: 5px;
        padding-right: 5px;
        .toggle {
            right: 5px;
        }
    }
}

.item-input {
    border-color: @bgCity;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 6px;
    .border-radius-single(3px);

    &.ng-input-valid, .ng-input-valid {
        border-color: @bgCity;
    }
    input {
        font-family: @fontContent;
    }
}

.item-input-message {
    margin-top: -8px;
    padding-bottom: 7px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    color: @bgCity;
}

// Placeholder
// -------------------------------
input,
textarea {
    &::input-placeholder {
        text-transform: uppercase;
    }
    &::-webkit-input-placeholder {
        text-transform: uppercase;
    }
    &:-moz-placeholder { /* Firefox 18- */
        text-transform: uppercase;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
        text-transform: uppercase;
    }
    &:-ms-input-placeholder {
        text-transform: uppercase;
    }
}


.placeholder-icon {
    color: @bgCity;
    &.icon {
        min-width: 25px;
    }

    &.ion-search,
    &.ion-ios-search {
        &:before {
            content: "\f21f";
            font-size: 22px;
        }
    }
}