/**
 * Help module style
 * --------------------------------------------------
 */

.help-header {
    height: 80px;
    text-align: center;
    position: absolute;
    width: 100%;
    img {
        height: 100%;
        margin: auto;
    }
}

.city-help-modal {
    .modal {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        overflow: hidden;
        min-height: 100%;
        width: 100%;
        background-color: @bgCity;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background: @bgLight;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: @bgCitysun;
    }
    .swiper-slide {
        padding-top: 100px;
        .content {
            position: relative;
            top: 20px;
            width: 100%;
            max-width: 350px;
            text-align: center;
            margin: 0 auto;
        }
        p {
            color: @bgLight;
        }
        h1,h2,h3 {
            color: @bgCitysun;
        }
    }

    .icon-slide {
        height: 200px;
        width: 100%;
        margin-top: 37px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
    }
    .icon-slide1 {
        background-image: url("../images/help-slide1.png");
    }
    .icon-slide2 {
        background-image: url("../images/help-slide2.png");
    }
    .icon-slide3 {
        background-image: url("../images/help-slide3.png");
    }
    .button-help-close {
        position: absolute;
        bottom: 18px;
        right: 10px;
        z-index: 11;
    }
}

@media  (max-height: 450px) and (min-height: 300px){
    .city-help-modal {
        .icon-slide {
            height: 150px;
            margin-top: 15px;
        }
    }
}

@media (min-height: 450px) and (max-height: 550px){
    .city-help-modal {
        .icon-slide {
            height: 150px;
            margin-top: 15px;
        }
    }
}

@media (min-height: 550px) and (max-height: 650px){
    .city-help-modal {
        .icon-slide {
            height: 250px;
        }
    }
}

@media (min-height: 650px) and (max-height: 800px){
    .city-help-modal {
        .icon-slide {
            height: 300px;
        }
    }
}

@media (min-height: 800px ){
    .city-help-modal {
        .icon-slide {
            height: 350px;
            margin-top: 20%;
        }
    }
}

@media (min-width: 680px) {
    .city-help-modal {
        .modal {
            width: 100%;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}
@media (max-width: 680px) and (min-width: 400px) {
    .city-help-modal {
        .modal {
            width: 100%;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}

@media (max-width: 400px) {
    .city-help-modal {
        .modal {
            width: 100%;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}