.city-font {
    display: inline-block;
    font-family: @fontCityicons;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cityicons,
.@{cityicons-prefix}notify:before,
.@{cityicons-prefix}profile:before,
.@{cityicons-prefix}zones:before,
.@{cityicons-prefix}parking:before,
.@{cityicons-prefix}vehicles:before,
.@{cityicons-prefix}balance:before,
.@{cityicons-prefix}historic:before,
.@{cityicons-prefix}config:before,
.@{cityicons-prefix}about:before,
.@{cityicons-prefix}more:before,
.@{cityicons-prefix}exit:before,
.@{cityicons-prefix}driver:before,
.@{cityicons-prefix}driver-orig:before,
.@{cityicons-prefix}driver-dest:before,
.@{cityicons-prefix}infohelp:before,
.@{cityicons-prefix}geo:before,
.@{cityicons-prefix}aright:before,
.@{cityicons-prefix}aleft:before,
.@{cityicons-prefix}adown:before,
.@{cityicons-prefix}list:before {
  &:extend(.city-font);
}

// Set icons
.@{cityicons-prefix}notify:before { content: @city-var-alert; }
.@{cityicons-prefix}profile:before { content: @city-var-profile; }
.@{cityicons-prefix}zones:before { content: @city-var-map; }
.@{cityicons-prefix}parking:before { content: @city-var-phone; }
.@{cityicons-prefix}vehicles:before { content: @city-var-car; }
.@{cityicons-prefix}balance:before { content: @city-var-pay; }
.@{cityicons-prefix}historic:before { content: @city-var-calendar; }
.@{cityicons-prefix}config:before { content: @city-var-config; }
.@{cityicons-prefix}about:before { content: @city-var-msg; }
.@{cityicons-prefix}more:before { content: @city-var-more; }
.@{cityicons-prefix}exit:before { content: @city-var-exit; }
.@{cityicons-prefix}driver:before { content: @city-var-driver; }
.@{cityicons-prefix}driver-orig:before { content: @city-var-driver-orig; }
.@{cityicons-prefix}driver-dest:before { content: @city-var-driver-dest; }
.@{cityicons-prefix}infohelp:before { content: @city-var-infohelp; }
.@{cityicons-prefix}geo:before { content: @city-var-geo; }
.@{cityicons-prefix}aleft:before { content: @city-var-aleft; }
.@{cityicons-prefix}aright:before { content: @city-var-aright; }
.@{cityicons-prefix}adown:before { content: @city-var-adown; }
.@{cityicons-prefix}list:before { content: @city-var-list; }


// Extend CPS icons
.ion-driver-orig:before {
    content: @city-var-driver-orig;
    &:extend(.city-font);
}

.ion-driver-dest:before {
    content: @city-var-driver-dest;
    &:extend(.city-font);
}