/**
 * Items
 * --------------------------------------------------
 */

.item {
    &:first-child {
        .border-radius(@topright: 2px, @topleft: 2px);
    }
    &:last-child {
        .border-radius(@bottomright: 2px, @bottomleft: 2px);
    }
    span {
        &:first-child {
            font-weight: 700;
        }
    }
}

.item-divider {
    background-color: @bgCity;
    color: @bgLight;
    margin-bottom: 1px;
    border-top: 1px solid darken(@bgCity, 10%);
    border-bottom: 1px solid darken(@bgCity, 10%);
    border-left: 1px solid darken(@bgCity, 10%);
    border-right: 1px solid darken(@bgCity, 10%);
    &.row {
        margin-bottom: 5px;
    }
    &:first-child {
        border-top: 1px solid darken(@bgCity, 10%);
    }
    h1, h2, h3, p {
        color: @bgLight;
    }
    &.item-button-right,
    &.item-icon-right {
        .icon, .button {
            height: 38px;
            min-height: 30px;
            right: 0px;
            top: 0;
            color: @bgLight;
        }
    }
}

.item-radio {
    .radio-icon {
        color: @bgCitysun;
        padding: 11px;
        font-size: 35px;
        &:before {
            content: "\f120";
        }
    }
    &:first-child {
        .border-radius(5px, 0px, 0px, 5px);
    }
    &:last-child {
        .border-radius(0px, 5px, 5px, 0px);
    }
}

.item-input-inset {
    .button-small {
        &.button-secondary {
            .border-rounded(0);
        }
    }
}

// Group
.item-group {
    &.row {
        .col {
            .item-input {
                .border-radius(0, 0, 0, 0);
            }
            &:first-child {
                .item-input {
                    .border-radius(0, 0, 3px, 3px);
                }
            }
            &:last-child {
                .item-input {
                    .border-radius(3px, 3px, 0, 0);
                }
            }
        }
    }
}