/**
 * List
 * --------------------------------------------------
 */

.list-user-data {
    .item {
        border-color: transparent;
        h2 {
            color: lighten(@bgDark, 10%);
        }
    }
    .item-icon-left {
        .icon {
            .border-radius-single(50px);
            background-color: @bgCity;
            color: @bgLight;
            left: 5px;
            height: 45px;
            width: 45px;
        }
    }
}

ul.list {
    margin: auto 2px;
    border-top: 1px solid darken(@bgCity, 10%);
    border-bottom: 1px solid darken(@bgCity, 10%);
    .border-radius-single(3px);
    div:first-of-type {
        .item {
            border-top-width: 0;
        }
    }
    .item {
        &:first-child,
        &:last-child {
            .border-radius-single(3px);
        }
        font-family: @fontTitleBold;
        border-top-color: lighten(@bgCity, 5%);
        border-bottom-color: darken(@bgCity, 5%);
        border-left-color: darken(@bgCity, 5%);
        border-right-color: darken(@bgCity, 5%);
        border-bottom-width: 3px;
        border-top-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
        background-color: @bgCity;
        color: @bgLight;
        &.item-icon-left,
        &.item-icon-right {
            .icon:before {
                color: @bgLight;
            }
        }
        &.item-button-right {
            .button {
                right: 11px;
            }
        }
        h1, h2 {
            color: @bgLight;
        }
        p {
            color: lighten(@bgCity, 40%);
        }
        .badge {
            .border-radius-single(6px);
        }
        .item-select{
            select {
                right: 11px;
            }
            &:after {
                right: 38px;
            }
        }
        .icon {
            &.cityicon-aright {
                &:before {
                    color: @bgCitysun;
                }
            }
        }
    }
    .item-note {
        font-family: @fontTitleBold;
        color: @bgLight;
    }
}
