/**
 * Maps
 * --------------------------------------------------
 */

.cps-maps {
    .controls-inside {
        z-index: 2;
        position: relative;
        margin-left: -190px;
        width: 190px;
        left: 100%;
    }
}
.infowin .infowin-frame {
    margin-top: -115px;

    .infowin-primary {
        background-color: @bgCity;
        border: darken(@bgCity, 10%) solid 1px;
        .border-radius-single(0.3em);
        .button-default {
            .button.button-secondary();
        }
        &:after {
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 0;
            border-color: @bgCity transparent;
            display: block;
            width: 0;
            z-index: 1;
            bottom: -15px;
            left: 160px;
        }
        &:before {
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 0;
            border-color: darken(@bgCity, 10%) transparent;
            display: block;
            width: 0;
            z-index: 0;
            bottom: -16px;
            left: 160px;
        }
    }

    .infowin-close {
        position: relative;
        z-index: 20;
        top: 10px;
        left: 330px;
        min-width: 25px;
        min-height: 20px;
        line-height: 20px;
        padding: 1px;
        .border-radius-single(20px);
        border-color: darken(@bgCitysun, 10%);
        background-color: @bgCitysun;
        color: darken(@bgCitysun, 30%);
    }
    .infowin-note {
        line-height: 1em;
        right: 10px;
    }
}

.maps-infowin-modal {
    .general-content {
        padding: 0;
    }
    .infowin-modal {
        .infowin-body {
            background: transparent;
            color: @bgDark;
            height: auto;

            .infowin-content {

                .infowin-title {
                    display: none;
                }
                .infowin-note {
                    &.infowin-price {
                        display: none;
                    }
                    &.infowin-status {
                        display: block;
                        text-align: center;
                        position: relative;
                        top: 0;
                        left: 0;
                        right: 0;
                        border-bottom: 1px dotted lighten(@bgDark, 50%);
                        font-size: 0;
                        line-height: 0;
                        color: transparent;
                        span {
                            font-size: 12px;
                            line-height: initial;
                            padding: 0 0 5px;
                        }
                    }

                }
            }
            .infowin-text {
                max-height: 100%;
                .infowin-value {
                    span {
                        font-size: 100%;
                        line-height: initial;
                    }
                    .value {
                        text-align: right;
                    }
                }
            }
            .infowin-buttons {
                position: relative;
                display: block;
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0;

                .button {
                    .border-rounded(0);
                    width: 100%;
                    text-align: left;
                    position: relative;
                    display: block;
                    z-index: 2;
                    margin: -1px 0;
                    padding: 16px 54px 16px 16px;
                    border-width: 1px;
                    border-style: solid;
                    font-size: 16px;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:before {
                        position: absolute;
                        right: 11px;
                        top: 8px;
                        bottom: 0;
                        width: 32px;
                        padding: 0 0 1px 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 24px;
                        line-height: 41px;
                        pointer-events: none;
                        content: "\f125";

                        font-family: "CpsIcons";
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
        }
    }
}


/* For devices larger than 400px */
@media (max-width: 400px) {
    .infowin .infowin-frame {
        .infowin-close {
            left: 330px - 60;
        }
        .infowin-primary {
            &:after {
                left: 130px;
            }
            &:before {
                left: 130px;
            }
        }
    }
}
