
/**
 * Menus
 * --------------------------------------------------
 * Side panel structure
 */

.menu {

    .list:first-child {
        padding-top: 0;
    }
    div:first-of-type {
        .item {
            border-top-color: transparent;
        }
    }
    .item {
        color: @bgCity;
        border-color: @bgLight;
        background-color: lighten(@bgDark, 75%);
        text-transform: capitalize;

        &.active-section {
            background-color: @bgCity;
            color: @bgLight;
        }
        &.item-secondary {
            background-color: @bgCitysun;
            color: @bgDark;
            &.active-section {
                background-color: @bgCity;
                color: @bgLight;
            }
        }
    }
}
