
/**
 * Modals
 * --------------------------------------------------
 * Modals are independent windows that slide in from off-screen.
 */

.modal {
    // top: 20%;
    // right: 20%;
    // bottom: 20%;
    // left: 20%;
    // overflow: visible;
    // min-height: 240px;
    // width: 60%;

    .scroll-content:first-child,
    .general-content {
        padding: 10px;
    }
    .item-select {
        &:after {
            right: 25px;
        }
        select {
            padding: 14px 25px 16px 5px;
        }
    }
    .card {
        margin: 0px 0 20px 0;
    }
    .filter-bar {
        .filter-bar-wrapper {
            .item-input-inset {
                .item-input-wrapper {
                    background: @bgLight;
                    border-bottom-width: 0;
                    input[type="search"] {
                        .placeholder(lighten(@bgDark, 40%));
                        color: @bgCity;
                    }
                }
                .filter-bar-clear:before {
                    color: lighten(@bgDark, 35%);
                }
            }
        }
    }
    &.filter-bar-open .bar{
        .button.button-close {
            opacity: 0;
            .transition(opacity, 100ms, ease-in-out);
        }
    }
    .bar {
        // &.bar-header {
        //     border-color: transparent;
        //     background-color: @bgLight;
        //     background-image: none;
        //     color: @bgDark;
        //     border-bottom: 1px solid lighten(@bgDark, 70%);
        //     .title {
        //         color: @bgDark;
        //     }
        // }
        // &.bar-primary {
        //     .button {
        //         color: @bgCity;
        //     }
        // }
        .button {
            // &.button-close {
            //     position: absolute;
            //     z-index: 11;
            //     top: -8px;
            //     right: -8px;
            //     color: transparent;
            //     font-size: 0;
            //     background-color: @bgCity;
            //     .border-radius-single(50px);
            //     .box-shadow(-2px 2px 3px lighten(@bgDark, 40%));
            //     border: 2px solid @bgLight;
            //     height: 30px;
            //     width: 30px;
            //     opacity: 1;

            //     &:before {
            //         display: inline-block;
            //         padding: 0 0 1px 0;
            //         margin-top: 1px;
            //         vertical-align: inherit;
            //         font-size: 24px;
            //         line-height: 41px;
            //         pointer-events: none;
            //         color: @bgLight;
            //         content: "\f2d7";
            //         font-family: "CpsIcons";
            //         speak: none;
            //         font-style: normal;
            //         font-weight: normal;
            //         font-variant: normal;
            //         text-transform: none;
            //         text-rendering: auto;
            //         line-height: 1;
            //         -webkit-font-smoothing: antialiased;
            //         -moz-osx-font-smoothing: grayscale;
            //     }
            // }
        }
    }
}

.modal-backdrop.active {
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -ms-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0);
}

// @media (min-width: 680px) {
//     .modal {
//         top: 10%;
//         bottom: 10%;
//     }
// }

// @media (min-width: 400px) and (max-width: 680px) {
//     .modal {
//         width: 80%;
//         right: 10%;
//         left: 10%;
//         top: 10%;
//         bottom: 10%;
//     }
// }

// @media (max-width: 400px) {
//     .modal {
//         width: 80%;
//         right: 10%;
//         left: 10%;
//         top: 5%;
//         bottom: 5%;
//     }
// }

// Platforms
.platform-android {
    .modal {
        .ion-search {
            &:before {
                content: "\f2f5";
            }
        }
    }
}

.platform-ios {
    .modal {
        .ion-search {
            &:before {
                content: "\f4a4";
            }
        }
    }
}
