/**
 * Notifications
 * --------------------------------------------------
 */

.notify-tray {
    &.notify-none {
        .notify-tray-icon {
            &:before {
                content: "\f14c"
            }
        }
    }
    &.notify-has {
        .button {
            // color: @bgCitysun;
        }
        .badge {
            color: @bgDark;
            .border-radius-single(50px);
        }
    }
    .badge {
        top: -6px;
        left: 20px;
        background-color: @bgCitysun;
    }
}
