
/**
 * Platform
 * --------------------------------------------------
 * Platform specific tweaks
 */

.platform-ios.platform-cordova {
    // iOS has a status bar which sits on top of the header.
    // Bump down everything to make room for it. However, if
    // if its in Cordova, and set to fullscreen, then disregard the bump.
    &:not(.fullscreen) {
        .bar-header:not(.bar-subheader) {
            height: @bar-height + @ios-statusbar-height;

            &.item-input-inset .item-input-wrapper {
                margin-top: 19px !important;
            }

            > * {
                margin-top: @ios-statusbar-height;
            }
            &.bar-header-big {
                height: @bar-big-height + (@ios-statusbar-height/2);
                .title {
                    height: @bar-big-height - (@ios-statusbar-height/2);
                }
            }
            &.bar-header-modal {
                height: @bar-height;
                > * {
                    margin-top: 0;
                }
            }
        }
        .view-nav {
            &.bar {
                top: @bar-big-height + (@ios-statusbar-height/2);
            }
        }
        .has-header-big {
            top: @bar-big-height  + (@ios-statusbar-height/2);
        }
        .has-view-nav {
            top: @bar-big-height  + @view-nav-height + (@ios-statusbar-height/2);
        }
        .menu {
            .list {
                padding-top: @ios-statusbar-height;
            }
        }
        .modal-wrapper .modal {
            .bar-header:not(.bar-subheader) {
                height: @bar-height;
                > * {
                    margin-top: 0;
                }
                &.item-input-inset .item-input-wrapper {
                    margin-top: 0 !important;
                }
            }
            .tabs-top > .tabs,
            .tabs.tabs-top {
                top: @bar-height;
            }
            .has-header,
            .bar-subheader {
                top: @bar-height;
            }
            .has-subheader {
                top: @bar-height + @bar-subheader-height;
            }
            .has-tabs-top {
                top: @bar-height + @tabs-height;
            }
            .has-header.has-subheader.has-tabs-top {
                top: @bar-height + @bar-subheader-height + @tabs-height;
            }
        }
    }
}