
/**
 * Scaffolding
 * --------------------------------------------------
 */

body,
.cps-body {
    color: lighten(@bgDark, 10%);
    font-family: @fontContent;
}

.has-header-big {
    top: 60px;
}

.view-nav {
    height: @view-nav-height;
    &.bar {
        z-index: 1;
        top: @bar-big-height;
        background-color: @bgLight;
        border-bottom-color: transparent;
        .title {
            color: @bgCity;
            font-size: 1.2em;
            text-transform: uppercase;
            line-height: @view-nav-height;
        }
    }
}

.page {
    display: block;
}

.has-view-nav {
    top: @bar-big-height + @view-nav-height;
}
