/**
 * Sections
 * --------------------------------------------------
 */

// Login
.section-login {
    .bar-header {
        h1.title {
            display: none;
        }
    }
    .bar-city {
        border-color: @bgCity;
        border-bottom-width: 0;
    }
    .bar-footer {
        border-bottom-width: 5px;
        border-top-width: 0;
        height: 46px;

        .button:first-child {
            border-right-width: 0;
        }
    }
}
.view-login {
    z-index: 2;
}
.view-login, .loginPage {
    background-color: @bgCity !important;

    .scroll-content {
        background-color: @bgCity !important;
    }
    .button {
        &.button-primary {
            .button.button-secondary;
        }
    }
}

// Zones
.section-zones {
    cps-content {
        padding: 0;
    }
}

.rates-list-modal {
    .item {
        border-color: transparent;
    }
    .item-group {
        .item {
            color: @bgLight;
            background-color: @bgCity;
            padding-top: 10px;
            padding-bottom: 0;
            border-color: darken(@bgCity, 10%);
            border-width: 0px 1px 0px 1px;

            &:first-child {
                border-top-width: 1px;
                .border-radius(@topright: 0, @topleft: 0);
            }
            &:last-child {
                padding-bottom: 10px;
                border-bottom-width: 1px;
                .border-radius(@bottomright: 0, @bottomleft: 0);
            }
        }
        .item-note {
            color: @bgLight;
        }
    }
    .item-divider {
        background-color: @bgLight;
        color: @bgDark;
        margin-top: 5px;
        margin-bottom: 0;
        padding-bottom: 4px;
        h1, h2, h3, p {
            color: @bgDark;
        }
        .icon {
            color: @bgCity;
        }
        &:first-child {
            border-top-color: transparent;
        }
    }
}

// Parking
cps-booking-list {
    .item-button-right {
        .button-clear {
            top: 0;
            bottom: 0;
            margin: auto;
            color: @bgCitysun;
        }
    }
    .booking-description {
        background-color: lighten(@bgCitysun, 40%);
        p {
            margin: 10px;
        }
        h4 {
            margin-top: 0;
        }
    }
}
.booking-form-modal {
    .modal {
        .bar-footer {
            .button.button-block {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
.booking-detail-modal {
    .modal {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
    }
    .barcode {
        canvas {
            padding: 0;
            margin: auto;
            display: block;
        }
    }
}

// Driver
.driver-form-modal {
    .list {
        .card {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            h1,h2 {
                color: @bgCity;
            }
        }
    }
}
.controls-driver {
    .item-input-inset {
        .border-rounded(0);
        border-bottom-width: 0;
        border-top-color: @bgLight;
        border-top-width: 2px;
        &:first-child {
            border-top-width: 1px;
            border-top-color: lighten(@bgDark, 65%);
            border-bottom-width: 2px;
            border-bottom-color: @bgLight;
        }
        .item-input-wrapper {
            .border-rounded(0);
            height: 31px;
        }
    }
}

// Balance
cps-balance-user {
    .title {
        padding-top: 20px;
        span {
            color: @bgCity;
        }

    }
}

// Payment
.section-payment-history {
    .list {
        .item-divider {
            .border-radius(@topright: 2px, @topleft: 2px);
        }
        .row {
            &.item {
                &.stable-bg {
                    background: @bgCitysun;
                    color: @bgDark;
                }
            }
        }
    }
}

// Paymentez
.paymentez-edit-cards {
    ul.list {
        border-top-color: darken(@bgCitysun, 10%);
        .item.item-divider {
            background-color: @bgCitysun;
            color: darken(@bgCitysun, 30%);
            text-align: center;
            margin-bottom: 0;
            border-top-color: @bgCitysun;
            border-bottom-color: darken(@bgCitysun, 10%);
            border-left-color: darken(@bgCitysun, 10%);
            border-right-color: darken(@bgCitysun, 10%);
        }
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .section-profile {
        .row {
            .col {
                .button {
                    span:last-child {
                        display: inline-block;
                    }
                }

            }
        }
    }
}
