
/**
 * Select
 * --------------------------------------------------
 */

.item-select {
    background-color: @bgCity;
    color: @bgLight;
    .border-radius-single(3px);
    border-color: darken(@bgCity, 10%);

    select {
        background-color: @bgCity;
        color: @bgLight;
        right: 11px;
    }

    &:after {
        color: @bgCitysun;
        font-family: "cityapp";
        content: "\f123";
        font-size: 32px;
        right: 38px;
        top: 15%;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    .input-label {
        color: @bgLight;
    }
}