/**
 * Spinners
 * --------------------------------------------------
 */

.spinner {
    &.spinner-android {
        stroke: @bgCitysun;
    }
}

.spinner-maps {
    top: -1px;
    left: 2px;
    stroke: @bgCity;
    fill: @bgCity;
}

h1, h2, h3, h4, h5, h6, p, {
    .spinner {
        margin-top: 5px;
        margin-left: 5px;
        position: absolute;
    }
}

.item-content {
    .spinner {
        margin-top: -5px;
        margin-left: 5px;
        position: absolute;
    }
}