
/**
 * Typography
 * --------------------------------------------------
 */

// Headings
// -------------------------

h2, h3,
.h2, .h3 {
    font-family: @fontTitleBold;
}

h1, h4, h5, h6,
.h1, .h4, .h5, .h6 {
    //font-weight: @headings-font-weight;
    font-family: @fontTitle;
}


// Menu
// -------------------------

.menu {
    .item {
        font-family: @fontTitleBold;
        font-size: 1em;
    }
}

// Link
// ----------------------------
a {
    color: @bgCity;

    &:hover,
    &:focus {
        color: darken(@bgCity, 10%);
    }
}