
/**
 * Utility CityParking Classes
 * --------------------------------------------------
 */

.link {
    text-decoration: none;
}

.bold {
    font-family: @fontTitleBold;
}

.social {
    li {
        display: inline-block;
        margin: 0 2px;

        .icon {
            width: 45px;
            min-height: 45px;
            color: @bgLight;
            background-color: @bgCity;
            .border-radius-single(50px);
        }
        .button-icon.button.active,
        .button-icon.button.activated {
            .opacity(@opacity: 1);
            color: @bgLight;
            background-color: darken(@bgCity, 10%);
        }
    }
}

/**
 * Utility Colors
 * --------------------------------------------------
 */

.city, a.city {
    color: @bgCity;
}
.city-bg {
    background-color: @bgCity;
    .card, .list-inset {
        background-color: @bgCity;
    }
}
.city-border {
    border-color: darken(@bgCity, 10%);
}

.citysun, a.citysun {
    color: @bgCitysun;
}
.citysun-bg {
    background-color: @bgCitysun;
}
.citysun-border {
    border-color: darken(@bgCitysun, 10%);
}

.primary, a.primary {
    color: @bgCity;
}
.primary-bg {
    background-color: @bgCity;
}
.primary-border {
    border-color: darken(@bgCity, 10%);
}

.secondary, a.secondary {
    color: @bgCitysun;
}
.secondary-bg {
    background-color: @bgCitysun;
}
.secondary-border {
    border-color: darken(@bgCitysun, 10%);
}