//
// Custom varibles and functions
//
// CPS -- Cellular Parking Systems
//

// Table of Content
// ==================================================
//  #Basic Variables
//  #Fonts
//  #Scheme
//  Font Icon Vars}
//  #Bars
//  #Tabs
//  #Platform


// Basic Variables
// -------------------------------

@basePath: "../images";
@bgBase1: "@{basePath}/bg.jpg";
@bgBase2: "@{basePath}/bg_2.jpg";

@spriteIcon: "@{basePath}/ico_nav_sprite.png";
@spriteGeneral: "@{basePath}/ico_general_sprite.png";

// Fonts
// -------------------------------

@fontTitle: "open_sansbold";
@fontTitleBold: "open_sansbold";
@fontContent: "open_sansregular";
@fontBtn: "open_sansregular";

// Scheme
// -------------------------------

@bgLight: #ffffff;
@bgDark: #383838;
@bgCity: #0091d2;
@bgCitysun: #ffd900;


// Font Icon Vars
// -------------------------------

@fontPath: "../fonts";
@fontCityicons: "cityapp";
@cityicons-prefix: cityicon-;
@cityicons-version: "0.5.1";

@city-var-adown: "\f123";
@city-var-aleft: "\f10d";
@city-var-aright: "\f122";
@city-var-more: "\f112";
@city-var-alert: "\f11f";
@city-var-calendar: "\f11a";
@city-var-car: "\f107";
@city-var-config: "\f10b";
@city-var-driver: "\f111";
@city-var-driver-orig: "\f125";
@city-var-driver-dest: "\f126";
@city-var-exit: "\f117";
@city-var-geo: "\f101";
@city-var-map: "\f113";
@city-var-msg: "\f109";
@city-var-note: "\f103";
@city-var-phone: "\f121";
@city-var-pay: "\f104";
@city-var-profile: "\f10c";
@city-var-user: "\f106";
@city-var-infohelp: "\f116";
@city-var-list: "\f103";


// Bars
// -------------------------------
@bar-height:                      44px;
@bar-big-height:                  60px;
@bar-title-font-size:             17px;
@bar-padding-portrait:            5px;
@bar-padding-landscape:           5px;
@bar-transparency:                1;

@bar-footer-height:               @bar-height;
@bar-subheader-height:            @bar-height;
@bar-subfooter-height:            @bar-height;


// Tabs
// -------------------------------

@tabs-height:                     49px;
@tabs-text-font-size:             14px;
@tabs-text-font-size-side-icon:   10px;
@tabs-icon-size:                  32px;
@tabs-badge-padding:              1px 6px;
@tabs-badge-font-size:            12px;

// View Nav
// -------------------------------
@view-nav-height:                 35px;

// Platform
// -------------------------------

@ios-statusbar-height:           20px;