//
// Color scheme
//
// CPS -- Cellular Parking Systems
//

// Table of Content
// ==================================================
//  #Scheme
//  #Base colors


/*-----------
  Scheme
  -------------*/
@bgColor0: #ffffff;
@bgColor1: #0091ce;
@bgColor2: #383838;
@bgColor3: #ffc700;
@bgError: #FA787E;


@phColor: lighten(desaturate(@bgColor1, 40%), 40%);

/*-------------
  Base colors
  ----------------*/
.c_primary {
    color: @bgColor1;
}
.c_gray {
    color: lighten(@bgColor2, 20%);
}

.c_white {
    color: @bgColor0;
}

.c_error {
    color: @bgError;
}

.egress {
    color: @assertive;
}

.income {
    color: @positive;
}

.color-payment_confirm, .notify-payment-confirm {
    .balanced();
}

.color-withdrawal_confirm, .notify-withdrawal-confirm {
    .energized();
}

.color-balance_transfer, .notify-balance-transfer {
    .royal();
}
.color-balance_recharge, .notify-balance-recharge {
    .calm();
}

.color-campaign, .notify-campaign {
  .energized();
}
