//
// Custom cps Animations styles
//
// CPS -- Cellular Paeking Systems
//


// Table of Content
// ==================================================
//  #Animation Page


/*---------------
 #Animation Page
 ----------------*/

.view-animate {
    padding:10px;
    &.ng-enter,
    &.ng-leave {
        -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

        display:block;
        width:100%;
        border-left:1px solid black;

        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding:10px;
    }
    &.ng-enter {
        left:100%;
        &.ng-enter-active {
            left:0;
        }
    }
    &.ng-leave{
        &.ng-leave-active {
            left:-100%;
        }
    }
}

.view-slide {
    &.ng-enter {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transform: translate(-100%, 0px);
        -moz-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
        -o-transform: translate(-100%, 0px);
        transform: translate(-100%, 0px);
        opacity: 0;
        width: 100%;
        z-index: 1;
        position: absolute;
    }
    &.ng-enter-active {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        opacity: 1;
        position: absolute;
    }

    &.ng-leave {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        opacity: 1;
        width: 100%;
        z-index: 3;
        position: absolute;
    }
    &.ng-leave-active {
        -webkit-transform: translate(100%, 0px);
        -moz-transform: translate(100%, 0px);
        -ms-transform: translate(100%, 0px);
        -o-transform: translate(100%, 0px);
        transform: translate(100%, 0px);
        opacity: 0;
    }
}