//
// Custom varibles and functions
//
// CPS -- Cellular Parking Systems
//

// Table of Content
// ==================================================
//  #Basic Variables
//  #Fonts
//  #Functions

/*--------------
  Fonts
  ------------------*/
@fontTitle: "source_sans_proextralight";
@fontTitleBold: "source_sans_prosemibold";
@fontContent: "source_sans_proregular";
@fontBtn: "source_sans_proextralight";

/*--------------
  functions
  -----------------*/
.border-radius(@values) {
    -webkit-border-radius: @values;
    -moz-border-radius: @values;
    border-radius: @values;
}

.box-shadow(@values){
    -moz-box-shadow:@values;
    -webkit-box-shadow:@values;
    box-shadow:@values;
}

.transtransX(@transition: 250ms ease; @transform: -100%){
    -webkit-transition: -webkit-transform @transition;
    -webkit-transform: translateX(@transform);
    -moz-transition: -moz-transform @transition;
    -moz-transform: translateX(@transform);
    -o-transition: -o-transform @transition;
    -o-transform: translateX(@transform);
    transition: transform @transition;
    transform: translateX(@transform);
}

.transition(@values){
    transition: @values;
    -moz-transition: @values;
    -webkit-transition: @values;
    -o-transition: @values;
}

.transform(@transform: translate3d(0, 0, 0); @style: preserve-3d){
    -webkit-transform-style: @style;
    -moz-transform-style: @style;
    -ms-transform-style: @style;
    transform-style: @style;
    -webkit-transform: @transform;
    -ms-transform: @transform;
    -moz-transform: @transform;
    transform: @transform;
}

.perspective(@value: 1200px) {
    -webkit-perspective: @value;
    -moz-perspective: @value;
    -ms-perspective: @value;
    perspective: @value;
}

.make-btn(@bg; @bgHover: @bg; @bcolor: transparent; @bcolorHover: @bcolor; @color; @colorHover: @color; @textShadow: 1px 1px 1px darken(@bgColor1, 20%) ){
    background: @bcolor url("@{basePath}/@{bg}") repeat-x center center;
    .border-radius(7px) !important;
    font-family: @fontBtn;
    text-transform: uppercase;
    font-size: 20px;
    min-width: 90px;
    border-width: 0 0 0 0;
    color: @color;
    text-shadow:@textShadow;
    &:hover,
    &:active,
    &:focus{
        background-image: url("@{basePath}/@{bgHover}");
        background-color: @bcolorHover;
        color: @colorHover;
    }
}

.make-btn-gradient(@bcolor: transparent; @bcolorHover: @bcolor; @color; @colorHover: @color; @textShadow: 1px 1px 1px darken(@bgColor1, 20%); @bgFallback ){
    .patterns-diagonal(@bgDeg: darken(@bcolor, 6%); @bgGraStart: lighten(@bcolor, 3%); @bgGraEnd: darken(@bcolor, 3%); @bgfallback: @bgFallback);

    .border-radius(7px) !important;
    font-family: @fontBtn;
    text-transform: uppercase;
    font-size: 20px;
    min-width: 90px;
    border-width: 0 0 5px 0;
    border-bottom: 3px solid lighten(@bgColor2, 60%);
    color: @color;
    text-shadow:@textShadow;
    &:hover,
    &:active,
    &:focus{
        .patterns-diagonal(@bgDeg: darken(@bcolor, 6%); @bgGraStart: lighten(@bcolor, 5%); @bgGraEnd: darken(@bcolor, 3%); @bgfallback: @bgFallback);
        color: @colorHover;
    }
}

.patterns-diagonal(@deg: -56deg; @bgDeg; @thick: 5px; @bgGraStart; @bgGraEnd; @bgfallback){
    background: @bgGraStart url("@{basePath}/@{@bgfallback}") repeat-x center center;
    background: repeating-linear-gradient( @deg, transparent,  @bgDeg @thick, transparent 1px),
    linear-gradient(to bottom, @bgGraStart, @bgGraEnd);
    background: -moz-repeating-linear-gradient( @deg, transparent,  @bgDeg @thick, transparent 1px),
    linear-gradient(to bottom, @bgGraStart, @bgGraEnd);
    background: -webkit-repeating-linear-gradient( @deg, transparent,  @bgDeg @thick, transparent 1px),
    linear-gradient(to bottom, @bgGraStart, @bgGraEnd);
    background: -o-repeating-linear-gradient( @deg, transparent,  @bgDeg @thick, transparent 1px),
    linear-gradient(to bottom, @bgGraStart, @bgGraEnd);
    background: -ms-repeating-linear-gradient( @deg, transparent,  @bgDeg @thick, transparent 1px),
    -ms-linear-gradient(to bottom, @bgGraStart, @bgGraEnd);
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
    background: @color;
    background: -webkit-gradient(linear,
                                 left top,
                                 left bottom,
                                 color-stop(0, @start),
                                 color-stop(1, @stop));
    background: -ms-linear-gradient(top,
                                    @start,
                                    @stop);
    background: -moz-linear-gradient(center top,
                                     @start 0%,
                                     @stop 100%);
    background: -o-linear-gradient(@stop,
                                   @start);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.gradient-bottom(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
    background: @color;
    background: -webkit-gradient(linear,
                                 left bottom,
                                 left top,
                                 color-stop(0, @start),
                                 color-stop(1, @stop));
    background: -ms-linear-gradient(bottom,
                                    @start,
                                    @stop);
    background: -moz-linear-gradient(center bottom,
                                     @start 0%,
                                     @stop 100%);
    background: -o-linear-gradient(@stop,
                                   @start);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
    background: @color;
    background: -webkit-gradient(linear,
                                 left bottom,
                                 left top,
                                 color-stop(0, rgb(@start,@start,@start)),
                                 color-stop(1, rgb(@stop,@stop,@stop)));
    background: -ms-linear-gradient(bottom,
                                    rgb(@start,@start,@start) 0%,
                                    rgb(@stop,@stop,@stop) 100%);
    background: -moz-linear-gradient(center bottom,
                                     rgb(@start,@start,@start) 0%,
                                     rgb(@stop,@stop,@stop) 100%);
    background: -o-linear-gradient(rgb(@stop,@stop,@stop),
                                   rgb(@start,@start,@start));
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",rgb(@stop,@stop,@stop),rgb(@start,@start,@start)));
}

.anima-loader(@name: bounce_cpsLoader; @duration: 1.3s; @count: infinite; @direction: linear; @transform: scale(0.3); @radius: 10px){
    -moz-animation-name:@name;
    -moz-animation-duration:@duration;
    -moz-animation-iteration-count:@count;
    -moz-animation-direction:@direction;
    -moz-transform:@transform;
    -moz-border-radius:@radius;
    -webkit-animation-name:@name;
    -webkit-animation-duration:@duration;
    -webkit-animation-iteration-count:@count;
    -webkit-animation-direction:@direction;
    -webkit-transform:@transform;
    -webkit-border-radius:@radius;
    -ms-animation-name:@name;
    -ms-animation-duration:@duration;
    -ms-animation-iteration-count:@count;
    -ms-animation-direction:@direction;
    -ms-transform:@transform;
    -ms-border-radius:@radius;
    -o-animation-name:@name;
    -o-animation-duration:@duration;
    -o-animation-iteration-count:@count;
    -o-animation-direction:@direction;
    -o-transform:@transform;
    -o-border-radius:@radius;
    animation-name:@name;
    animation-duration:@duration;
    animation-iteration-count:@count;
    animation-direction:@direction;
    transform:@transform;
    border-radius:@radius;
}

@-webkit-keyframes bounce_cpsLoader {.bounce_cpsLoader;}
@-moz-keyframes bounce_cpsLoader {.bounce_cpsLoader;}
@-ms-keyframes bounce_cpsLoader {.bounce_cpsLoader;}
@-o-keyframes bounce_cpsLoader {.bounce_cpsLoader;}
@keyframes bounce_cpsLoader {.bounce_cpsLoader;}

.bounce_cpsLoader(@transform-start: scale(1); @color-start: @bgColor1; @color-end: @bgColor0; @transform-end: scale(0.3)){
    0%{
        -moz-transform: @transform-start;
        background-color: @color-start;
    }
    100%{
        -moz-transform: @transform-end;
        background-color: @color-end;
    }
}