.wpp_rs {
    height: 150px;
    position: fixed;
    right: 0;
    top: 150px;
    z-index: 999;
}
.wpp_rs a.tw, .wpp_rs a.fb, .wpp_rs a.yt {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: hsla(0, 0%, 0%, 0);
   /* background-image: url("../images/cps/bg.jpg");*/
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    display: block;
    height: 56px;
   width: 100px;
   padding-top:4px;

}

.wpp_rs .titlemenu {
		border-bottom:1px solid #CCC;
		display:block;
		font-size:10px;
		height:35px;
		line-height:16px;
		padding-left:5px;
		padding-right:5px;
		padding-top:4px;
		color:white;
		width:96px;
		-webkit-border-radius:5px;
	   -moz-border-radius:5px;
		-ms-border-radius:5px;
		 -o-border-radius:5px;
			border-radius:5px;
		background-color: #C33527;
 text-decoration:none;  
	}
img.menulat{
	display: block;
    margin-left: 0px;
    margin-right: auto;
  	border:1px solid #D3D3D3;
	border-left:5px solid #C33527;
}
