<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<!-- Inclusion de contenido -->
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">

						<div class="grid_15 omega">
							<div class="suffix_1">
								<h:form prependId="false" id="contact-form">
									<p:messages showSummary="true" showDetail="true"
										globalOnly="true" />

									<fieldset>
										<h5>
											<h:outputText value="#{msgs['menu.changePass']}" />
										</h5>
										<img style="margin-top: -5px;" class="pageImage"
											src="../images/cps/lock1.png"></img>
										<div class="field" style="clear: both;">
											<h:outputLabel value="#{msgs.changePassCurrentPass}"
												for="currentPass" />
											<h:inputSecret id="currentPass"
												value="#{changePasswordController.currentPass}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="currentPass" display="true" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs.changePassNewPass}"
												for="newPass" />
											<p:password id="newPass"
												value="#{changePasswordController.newPass}" required="true"
												requiredMessage="#{msgs.passRequired}" />
											<p:message for="newPass" display="true" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs.changePassRetypePass}"
												for="retypeNewpass" />
											<h:inputSecret styleClass="text-input" id="retypeNewpass"
												value="#{changePasswordController.reTypePass}"
												required="true" requiredMessage="#{msgs.passRequired}" />
											<p:message for="retypeNewpass" display="true" />
										</div>

										<div class="container">
											<div class="fleft" style="margin: 20px 0;">
												<h:commandLink styleClass="link" id="updateButton"
													value="[#{msgs.updateButton}]"
													actionListener="#{changePasswordController.changePass}" />
											</div>
										</div>
									</fieldset>
									
								<p:blockUI block="contact-form" trigger="updateButton"/>
     							
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>