<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">


	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="dummy" value="#"/>
			<f:viewParam name="check"
				value="#{changePasswordController.recoverInfo}" />
<!-- 			<f:event type="preRenderView" -->
<!-- 				listener="#{changePasswordController.checkValidData}" /> -->
		<f:viewAction action="#{changePasswordController.checkValidData}" onPostback="true"/> 

		</f:metadata>
	</ui:define>

	<!-- Inclusion de contenido -->
	<ui:define name="content">

		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">

						<div class="grid_15 omega">
							<div class="suffix_1">
								<h:form prependId="false" id="contact-form">
									<fieldset>
										<h5>
											<h:outputText value="#{msgs['menu.changePass']}" />
										</h5>
										<img style="margin-top: -5px;" class="pageImage"
											src="../images/cps/lock1.png"></img>
										<div style="clear: both"></div>
										<p:messages showSummary="true" showDetail="true"
											globalOnly="true" />
										<h:panelGroup
											rendered="#{changePasswordController.enableButton}">
											<div class="field">
												<h:outputLabel value="#{msgs.changePassNewPass}"
													for="newPass" />
												<p:password id="newPass"
													value="#{changePasswordController.newPass}" required="true"
													requiredMessage="#{msgs.passRequired}" />
												<p:message for="newPass" display="true" />
											</div>
											<div class="field">
												<h:outputLabel value="#{msgs.changePassRetypePass}"
													for="retypeNewpass" />
												<h:inputSecret styleClass="text-input" id="retypeNewpass"
													value="#{changePasswordController.reTypePass}"
													required="true" requiredMessage="#{msgs.passRequired}" />
												<p:message for="retypeNewpass" display="true" />
											</div>

											<div class="container">
												<div class="fleft" style="margin: 20px 0;">
													<h:commandLink
														styleClass="link" id="updateButton"
														value="[#{msgs.updateButton}]"
														action="#{changePasswordController.changePassRecovery}" />
												</div>
											</div>
										</h:panelGroup>
									</fieldset>
									<p:blockUI block="contact-form" trigger="updateButton">
     								   LOADING<br />
     									   <p:graphicImage name="demo/images/ajaxloadingbar.gif"/>
   								</p:blockUI>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>
