<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CPS Mobile</title>
    <meta name="description" content="Cellular Payment Systems" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width, height=device-height" />

    <link rel="prefetch stylesheet" type="text/css" href="static/css/main.min.css" />
    <link rel="prefetch" type="application/l10n" href="locale/locales.ini" />

  </head>
  <body class="ui-mobile" ng-controller="MainController as main">


    <cps-container>

      <cps-menu side="left" class="menu">
        <header class="bar bar-header bar-positive">
          <div class="title">
            <cps-user-info>
              <!-- user info here -->
            </cps-user-info>
          </div>
        </header>
        <ul class="list has-header" ng-switch on="main.isMinRole()">
          <a href="#zones" class="item item-icon-left" ng-switch-when="true">
            <i class="icon ion-flag"></i>
            <span locale-id="zones">Main</span>
          </a>
      </cps-menu>

      <cps-view cps-menu-control>
        <header class="bar bar-header bar-calm">
          <button class="button button-icon icon ion-navicon" ng-controller="MenuController as menu" hm-tap="menu.toggleLeft()">
            <span class="hide">Menu</span>
          </button>
          <cps-view-nav>
            <!-- Section title and backBottom -->
          </cps-view-nav>
        </header>

        <cps-content>
          <div class="scroll view-slide-in-left view-slide-out-right" ng-view>
            <!-- Load templates and view here -->
          </div>
        </cps-content>

        <footer class="bar bar-footer bar-calm">
          <h1 class="title title-left">
            <img src="static/images/logo-app-white.png" alt="by CPS" />
          </h1>
          <button ng-click="main.share()" class="button button-icon icon ion-android-share-alt">
            <span class="hide">share</span>
          </button>
        </footer>

      </cps-view>

    </cps-container>

    <!-- Better performance script's here -->
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="app/cps.min.js"></script>

  </body>
</html>
