<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	>
<!-- Menu para usuario publico -->
<h:panelGroup rendered="#{sessionScope.userSession == null}">
	<div class="nav">
		<ul class="sf-menu">
			<li
				><a
				href="#{facesContext.externalContext.requestContextPath}/faces/index.xhtml"><h:outputText
						value="#{msgs['menu.home']}" /></a></li>
			<li
				><a
				href="#{facesContext.externalContext.requestContextPath}/faces/aboutUs.xhtml"><h:outputText
						value="#{msgs['menu.aboutUs']}" /></a></li>
			<li
				><a
				href="#{facesContext.externalContext.requestContextPath}/faces/services.xhtml"><h:outputText
						value="#{msgs['menu.services']}" /></a></li>
			<!-- <li
				class="#{facesContext.viewRoot.viewId == '/moreInf.xhtml' ? '' : ''}"><a
				href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml"><h:outputText
						value="#{msgs['menu.clients']}" /></a></li> -->
			<!--   <li class="#{facesContext.viewRoot.viewId == '/tower.xhtml' ? '' : ''}"><a href="#{facesContext.externalContext.requestContextPath}/faces/tower.xhtml"><h:outputText value="#{msgs['menu.solutions']}"/></a></li> -->
			<!-- <li><a
				href="#{facesContext.externalContext.requestContextPath}/faces/support.xhtml"><h:outputText
						value="#{msgs['menu.support']}" /></a></li> -->
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/zones/SearchZones.xhtml">
					<h:outputText value="#{msgs['menu.myZones']}" />
				</h:outputLink></li>
			<li
				><a
				href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
						value="#{msgs['menu.contacts']}" /></a></li>
			<li class="selected"><a
				href="#{facesContext.externalContext.requestContextPath}/faces/downloads.xhtml"><h:outputText
						value="#{msgs['menu.download']}" /></a></li>


		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario publico -->
<!-- Menu para usuario Logueado -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '2' || sessionScope.userSession.idsysUserType == '10' }">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				>
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						>
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
					<li
						><a
						href="#{facesContext.externalContext.requestContextPath}/doc/Manual del Usuario City V1.pdf"
						download="Manual del Usuario City V1.pdf" target="_blank"><h:outputText
								value="Manual" /></a></li>
					<li
						><a
						href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
								value="#{msgs['menu.contacts']}" /></a></li>
							
				</ul>
			</li>
			<li
				><a
				href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myReloads']}" /></a>
				<ul>
					<!--   <li class="#{facesContext.viewRoot.viewId == '/balance/reloadBalancePin.xhtml' ? 'current' : ''}"><h:outputLink value="#{facesContext.externalContext.requestContextPath}/faces/balance/reloadBalancePin.xhtml"><h:outputText value="#{msgs['menu.reloadPin']}"/></h:outputLink></li>  -->
					<!--   <li class="#{facesContext.viewRoot.viewId == '/balance/reloadPayPal.xhtml' ? 'current' : ''}"><h:outputLink value="#{facesContext.externalContext.requestContextPath}/faces/balance/reloadPayPal.xhtml"><h:outputText value="#{msgs['menu.reloadPayPal']}"/></h:outputLink></li> -->
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/balance/reloadUserCity.xhtml">
							<h:outputText value="#{msgs['menu.recharge.account']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/vehicle/managerVehicle.xhtml">
					<h:outputText value="#{msgs['menu.myVehicles']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/mobile/managerMobile.xhtml">
					<h:outputText value="#{msgs['menu.myMobiles']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/account/managerUsers.xhtml">
					<h:outputText value="#{msgs['menu.myUser']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/zones/ZonesUser.xhtml">
					<h:outputText value="#{msgs['menu.myZones']}" />
				</h:outputLink></li>

			<li
				><h:outputLink>
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/listCityHistoryParking.xhtml">
							<h:outputText value="#{msgs['menu.myHistory']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUserCitySales.xhtml">
							<h:outputText value="#{msgs['menu.recharge']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportGiveTransaction.xhtml">
							<h:outputText value="#{msgs['parameter.transfer.menu']}" />
						</h:outputLink></li>
				</ul></li>
			<!-- <li
				class="#{facesContext.viewRoot.viewId == '/moreInf.xhtml' || facesContext.viewRoot.viewId == '/tower.xhtml' || facesContext.viewRoot.viewId == '/contacts.xhtml' ? 'current' : ''}"><a
				href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.services']}" /></a>
				<ul>
					  <li class="#{facesContext.viewRoot.viewId == '/moreInf.xhtml' ? 'current' : ''}"><a href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml"><h:outputText value="#{msgs['menu.clients']}"/></a></li> 
					<li
						class="#{facesContext.viewRoot.viewId == '/PreguntasFrecuentes.pdf' ? 'current' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/PreguntasFrecuentes.pdf"><h:outputText
								value="PREGUNTAS" /></a></li>
					 <li class="#{facesContext.viewRoot.viewId == '/tower.xhtml' ? 'current' : ''}"><a href="#{facesContext.externalContext.requestContextPath}/faces/tower.xhtml"><h:outputText value="#{msgs['menu.solutions']}"/></a></li>
					<li
						class="#{facesContext.viewRoot.viewId == '/contacts.xhtml' ? 'current' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
								value="#{msgs['menu.contacts']}" /></a></li>
					<li
						class="#{facesContext.viewRoot.viewId == '/aboutUs.xhtml' ? 'current' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/aboutUs.xhtml"><h:outputText
								value="#{msgs['menu.aboutUs']}" /></a></li>
				</ul></li> -->

		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '3'}">
	<nav>
		<ul class="sf-menu">
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
					<h:outputText value="#{msgs['menu.myProfile']}" />
				</h:outputLink></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/cards/importCards.xhtml' ? '' : ''}"><h:outputLink
					value="javascript:void(0)">
					<h:outputText value="#{msgs['menu.cards']}" />
				</h:outputLink>
				<ul>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/cards/importCards.xhtml">
							<h:outputText value="#{msgs['menu.importCards']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				><h:outputLink
					value="">
					<h:outputText value="#{msgs['menu.ActiveParking']}" />
				</h:outputLink>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/parking/ActiveParking.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/ActiveParking.xhtml">
							<h:outputText value="#{msgs['menu.ActiveParkingList']}" />
						</h:outputLink></li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/ActiveParkingGraphic.xhtml">
							<h:outputText value="#{msgs['menu.ActiveParkingGraphic']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/parking/reportParking.xhtml">
					<h:outputText value="#{msgs['menu.myHistory']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/template/layoutReports.xhtml">
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
					<h:outputText value="#{msgs['menu.changePass']}" />
				</h:outputLink></li>
		</ul>
	</nav>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '1'}">
	<nav>
		<ul class="sf-menu">
			<li
				><h:outputLink
					value="">
					<h:outputText value="#{msgs['menu.myZones']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/zones/registerZone.xhtml">
							<h:outputText value="#{msgs['menu.createZone']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/zones/ZonesAdmin.xhtml">
							<h:outputText value="#{msgs['menu.Zones']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/account/managerAgents.xhtml' ? '' : ''}"><h:outputLink
					value="">
					<h:outputText value="#{msgs['menu.agent']}" />
				</h:outputLink>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/registerAgent.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/agent/managerAgents.xhtml">
							<h:outputText value="#{msgs['menu.agent']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/client/managerClients.xhtml' ? '' : ''}"><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/client/managerClients.xhtml">
					<h:outputText value="#{msgs['menu.myClient']}" />
				</h:outputLink></li>

			<li
				class="#{facesContext.viewRoot.viewId == '/cards/importCards.xhtml' ? '' : ''}"><h:outputLink
					value="javascript:void(0)">
					<h:outputText value="#{msgs['menu.cards']}" />
				</h:outputLink>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/cards/importCards.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/cards/importCards.xhtml">
							<h:outputText value="#{msgs['menu.importCards']}" />
						</h:outputLink></li>
				</ul></li>

			<li
				><h:outputLink
					value="">
					<h:outputText value="#{msgs['menu.ActiveParking']}" />
				</h:outputLink>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/parking/ActiveParking.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/ActiveParking.xhtml">
							<h:outputText value="#{msgs['menu.ActiveParkingList']}" />
						</h:outputLink></li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/ActiveParkingGraphic.xhtml">
							<h:outputText value="#{msgs['menu.ActiveParkingGraphic']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/parking/reportParking.xhtml">
					<h:outputText value="#{msgs['menu.myHistory']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/template/layoutReports.xhtml">
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/template/layoutReports.xhtml">
							<h:outputText value="General" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/reportParkingConsumption.xhtml">
							<h:outputText value="#{msgs['menu.consumption']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
							<h:outputText value="#{msgs['menu.userReport']}" />
						</h:outputLink></li>

				</ul></li>

			<li
				><h:outputLink
					value="javascript:void(0)">
					<h:outputText value="#{msgs['menu.myAccount']}" />
				</h:outputLink>
				<ul>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink></li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
				</ul></li>

		</ul>
	</nav>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado ADMIN-->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '5'}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				>
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						>
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
				</ul>
			</li>
			<li
				><h:outputLink
					value="">
					<h:outputText value="#{msgs['menu.myZones']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/zones/registerZone.xhtml">
							<h:outputText value="#{msgs['menu.createZone']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/zones/ZonesAdmin.xhtml">
							<h:outputText value="#{msgs['menu.Zones']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/zones/ParkingPlaces.xhtml">
							<h:outputText value="#{msgs['menu.Zones.Map']}" />
						</h:outputLink></li>
				</ul></li>

			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/parking/reportParking.xhtml">
					<h:outputText value="#{msgs['menu.myHistory']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
							<h:outputText value="#{msgs['menu.userReport']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportCitySales.xhtml">
							<h:outputText value="#{msgs['menu.recharge']}" />
						</h:outputLink></li>

					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportGiveTransaction.xhtml">
							<h:outputText value="#{msgs['parameter.transfer.menu']}" />
						</h:outputLink></li>
						
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/administrativeTransactionReport.xhtml">
							<h:outputText value="#{msgs['parameter.adminreport.menu.title']}" />
						</h:outputLink></li>
						
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportCampaign.xhtml">
							<h:outputText value="#{msgs['parameter.campaign.menu.title']}" />
						</h:outputLink></li>
				</ul></li>


			<!-- 				campaing section -->
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/campaign/managerCampaign.xhtml">
					<h:outputText value="#{msgs['campaign.menu.name']}" />
				</h:outputLink>
				<ul>


				</ul></li>

			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportSales.xhtml">
					<h:outputText value="#{msgs['menu.income']}" />
				</h:outputLink></li>

		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado COMERCIAL	-->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '9'}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				>
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						>
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
				</ul>
			</li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/parking/reportParking.xhtml">
					<h:outputText value="#{msgs['menu.myHistory']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
							<h:outputText value="#{msgs['menu.userReport']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportCitySales.xhtml">
							<h:outputText value="#{msgs['menu.recharge']}" />
						</h:outputLink></li>

					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportGiveTransaction.xhtml">
							<h:outputText value="#{msgs['parameter.transfer.menu']}" />
						</h:outputLink></li>
				</ul></li>


			<!-- 				campaing section -->
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/campaign/managerCampaign.xhtml">
					<h:outputText value="#{msgs['campaign.menu.name']}" />
				</h:outputLink>
				<ul>


				</ul></li>

			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportSales.xhtml">
					<h:outputText value="RECAUDO" />
				</h:outputLink></li>

		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado TECNOLOGIA	-->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '8'}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">

			<li
				><h:outputLink
					value="">
					<h:outputText value="#{msgs['menu.myZones']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/zones/registerZone.xhtml">
							<h:outputText value="#{msgs['menu.createZone']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/zones/ZonesAdmin.xhtml">
							<h:outputText value="#{msgs['menu.Zones']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/zones/ParkingPlaces.xhtml">
							<h:outputText value="#{msgs['menu.Zones.Map']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/parking/reportParking.xhtml">
					<h:outputText value="#{msgs['menu.myHistory']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
							<h:outputText value="#{msgs['menu.userReport']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportCitySales.xhtml">
							<h:outputText value="#{msgs['menu.recharge']}" />
						</h:outputLink></li>

					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportGiveTransaction.xhtml">
							<h:outputText value="#{msgs['parameter.transfer.menu']}" />
						</h:outputLink></li>
				</ul></li>

		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '6'}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				>
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						>
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
				</ul>
			</li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportSales.xhtml">
					<h:outputText value="RECAUDO" />
				</h:outputLink></li>

		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado Perfil Driver -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '12'}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				>
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.driver']}" /></a>
				<ul>
					<li
						>
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/driver/driverAdmin.xhtml">
							<h:outputText value="#{msgs['menu.listDriver']}" />
						</h:outputLink>
					</li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/driver/driverAddOperator.xhtml">
							<h:outputText value="#{msgs['menu.operators']}" />
						</h:outputLink></li>
				</ul>
			</li>		
			<li
				>
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						>
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
					<li
						><a
						href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
								value="#{msgs['menu.contacts']}" /></a></li>
				</ul>
			</li>
		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado Perfil Driver -->
<!-- Menu para usuario Supervisor Logueado -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '11'}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				>
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						>
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
					<li
						><a
						href="#{facesContext.externalContext.requestContextPath}/doc/Manual del Usuario City V1.pdf"
						download="Manual del Usuario City V1.pdf" target="_blank"><h:outputText
								value="Manual" /></a></li>
					<li
						><a
						href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
								value="#{msgs['menu.contacts']}" /></a></li>
									
						
							
				</ul>
			</li>
			<li ><a href="javascript:void(0);">
			<h:outputText	value="#{msgs['menu.myReloads']}" /></a>
				<ul>
					<li ><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/balance/reloadUserCity.xhtml">
							<h:outputText value="#{msgs['menu.recharge.account']}" />
						</h:outputLink></li>
						
								<li 
						class="#{facesContext.viewRoot.viewId == '/balance/transferBalance.xhtml' ? 'current' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/balance/transferBalance.xhtml"><h:outputText
								value="#{msgs['parameter.transfer.menu']}" /></a></li>
				</ul>
			</li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/vehicle/managerVehicle.xhtml">
					<h:outputText value="#{msgs['menu.myVehicles']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/mobile/managerMobile.xhtml">
					<h:outputText value="#{msgs['menu.myMobiles']}" />
				</h:outputLink></li>
			<li
				><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/account/managerUsers.xhtml">
					<h:outputText value="#{msgs['menu.myUser']}" />
				</h:outputLink></li>
			<li ><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/zones/ZonesUser.xhtml">
					<h:outputText value="#{msgs['menu.myZones']}" />
				</h:outputLink></li>

			<li ><h:outputLink>
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li
						><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/listCityHistoryParking.xhtml">
							<h:outputText value="#{msgs['menu.myHistory']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUserCitySales.xhtml">
							<h:outputText value="#{msgs['menu.recharge']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportGiveTransaction.xhtml">
							<h:outputText value="#{msgs['parameter.transfer.menu']}" />
						</h:outputLink></li>
				</ul>
			</li>
			<li ><a
				href="javascript:void(0);"><h:outputText value="#{msgs['menu.mySupervisor']}" /></a>
				<ul>
					<li ><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/admin/supervisor.xhtml">
							<h:outputText value="#{msgs['menu.mySupervisor.userBalance']}" /></h:outputLink>
					</li>
				</ul>
			</li>			

		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Supervisor Logueado -->
</html>
