<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

	<link rel="SHORTCUT ICON" href="../images/cps/icono.ico" />

	<title><ui:insert name="title">CPS</ui:insert></title>
	<meta charset="utf-8" />
	<meta name="description"
		content="CPS - Cellular Parking System, Nuestra mision es atender las necesidades de estacionamiento de toda las ciudades y entidades privadas , brindando soluciones eficaces por medio de technologia de punta para asi contribuir al positivo desarrollo de nuestra sociedad." />
	<meta name="keywords"
		content="cps, parking, cellular, system, cellular parking system, parqueaderos, app mobile, app móvil, app, móvil, mobile, aplicación, celular, costa rica, canada, colombia, android, iphone, symbian, blackberry" />
	<meta name="author" content="CPS Parking" />
	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/reset.css"
		type="text/css" media="all" />
	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/grid.css"
		type="text/css" media="all" />
	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/style.css"
		type="text/css" media="all" />

	<!-- styles for prettyPhoto -->
	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/prettyPhoto.css"
		type="text/css" media="all" />

	<!-- styles for Menu Float -->
	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/css/menufloat.css"
		type="text/css" media="all" />

	<script type="text/javascript">
        $ = jQuery;
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      	  ga('create', 'UA-52539991-2', 'auto');
      	  ga('send', 'pageview');
    </script>
	<!-- <script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>-->

	<!--  <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/script.js"></script>-->
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/js/easyTooltip.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/js/jquery.blockUI.js"></script>

	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/js/fancybox/jquery.fancybox-1.3.4.css"
		type="text/css" media="all" />


	<!--[if lt IE 8]><div style=' clear: both; height: 59px; text-align:center; position: relative;'> <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" height="42" width="820" alt="" /></a></div><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><link rel="stylesheet" href="css/ie_style.css" type="text/css" media="screen"><![endif]-->
	<ui:insert name="head">

	</ui:insert>
</h:head>

<body>
	<div class="bg-main">
		<div id="main">
			<!-- header -->
			<div id="header">
				<ui:insert name="header">

					<a class="logo"
						href="#{facesContext.externalContext.requestContextPath}/faces/index.xhtml"><img
						src="#{facesContext.externalContext.requestContextPath}/images/cps/CPS-logo.png" /></a>

					<div id="headersocial">

						<h:panelGroup layout="block" class="indent"
							rendered="#{sessionScope.userSession == null}">
							<ul class="icon">
								<li><h:outputLink
										rendered="#{sessionScope.userSession == null}" target="_blank"
										value="https://www.facebook.com/cpsparking"
										styleClass="normaltip" title="facebook">
										<img alt=""
											src="#{facesContext.externalContext.requestContextPath}/images/facebookIcon.png" />
									</h:outputLink></li>
								<li><h:outputLink
										rendered="#{sessionScope.userSession == null}" target="_blank"
										value="http://twitter.com/cpsparking" styleClass="normaltip"
										title="twitter">
										<img alt=""
											src="#{facesContext.externalContext.requestContextPath}/images/twitterIcon.png" />
									</h:outputLink></li>
							</ul>
						</h:panelGroup>


						<h:panelGroup layout="block" id="divHeader2"
							rendered="#{sessionScope.userSession == null}">
							<h:outputLink styleClass="link"
								value="#{facesContext.externalContext.requestContextPath}/faces/account/registerUser.xhtml">
								<h:outputText value="#{msgs.registerUser}" />
							</h:outputLink>
						</h:panelGroup>


						<div id="divHeader1">
							<h:form prependId="false" id="login-form" styleClass="alignRight">
								<fieldset>
									<h:panelGroup rendered="#{sessionScope.userSession == null}">
										<p:growl globalOnly="true" id="growLogin" showSummary="true"
											sticky="false" life="2000" />
										<div class="loginInputs">
											<div class="rowElem2">
												<span> <h:inputText maxlength="15" id="loginUser"
														value="#{loginController.login}" /> <p:watermark
														value="#{msgs.loginLabel}" for="loginUser" /></span>
											</div>
											<div class="rowElem2">
												<h:inputSecret id="password" value="#{loginController.pass}" />
												<p:watermark value="#{msgs.passLabel}" for="password" />
											</div>
											<h:commandButton styleClass="rowElem2"
												value="#{msgs.loginButton}"
												action="#{loginController.loggin}" id="Login" />



										</div>
										<div class="forgotPass">
											<h:outputLink styleClass="link1"
												value="#{facesContext.externalContext.requestContextPath}/faces/security/forgotPass.xhtml">
												<h:outputText value="#{msgs.loginForgot}" />
											</h:outputLink>

										</div>
									</h:panelGroup>
									<h:outputText rendered="#{sessionScope.userSession != null}"
										value="#{msgs.wellcome}, #{sessionScope.userSession.name}" />
									<h:commandLink rendered="#{sessionScope.userSession != null}"
										value="[#{msgs.logoutButton}]"
										action="#{loginController.logout}" />
									<br />
									<h:outputText styleClass="myBalance"
										rendered="#{sessionScope.userSession.idsysUserType == '2' or sessionScope.userSession.idsysUserType=='11'}"
										value="#{msgs.myBalance}: #{balanceCurrentController.sysUser.balance}">
										<f:convertNumber type="currency" />
									</h:outputText>
									<h:outputText value=" " />
								</fieldset>
							</h:form>
						</div>

					</div>

					<h:form prependId="false">
						<div class="languages">
							<h:commandLink styleClass="select"
								value="#{msgs['menu.language']}"></h:commandLink>
							<h:commandLink id="en"
								actionListener="#{formSettings.swapLocale}" styleClass="langEn"></h:commandLink>
							<h:commandLink id="es"
								actionListener="#{formSettings.swapLocale}" styleClass="langEs"></h:commandLink>
						</div>
					</h:form>



				</ui:insert>
			</div>
		</div>
		<div id="menufullheader">
			<div id="main">
				<ui:insert name="menu">
					<ui:include src="menu.xhtml" />
				</ui:insert>
			</div>
		</div>
		<div id="main">
			<div class="wpp_rs">
				<h:form prependId="false">
					<h:commandLink styleClass="titlemenu" value="#{msgs['menu.title']}"></h:commandLink>
				</h:form>
				<a class="fb" target="_blank" href="https://www.cpsparking.co"><img
					class="menulat"
					src="https://www.cpsparking.co/service/images/cps/city-menu.png"></img></a>
				<a class="yt" target="_blank" href="https://www.cpsparking.ca"><img
					class="menulat"
					src="https://www.cpsparking.co/service/images/cps/msj-menu.png"></img></a>
			</div>
			<div id="content">
				<ui:insert name="content">

				</ui:insert>
			</div>
		</div>
	</div>

	<div id="footer">
		<ui:insert name="footer">
			<!-- footer -->

			<div class="main">
				<div class="inside">
					<div class="wrapper">

						<!--  <img alt="" src="#{facesContext.externalContext.requestContextPath}/images/title1.gif" class="title1" />-->
						<div class="title1" style="text-align: right;">
							5000 Yonge Street, Suite 1901 Toronto, Ontario Canada - M2N 7E9<br />
							416 628-5591&nbsp;<br />Colombia 317-3637079 <br />
							sales@cpsparking.ca<br /> www.cpsparking.co
						</div>
						<img alt=""
							src="#{facesContext.externalContext.requestContextPath}/images/cps/CPSLogoSmall.png"
							class="title" /><br />
						<h:panelGroup rendered="#{sessionScope.userSession == null}">
							<div class="container">
								<nav>
								<ul>
									<li class="first"><a
										href="#{facesContext.externalContext.requestContextPath}/faces/aboutUs.xhtml"><h:outputText
												value="#{msgs['menu.aboutUs']}" /></a></li>
									<li><a
										href="#{facesContext.externalContext.requestContextPath}/faces/services.xhtml"><h:outputText
												value="#{msgs['menu.services']}" /></a></li>
									<li><a
										href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml"><h:outputText
												value="#{msgs['menu.clients']}" /></a></li>
									<!--     <li><a href="#{facesContext.externalContext.requestContextPath}/faces/tower.xhtml"><h:outputText value="#{msgs['menu.solutions']}"/></a></li> -->
									<li><a
										href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
												value="#{msgs['menu.contacts']}" /></a></li>
								</ul>
								</nav>
							</div>
						</h:panelGroup>
						CPS &copy; 2014 &nbsp; &nbsp;| &nbsp; &nbsp;<a
							href="javascript:void(0);"><h:outputText
								value="#{msgs['parameter.policy.privacity']}" /></a>
					</div>
				</div>
			</div>

			<!-- <script type="text/javascript"> Cufon.now(); </script>-->
		</ui:insert>
	</div>

</body>

</html>
