.animation (@name, @duration: 300ms, @ease: ease, @delay: 0s, @iteration: 1, @direction: normal, @fill: none, @play-state: running) {
    -webkit-animation-name: @name;
    -webkit-animation-duration: @duration;
    -webkit-animation-timing-function: @ease;
    -webkit-animation-delay: @delay;
    -webkit-animation-iteration-count: @iteration;
    -webkit-animation-direction: @direction;
    -webkit-animation-fill-mode: @fill;
    -webkit-animation-play-state: @play-state;

    -moz-animation-name: @name;
    -moz-animation-duration: @duration;
    -moz-animation-timing-function: @ease;
    -moz-animation-delay: @delay;
    -moz-animation-iteration-count: @iteration;
    -moz-animation-direction: @direction;
    -moz-animation-fill-mode: @fill;
    -moz-animation-play-state: @play-state;

    -ms-animation-name: @name;
    -ms-animation-duration: @duration;
    -ms-animation-timing-function: @ease;
    -ms-animation-delay: @delay;
    -ms-animation-iteration-count: @iteration;
    -ms-animation-direction: @direction;
    -ms-animation-fill-mode: @fill;
    -ms-animation-play-state: @play-state;

    animation-name: @name;
    animation-duration: @duration;
    animation-timing-function: @ease;
    animation-delay: @delay;
    animation-iteration-count: @iteration;
    animation-direction: @direction;
    animation-fill-mode: @fill;
    animation-play-state: @play-state;
}

.animation-delay (@delay: 0s) {
    -moz-animation-delay: @delay;
    -webkit-animation-delay: @delay;
    -ms-animation-delay: @delay;
    animation-delay: @delay;
}

.transition(@target: all, @duration:0.2s, @ease:ease-out) {
    -webkit-transition: @target @duration @ease;
    -moz-transition: @target @duration @ease;
    -ms-transition: @target @duration @ease;
    transition: @target @duration @ease;
}

.transition-prefix(@target: transform, @duration:0.2s, @ease:ease-out) {
    -webkit-transition: e("-webkit-@{target}") @duration @ease;
    -moz-transition: e("-moz-@{target}")  @duration @ease;
    -ms-transition: e("-ms-@{target}")  @duration @ease;
    transition: @target @duration @ease;
}

.transition-property(...) {
    @target: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
    -moz-transition-property: @target;
    -webkit-transition-property: @target;
    -ms-transition-property: @target;
    transition-property: @target;
}

.transition-property-prefix(@target: transform) {
    -webkit-transition-property:  e("-webkit-@{target}");
    -moz-transition-property:  e("-moz-@{target}");
    -ms-transition-property:  e("-ms-@{target}");
    transition-property: @target;
}

.transition-duration(@duration: 0.2s) {
    -moz-transition-duration: @duration;
    -webkit-transition-duration: @duration;
    -ms-transition-duration: @duration;
    transition-duration: @duration;
}

.transition-timing-function(@ease: ease) {
    -moz-transition-timing-function: @ease;
    -webkit-transition-timing-function: @ease;
    -ms-transition-timing-function: @ease;
    transition-timing-function: @ease;
}

.transition-delay(@delay: 0s) {
    -moz-transition-delay: @delay;
    -webkit-transition-delay: @delay;
    -ms-transition-delay: @delay;
    transition-delay: @delay;
}

.transition-transform(...) {
  // special case cuz of transform vendor prefixes
  -webkit-transition: -webkit-transform @arguments;
  -moz-transition: -moz-transform @arguments;
  -ms-transition: -ms-transform @arguments;
  transition: transform @arguments;
}

.transform(...) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}

.scale (@factor) {
    .transform(scale(@factor));
}

.rotate (@deg) {
    .transform(rotate(@deg));
}

.rotation (@deg:5deg){
    .transform(rotate(@deg));
}

.skew (@deg, @deg2) {
    .transform(skew(@deg, @deg2));
}

.translate (@x, @y:0) {
    .transform(translate(@x, @y));
}

.translate3d (@x, @y: 0, @z: 0) {
    .transform(translate3d(@x, @y, @z));
}

.perspective (@value: 1000) {
    -webkit-perspective: @value;
    -moz-perspective: @value;
    -ms-perspective: @value;
    perspective: @value;
}

.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin: @x @y;
    -ms-transform-origin: @x @y;
    transform-origin: @x @y;
}

.keyframes (@name, @frames) {
    @-webkit-keyframes @name {@frames();}
    @-moz-keyframes @name {@frames();}
    @-ms-keyframes @name {@frames();}
    @keyframes @name {@frames();}
}