// Filter Mixins
// --------------------------------------------------

.filter-bar-style(@bg-color, @active-border-color, @color-text) {
    .item-input-wrapper {
        border-bottom: 1px solid @active-border-color;
        background: @bg-color;
        input[type="search"] {
            .placeholder(lighten(@color-text, 40%));
            color: @color-text;
        }
        .filter-bar-clear {
            &:before {
                color: @color-text;
            }
        }
    }
}