<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">

    <title>#{msgs['email.forgot.title']}</title>

<body>
<ui:param name="path" value="#{request.contextPath}" />
<ui:param name="basePath" value="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{path}" />

    <table style="font-family: sans-serif; font-size: 12px; color: rgb(152, 152, 152);" align="center" border="0" cellpadding="0" cellspacing="0" width="500" >
    <tbody>

      <tr style="background-color: #004e90;">
          <td class="bg_azul" style="background: #004e90; width: 10px;"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_0_0.jpg"  style="display: block; width: 10px; max-height: 89px; height: 89px; border-width: 0px;"></img></td>
          <td colspan="2" style="background-color: #004e90;">
            <h1 style="color:#ffffff; margin:0; padding:0">
              <span><h:outputText value="#{msgs['email.greeting']}" escape="false" /></span>
            </h1>
            <p class="email-name" style="color: #ffffff; font-size: 18px; margin: 0; padding: 0;"><h:outputText value="{cps_name} {cps_lastName}" escape="false" /></p>
          </td>
          <td style="background-color: #004e90; text-align: right;" > <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_0_1_1.jpg"  style="display: block;  width: 120px; border-width: 0px;"> </img></td>
          <td class="bg_azul" style="background: #004e90; width: 10px;"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_0_2.jpg"  style="display: block;  width: 10px; height: 89px; max-height: 89px; border-width: 0px;"> </img></td>
      </tr>

      <tr>
        <td  class="bg_azul" style="background: #004e90; width: 10px;"> </td>
        <td  colspan="3" > <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_1_1.jpg"  style="display: block; width: 480px; height: 175px; max-height: 175px; border-width: 0px;"> </img></td>
        <td  class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
        <td colspan="3"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_2_1.jpg"  style="display: block; width: 480px; height: 22px; max-height: 22px; border-width: 0px;"> </img></td>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
        <td ><img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_10_3.jpg"  style="display: block; border-width: 0px;"></img></td>
        <td colspan="2">
          <p style="padding: 0 10px;"><h:outputText value="{cps_msg}" escape="false" /></p>
        </td>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
        <td colspan="3"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_4_1.jpg"  style="display: block; width: 480px; height: 19px; max-height: 19px; border-width: 0px;"> </img></td>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
        <td > <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_5_1_1.jpg"  style="display: block; width: 106px; height: 65px; max-height: 65px; border-width: 0px;"> </img></td>
        <td style="color:#000000; width: 300px; background-color: #d2d2d2; text-align: center;">
            <p style="padding: 0 8px; margin: 0px;" class="email-user"> <h:outputText value="#{msgs['email.field.username']}" escape="false" /> :<span> {cps_login} </span> </p>
<!--             <p style="padding: 0 8px; margin: 0px;" class="email-pass"> <h:outputText value="#{msgs['email.field.pass']}" escape="false" /> :<span> {cps_resetlink} </span> </p> -->
            <p style="padding: 0 8px; margin: 0px;" class="email-uniquecode"><h:outputText value="#{msgs['email.field.cu']}" escape="false" /> :<span> {cps_cu} </span> </p>
        </td>
        <td > <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_5_1_2.jpg"  style="display: block; width: 106px; height: 65px; max-height: 65px; border-width: 0px;"> </img></td>
        <td class="bg_azul" style="background: #004e90; width: 10px;" > </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;"></td>
        <td colspan="3"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_6_1.jpg"  style="display: block; width: 480px; max-height: 66px; height: 66px; border-width: 0px;"> </img></td>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;" > </td>
        <td style="text-align: center;"> <img class="img-description1" alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_7_1_1.jpg"  style="width: 100px; height: 200px; max-height: 200px; border-width: 0px;"> </img></td>
        <td style="text-align: center;"> <img class="img-description2" alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_7_1_2.jpg"  style="width: 100px; height: 200px; max-height: 200px; border-width: 0px;"> </img></td>
        <td style="text-align: center;"> <img class="img-description3" alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_7_1_3.jpg"  style="width: 100px; height: 200px; max-height: 200px; border-width: 0px;"> </img></td>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
        <td style="width: 160px;"><p class="text" style="font-size: 10px; display: block; padding-left: 10px; padding-right: 10px; text-align: center; "><h:outputText value="#{msgs['email.forgot.2.description']}" escape="false" /></p></td>
        <td style="width: 160px;"><p class="text" style="font-size: 10px; display: block; padding-left: 10px; padding-right: 10px; text-align: center;"><h:outputText value="#{msgs['email.forgot.3.description']}" escape="false" /></p></td>
        <td style="width: 160px;"><p class="text" style="font-size: 10px; display: block; padding-left: 10px; padding-right: 10px; text-align: center;"><h:outputText value="#{msgs['email.forgot.4.description']}" escape="false" /></p></td>
              <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
        <td colspan="3"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_9_1.jpg"  style="display: block; width: 480px; max-height: 28px; height: 28px; border-width: 0px;"> </img></td>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

      <tr>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
        <td style="background-color: #004e90; width: 151px;">
          <p class="cps_white" style="color: #ffffff; font-size: 10px;">
              <span style="color:#ffffff;"><h:outputText value="#{msgs['email.footer.1.title']}" escape="false" style="color:#ffffff;" /></span>
              <span style="color:#ffffff;"><h:outputText value="#{msgs['email.footer.1.phone']}" escape="false" style="color:#ffffff;" /></span>
              <span style="color:#ffffff;">
                  <h:outputLink
				              target="_blank"
				              value="#{msgs['email.footer.1.email']}"
				              title="#{msgs['email.footer.1.email']}"
                              style="color:#ffffff;">
                               <h:outputText value="#{msgs['email.footer.1.email']}" escape="false" style="color:#ffffff;"/>
                   </h:outputLink>
              </span>
              <span style="color:#ffffff;">
                  <strong><h:outputLink
				               target="_blank"
				               value="#{msgs['email.footer.1.link']}"
				               title="#{msgs['email.footer.1.link']}"
                               style="color:#ffffff;">
                          <h:outputText value="#{msgs['email.footer.1.link']}" escape="false" style="color:#ffffff;"/>
                  </h:outputLink></strong>
              </span>
          </p>
        </td>
        <td colspan="2" style="background-color: #004e90;">
            <span style="display: block; color: #ffffff; padding-top: 20px;"><h:outputText value="#{msgs['email.footer.1.follow']}" escape="false" />:<br/></span>
            <a class="tw" href="https://twitter.com/cpsparking"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_10_1_1.jpg"  style="max-height: 58px; height: 58px; border-width: 0px;"> </img></a>
            <a class="fb" href="https://www.facebook.com/cpsparking"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_10_1_2.jpg"  style="max-height: 58px; height: 58px; border-width: 0px;"> </img></a>

            <a class="iphone" href="http://goo.gl/PN5BPP"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_10_1_3.jpg"  style="padding-left: 80px; max-height: 70px; height: 70px; border-width: 0px;"> </img></a>
            <a class="android" href="http://goo.gl/b2Pcfc"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_10_1_4.jpg"  style="height: 70px; max-height: 70px; border-width: 0px;"> </img></a>
            <a class="windows" href="#"> <img alt=""  border="0" vspace="0" hspace="0" src="#{basePath}/images/email/welcome/img_10_1_7.jpg"  style="height: 70px; max-height: 70px; border-width: 0px;"> </img></a>
        </td>
        <td class="bg_azul" style="background: #004e90; width: 10px;"> </td>
      </tr>

    </tbody>
  </table>
  <div style="font-size: 0px; display: none !important; visibility: hidden !important; color: #ffffff;"><h:messages/></div>
  <style type="text/css" media="screen">
      .bg_azul {
      background: #004e90;
      width: 10px;
      }
      .text {
      font-size: 10px;
      padding: 0 10px;
      text-align: center;
      }

      .cps_white, .cps_white a{
      color:#ffffff;
      }
  </style>
</body>
</html>
