* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
#icon-cps {
    margin-top: 8px;
    width: 60px;
    height: 28px;
    position: relative;
    background: url('../img/logo.png') no-repeat;
    border: 0;
    left: 0;
    float: left;
}

iframe {
    border: none;
}

li {
    list-style: none;
}

.cps-social a {
    padding: 5px 10px;
}
.title-center{
    margin: 5px 0;
    padding: 0;
    text-align: center;
}
.driverPickmeup_header {
    padding: 0 0.8em;
}
.driverFieldDate {
    padding: 10px 0 0;
    margin: auto;
}
.btn-driverCheck{
    position: absolute;
    right: 0.8em;
    top: 4px;
}
.btn-driverLocation{
    position: absolute;
    right: 3em;
    top: 4px;
}
.btn-driverLocation:after, .btn-driverCheck:after{
    background-color: rgba(5, 117, 180, 1.0);
}
.ui-icon-share{
    background-color: transparent !important;
    border-width: 0 !important;
}
.ui-icon-share:after{
    background: url('../img/sprite-icons.png') -29px -2px no-repeat;
    background-color: transparent;
}

.ui-page .ui-listview .ui-li-count.ui-li-nophone {
    background: url('../img/sprite-icons.png') 0 0 transparent;
    height: 26px;
    width: 14px;
    border-width: 0;
    margin-top: -13px;
}
.ui-page form .formError {
    background-color: #ffffc2;
}
.ui-header{
    height: 42px;
}
.ui-page .ui-header.header-ios7 a {
    margin-top: 20px !important;
}
.ui-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}
.ui-page.margin-ios7{
    margin-top: 20px !important;
}
.ui-page.fullMap .ui-content{
    padding: 0;
}
.ui-page .ui-popup label, .ui-page .ui-popup p, .ui-page .ui-popup legend{
    color: #666;
    text-align: center;
}
.ui-page .ui-content-pop{
    padding: 1em;
}
.ui-controlgroup-horizontal {
    text-align: center;
}
.ui-controlgroup-horizontal legend {
    margin:auto;
}
@media screen and (orientation:portrait) {
    @-ms-viewport {
        height:device-heigth!important;
    }
}
@media screen and (orientation:landscape) {
    @-ms-viewport {
        height:device-heigth!important;
    }
}

/*----------
  Nav
  -------------*/
.ui-navbar h3 {
    text-shadow: 1px 1px 2px #666;
}
/*----------
  Utils
  -------------*/

.bold {
    font-family: @fontTitleBold;
}

.hline {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    position: relative;
    top: -10px;
    width: 65px;
}

.invisible {
    display: none;
}
.text-big {
    font-size: 30px;
}
.text-center {
    text-align: center;
}

.th {
    padding: 0;
}
.td {
    position: absolute;
    right: 20px;
    font-size: 14px;
    font-weight: normal;
}
/*------------
  Maps
  --------------*/
.infoBox {
    padding: 19px 19px 0;
}

.infoBox:after {
    content: "▼";
    display: block;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    left: 45.5%;
}

.infoBox .content-box {
    width: 280px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666666;
    background: #FFFFFF;
    margin-bottom: 33px;
    padding-bottom: 20px;
    -moz-box-shadow:  0 9px 26px rgba(0,0,0,0.4);
    -webkit-box-shadow:  0 9px 26px rgba(0,0,0,0.4);
    box-shadow:  0 9px 26px rgba(0,0,0,0.4);
}

.infoBox > img {
    z-index: 99;
    width: 22px;
}

.infoBox button {
    font-size: 1.4em;
    border: 0 none;
    box-shadow: 1px 1px 2px #666;
    background: #007DC6;
    color: #fff;
    padding: 5px 12px;
}

.phoneytext {
    text-shadow: 0 1px 2px #04507C;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, arial;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    background: #007DC6;
    z-index: 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 0 10px;
    border: 1px dotted #fff;
    margin: 0;
}

.phoneytext h1 {
    margin: 0.4em 0;
    padding: 0;
}

.infotext p {
    padding: 0 0 4px 0;
    margin: 7px;
    border-bottom: 1px dotted #666;
}
.infotext {
    color: #666666;
    font-family: Helvetica Neue, Helvetica, arial;
    font-size: 1.2em;
    line-height: 15px;
    font-weight: bold;
    padding: 4px 15px 4px 15px;
    text-shadow: none;
}
/*------------
  Animation
  ---------------*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}



@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
