/* Set the background image sources */
.tutorialIndex { background-image: url(../img/tutorial/01.jpg); }
.tutorialRecarga { background-image: url(../img/tutorial/02.jpg); }
.tutorialDarsaldo { background-image: url(../img/tutorial/03.jpg); }
.tutorialPagar { background-image: url(../img/tutorial/04.jpg); }
.tutorialRuta { background-image: url(../img/tutorial/05.jpg); }
/* Background settings */
.tutorial-page {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
/* Transparent footer */
.tutorial-page .ui-footer {
	background: none;
	border: none;
	bottom: 0;
}
/* The footer won't have a height because there are only two absolute positioned elements in it.
So we position the buttons from the bottom. */
.tutorial-page .control, .tutorial-page .trivia-btn {
	top: auto;
	bottom: 7px;
	margin: 0;
}
/* Custom styling for the trivia source */
.tutorial-page small {
	font-size: .75em;
	color: #666;
}
/* Prevent text selection while swiping with mouse */
.tutorial-page .ui-header, .tutorial-page .ui-title, .tutorial-page .control .ui-btn, .tutorial-page .trivia-btn {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.footer-tutorial {
    position: fixed;
    bottom: 0;
    width: 100px;
    height: 45px;
}