<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['parameter.sales.title']}" />
					</h5>
					<div class="field">
						<h:outputText value="#{msgs['myHistory.dateinit']}" />
						<p:calendar pattern="dd/MM/yyyy"
							value="#{reportSalesController.fechaIni}" navigator="true"
							id="fechaIni" required="true"
							requiredMessage="#{msgs.fieldRequired}">
							<p:ajax event="dateSelect"
								listener="#{reportSalesController.initDateCalendarListener}"
								update="fechaFin" />
						</p:calendar>
						<p:message for="fechaIni" />
						<h:outputText value="#{msgs['myHistory.dateend']}" />
						<p:calendar pattern="dd/MM/yyyy"
							value="#{reportSalesController.fechaFin}" navigator="true"
							id="fechaFin" required="true"
							mindate="#{reportSalesController.minDate}"
							maxdate="#{reportSalesController.maxDate}"
							requiredMessage="#{msgs.fieldRequired}" />
						<p:message for="fechaFin" />
					</div>
					<div class="field">
						<h:selectOneMenu id="subscriptions"
							value="#{reportSalesController.paymentMethod}">
							<f:selectItem id="item1"
								itemLabel="#{msgs['parameter.sales.method.ALL.description']}"
								itemValue="#{msgs['parameter.sales.method.ALL.id']}" />
							<f:selectItem id="item2"
								itemLabel="#{msgs['parameter.sales.method.WEB.description']}"
								itemValue="#{msgs['parameter.sales.method.WEB.id']}" />
							<!-- 	<f:selectItem id="item3" itemLabel="#{msgs['parameter.sales.method.CM.description']}" itemValue="#{msgs['parameter.sales.method.CM.id']}" />
		<f:selectItem id="item4" itemLabel="#{msgs['parameter.sales.method.PV.description']}" itemValue="#{msgs['parameter.sales.method.PV.id']}" />
 -->
						</h:selectOneMenu>
					</div>
					<p:commandButton
						actionListener="#{reportSalesController.reportSales}"
						value="#{msgs['myHistory.search']}" update="tbl,linkExcel,linkPdf" />
					<br></br>
					<p:dataTable id="tbl" var="transaction"
						value="#{reportSalesController.listReportSales}" paginator="true"
						rows="12" emptyMessage="No info">

						<p:column filterBy="#{transaction.idTransaction}">
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.sales.transactionid']}" />
							</f:facet>
							<h:outputText value="#{transaction.idTransaction}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.sales.datetransaction']}" />
							</f:facet>
							<h:outputText value="#{transaction.dateTransaction}">
								<f:convertDateTime type="date" pattern="yyyy-MM-dd hh:mm:ss a" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{transaction.amount}"
							style="text-align: right;">
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.amount']}" />
							</f:facet>
							<h:outputText value="#{transaction.amount}" />
						</p:column>

						<f:facet name="footer">
							<h:outputText value="  " />
							<h:outputText value="#{msgs['myHistory.totalamount']}" />
							<h:outputText value="#{reportSalesController.totalMoney}">
								<f:convertNumber type="currency" />
							</h:outputText>
						</f:facet>
					</p:dataTable>
					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						id="linkExcel" disabled="#{!reportSalesController.sales}"
						styleClass="link1" value=""
						action="#{reportSalesController.generarInforme}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>
					<h:commandLink title="#{msgs['myHistory.linkPdf']}" id="linkPdf"
						disabled="#{!reportSalesController.sales}" styleClass="link1"
						value="" action="#{reportSalesController.generarInforme}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>
				</h:form>

				<p:ajaxStatus
					style="width:30px;height:64px;position:fixed;right:5px;bottom:5px">
					<f:facet name="start">
						<p:graphicImage value="/images/loader.gif" />
					</f:facet>

					<f:facet name="complete">
						<h:outputText value="" />
					</f:facet>
				</p:ajaxStatus>

			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>