<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div>
					<h5>
						<h:outputText value="#{msgs['activepockets.title']}" />
					</h5>
				</div>
				<h:form id="contact-form">
					<p:growl id="growl" showSummary="true" life="3000" />
					<fieldset>
						<!-- FECHA INICIAL -->
						<div class="field">
							<h:outputText value="#{msgs['myHistory.dateinit']}" />
							<p:calendar pattern="dd/MM/yyyy"
								value="#{activePocketsController.startDate}" navigator="true"
								id="fechaIni" required="true"
								requiredMessage="#{msgs.fieldRequired}" >
								<p:ajax event="dateSelect"
                                                                listener="#{activePocketsController.initDateCalendarListener}"
                                                                update="fechaFin" />
								</p:calendar>
							<p:message for="fechaIni" />
						</div>
						<!-- FECHA FINAL -->
						<div class="field">
							<h:outputText value="#{msgs['myHistory.dateend']}" />
							<p:calendar pattern="dd/MM/yyyy"
								value="#{activePocketsController.endDate}" navigator="true"
								id="fechaFin" required="true" 
								maxdate="#{activePocketsController.maxDate}" 
								mindate="#{activePocketsController.minDate}"
								requiredMessage="#{msgs.fieldRequired}" />
							<p:message for="fechaFin" />
						</div>
						<!-- BOLSILLOS -->
						<div class="field">
							<h:outputText value="#{msgs['activepockets.pockets']}" />
							<h:selectOneMenu immediate="true" id="pockets"
								value="#{activePocketsController.selectedPocketId}">
								<f:selectItem itemValue="-1"
									itemLabel="#{msgs['activepockets.allpockets']}"></f:selectItem>
								<f:selectItems value="#{activePocketsController.pocketsList}"
									var="pocket" itemLabel="#{pocket.description}"
									itemValue="#{pocket.pocketId}"
									itemDescription="#{pocket.description}" />
							</h:selectOneMenu>
						</div>
						<!-- IDENTIFICACION DE USUARIO-->
						<div class="field">
							<h:outputText value="#{msgs['activepockets.identification']}" />
							<p:inputText
								value="#{activePocketsController.identificationNumberEntered}" />
						</div>
						<!-- BUSCAR -->
						<div class="field">
							<p:commandButton id="btnSearch"
								actionListener="#{activePocketsController.findPockets}"
								value="#{msgs['myHistory.search']}" update="@form">
								<f:param name="formato" value="pdf" />
							</p:commandButton>
						</div>
						<div class="field">
							<p:outputLabel value="Resultado" />
						</div>
						<!-- VENTANA DONDE SE RENDERIZA EL REPORTE -->
						<div class="field">
							<object type="application/pdf"
							   	id="media"
							   data="#{activePocketsController.stream}"
								height="300px" width="100%" internalinstanceid="3">
								Your browser can't display pdf, <a
									href="/resources/demo/media/guide.pdf;jsessionid=1ad1a9iv3edmm1pssc8ysk7ezc">click</a>
								to download pdf instead.
							</object>
						</div>
					</fieldset>
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>