<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">

	<ui:define name="head">
		<script type="text/javascript">  
function handleComplete(xhr, status, args){


    $('#totalcompletedamount').html(args.totalcompletedamount);
    
    //console.log("refreshing value");
}
</script>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content">
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['report.operation.page.Title']}" />
					</h5>

					<div class="field">
						<h:outputText
							value="#{msgs['report.operation.transaction.label']}" />
						<h:inputText size="12"
							value="#{operationReportController.idTransaccion}"></h:inputText>
					</div>

					<!-- Listado de clientes -->
					<div class="field">
						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false"
							value="#{operationReportController.selectedClientId}"
							id="clients">
							<f:selectItem
								itemLabel="#{msgs['consolidate.allClientsSelectLabel']}"
								itemValue="-1" />
							<f:selectItems value="#{operationReportController.clientList}"
								var="client" itemLabel="#{client.name}"
								itemValue="#{client.idclient}" itemDescription="#{client.name}" />
							<p:ajax listener="#{operationReportController.onSelectClient}"
								event="change" update="commerces" process="@this" />

						</h:selectOneMenu>
					</div>


					<!-- Listado de comercios -->
					<div class="field">
						<h:outputText value="#{msgs['report.operation.commerce.label']}" />
						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false"
							value="#{operationReportController.selectedCommerceId}"
							id="commerces">
							<f:selectItem
								itemLabel="#{empty operationReportController.commerceListForClient ? msgs['consolidate.commerces'] : msgs['report.operation.all']}"
								itemValue="#{empty operationReportController.commerceListForClient ? '-1' : 'all'}" />
							<f:selectItems
								value="#{operationReportController.commerceListForClient}"
								var="commerce" itemLabel="#{commerce.name}"
								itemValue="#{commerce.idCommerce}-#{commerce.name}"
								itemDescription="#{commerce.name}" />
								<p:ajax update="pockets"
										listener="#{operationReportController.onChangeCommerce()}"
										event="change" process="@this" />
						</h:selectOneMenu>
					</div>

					<!-- Tipo Operacion -->
					<div class="field">
						<h:outputText value="#{msgs['report.operation.tipoope.label']}" />
						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false"
							value="#{operationReportController.operationType}"
							id="operationType">
							<f:selectItem itemLabel="#{msgs['report.operation.all']}"
								itemValue="" />
							<f:selectItem itemLabel="RECARGA" itemValue="RECARGA" />
							<f:selectItem itemLabel="PAGO" itemValue="PAGO" />
							<f:selectItem itemLabel="RETIRO" itemValue="RETIRO" />
						</h:selectOneMenu>
					</div>

					<!-- pocket type -->
					<div class="field">
						<h:outputText value="#{msgs['report.operation.pockettype.label']}" />
						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false"
							value="#{operationReportController.selectedPocketId}"
							id="pockets">
							<f:selectItem itemLabel="#{msgs['report.operation.pocket.all']}"
								itemValue="" />
							<f:selectItems value="#{operationReportController.pocketList}"
								var="pocket" itemLabel="#{pocket.description}"
								itemValue="#{pocket.pocketId}-#{pocket.description}"
								itemDescription="#{pocket.description}" />
							
										
						</h:selectOneMenu>
					</div>

					<!-- mes -->
					<div class="field">
						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false" value="#{operationReportController.month}"
							id="mes">
							<f:selectItem itemLabel="Enero" itemValue="01" />
							<f:selectItem itemLabel="Febrero" itemValue="02" />
							<f:selectItem itemLabel="Marzo" itemValue="03" />
							<f:selectItem itemLabel="Abril" itemValue="04" />
							<f:selectItem itemLabel="Mayo" itemValue="05" />
							<f:selectItem itemLabel="Junio" itemValue="06" />
							<f:selectItem itemLabel="Julio" itemValue="07" />
							<f:selectItem itemLabel="Agosto" itemValue="08" />
							<f:selectItem itemLabel="Septiembre" itemValue="09" />
							<f:selectItem itemLabel="Octubre" itemValue="10" />
							<f:selectItem itemLabel="Noviembre" itemValue="11" />
							<f:selectItem itemLabel="Diciembre" itemValue="12" />
						</h:selectOneMenu>

						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false" value="#{operationReportController.year}"
							id="year">
							<f:selectItems value="#{operationReportController.yearList}"
								var="year" itemLabel="#{year}" itemValue="#{year}"
								itemDescription="#{year}" />
						</h:selectOneMenu>

					</div>



					<br></br>

					<!--Exportar reportes a pdf y excel -->
					<h:commandLink title="#{msgs['myHistory.linkPdf']}" id="linkPdf"
						styleClass="link1" value=""
						action="#{operationReportController.generarInforme}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>
					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						id="linkExcel" styleClass="link1" value=""
						action="#{operationReportController.generarInforme}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>
					<!--  -->
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>