<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">

	<ui:define name="head">
		<script type="text/javascript">  
function handleComplete(xhr, status, args){


    $('#totalcompletedamount').html(args.totalcompletedamount);
    
    console.log("refreshing value");
}
</script>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content">
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['consolidate.Title']}" />
					</h5>
					<!-- Rango de fechas del reporte  -->
					<div class="field">

						<!-- Fecha inicio -->
						<h:outputText value="#{msgs['parameter.transfer.startdate']}" />
						<p:calendar value="#{consolidateReportController.startDate}"
							navigator="true" id="fechaIni" required="true"
							
							requiredMessage="#{msgs.fieldRequired}">
							<p:ajax event="dateSelect"
								listener="#{consolidateReportController.initDateCalendarListener}"
								update="fechaFin"/>
						</p:calendar>
						<p:message for="fechaIni" />
						<!-- Fecha fin-->
						<h:outputText value="#{msgs['parameter.transfer.enddate']}" />
						<p:calendar value="#{consolidateReportController.endDate}"
							navigator="true" id="fechaFin" required="true"
							requiredMessage="#{msgs.fieldRequired}" 
							maxdate="#{consolidateReportController.maxDate}"
							mindate="#{consolidateReportController.minDate}" />
						<p:message for="fechaFin" />
					</div>
					<!-- Listado de clientes -->
					<div class="field">
						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false"
							value="#{consolidateReportController.selectedClientId}"
							id="clients">
							<f:selectItem
								itemLabel="#{msgs['consolidate.allClientsSelectLabel']}"
								itemValue="-1" />
							<f:selectItems value="#{consolidateReportController.clientList}"
								var="client" itemLabel="#{client.name}"
								itemValue="#{client.idclient}" itemDescription="#{client.name}" />
							<p:ajax listener="#{consolidateReportController.onSelectClient}"
								event="change" update="commerces" process="@this" />

						</h:selectOneMenu>
					</div>

					<!-- Listado de comercios -->
					<div class="field">
						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false"
							value="#{consolidateReportController.selectedCommerceId}"
							id="commerces">
							<f:selectItem itemLabel="#{msgs['consolidate.commerces']}"
								itemValue="-1" />
							<f:selectItems
								value="#{consolidateReportController.commerceListForClient}"
								var="commerce" itemLabel="#{commerce.name}"
								itemValue="#{commerce.idCommerce}"
								itemDescription="#{commerce.name}" />
							<p:ajax
								listener="#{consolidateReportController.onSelectCommerce}"
								event="change" update="commercesbranches" process="@this" />

						</h:selectOneMenu>
					</div>

					<!-- Listado de sucursales -->
					<div class="field">
						<h:selectOneMenu styleClass="select-input"
							rendered="#{sessionScope.userSession.idsysUserType != '2'}"
							immediate="false"
							value="#{consolidateReportController.selectedCommerceBranch}"
							id="commercesbranches">
							<f:selectItem itemLabel="#{msgs['consolidate.branches']}"
								itemValue="-1" />
							<f:selectItems
								value="#{consolidateReportController.commerceBranchListForCommerce}"
								var="commercebranch" itemLabel="#{commercebranch.name}"
								itemValue="#{commercebranch.idbranch}"
								itemDescription="#{commercebranch.name}" />

						</h:selectOneMenu>
					</div>

					<p:commandButton type="submit"
						actionListener="#{consolidateReportController.fillConsolidateReportList}"
						value="#{msgs['myHistory.search']}" update="tbl" />

					<br></br>
					<p:dataTable id="tbl" var="crd"
						value="#{consolidateReportController.consolidateReportData}"
						paginator="true" rows="12" emptyMessage="No info">

						<!-- Concepto -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['cosolidate.conceptColumnLabel']}" />
							</f:facet>
							<h:outputText value="#{crd.concept}" />
						</p:column>

						<!-- Items -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['cosolidate.itemsColumnLabel']}" />
							</f:facet>
							<h:outputText value="#{crd.items}" />
						</p:column>


						<!-- Valor -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['cosolidate.valueColumnLabel']}" />
							</f:facet>
							<h:outputText value="#{crd.value}" />
						</p:column>


						<!-- Footer -->

					</p:dataTable>

				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>