<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">  
function handleComplete(xhr, status, args){

	$('#tbl_data tr').each(function() {
		//console.log("test");
		//alert("test");
						
					//var value = $this.find("span.value").html();
					//var quantity = $this.find("input.quantity").val();
					  console.log( $(this).find("td:eq(5)").val());
					}
				);
    $('#totalreloadcompletedamount').html(args.totalreloadcompletedamount);
    $('#numberOfCompletedTransacMoney').html(args.numberOfCompletedTransacMoney);

    $('#totalRejectedTransacMoney').html(args.totalRejectedTransacMoney);

    $('#numberOfRejecttedTransac').html(args.numberOfRejecttedTransac);
    
    console.log("refreshing value"+ args.totalreloadcompletedamount);
}
</script>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['menu.recharge']}" />
					</h5>
					<div class="field">
						<!-- FECHA INICIAL -->
						<h:outputText value="#{msgs['myHistory.dateinit']}" />
						<p:calendar pattern="dd/MM/yyyy"
							value="#{reportSalesController.fechaIni}" navigator="true"
							id="fechaIni" required="true"
							requiredMessage="#{msgs.fieldRequired}">
							<p:ajax event="dateSelect"
								listener="#{reportSalesController.initDateCalendarListener}"
								update="fechaFin" />
						</p:calendar>
						<p:message for="fechaIni" />
						<!-- FECHA FINAL -->
						<h:outputText value="#{msgs['myHistory.dateend']}" />
						<p:calendar pattern="dd/MM/yyyy"
							value="#{reportSalesController.fechaFin}" navigator="true"
							maxdate="#{reportSalesController.maxDate}"
							mindate="#{reportSalesController.minDate}" id="fechaFin"
							required="true" requiredMessage="#{msgs.fieldRequired}" />
						<p:message for="fechaFin" />
					</div>
					<div class="field">

						<h:outputLabel value="#{msgs['myuser.uc']}" for="registerEmail" />
						<h:inputText maxlength="35" id="registerEmail"
							value="#{reportSalesController.useremail}"
							requiredMessage="#{msgs.fieldRequired}">

						</h:inputText>
						<p:message for="registerEmail" />
					</div>
					<div class="field">
						<h:selectOneMenu id="paymentMethod"
							value="#{reportSalesController.paymentMethod}">
							<f:selectItem id="item1"
								itemLabel="#{msgs['parameter.sales.method.ALL.description']}"
								itemValue="#{msgs['parameter.sales.method.ALL.id']}" />
							<f:selectItem id="item2"
								itemLabel="#{msgs['parameter.sales.method.PK.description']}"
								itemValue="#{msgs['parameter.sales.method.PK.id']}" />
							<f:selectItem id="item3"
								itemLabel="#{msgs['parameter.sales.method.ZP.description']}"
								itemValue="#{msgs['parameter.sales.method.ZP.id']}" />
							<!-- 		<f:selectItem id="item4" itemLabel="#{msgs['parameter.sales.method.PV.description']}" itemValue="#{msgs['parameter.sales.method.PV.id']}" /> -->

						</h:selectOneMenu>
					</div>
					<p:commandButton
						actionListener="#{reportSalesController.reportCitySales}"
						value="#{msgs['myHistory.search']}" update="tbl,linkExcel,linkPdf" />
					<br></br>

					<p:dataTable id="tbl" var="transaction"
						value="#{reportSalesController.listReportCitySales}"
						paginator="true" rows="12" emptyMessage="No info">

						<p:ajax oncomplete="handleComplete(xhr, status, args)"
							event="filter" />
						<!--                           <p:ajax  oncomplete="handleComplete(xhr, status, args)" event="filter" listener="#{reportSalesController.onCompleteFilter}" /> -->


						<p:column filterBy="#{transaction.emailSysUser}"
							filterFunction="#{reportSalesController.filterEmail}">
							<f:facet name="header">
								<h:outputLabel value="#{msgs['registerEmail']}: " />
							</f:facet>
							<h:outputText value=" #{transaction.emailSysUser}" />
						</p:column>
						<p:column filterBy="#{transaction.sysUser.cu}"
							filterFunction="#{reportSalesController.filterCU}">
							<f:facet name="header">
								<h:outputLabel value="#{msgs['myuser.uc']}" />
							</f:facet>
							<h:outputText value=" #{transaction.sysUser.cu}" />
						</p:column>
						<p:column filterBy="#{transaction.idTransaction}"
							filterFunction="#{reportSalesController.filterTransac}">
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.sales.transactionid']}" />
							</f:facet>
							<h:outputText value="#{transaction.idTransaction}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.sales.datetransaction']}" />
							</f:facet>
							<h:outputText value="#{transaction.dateTransaction}">
								<f:convertDateTime type="date" pattern="yyyy-MM-dd hh:mm:ss a" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{transaction.idZone}"
							filterBy="#{transaction.idZone}"
							filterFunction="#{reportSalesController.filterPlace}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.titleZone']}" />
							</f:facet>
							<h:outputText value="#{fn:replace(transaction.idZone,'COL','')}" />
						</p:column>


						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.sales.state']}" />
							</f:facet>
							<h:outputText value="#{transaction.stateTransaction}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{transaction.amount}"
							style="text-align: right;">
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.amount']}" />
							</f:facet>
							<h:outputText value="#{transaction.amount}" />
						</p:column>

						<f:facet name="footer">
							<div style="display: table; text-align: left; width: 70%">
								<div style="display: table-row">

									<div style="display: table-cell"
										id="totalreloadcompletedamount">
										<h:outputText
											value="#{msgs['myHistory.totalreloadcomplentedamount']}" />
										<h:outputText
											value="#{reportSalesController.totalCompletedTransacMoney}">
											<f:convertNumber type="currency" />
										</h:outputText>
									</div>
									<div style="display: table-cell"
										id="numberOfCompletedTransacMoney">
										<h:outputText
											value="#{msgs['myHistory.numberofcompletedtransac']}" />
										:
										<h:outputText
											value="#{reportSalesController.numberOfCompletedTransacMoney}"></h:outputText>
									</div>
								</div>
								<div style="display: table-row">
									<div style="display: table-cell" id="totalRejectedTransacMoney">
										<h:outputText
											value="#{msgs['myHistory.totalreloadrejectedamount']}" />
										<h:outputText
											value="#{reportSalesController.totalRejectedTransacMoney}">
											<f:convertNumber type="currency" />
										</h:outputText>
									</div>
									<div style="display: table-cell" id="numberOfRejecttedTransac">
										<h:outputText
											value="#{msgs['myHistory.numberofrejectedtransac']}" />
										:
										<h:outputText
											value="#{reportSalesController.numberOfRejecttedTransac}"></h:outputText>
									</div>
								</div>
							</div>

						</f:facet>
					</p:dataTable>
					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						id="linkExcel" disabled="#{!reportSalesController.sales}"
						styleClass="link1" value=""
						action="#{reportSalesController.generarInformeCity}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>
					<h:commandLink title="#{msgs['myHistory.linkPdf']}" id="linkPdf"
						disabled="#{!reportSalesController.sales}" styleClass="link1"
						value="" action="#{reportSalesController.generarInformeCity}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>
				</h:form>

				<p:ajaxStatus
					style="width:30px;height:64px;position:fixed;right:5px;bottom:5px">
					<f:facet name="start">
						<p:graphicImage value="/images/loader.gif" />
					</f:facet>

					<f:facet name="complete">
						<h:outputText value="" />
					</f:facet>
				</p:ajaxStatus>

			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>