<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">

	<ui:define name="head">
		<script type="text/javascript">  
function handleComplete(xhr, status, args){


    $('#totalcompletedamount').html(args.totalcompletedamount);
    
    console.log("refreshing value");
}
</script>

		<style>
</style>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content">
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<p:growl id="growl" showDetail="true" sticky="true" />
					<h5>
						<h:outputText value="#{msgs['paymentHistory.Title']}" />
					</h5>
					<!-- Rango de fechas del reporte  -->
					<p:panel id="filterPanel">
						<div class="field">
							<h:outputText value="#{msgs['parameter.transfer.startdate']}" />
							<p:calendar value="#{paymentHistoryController.fechaIni}"
								navigator="true" id="fechaIni" required="true"
								requiredMessage="#{msgs.fieldRequired}">
								<p:ajax event="dateSelect"
									listener="#{paymentHistoryController.initDateCalendarListener}"
									update="fechaFin" />
							</p:calendar>
							<p:message for="fechaIni" />
							<h:outputText value="#{msgs['parameter.transfer.enddate']}" />
							<p:calendar value="#{paymentHistoryController.fechaFin}"
								navigator="true" id="fechaFin" required="true"
								requiredMessage="#{msgs.fieldRequired}"
								mindate="#{paymentHistoryController.minDate}"
								maxdate="#{paymentHistoryController.maxDate}" />
							<p:message for="fechaFin" />

						</div>

						<p:blockUI id="dateBlocker" block="filterPanel" trigger="fechaIni" />
						<!-- Sucursales asociadas al usuario -->
						<div class="field">
							<h:selectOneMenu styleClass="select-input"
								rendered="#{sessionScope.userSession.idsysUserType != '2' and sessionScope.userSession.idsysUserType != '6' }"
								immediate="false" converter="commerceBranchConverter"
								value="#{paymentHistoryController.selectedCommerceBranch}"
								id="registerCommerceBranch">
								<f:selectItem
									itemLabel="#{msgs['paymentHistory.selectcommercebranch.label']}" />
								<f:selectItems
									value="#{paymentHistoryController.commerBranchsForUser}"
									var="commercebranch" itemLabel="#{commercebranch.name}"
									itemValue="#{commercebranch}"
									itemDescription="#{commercebranch.name}" />

								<p:ajax
									listener="#{paymentHistoryController.ajaxChangeCommerceBranch}"
									event="change" update="tbl" process="@this" />
							</h:selectOneMenu>

						</div>
					</p:panel>
					<!-- 	WITHDRAW  / PAYMENT-->
					<div class="field">
						<p:selectOneRadio immediate="true"
							value="#{paymentHistoryController.operationType}">
							<f:selectItem itemLabel="PAGO" itemValue="PAGO" />
							<f:selectItem itemLabel="RETIRO" itemValue="RETIRO" />
							<f:selectItem itemLabel="RECARGA" itemValue="RECARGA" />
							<p:ajax
								listener="#{paymentHistoryController.onSelectOperationTypeRadio()}"
								update="operationsPanel" event="valueChange" />
						</p:selectOneRadio>
					</div>
					<div class="field">
						<p:commandButton id="btnsearch" type="submit"
							actionListener="#{paymentHistoryController.getPaymentHistoryReport}"
							value="#{msgs['myHistory.search']}"
							update="tbl tbltransaction linkPdf linkExcel" />

						<p:commandButton rendered="#{sessionScope.userSession.idsysUserType != '2'}" ajax="false"
							actionListener="#{paymentHistoryController.generateTicketSummary()}"
							value="#{msgs['paymentHistory.buttoncaption.ticketgenerator']}" />
					</div>


					<!-- payment an withdraw table  -->
					<p:panel id="operationsPanel">
						<p:dataTable tableStyle="width:auto" id="tbl" var="paymentreport"
							value="#{not empty paymentHistoryController.paymentHistoryResult ? 
						paymentHistoryController.paymentHistoryResult : 
						paymentHistoryController.withdrawCashHistoryResult}"
							paginator="true" rows="12" emptyMessage="No hay pagos o retiros"
							rendered="#{paymentHistoryController.operationType == 'RETIRO' or  paymentHistoryController.operationType == 'PAGO'}">
							<!-- Login -->

							<!-- Nombre -->
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['paymentHistory.labelfield.name']}" />
								</f:facet>
								<h:outputText value="#{paymentreport.sysUser.name}" />
							</p:column>

							<!-- Apellido -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.lastname']}" />
								</f:facet>
								<h:outputText value="#{paymentreport.sysUser.lastName}" />
							</p:column>

							<!-- Nombre del comercio -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.commercename']}" />
								</f:facet>
								<h:outputText
									value="#{paymentreport.commerceBranch.commerce.name}" />
							</p:column>

							<!-- Nombre de la sucursal -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.branchname']}" />
								</f:facet>
								<h:outputText value="#{paymentreport.commerceBranch.name}" />
							</p:column>

							<!-- Codigo de pago -->
							<p:column filterMatchMode="contains"
								filterBy="#{paymentreport.referenceId}">
								<f:facet name="header">
									<h:outputText style="float:left"
										value="#{msgs['paymentHistory.labelfield.payid']}" />
								</f:facet>
								<h:outputText style="float:left"
									value="#{paymentreport.referenceId}" />
							</p:column>

							<!-- Monto -->
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['paymentHistory.labelfield.fee']}" />
								</f:facet>
								<div style="text-align: right;">
									<h:outputText value="#{paymentreport.fee}">
										<f:convertNumber pattern=" $#,##0" />
									</h:outputText>
								</div>
							</p:column>
							<!-- pocket -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.pocket']}" />
								</f:facet>
								<div style="text-align: right;">
									<h:outputText value="#{paymentreport.pocket.description}" />
								</div>
							</p:column>
							<!-- pos operator -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.operator']}" />
								</f:facet>
								<div style="text-align: right;">
									<h:outputText value="#{paymentreport.operator.login}" />
								</div>
							</p:column>


							<!-- Medio de pago -->

							<!-- Cantidad de cuotas -->

							<!-- Fecha -->
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['paymentHistory.labelfield.date']}">
									</h:outputText>
								</f:facet>
								<h:outputText value="#{paymentreport.paymentDate}">
									<f:convertDateTime type="date" pattern="yyyy-MM-dd hh:mm:ss a" />
								</h:outputText>
							</p:column>

							<p:column>
								<!-- Tickets reprint -->
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.ticket']}">
									</h:outputText>
								</f:facet>
								<p:commandLink id="linkPrintTicket" target="_blank"
									styleClass="link1"
									value="#{msgs['paymentHistory.buttoncaption.printticket']}"
									action="#{paymentHistoryController.printTicket(paymentreport)}"
									ajax="false" immediate="false">
								</p:commandLink>
							</p:column>

							<!-- Footer -->
							<f:facet name="footer">
								<div style="display: table; text-align: left; width: 70%">
									<div style="display: table-row">
										<div style="display: table-row" id="totalamount">
											<h:outputText value="#{msgs['myHistory.totalamount']} " />
											<h:outputText value="#{paymentHistoryController.totalAmount}">
												<f:convertNumber pattern=" $#,##0" />
											</h:outputText>
										</div>
										<div style="display: table-row" id="totalitems">
											<h:outputText
												value="#{msgs['paymentHistory.footer.totalitems']} " />
											<h:outputText value="#{paymentHistoryController.totalItems}">
											</h:outputText>
										</div>
									</div>
								</div>
							</f:facet>
						</p:dataTable>

						<!-- transaction table -->
						<p:dataTable tableStyle="width:auto" id="tbltransaction"
							var="transacionreport"
							value="#{paymentHistoryController.transactionHistoryResult}"
							paginator="true" rows="12" emptyMessage="No hay recargas"
							rendered="#{paymentHistoryController.operationType == 'RECARGA'}">
							<!-- Name -->
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['paymentHistory.labelfield.name']}" />
								</f:facet>
								<h:outputText value="#{transacionreport.sysUser.name}" />
							</p:column>
							<!-- Last name -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.lastname']}" />
								</f:facet>
								<h:outputText value="#{transacionreport.sysUser.lastName}" />
							</p:column>
							<!-- Commerce name -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.commercename']}" />
								</f:facet>
								<h:outputText
									value="#{transacionreport.commerceBranch.commerce.name}" />
							</p:column>
							<!-- CommerceBranch name  -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.branchname']}" />
								</f:facet>
								<h:outputText value="#{transacionreport.commerceBranch.name}" />
							</p:column>
							<!-- Reference id -->
							<p:column filterMatchMode="contains"
								filterBy="#{transacionreport.referenceid}">
								<f:facet name="header">
									<h:outputText style="float:left"
										value="#{msgs['paymentHistory.labelfield.payid']}" />
								</f:facet>
								<h:outputText style="float:left"
									value="#{transacionreport.referenceid}" />
							</p:column>

							<!-- Amount -->
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['paymentHistory.labelfield.fee']}" />
								</f:facet>
								<div style="text-align: right;">
									<h:outputText value="#{transacionreport.amount}">
										<f:convertNumber pattern=" $#,##0" />
									</h:outputText>
								</div>
							</p:column>
							<!-- Pocket -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.pocket']}" />
								</f:facet>
								<div style="text-align: right;">
									<h:outputText value="#{transacionreport.pocket.description}" />
								</div>
							</p:column>

							<!-- pos operator -->
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.operator']}" />
								</f:facet>
								<div style="text-align: right;">
									<h:outputText value="#{transacionreport.sysUserBranch.login}" />
								</div>
							</p:column>

							<!-- Transaction date -->
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['paymentHistory.labelfield.date']}">
									</h:outputText>
								</f:facet>
								<h:outputText value="#{transacionreport.dateTransaction}">
									<f:convertDateTime type="date" pattern="yyyy-MM-dd hh:mm:ss a" />
								</h:outputText>
							</p:column>

							<p:column>
								<!-- Tickets reprint -->
								<f:facet name="header">
									<h:outputText
										value="#{msgs['paymentHistory.labelfield.ticket']}">
									</h:outputText>
								</f:facet>
								<p:commandLink id="linkPrintTicket" target="_blank"
									styleClass="link1"
									value="#{msgs['paymentHistory.buttoncaption.printticket']}"
									action="#{paymentHistoryController.printTicket(transacionreport)}"
									ajax="false" immediate="false">
								</p:commandLink>
							</p:column>

							<!-- Footer -->
							<f:facet name="footer">
								<div style="display: table; text-align: left; width: 70%">
									<div style="display: table-row">
										<div style="display: table-row" id="totalamount">
											<h:outputText value="#{msgs['myHistory.totalamount']} " />
											<h:outputText value="#{paymentHistoryController.totalAmount}">
												<f:convertNumber pattern=" $#,##0" />
											</h:outputText>
										</div>
										<div style="display: table-row" id="totalitems">
											<h:outputText
												value="#{msgs['paymentHistory.footer.totalitems']} " />
											<h:outputText value="#{paymentHistoryController.totalItems}">
											</h:outputText>
										</div>
									</div>
								</div>
							</f:facet>
						</p:dataTable>
						<p:blockUI id="searchBlocker" block="operationsPanel"
							trigger="btnsearch" />
					</p:panel>

					<!--Exportar reportes a pdf y excel -->
					<h:commandLink title="#{msgs['myHistory.linkPdf']}" id="linkPdf"
						disabled="#{!paymentHistoryController.payments}"
						styleClass="link1" value=""
						action="#{paymentHistoryController.generarInforme}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>
					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						id="linkExcel" disabled="#{!paymentHistoryController.payments}"
						styleClass="link1" value=""
						action="#{paymentHistoryController.generarInforme}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>
					<!--  -->
					<p:dialog widgetVar="printDialog" modal="true" height="40">
						<h:outputText value="Imprimiendo ticket..." />
					</p:dialog>
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>