<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/templateReports.xhtml">
	<ui:define name="content">
		<h5>
			<h:outputText value="#{msgs['report.moreparking.title']}" />
		</h5>
		<h:form>
			<h:commandLink value="Generar"
				action="#{reportParkingController.generarInforme2}"
				styleClass="link1">
				<f:param name="formato" value="pdf" />
			</h:commandLink>
		</h:form>
	</ui:define>
</ui:composition>
</html>