<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">

	<ui:define name="head">
		<script type="text/javascript">  
function handleComplete(xhr, status, args){


    //$('#totalcompletedamount').html(args.totalcompletedamount);
    
    //console.log("refreshing value");
}
</script>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content">
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['report.traspasobolsillo.page.Title']}" />
					</h5>
					
					<!-- Rango de fechas del reporte  -->
					<div class="field">

						<!-- Fecha inicio -->
						<h:outputText value="#{msgs['parameter.transfer.startdate']}" />
						<p:calendar value="#{bolsilloReportController.startDate}"
							navigator="true" id="fechaIni" required="true"
							
							requiredMessage="#{msgs.fieldRequired}">
							<p:ajax event="dateSelect"
								listener="#{bolsilloReportController.initDateCalendarListener}"
								update="fechaFin"/>
						</p:calendar>
						<p:message for="fechaIni" />
						<!-- Fecha fin-->
						<h:outputText value="#{msgs['parameter.transfer.enddate']}" />
						<p:calendar value="#{bolsilloReportController.endDate}"
							navigator="true" id="fechaFin" required="true"
							requiredMessage="#{msgs.fieldRequired}" 
							maxdate="#{bolsilloReportController.maxDate}"
							mindate="#{bolsilloReportController.minDate}" />
						<p:message for="fechaFin" />
					</div>
									
					
					<br></br>

					<!--Exportar reportes a pdf y excel -->
					<h:commandLink title="#{msgs['myHistory.linkPdf']}" id="linkPdf"
						styleClass="link1" value=""
						action="#{bolsilloReportController.generarInforme}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>
					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						id="linkExcel"
						styleClass="link1" value=""
						action="#{bolsilloReportController.generarInforme}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>
					<!--  -->
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>