<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/template/template.xhtml">

	<ui:define name="head">

		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/jquery.faded.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/superfish.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/funcionesHome.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/loopedslider.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/functions.js"></script>

		<!-- Js and Css PopModal -->
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/popmodal/jquery.modal.min.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/popmodal/site.js"></script>

		<link type="text/css" media="all" rel="stylesheet"
			href="#{facesContext.externalContext.requestContextPath}/css/popmodal/modal.css" />

		<!-- Run custom js options -->
		<script type="text/javascript">
                $(function () {
                    $("#faded").faded();
                    $('#loopedSlider').loopedSlider();
                });

                $(document).ready(function () {
                    $('ul.sf-menu').superfish();
                    $(".icon a.tooltips").easyTooltip();
                    /*
                     $(".video").click(function() {
                     $.fancybox({
                     'padding'		: 0,
                     'autoScale'		: false,
                     'transitionIn'	: 'none',
                     'transitionOut'	: 'none',
                     'title'			: 'CPS',
                     'width'			: 640,
                     'height'		: 385,
                     'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
                     'type'			: 'swf',
                     'swf'			: {
                     'wmode'				: 'transparent',
                     'allowfullscreen'	: 'true'
                     }
                     });
                     return false;
                     });
                     
                     $(".videox").click(function() {
                     $.fancybox({
                     'padding'		: 0,
                     'autoScale'		: false,
                     'transitionIn'	: 'none',
                     'transitionOut'	: 'none',
                     'title'			: 'CPS',
                     'width'			: 640,
                     'height'		: 385,
                     'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
                     'type'			: 'swf',
                     'swf'			: {
                     'wmode'				: 'transparent',
                     'allowfullscreen'	: 'true'
                     }
                     });
                     return false;
                     });
                     */
                });
            </script>
	</ui:define>

	<!-- Inclusion de contenido -->
	<ui:define name="content">

		<!-- Promo Box -->
		<a class="modalLink"></a>
		<div class="overlay"></div>
		<div class="modal">
			<p class="closeBtn"></p>
			<div id="promo_box">
				<div class="promo-header">
					<h1>
						<img
							src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_02.png"
							alt="" />
					</h1>
					<div class="promo-header-right">
						<ul>
							<li><a href="https://twitter.com/cpsparking" target="_blank"><img
									id="landing_05"
									src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_05.png"
									width="30" height="30" alt="@cpsparking" /></a></li>
							<li><a href="https://facebook.com/cpsparking"
								target="_blank"><img id="landing_07"
									src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_07.png"
									width="30" height="30" alt="/cpsparking" /></a></li>
							<li class="android"><a href="http://goo.gl/b2Pcfc"
								target="_blank"><img id="landing_09"
									src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_09.png"
									width="30" height="30" alt="" /></a></li>
							<li class="iphone"><a href="http://goo.gl/hXnfLm"
								target="_blank"><img id="landing_11"
									src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_11.png"
									width="30" height="30" alt="" /></a></li>
						</ul>
						<span><img
							src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_18.png"
							alt="" /></span>
					</div>
				</div>
				<div class="promo-content">
					<iframe width="671" height="386"
						src="https://www.youtube-nocookie.com/embed/OkkGaCdV2ys?rel=&amp;html5=1"
						frameborder="0" allowfullscreen="1"></iframe>
					<span> <img id="landing_21"
						src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_21.png"
						width="672" height="40" alt="" />
					</span>
				</div>
				<div class="promo-footer">
					<h3>
						<img id="landing_23"
							src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_23.png"
							width="381" height="46" alt="" />
					</h3>
					<ul>
						<li><a href="http://goo.gl/hXnfLm" target="_blank"><img
								id="landing_26"
								src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_26.png"
								width="120" height="40" alt="" /></a></li>
						<li><a href="http://goo.gl/b2Pcfc" target="_blank"><img
								id="landing_28"
								src="#{facesContext.externalContext.requestContextPath}/images/popmodal/landing_28.png"
								width="115" height="40" alt="" /></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Promo Box -->

		<!-- content -->
		<section id="content"> <!-- main banner begin -->
		<div class="tail">
			<div id="loopedSlider">
				<div class="container">
					<div class="slides">
						<div class="div">

							<img alt=""
								src="#{facesContext.externalContext.requestContextPath}/images/slide123.jpg" />
							<div style="position: absolute; left: 450px; top: 80px;">
								<h1>
									<h:outputText escape="false"
										value="#{msgs['parameter.slider.one.title']}" />
								</h1>
								<h2>
									<h:outputText escape="false"
										value="#{msgs['parameter.slider.one.subtitle']}" />
								</h2>
								<p>
									<h:outputText style="color:#00BBEE;" escape="false"
										value="#{msgs['parameter.slider.one.descripcion']}" />
								</p>

							</div>
						</div>
						<div class="div">

							<img alt=""
								src="#{facesContext.externalContext.requestContextPath}/images/slide1.jpg" />
							<div style="position: absolute; left: 150px; top: 80px;">
								<p>
									<h:outputText style="color:#FFFFFF;" escape="false"
										value="#{msgs['parameter.slider.one.appdesc']}" />
								</p>

								<a
									href="#{facesContext.externalContext.requestContextPath}/faces/downloads.xhtml"
									class="button"><h:outputText value="#{msgs.getit}" /></a>

							</div>
						</div>
						<div class="div">
							<img alt=""
								src="#{facesContext.externalContext.requestContextPath}/images/slide2.jpg" />
							<div style="position: absolute; left: 550px; top: 80px;">

								<h1 style="color: #C33527;">
									<h:outputText escape="false"
										value="#{msgs['parameter.slider.two.title']}" />
								</h1>
								<h2>
									<h:outputText escape="false"
										value="#{msgs['parameter.slider.two.subtitle']}" />
								</h2>
								<p style="color: #005377;">
									<h:outputText escape="false"
										value="#{msgs['parameter.slider.two.descripcion']}" />
								</p>
								<a
									href="#{facesContext.externalContext.requestContextPath}/faces/balance/reloadBalancePin.xhtml"
									class="button"><h:outputText value="#{msgs.clickhere}" /></a>
							</div>

						</div>
						<div class="div">
							<img alt=""
								src="#{facesContext.externalContext.requestContextPath}/images/slide3.jpg" />
							<div>
								<h1>
									<h:outputText style="color:#FFFFFF;" escape="false"
										value="#{msgs['parameter.slider.three.title']}" />
								</h1>
								<h2>
									<h:outputText style="color:#FFFFFF; " escape="false"
										value="#{msgs['parameter.slider.three.subtitle']}" />
								</h2>
								<p>
									<h:outputText style="color:#0397F1; " escape="false"
										value="#{msgs['parameter.slider.three.descripcion']}" />
								</p>
								<a
									href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml"
									class="button"><h:outputText value="#{msgs.clickhere}" /></a>
							</div>
						</div>
						<div class="div">
							<img alt=""
								src="#{facesContext.externalContext.requestContextPath}/images/slide4.jpg" />
							<div style="position: absolute; left: 550px; top: 80px;">
								<h1>
									<h:outputText escape="false"
										value="#{msgs['parameter.slider.four.title']}" />
								</h1>
								<h2>
									<h:outputText escape="false"
										value="#{msgs['parameter.slider.four.subtitle']}" />
								</h2>
								<p>
									<h:outputText escape="false"
										value="#{msgs['parameter.slider.four.descripcion']}" />
								</p>
								<a
									href="#{facesContext.externalContext.requestContextPath}/faces/balance/reloadPayPal.xhtml"
									class="button"><h:outputText value="#{msgs.clickhere}" /></a>
							</div>
						</div>
						<!-- <div class="div">
 <a class="video"  title="CPS" href="http://www.youtube.com/v/NO6wVtwxx9k?fs=1&amp;autoplay=1">
 <a class="video"  title="CPS" href="#">
  <img alt="" src="#{facesContext.externalContext.requestContextPath}/images/slide5.jpg" />
                  </a>

   <div>
    <h1><h:outputText escape="false" value="#{msgs['parameter.slider.five.title']}"/></h1>
            <h2><h:outputText escape="false" value="#{msgs['parameter.slider.five.subtitle']}"/></h2>
            <p><h:outputText escape="false" value="#{msgs['parameter.slider.five.descripcion']}"/></p>
      <a href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml" class="button"><h:outputText value="#{msgs.clickhere}"/></a>
         <a class="videox button"  title="CPS" href="http://www.youtube.com/v/NO6wVtwxx9k?fs=1&amp;autoplay=1"><h:outputText value="#{msgs.clickhere}"/></a>

  </div>
 <div class="steps" >
        <ul>
        <li><span>1. </span><h:outputText escape="false" value="#{msgs['parameter.slider.five.step.1']}"/></li>
        <li><span>2. </span><h:outputText escape="false" value="#{msgs['parameter.slider.five.step.2']}"/></li>
        <li><span>3. </span><h:outputText escape="false" value="#{msgs['parameter.slider.five.step.3']}"/></li>
        <li><span>4. </span><h:outputText escape="false" value="#{msgs['parameter.slider.five.step.4']}"/></li>
    </ul>
  </div>
 </div> -->
					</div>
				</div>
				<div class="pagination-container">
					<ul class="pagination">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- main banner end --> <!-- .content-box -->
		<div class="container">
			<div class="inside1" style="padding: 0;">
				<div class="container_24">
					<div class="tail1" style="margin-bottom: 20px;">
						<div class="wrapper">
							<div class="grid_8 alpha">
								<h6>
									<h:outputText value="" />
								</h6>
								<div class="container">
									<br class="clear" />
								</div>
							</div>
							<div class="grid_8">
								<h6>
									<h:outputText value="#{msgs['parameter.franja.1.title']}" />
								</h6>
								<div class="container">
									<img alt=""
										src="#{facesContext.externalContext.requestContextPath}/images/pic_1.jpg"
										class="img-left" />
									<h:outputText value="#{msgs['parameter.franja.1.description']}" />
									<a
										href="#{facesContext.externalContext.requestContextPath}/faces/downloads.xhtml"
										class="linkNormal">[<h:outputText
											value="#{msgs['parameter.more']}" />]
									</a> <br class="clear" />
								</div>
							</div>
							<!--   <div class="grid_8">
            <h6><h:outputText value="#{msgs['parameter.franja.2.title']}"/></h6>
            <div class="container">
                    <img alt="" src="#{facesContext.externalContext.requestContextPath}/images/pic_2.jpg" class="img-left" />
                <h:outputText value="#{msgs['parameter.franja.2.description']}"/>  <a href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml" class="linkNormal">[<h:outputText value="#{msgs['parameter.more']}"/>]</a>
                <br class="clear" />
            </div>
        </div> -->
							<!--  <div class="grid_8 omega">
            <h6><h:outputText value="#{msgs['parameter.franja.3.title']}"/></h6>
            <div class="container">
                    <img alt="" src="#{facesContext.externalContext.requestContextPath}/images/pic_3.png" class="img-left" />
                <h:outputText value="#{msgs['parameter.franja.3.description']}"/>  <a href="#{facesContext.externalContext.requestContextPath}/faces/tower.xhtml" class="linkNormal">[<h:outputText value="#{msgs['parameter.more']}"/>]</a>
                <br class="clear" />
            </div>
        </div>-->
						</div>
					</div>
					<div class="wrapper" style="display: none;">
						<div class="grid_16 alpha">
							<div class="suffix_1">
								<h5>
									<h:outputText escape="false"
										value="#{msgs['parameter.operation.title']}" />
								</h5>
								<p>
									<h:outputText escape="false"
										value="#{msgs['parameter.operation.resumen']}" />
								</p>
								<div class="p1">
									<ol>
										<li><a href="javascript:void(0);"><h:outputText
													escape="false"
													value="#{msgs['parameter.operation.1.description']}" /></a></li>
										<li><a href="javascript:void(0);"><h:outputText
													escape="false"
													value="#{msgs['parameter.operation.2.description']}" /></a></li>
										<li><a href="javascript:void(0);"><h:outputText
													escape="false"
													value="#{msgs['parameter.operation.3.description']}" /></a></li>
										<li><a href="javascript:void(0);"><h:outputText
													escape="false"
													value="#{msgs['parameter.operation.4.description']}" /></a></li>
										<li><a href="javascript:void(0);"><h:outputText
													escape="false"
													value="#{msgs['parameter.operation.5.description']}" /></a></li>
									</ol>
								</div>
								<a
									href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml"
									class="linkNormal">[<h:outputText escape="false"
										value="#{msgs['parameter.moreaboutus']}" />]
								</a>
							</div>
						</div>
						<div class="grid_8 omega">
							<h5 class="p3">CPS Parking</h5>
							<div id="faded">
								<ul>
									<li><img alt=""
										src="#{facesContext.externalContext.requestContextPath}/images/1page_img1.jpg" /></li>
									<li><img alt=""
										src="#{facesContext.externalContext.requestContextPath}/images/1page_img2.jpg" /></li>
									<li><img alt=""
										src="#{facesContext.externalContext.requestContextPath}/images/1page_img3.jpg" /></li>
									<li><img alt=""
										src="#{facesContext.externalContext.requestContextPath}/images/1page_img4.jpg" />
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.content-box --> </section>
	</ui:define>
</ui:composition>
</html>
