<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">

	<ui:define name="head">
		<script type="text/javascript">  
function handleComplete(xhr, status, args){


    $('#totalcompletedamount').html(args.totalcompletedamount);
    
    console.log("refreshing value");
}
</script>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['parameter.adminreport.title']}" />
					</h5>
					<div class="field">
						<h:outputText value="#{msgs['parameter.transfer.startdate']}" />

						<!--Fecha desde   -->
						<p:calendar value="#{administrativeReportController.startDate}"
							navigator="true" id="fechaIni" required="true"
							requiredMessage="#{msgs.fieldRequired}" />
						<p:message for="fechaIni" />
						<h:outputText value="#{msgs['parameter.transfer.enddate']}" />

						<!--Fecha hasta   -->
						<p:calendar value="#{administrativeReportController.endDate}"
							navigator="true" id="fechaFin" required="true"
							requiredMessage="#{msgs.fieldRequired}" />
						<p:message for="fechaFin" />
					</div>
					<!--Boton consultar -->
					<p:commandButton
						actionListener="#{administrativeReportController.transactionReport}"
						value="#{msgs['myHistory.search']}"
						update="tbl2,tbl1,linkExcel,linkPdf" />

					<br></br>

					<!--Contenido del reporte 1 -->
					<p:dataTable id="tbl1" var="givereport1"
						value="#{administrativeReportController.transactionItemList}"
						emptyMessage="No hay transacciones">

						<!--Tipo de transaccion -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.adminreport.transactiontypeheader']}" />
							</f:facet>
							<h:outputText value="#{givereport1.transactionType}" />
						</p:column>

						<!--Cantidad -->
						<p:column style="text-align:right;">
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.adminreport.transactionquantityheader']}" />
							</f:facet>
							<h:outputText value="#{givereport1.quantity}">
								<f:convertNumber pattern="#,##0" />
							</h:outputText>
						</p:column>

						<!--Valor -->
						<p:column style="text-align:right;">
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.adminreport.transactionamountheader']}" />
							</f:facet>
							<h:outputText value="#{givereport1.totalAmount}">
								<f:convertNumber pattern="#,##0" />
							</h:outputText>
						</p:column>
					</p:dataTable>

					<br></br>

					<!--Contenido del reporte 2 -->
					<p:dataTable id="tbl2" var="givereport2"
						value="#{administrativeReportController.transactionUserItemList}"
						emptyMessage="No hay transacciones">

						<!--Tipo de transaccion -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.adminreport.transactiontypeheader']}" />
							</f:facet>
							<h:outputText value="#{givereport2.transactionType}" />
						</p:column>

						<!--Cantidad -->
						<p:column style="text-align:right;">
							<f:facet name="header">
								<h:outputText value="Cantidad" />
							</f:facet>
							<h:outputText value="#{givereport2.quantity}">
								<f:convertNumber pattern="#,##0" />
							</h:outputText>
						</p:column>

						<!--Valor -->
						<p:column style="text-align:right;">
							<f:facet name="header">
								<h:outputText value="Valor" />
							</f:facet>
							<h:outputText value="#{givereport2.totalAmount}">
								<f:convertNumber pattern="#,##0" />
							</h:outputText>
						</p:column>
					</p:dataTable>

					<!-- Exportar a excel -->
					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						id="linkExcel" styleClass="link1" value=""
						action="#{administrativeReportController.exportReport}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>

					<!-- Exportar a pdf -->
					<h:commandLink title="#{msgs['myHistory.linkPdf']}" id="linkPdf"
						styleClass="link1" value=""
						action="#{administrativeReportController.exportReport}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>