// OP cpsicons Icons
// --------------------------

// Custom OP Icons
.@{cpsicons-prefix}balance_recharge:before,
.@{cpsicons-prefix}balance_transfer:before,
.@{cpsicons-prefix}payment_confirm:before,
.@{cpsicons-prefix}withdrawal_confirm:before,

.@{cpsicons-prefix}campaign:before,
.@{cpsicons-prefix}balance-recharge:before,
.@{cpsicons-prefix}balance-transfer:before,
.@{cpsicons-prefix}payment-confirm:before,
.@{cpsicons-prefix}withdrawal-confirm:before {
  &:extend(.ion);
}

.@{cpsicons-prefix}balance_transfer:before { content: @cpsicons-var-cps-transfer-receiver; }
.@{cpsicons-prefix}balance_recharge:before { content: @cpsicons-var-cps-recharge; }
.@{cpsicons-prefix}payment_confirm:before { content: @cpsicons-var-cps-payment; }
.@{cpsicons-prefix}withdrawal_confirm:before { content: @cpsicons-var-cps-withdrawal; }

.@{cpsicons-prefix}campaign:before { content: @cpsicons-var-star; }
.@{cpsicons-prefix}balance-transfer:before { content: @cpsicons-var-cps-transfer-receiver; }
.@{cpsicons-prefix}balance-recharge:before { content: @cpsicons-var-cps-recharge; }
.@{cpsicons-prefix}payment-confirm:before { content: @cpsicons-var-cps-payment; }
.@{cpsicons-prefix}withdrawal-confirm:before { content: @cpsicons-var-cps-withdrawal; }
