// Ionicons Font Path
// --------------------------

@font-face {
    font-family: @cpsicons-font-family;
    src:url("@{cpsicons-font-path}/cpsicons.eot?v=@{cpsicons-version}");
    src:url("@{cpsicons-font-path}/cpsicons.eot?v=@{cpsicons-version}#iefix") format("embedded-opentype"),
    url("@{cpsicons-font-path}/cpsicons.ttf?v=@{cpsicons-version}") format("truetype"),
    url("@{cpsicons-font-path}/cpsicons.woff?v=@{cpsicons-version}") format("woff"),
    url("@{cpsicons-font-path}/cpsicons.svg?v=@{cpsicons-version}#CpsIcons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.ion {
    display: inline-block;
    font-family: @cpsicons-font-family;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    &.icon-small {
        &:before {
            font-size: 25px;
        }
    }
}