<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<fieldset>
					<div>
						<h5>
							<h:outputText value="#{msgs['menu.importCards']}" />
						</h5>
					</div>
				</fieldset>
				<br />
				<h:form enctype="multipart/form-data" id="contact-form">

					<p:fileUpload id="fileUpload"
						fileUploadListener="#{cardsController.handleFileUpload}"
						mode="advanced" update="messages" sizeLimit="200000"
						allowTypes="/(\.|\/)(xls)$/" />

					<p:messages id="messages" showDetail="true" />
				</h:form>
			</div>
		</div>
		<h:form>
		    <h:graphicImage url="/images/icon-note.png"/>
			<p:commandLink id="downloadLink" ajax="false" styleClass="link1"
				value="#{msgs['cards.downloadTemplateMsg']}">
				<p:fileDownload value="#{cardsController.file}" />
			</p:commandLink>
		</h:form> </section>
	</ui:define>
</ui:composition>
</html>