<!-- Configuration -->
<cps-content>
  <div id="configPage" class="configPage padding">

    <!-- Configuration list  -->
    <cps-page class="configGeneralPage" section="configuration">

      <section class="section-config">
        <ul class="list list-inset">
          <li>
            <a href="#pass-change" class="item item-icon-right">
              <span locale-id="passChange">Change Password</span>
              <i class="icon cityicon-aright"></i>
            </a>
          </li>
          <li class="item np">
            <label for="changeLocale" class="item-input item-select">
              <div class="input-label" locale-id="language">
                Language
              </div>
              <cps-setlocale name="changeLocale" save-change="true" cps-omit-clean="true">
                <!-- select inject -->
              </cps-setlocale>
            </label>
          </li>
          <li class="item">
            <span locale-id="version">
              Version
            </span>
            <span class="item-note">
              {{main.appName}} - {{main.appVersion}}
            </span>
          </li>
        </ul>
        <a ng-click="main.logOut()" class="button button-clear button-primary button-block">
          <i class="icon cityicon-exit"></i>
          <span locale-id="logout">Logout</span>
        </a>
      </section>

    </cps-page>
    <!-- End Configuration List-->

    <!-- Change language   -->
    <cps-page class="changeLanguage full-width" data-section="change-language">
      <div class="ui-swiper-content">
        <cps-localize-form save-change="true">
          <!-- Localize Form -->
        </cps-localize-form>
      </div>
    </cps-page>
    <!-- End Change Password -->

    <!-- Version -->
    <cps-page class="getVersion full-width" section="version">
      <div class="ui-swiper-content">

        <h1 class="title title-center">CPS App</h1>

        <div class="text-center">
          <p>
            {{appName}} - {{appVersion}}
          </p>
        </div>

      </div>
    </cps-page>
    <!-- End Version -->

  </div>
</cps-content>
<!-- End Configuration-->
