<!-- driver -->
<cps-content>
  <cps-page id="driverPage" class="driverPage padding">

    <button cps-event="initDriver" locale-id="driverNewRegister"
            class="button button-block button-primary">
      New Register
    </button>

    <cps-driver-list>
      <!-- driver list -->
    </cps-driver-list>

  </cps-page>
</cps-content>
<!-- End drive -->
