<!-- Profile -->
<cps-content>
  <cps-page id="profilePage" class="profilePage">

    <cps-profile-form>
      <!-- profileFomr -->
    </cps-profile-form>

  </cps-page>
</cps-content>
<!-- End profile -->
