<!-- Security -->
<cps-content>
  <cps-page id="securityPage" class="securityPage">
    <!-- Change Password   -->
    <cps-pass-change-form>
      <!--  -->
    </cps-pass-change-form>

  </cps-page>
</cps-content>
<!-- End security -->
