<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
<div class="bg-main">
	<div id="main">
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_8 alpha">
                            <h5>Membership</h5>
                            <ul class="list1">
                                <li><a href="#">About Our Clients</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Special Proposition</a></li>
                                <li><a href="#">Clients Services</a></li>
                                <li><a href="#">Clients Support</a></li>
                                <li><a href="#">Company Activities</a></li>
                                <li><a href="#">Be Our Client</a></li>                                
                            </ul>
                        </div>
                        <div class="grid_16 omega">
                            <h5>Company Clients</h5>
                            <div class="container row2">
                            	<div class="col-1">
                                	<a  href="images/image_blank.png" rel="prettyPhoto"  class="lightbox-image" title="Example 1"><img alt="" src="images/4page_img1.jpg" /></a><br/>
                                    <b>Company name</b><br />
                                    Duis aute irure dolor rep hdeit ugiat oficia desemrun.<br />
                                    <a href="more.html" class="link1">Go to site</a>  
                                    <div class="indent">
                                    	<a  href="images/image_blank.png" rel="prettyPhoto"  class="lightbox-image" title="Example 2"><img alt="" src="images/4page_img2.jpg" /></a><br/>
                                        <b>Company name</b><br />
                                        Duis aute irure dolor rep hdeit ugiat oficia desemrun.<br />
                                    <a href="more.html" class="link1">Go to site</a>  
                                    </div>
                                    <div class="indent">
                                    	<a  href="images/image_blank.png" rel="prettyPhoto"  class="lightbox-image" title="Example 3"><img alt="" src="images/4page_img3.jpg" /></a><br/>
                                        <b>Company name</b><br />
                                        Duis aute irure dolor rep hdeit ugiat oficia desemrun.<br />
                                    <a href="more.html" class="link1">Go to site</a>  
                                    </div>                                  
                                </div>
                                <div class="col-1">
                                	<a  href="images/image_blank.png" rel="prettyPhoto"  class="lightbox-image" title="Example 4"><img alt="" src="images/4page_img4.jpg" /></a><br/>
                                    <b>Company name</b><br />
                                    Duis aute irure dolor rep hdeit ugiat oficia desemrun.<br />
                                    <a href="more.html" class="link1">Go to site</a>  
                                    <div class="indent">
                                    	<a  href="images/image_blank.png" rel="prettyPhoto"  class="lightbox-image" title="Example 5"><img alt="" src="images/4page_img5.jpg" /></a><br/>
                                        <b>Company name</b><br />
                                        Duis aute irure dolor rep hdeit ugiat oficia desemrun.<br />
                                    <a href="more.html" class="link1">Go to site</a>  
                                    </div>
                                    <div class="indent">
                                    	<a  href="images/image_blank.png" rel="prettyPhoto"  class="lightbox-image" title="Example 6"><img alt="" src="images/4page_img6.jpg" /></a><br/>
                                        <b>Company name</b><br />
                                        Duis aute irure dolor rep hdeit ugiat oficia desemrun.<br />
                                    <a href="more.html" class="link1">Go to site</a>  
                                    </div>                                  
                                </div>
                                <div class="col-2">
                                	<a  href="images/image_blank.png" rel="prettyPhoto"  class="lightbox-image" title="Example 7"><img alt="" src="images/4page_img7.jpg" /></a><br/>
                                    <b>Company name</b><br />
                                    Duis aute irure dolor rep hdeit ugiat oficia desemrun.<br />
                                    <a href="more.html" class="link1">Go to site</a>  
                                    <div class="indent">
                                    	<a  href="images/image_blank.png" rel="prettyPhoto"  class="lightbox-image" title="Example 8"><img alt="" src="images/4page_img8.jpg" /></a><br/>
                                        <b>Company name</b><br />
                                        Duis aute irure dolor rep hdeit ugiat oficia desemrun.<br />
                                    <a href="more.html" class="link1">Go to site</a>  
                                    </div>                          
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
  </div>
</div>
  </ui:define>
</ui:composition>
</html> 