<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">
	<!-- Inclusion de contenido -->
	<ui:define name="content">
		<div class="bg-main">
			<div id="main">
				<!-- content -->
				<section id="content"> <!-- .content-box -->
				<div class="container">
					<div class="inside">
						<div class="container_24">
							<div class="wrapper">
								<div class="grid_9 alpha">
									<div class="suffix_1">
										<h5>
											<h:outputText value="#{msgs['contactForm.ouraddress']}" />
										</h5>
										<iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.4070463130006!2d-74.79246648589402!3d11.008055592164586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTHCsDAwJzI5LjAiTiA3NMKwNDcnMjUuMCJX!5e0!3m2!1ses-419!2sco!4v1445958604142"
											width="350" height="450" frameborder="0" style="border: 0"></iframe>
										<div class="indent"></div>
									</div>
								</div>
								<div class="grid_15 omega">
									<div class="suffix_1">
										<h5>
											<h:outputText value="#{msgs['contactForm.title']}" />
										</h5>
										<br></br> <br></br>
										<div style="clear: both"></div>
										<div id="contact_form">
											<h:form prependId="false" id="contact-form">
												<p:growl globalOnly="true" id="growContact"
													showSummary="true" sticky="false" life="2000" />
												<fieldset>
													<label><h:outputText
															value="#{msgs['contactForm.description']}" /></label><br></br> <label
														for="name" id="name_error"><h:outputText
															value="#{msgs['contactForm.name']}" /></label>
													<div class="field">
														<h:inputText id="name" value="#{contactController.name}"
															styleClass="text-input" required="true"
															requiredMessage="#{msgs['fieldRequired']}" />
														<p:message for="name" />
													</div>
													<label for="name" id="name_error"><h:outputText
															value="#{msgs['contactForm.email']}" /></label>
													<div class="field">
														<h:inputText id="email" value="#{contactController.email}"
															validatorMessage="#{msgs.emailNotValid}"
															styleClass="text-input" required="true"
															requiredMessage="#{msgs['fieldRequired']}">
															<f:validator validatorId="cps.EmailValidator" />
														</h:inputText>
														<p:message for="email" />
													</div>
													<label for="name" id="name_error"><h:outputText
															value="#{msgs['contactForm.phone']}" /></label>
													<div class="field">
														<h:inputText id="phone" value="#{contactController.phone}"
															styleClass="text-input" required="true"
															requiredMessage="#{msgs['fieldRequired']}" />
														<p:message for="phone" />
													</div>
													<label for="name" id="name_error"><h:outputText
															value="#{msgs['contactForm.message']}" /></label>
													<div class="field1">
														<h:inputTextarea rows="4"
															value="#{contactController.message}" id="message"
															styleClass="text-input" required="true"
															requiredMessage="#{msgs['fieldRequired']}" />
														<p:message for="message" />
													</div>
													<div class="container">
														<div class="fleft" style="margin: 20px 0;">
															<a href="#"
																onclick="document.getElementById('contact-form').reset();return false;"
																class="link">[<h:outputText
																	value="#{msgs['form.clear']}" />]
															</a>&nbsp;&nbsp;
															<h:commandLink
																actionListener="#{contactController.enviarEmail}"
																styleClass="link" value="[#{msgs['form.submit']}]" />
														</div>
													</div>
												</fieldset>
											</h:form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.content-box --> </section>
			</div>
		</div>
	</ui:define>
</ui:composition>