<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/template.xhtml">

	<ui:define name="head">

		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/jquery.faded.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/superfish.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/funcionesHome.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/loopedslider.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/functions.js"></script>

		<!-- Js and Css PopModal -->
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/popmodal/jquery.modal.min.js"></script>
		<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/js/popmodal/site.js"></script>

		<link type="text/css" media="all" rel="stylesheet"
			href="#{facesContext.externalContext.requestContextPath}/css/popmodal/modal.css" />

		<!-- Run custom js options -->
		<script type="text/javascript">
	$(function(){
	    $("#faded").faded();
		$('#loopedSlider').loopedSlider();
	});

	$(document).ready(function() {
		$('ul.sf-menu').superfish();
        $(".icon a.tooltips").easyTooltip();
			});
	
	
</script>
	</ui:define>
	<!-- Inclusion de contenido -->
	<ui:define name="content">
		<!-- content -->

		<h:form id="contact-form">

			<section id="content"> <!-- main banner begin --> <p:remoteCommand
				name="rmtSendOnCloseSignal" immediate="true"
				actionListener="#{sessionControler.onClosePage()}" />
			<div class="tail">
				<div id="loopedSlider">
					<div class="container">
						<div class="slides">
							<!-- Slide 1 -->
							<div class="div">

								<img alt=""
									src="#{facesContext.externalContext.requestContextPath}/images/slide1.jpg" />

							</div>
							<!-- Slide 3 -->
							<div class="div">
								<img alt=""
									src="#{facesContext.externalContext.requestContextPath}/images/slide3.jpg" />
							</div>
						</div>
					</div>
					<div class="pagination-container">
						<ul class="pagination">
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- main banner end --> <!-- .content-box -->
			<div class="container">
				<div class="inside1" style="padding: 0;">
					<div class="container_24">
						<div class="tail1" style="margin-bottom: 20px;">
							<div class="wrapper">
								<div class="grid_8 alpha">
									<h6>
										<h:outputText value="" />
									</h6>
									<div class="container">
										<br class="clear" />
									</div>
								</div>
								<div class="grid_8">
									<h6>
										<h:outputText value="#{msgs['parameter.franja.1.title']}" />
									</h6>
									<div class="container">
										<img alt=""
											src="#{facesContext.externalContext.requestContextPath}/images/pic_1.jpg"
											class="img-left" />
										<h:outputText
											value="#{msgs['parameter.franja.1.description']}" />
										<a
											href="#{facesContext.externalContext.requestContextPath}/faces/downloads.xhtml"
											class="linkNormal">[<h:outputText
												value="#{msgs['parameter.more']}" />]
										</a> <br class="clear" />
									</div>
								</div>
							</div>
						</div>
						<div class="wrapper" style="display: none;">
							<div class="grid_16 alpha">
								<div class="suffix_1">
									<h5>
										<h:outputText escape="false"
											value="#{msgs['parameter.operation.title']}" />
									</h5>
									<p>
										<h:outputText escape="false"
											value="#{msgs['parameter.operation.resumen']}" />
									</p>
									<div class="p1">
										<ol>
											<li><a href="javascript:void(0);"><h:outputText
														escape="false"
														value="#{msgs['parameter.operation.1.description']}" /></a></li>
											<li><a href="javascript:void(0);"><h:outputText
														escape="false"
														value="#{msgs['parameter.operation.2.description']}" /></a></li>
											<li><a href="javascript:void(0);"><h:outputText
														escape="false"
														value="#{msgs['parameter.operation.3.description']}" /></a></li>
											<li><a href="javascript:void(0);"><h:outputText
														escape="false"
														value="#{msgs['parameter.operation.4.description']}" /></a></li>
											<li><a href="javascript:void(0);"><h:outputText
														escape="false"
														value="#{msgs['parameter.operation.5.description']}" /></a></li>
										</ol>
									</div>
									<a
										href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml"
										class="linkNormal">[<h:outputText escape="false"
											value="#{msgs['parameter.moreaboutus']}" />]
									</a>
								</div>
							</div>
							<div class="grid_8 omega">
								<h5 class="p3">CPS Parking</h5>
								<div id="faded">
									<ul>
										<li><img alt=""
											src="#{facesContext.externalContext.requestContextPath}/images/1page_img1.jpg" /></li>
										<li><img alt=""
											src="#{facesContext.externalContext.requestContextPath}/images/1page_img2.jpg" /></li>
										<li><img alt=""
											src="#{facesContext.externalContext.requestContextPath}/images/1page_img3.jpg" /></li>
										<li><img alt=""
											src="#{facesContext.externalContext.requestContextPath}/images/1page_img4.jpg" />
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</section>
			
		</h:form>
	</ui:define>
</ui:composition>
</html>
