<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

</h:head>
<h:body>
<h:form>
<h:outputLink value="security/loginUser.xhtml">Login</h:outputLink><br></br>
<h:commandLink action="#{loginController.logout}">Logout</h:commandLink><br></br>
<h:outputLink value="security/changePassword.xhtml">Cambiar Contraseña</h:outputLink><br></br>
<h:outputLink value="account/registerUser.xhtml">Registrar Usuario</h:outputLink><br></br>
<h:commandLink action="#{adminUserController.loadDataUser}">Actualizar Datos</h:commandLink><br></br>
<h:outputLink value="balance/reloadBalancePin.xhtml">Recargar PIN</h:outputLink><br></br>
<h:outputLink value="vehicle/managerVehicle.xhtml">Mis Vehiculos</h:outputLink><br></br>
</h:form>
</h:body>
</html>