<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/template/template.xhtml">
    
    <ui:define name="head">
    	<style>
		.container_24 .wrapper .grid_17 .suffix_1 h6{
			cursor:pointer;
			background: url('../images/bg_ol.gif') no-repeat scroll 0px 4px;
			
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding-left:22px;
		}
		.container_24 .wrapper .grid_17 .suffix_1 h6:hover{
			text-decoration:underline;
		}
		.container_24 .wrapper .grid_17 {
			width:960px;
		}
		.container_24 .wrapper .grid_17 .suffix_1 .tail2{
			display:none;
			border-top:1px solid #CCCCCC;
			border-bottom:1px solid #CCCCCC;
			background:#F6F6F6;
			padding:8px;
		}
		</style>
        
        <script type="text/javascript">
			$(document).ready(function(){
				$('.suffix_1 h6').click(function(){
					if($(this).hasClass('actual')){
						$('.suffix_1 h6').each(function(){
							$(this).next().slideUp();
							$(this).css('color','#666666');
							$(this).removeClass('actual');
						});
					}else{
						$('.suffix_1 h6').each(function(){
							$(this).next().slideUp();
							$(this).css('color','#666666');
						});
						$(this).next().slideDown();
						$(this).css('color','#CD3127');
						$(this).addClass('actual');
					}
				});
			});
		</script>
    </ui:define>
    
<!-- Inclusion de contenido -->
<ui:define name="content">
<div class="bg-main">
	<div id="main">
   <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_17 alpha">
                            <div class="suffix_1">
                                 <h1><h:outputText value="#{msgs['parameter.cpssms.title']}" escape="false" /></h1>
								<!--<a name="regs" id="a"></a> 
								<h6><h:outputText value="#{msgs['parameter.cpssms.1.title']}" escape="false" /></h6>                                
                                <div class="tail2" align="justify">
	                                <h:outputText value="#{msgs['parameter.cpssms.1.description']}" escape="false" />
                                </div>
								-->
								<a name="pdp" id="a"></a>
								<h6><h:outputText value="#{msgs['parameter.cpssms.2.title']}" escape="false" /></h6>                                
                                
                                <div class="tail2" align="justify">
                                <h:outputText value="#{msgs['parameter.cpssms.2.description']}" escape="false" />	                                
                                </div>
                                
                                <a name="regv" id="a"></a>
                                <h6><h:outputText value="#{msgs['parameter.cpssms.3.title']}" escape="false" /></h6>                                
                                
                                <div class="tail2" align="justify">
                                <h:outputText value="#{msgs['parameter.cpssms.3.description']}" escape="false" />
                                </div>
                                
                                <a name="vreg" id="a"></a>
                                <h6><h:outputText value="#{msgs['parameter.cpssms.4.title']}" escape="false" /></h6>                                
                                
                                <div class="tail2" align="justify">
                                <h:outputText value="#{msgs['parameter.cpssms.4.description']}" escape="false" />
                                </div>
                                
                                
                                <h6><h:outputText value="#{msgs['parameter.cpssms.5.title']}" escape="false" /></h6>                                
                                
                                <div class="tail2" align="justify">
                                <a name="rec" id="a"></a>
                                <h:outputText value="#{msgs['parameter.cpssms.5.description']}" escape="false" />
                                </div>
								
                                <h6><h:outputText value="#{msgs['parameter.cpssms.6.title']}" escape="false" /></h6>                                
                                
                                <div class="tail2" align="justify">
                                <h:outputText value="#{msgs['parameter.cpssms.6.description']}" escape="false" />
                                </div>
                                
                            </div>
                        </div>
                        <div class="grid_7 omega">                            
                            <ul class="list1" style="display:none;">
                                <li><a href="#regs" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.cpssms.1.title']}" escape="false"/></a></li>
                                <li><a href="#pdp" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.cpssms.2.title']}" escape="false"/></a></li>
                                <li><a href="#regv" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.cpssms.3.title']}" escape="false"/></a></li>
                                <li><a href="#vinf" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.cpssms.4.title']}" escape="false"/></a></li>
                                <li><a href="#vreg" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.cpssms.5.title']}" escape="false"/></a></li>
                                <li><a href="#rec" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.cpssms.6.title']}" escape="false"/></a></li>                                
                            </ul>
                        </div>
                    </div>   
                    <br/>
                    <a href="#regs" class="linkNormal">[<h:outputText value="#{msgs['parameter.top']}" escape="false" />]</a>
                                     
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
  </div>
</div>
</ui:define>
</ui:composition>
