<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<!-- Inclusion de contenido -->
	<ui:define name="content">
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:body>
					<h:form id="contact-form" prependId="false">
						<fieldset>
							<div class="field">
								<h5>
									<h:outputText
										value="#{msgs['rqbfu.title']}" />
								</h5>
							</div>
							<div class="field">
								<!-- Login commerce   -->
								<h:selectOneMenu style="width: 350px;" required="true"
									requiredMessage="#{msgs.fieldRequired}"
									value="#{requestCommerceBrancheForUserController.idcommerceSelected}"
									id="commercesToSelect">
									<f:selectItem  itemValue="" itemLabel="#{msgs['rqbfu.selectcommerce']}"></f:selectItem>
									<f:selectItems
										value="#{requestCommerceBrancheForUserController.commercesForUser}"
										var="commerce" itemLabel="#{commerce.name}"
										itemValue="#{commerce.idCommerce}"
										itemDescription="#{commerce.name}">
									</f:selectItems>
									<p:ajax update="branchesToSelect"
										listener="#{requestCommerceBrancheForUserController.changeCommerce}"
										event="change" process="@this" />
								</h:selectOneMenu>
								<p:message for="commercesToSelect" showDetail="true"/>
							</div>
							<div class="field">
								<!-- Login branch   -->
								<h:selectOneMenu style="width: 350px;" required="true"
									requiredMessage="#{msgs.fieldRequired}"
									value="#{requestCommerceBrancheForUserController.idbranchSelected}"
									id="branchesToSelect">
									<f:selectItem  itemValue=""
										itemLabel="#{msgs['rqbfu.selectbranch']}"></f:selectItem>
									<f:selectItems
										value="#{requestCommerceBrancheForUserController.branchesForUser}"
										var="branch" itemLabel="#{branch.name}"
										itemValue="#{branch.idbranch}"
										itemDescription="#{branch.name}">
									</f:selectItems>
								</h:selectOneMenu>
								<p:message for="branchesToSelect" showDetail="true" />
							</div>
							<div class="field">
								<h:commandLink styleClass="link" id="loginButton"
									value="[#{msgs.loginButton}]"
									action="#{requestCommerceBrancheForUserController.login()}" />
							</div>
						</fieldset>
					</h:form>
				</h:body>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>