<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
<div class="bg-main">
	<div id="main">
     <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_9 alpha">
                            <div class="suffix_1">
                                <h5>24/7 Online Support </h5>
                                <div class="tail2">
                                	<div class="container">
                                        <img alt="" src="images/6page_img1.jpg" class="img-left" />
                                        <b>Lobortis quis, lobortis.</b><br />
                                        Anim laborum excepteur  ster sunt in culpa quitr officia sent uptates velit. Excep teur sint oca. Ecat serese cup.
                                    </div>
                                </div>
                                <div class="tail2">
                                	<div class="container">
                                        <img alt="" src="images/6page_img2.jpg" class="img-left" />
                                        <b>Lobortis quis, lobortis.</b><br />
                                        Anim laborum excepteur  ster sunt in culpa quitr officia sent uptates velit. Excep teur sint oca. Ecat serese cup.
                                    </div>
                                </div>
                                <div class="container">
                                    <img alt="" src="images/6page_img3.jpg" class="img-left" />
                                    <b>Lobortis quis, lobortis.</b><br />
                                    Anim laborum excepteur  ster sunt in culpa quitr officia sent uptates velit. Excep teur sint oca. Ecat serese cup.
                                </div>
                                <div class="indent1">
                                  	<div class="box">
                                    	<img alt="" src="images/icon.png" class="icon-1" />
                                        <div class="indent-box">
                                        	<div class="container">
                                              	<h6 class="h6"> E-mail Subscribe</h6>
                                                 <form action="" id="login-form1"><fieldset>
                                                    <div class="rowElem1"><input type="text" ></input><input type="submit" class="search" value="go"></input></div>
                                                </fieldset></form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid_15 omega">
                            <h5>Frequently Asked Questions</h5>
                            <div class="container p2">
                            	<span class="txt1">Q?</span>
                            	<div class="oh"><b>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?</b></div>
                            </div>
                            <div class="container p2">
                            	<span class="txt1">A.</span>
                            	<div class="oh">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu lus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.  Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mau.</div>
                            </div>
                            <div class="container p2">
                            	<span class="txt1">Q?</span>
                            	<div class="oh"><b>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque?</b></div>
                            </div>
                            <div class="container p2">
                            	<span class="txt1">A.</span>
                            	<div class="oh">Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in laenim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ligula. Aliquam dapi bus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Fusce suscipit vari.</div>
                            </div>
                            <div class="container p2">
                            	<span class="txt1">Q?</span>
                            	<div class="oh"><b>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit?</b></div>
                            </div>
                            <div class="container p2">
                            	<span class="txt1">A.</span>
                            	<div class="oh">Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermen tum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapib ster port rse namet.</div>
                            </div>
                            <div class="container p2">
                            	<span class="txt1">Q?</span>
                            	<div class="oh"><b>Bulum libero nisl, porta vel, scelerisque eget, malesuada at, nequeorts?</b></div>
                            </div>
                            <div class="container">
                            	<span class="txt1">A.</span>
                            	<div class="oh">Nesgue fermentum nisl. Mauris accumsan nulla vel diam. Sed in laenim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ligula. Aliquam dapi bus tinci dunt metus. Praesent justo dolor, lobortis quis, lobortis. Nesgue fermentum nisl. Mauris ster accumsan nulla vel diam. Sed in laenim adipiscing aliquet port rsen. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Fusce suscip.</div>
                            </div>
                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
  </div>
</div>
  </ui:define>
</ui:composition>
</html> 
