<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/template/template.xhtml">
    
    <ui:define name="head">
    	<style>
		h6{
			cursor:pointer;
			background: url('../images/bg_ol.gif') no-repeat scroll 0px 4px;
			
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding-left:22px;
		}
		h6:hover{
			text-decoration:underline;
		}
		
		.tail3{
			display:none;
			border-top:1px solid #CCCCCC;
			border-bottom:1px solid #CCCCCC;
			background:#F6F6F6;
			padding:8px;
		}
		
		.grid_17 .tail2{
			border:none;
			background:none;
			margin:0 !important;
			padding:0 !important;
		}
		.grid_17 {
			width:960px !important;
		}
		
		</style>
        
        <script type="text/javascript">
			$(document).ready(function(){
				$('h6').each(function(){
					$(this).next().slideUp();
				});
			
				$('h6').click(function(){
					if($(this).hasClass('actual')){
						$('h6').each(function(){
							$(this).next().slideUp();
							$(this).css('color','#666666');
							$(this).removeClass('actual');
						});
					}else{
						$('h6').each(function(){
							$(this).next().slideUp();
							$(this).css('color','#666666');
						});
						$(this).next().slideDown();
						$(this).css('color','#CD3127	');
						$(this).addClass('actual');
					}
				});
			});
		</script>
    </ui:define>
<!-- Inclusion de contenido -->
<ui:define name="content">
<div class="bg-main">
	<div id="main">
   <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                	<a name="regs"></a>
                
                    <div class="wrapper">
                        <div class="grid_17 alpha">
                            <div class="suffix_1">                            
                                <h1><h:outputText value="#{msgs['parameter.towercps.title']}" escape="false" /> </h1>
								
								<br/>
								<div class="tail2" align="justify">
	                                <h6><h:outputText value="#{msgs['parameter.towercps.1.title']}" escape="false" /></h6>
                                    <div class="p1 tail3">
	                                	<h:outputText value="#{msgs['parameter.towercps.1.description']}" escape="false" />
                                    </div>
                                </div>
								<a name="prq"></a>
								<h6><h:outputText value="#{msgs['parameter.towercps.2.title']}" escape="false" /></h6>                                
                                <div class="p1 tail3">
                                    <ol>
                                        <h:outputText value="#{msgs['parameter.towercps.2.description']}" escape="false" />
                                    </ol>
                                </div>
                                <a name="dprq"></a>
                                <h6><h:outputText value="#{msgs['parameter.towercps.3.title']}" escape="false" /></h6>                                
                                <div class="p1 tail3">
                                    <ol>
                                        <h:outputText value="#{msgs['parameter.towercps.3.description']}" escape="false" />
                                    </ol>
                                </div>
                                <a name="imp"></a>
                                <h6><h:outputText value="#{msgs['parameter.towercps.4.title']}" escape="false" /></h6>
                                <div class="tail3" align="justify">
									<h:outputText value="#{msgs['parameter.towercps.4.description']}" escape="false" /> 	                                	                                
                                </div>
                            </div>
                        </div>
                        <div class="grid_7 omega" style="display:none;">                            
                            <ul class="list1">
                                <li><a href="#prq" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.towercps.2.title']}" escape="false" /></a></li>
                                <li><a href="#dprq" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.towercps.3.title']}" escape="false" /></a></li>
                                <li><a href="#imp" style="font-size: 15px;"><h:outputText value="#{msgs['parameter.towercps.4.title']}" escape="false" /></a></li>
                            </ul>
                        </div>
                    </div>   
                    <br/>
                    <a href="#regs" class="linkNormal">[<h:outputText value="#{msgs['parameter.top']}" escape="false" />]</a>
                                     
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
  </div>
</div>
</ui:define>
</ui:composition>
