<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<!--verificacion de parametros del get-->
<!-- Inclusion de contenido -->

<ui:composition template="/template/template.xhtml">

	<ui:define name="content">
		<!-- content -->
		<!-- content -->

		<f:metadata>
			<f:viewParam name="token" value="#{tokenController.token}" />
			<f:event listener="#{tokenController.verifyToken}"
				type="preRenderView" />
		</f:metadata>
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">
						<div class="grid_22 omega">
							<div class="suffix_1">
								<h:form prependId="false" id="contact-form">
									<h:panelGroup>
										<!--Mensaje de que debe de verificar su correo  -->
										<div class="ui-messages-info ui-corner-all">
											<span class="ui-messages-info-icon"></span>
											<h:outputText
												value="Gracias por haber validado su cuenta ahora puede disfrutar de todos los beneficios de su billetera virtual MOVILPLATA" />
										</div>
									</h:panelGroup>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>

</html>