<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
>	
<ui:composition template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24" style="position:relative;">
                    <div class="wrapper">
                    	
                        <div class="grid_15 omega" style="position: inherit;">
                            <div class="suffix_1">
                            	<h5><h:outputText value="RECARGA DE CUENTA CPS"/></h5>                                
                            	<img class="pageImage" src="../images/cps/shop1.png"></img>
                                <div style="clear:both"></div>
                                <div id="contact_form" style="clear:both;">
                                <p:messages showSummary="true" showDetail="true" globalOnly="true" />
                                <h:form prependId="false" method="post" id="contact-form" target="_blank">
                                    <fieldset> 
                                      <div class="container">
                                        <div class="fleft" style="margin:20px 0;">
                                         <h:outputLink target="_blank" styleClass="link" value="https://www.msj.go.cr/Consulte_Su_Cuenta/Comercio_Electronico/SitePages/Inicio.aspx"><h:outputText value="[#{msgs.reloadBalanceButton}]"/></h:outputLink>
                                       </div>
                                      </div>
                                    </fieldset>    
                                </h:form>
                              </div>
                              <div class="pageInfo">
                              	<p><h:outputText value="Aquí puedes recargar el saldo de tu cuenta usando el sitio web de la Municipalidad de San Jose"/></p>                              	
                            </div>
                            <img class="serviceLogo" src="../images/cps/logomsj.png" style="display: block; position"></img>
                           </div>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
	</ui:define>
</ui:composition>
</html>