<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">


<ui:composition template="/template/template.xhtml">

	<ui:define name="head">

		<style type="text/css">
.ui-picklist .ui-picklist-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 200px;
	width: 480px;
}

.ui-informativemesage {
	color: #3a87ad;
	background-color: #f0ba1c;
	display: block;
	margin: 10px 10px 10px 10px;
	padding: 0px;
	width: 800px;
	height: 40px;
	position: relative;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid #B8CB99;
}

.sep-style {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.analisis_result_table_error {
	background-color: red;
}

table {
	width: auto !important;
	border: none !important;
}

table  td {
	border: none !important;
}

table pickform tr {
	border: none !important;
}

.colored {
	background-color: yellow;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 50px;
	padding-left: 50px;
}
</style>
	</ui:define>

	<ui:define name="content">
		<!-- content -->

		<!-- content -->
		<br />
		<br />

		<section id="content"> <!-- .content-box -->
		<div class="container">

			<br></br>
			<p:tabView dynamic="true" id="transferTabs">
				<p:tab title="Desde sistema">
					<h:form id="pickform">
						<!-- pockets selection -->
						<p:panelGrid columns="2" id="pnlGrdPockets">
							<p:panel header="Bolsillo Origen">
								<!-- source pockets -->
								<h:selectOneMenu styleClass="select-input" required="true"
									requiredMessage="Debe seleccionar un bolsillo"
									value="#{balanceMultipleController.sourcePocketSelectedId}"
									id="sourcePockets">
									<p:ajax event="change" process="@this" />
									<f:selectItem noSelectionOption="true"
										itemLabel="#{msgs['cbpm.selectPocket']}" />
									<f:selectItems
										value="#{balanceMultipleController.sourcePockets}" var="sp"
										itemLabel="#{sp.description}" itemValue="#{sp.pocketId}"
										itemDescription="#{sp.description}" />
								</h:selectOneMenu>
								<p:message for="sourcePockets" showSummary="true" />
							</p:panel>
							<p:panel header="Bolsillo Destino">
								<!-- destination pockets -->
								<h:selectOneMenu styleClass="select-input" required="true"
									requiredMessage="Debe seleccionar un bolsillo"
									value="#{balanceMultipleController.destinationPocketSelectedId}"
									id="destinationPockets">
									<p:ajax event="change" process="@this" />
									<f:selectItem itemLabel="#{msgs['cbpm.selectPocket']}"
										noSelectionOption="true" />
									<f:selectItems
										value="#{balanceMultipleController.destinationPockets}"
										var="dp" itemLabel="#{dp.description}"
										itemValue="#{dp.pocketId}" itemDescription="#{dp.description}" />
								</h:selectOneMenu>
								<p:message for="destinationPockets" showSummary="true" />
							</p:panel>
						</p:panelGrid>
						<br />
						<!-- CRITERIA -->
						<div class="field">
							<h:outputLabel for="criteria"
								value="#{msgs['transfer.criteria']}" />
						</div>
						<div class="field">
							<p:inputText required="true" requiredMessage="Digite un criterio"
								value="#{balanceMultipleController.userfilter}" id="criteria" />
							<p:message for="criteria" showSummary="true" />
						</div>
						<br></br>
						<div class="field">
							<p:commandButton id="btnFilterUsers" value="Filtrar"
								actionListener="#{balanceMultipleController.filterUsers}"
								update=":transferTabs:pickform tblUsersFound pnlGrdPockets @form"
								process="@form" />
						</div>
						<div>
							<h:panelGrid columns="2" cellpadding="0" id="tablesGrid">
								<!-- //////////////////////////////////////////////////////////// -->
								<!-- TABLA ENCONTRADOS -->
								<!-- //////////////////////////////////////////////////////////// -->
								<p:dataTable id="tblUsersFound" var="selectedUser"
									value="#{balanceMultipleController.originUsers}"
									selection="#{balanceMultipleController.selectedUsers}"
									rowKey="#{selectedUser.idsysUser}" style="margin-bottom:0">
									<f:facet name="header">
										<h:outputText value="#{msgs['transfer.header.found']}" />
									</f:facet>
									<!-- SELECCION -->
									<p:column selectionMode="multiple"
										style="width:16px;text-align:center" />
									<!-- NOMBRE -->
									<p:column headerText="Nombre">
										<h:outputText value="#{selectedUser.name}" />
									</p:column>
									<!-- TELEFONO -->
									<p:column headerText="Telefono">
										<h:outputText value="#{selectedUser.favoriteMsisdn}" />
									</p:column>
									<!-- CU -->
									<p:column headerText="CU">
										<h:outputText value="#{selectedUser.cu}" />
									</p:column>
									<!-- EMAIL -->
									<p:column headerText="email">
										<h:outputText value="#{selectedUser.email}" />
									</p:column>
									<f:facet name="footer">
										<p:commandButton id="btnSelectDestUsers"
											process=":transferTabs:pickform:tblUsersFound :transferTabs:frmExecuteTransfer"
											icon="ui-icon-search"
											actionListener="#{balanceMultipleController.addSelectedUsers()}"
											update="transferTabs:pickform:tblUsersFound,
											transferTabs:pickform:tblToTransfer, transferTabs:frmExecuteTransfer:btnTransfer"
											value="Seleccionar" />
									</f:facet>
								</p:dataTable>
								<!-- FIN TABLA ENCONTRADOS -->
								<!-- //////////////////////////////////////////////////////////// -->
								<!-- TABLA SELECCIONADOS -->
								<!-- //////////////////////////////////////////////////////////// -->
								<p:dataTable id="tblToTransfer" var="toTransferUser"
									value="#{balanceMultipleController.destUsers}"
									selection="#{balanceMultipleController.excludeUsers}"
									rowKey="#{toTransferUser.idsysUser}" style="margin-bottom:0">
									<f:facet name="header">
										<h:outputText value="#{msgs['transfer.header.torecharge']}" />
									</f:facet>
									<!-- SELECCION -->
									<p:column selectionMode="multiple"
										style="width:16px;text-align:center" />
									<!-- NOMBRE -->
									<p:column headerText="Nombre">
										<h:outputText value="#{toTransferUser.name}" />
									</p:column>
									<!-- TELEFONO -->
									<p:column headerText="Telefono">
										<h:outputText value="#{toTransferUser.favoriteMsisdn}" />
									</p:column>
									<!-- CU -->
									<p:column headerText="CU">
										<h:outputText value="#{toTransferUser.cu}" />
									</p:column>
									<!-- EMAIL -->
									<p:column headerText="email">
										<h:outputText value="#{toTransferUser.email}" />
									</p:column>
									<f:facet name="footer">
										<p:commandButton id="btnExcludeUsers" process="tblToTransfer"
											icon="ui-icon-search"
											update="transferTabs:pickform:tblUsersFound, 
											transferTabs:pickform:tblToTransfer, 
											transferTabs:frmExecuteTransfer:btnTransfer"
											actionListener="#{balanceMultipleController.excludeSelectedUsers()}"
											value="Excluir" />
									</f:facet>
								</p:dataTable>
								<!-- FIN TABLA SELECCIONADOS -->
							</h:panelGrid>
						</div>
						<p:blockUI block="tablesGrid" trigger="btnFilterUsers" />
						<p:blockUI block="tablesGrid"
							trigger="transferTabs:pickform:tblToTransfer:btnExcludeUsers" />
						<p:blockUI block="tablesGrid"
							trigger="transferTabs:pickform:tblUsersFound:btnSelectDestUsers" />
					</h:form>
					<h:form id="frmExecuteTransfer">
						<!-- TRANSFERENCIA-->
						<!-- Saldo a transferir -->
						<div class="field">
							<h:outputLabel for="amount" value="#{msgs['myHistory.amount']}" />
						</div>
						<div class="field">
							<p:inputText value="#{balanceMultipleController.amount}"
								id="amount" required="true"
								requiredMessage="#{msgs.fieldRequired}">
								<f:convertNumber type="number" />
								<f:validateDoubleRange minimum="1" maximum="5000000" />
							</p:inputText>
							<p:message for="amount" showSummary="true" />
						</div>
						<div class="field">
							<br />
							<!-- Boton transferir -->
							<p:commandButton value="#{msgs['transfer.button.apply']}"
								id="btnTransfer"
								disabled="#{empty balanceMultipleController.destUsers}"
								actionListener="#{balanceMultipleController.confirmTransaction()}"
								update="amount frmExecuteTransfer :transferTabs:pickform  successFailTransfer ">
							</p:commandButton>
						</div>
						<br />

						<!-- DIALOGO DE CONFIRMACION DE LA TRANSFERENCIA -->
						<p:dialog modal="true" Effect="fade" id="dlgConfirmTransfer"
							header="Esta seguro de realizar la transferencia ?"
							widgetVar="dlgExecuteTransferConfirmation" hideEffect="explode">
							<p:commandButton value="#{msgs['subZone.okButton']}"
								id="btnExecuteTransfer" onclick="onclickToReload();PF('dlgExecuteTransferConfirmation').hide()"
								actionListener="#{balanceMultipleController.executeTransaction()}"
								update="amount frmExecuteTransfer :transferTabs:pickform    successFailTransfer "
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="No" type="button"
								onclick="onclickToReload();PF('dlgExecuteTransferConfirmation').hide()"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:dialog>

						<!-- SUCCESS / FAIL TRANSFER  DIALOG -->
						<p:dialog global="true" showEffect="fade" modal="true"
							widgetVar="dlgSuccessFailTransfer" id="successFailTransfer"
							hideEffect="explode">
							<p:ajax event="close" update="@form"
								listener="#{balanceMultipleController.resetForm()}" />
							<div class="field">
								<h:outputText
									value="#{balanceMultipleController.succesFailTransferMessage}" />
							</div>
							<div class="field">
								<p:commandButton value="OK" type="button"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
									onclick="onclickToReload(); PF('dlgSuccessFailTransfer').hide()">
								</p:commandButton>
							</div>
						</p:dialog>
						<p:blockUI block="transferTabs:pickform"   trigger="btnExecuteTransfer" />
						<p:blockUI block="transferTabs:frmExecuteTransfer" trigger="btnExecuteTransfer" />
					</h:form>
				</p:tab>
				<!-- TRANSFERS FROM FILE TAB -->
				<p:tab title="#{msgs['transfermultiplebalance.fromFile']}">
					<h:form>
						<div class="ui-informativemesage">
							<div
								style="margin-left: 10px; position: relative; top: 50%; transform: translateY(-50%);">
								<span class="ui-messages-info-icon"></span>
								<h:outputText style="color:#000000"
									value="#{msgs['transfermultiplebalance.fileExample']}" />
							</div>
						</div>
						<h:outputScript target="head" name="papaparse/papaparse.min.js">
						</h:outputScript>
						<h:outputScript target="head"
							name="csvclientparsing/csvtransferparser.js">
						</h:outputScript>
						<input type="file" id="csvfilechoosen" />
						<p:commandButton value="#{msgs['transfermultiplebalance.upload']}"
							update="tranferProgressDlgId analisisReportDlgId"
							actionListener="#{balanceMultipleController.prepareToAnalizeTransferFile()}"
							onclick="csvtp.parserCsvFromFile(document.getElementById('csvfilechoosen').files[0])" />
						<p:remoteCommand />
						<p:remoteCommand name="bbAnalizeTransferData" immediate="true"
							update="tranferProgressDlgId analisisReportDlgId "
							onstart="PF('tranferProgressDlgWg').show()"
							actionListener="#{balanceMultipleController.analizeTransferData}" />

						<p:remoteCommand name="bbTransferData" immediate="true"
							update="tranferProgressDlgId analisisReportDlgId fileSuccessFailTransfer"
							onstart="PF('tranferProgressDlgWg').show()"
							actionListener="#{balanceMultipleController.transferData}"
							oncomplete="csvtp.processTransfer(xhr, status, args)" />

						<!-- Transfer sucessful -->
						<p:dialog global="true" showEffect="fade"
							widgetVar="dlgFileSuccessFailTransfer"
							id="fileSuccessFailTransfer" hideEffect="explode">
							<p:ajax event="close" update="@form"
								listener="#{balanceMultipleController.resetForm()}" />
							<div class="field">
								<h:outputText
									value="#{balanceMultipleController.succesFailTransferMessage}" />
							</div>
							<div class="field">
								<p:commandButton value="OK" type="button"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
									onclick="onclickToReload(); PF('dlgFileSuccessFailTransfer').hide()">
								</p:commandButton>
							</div>
						</p:dialog>
						<!-- Transfer error -->
						<p:dialog id="transferErrorDialogId"
							widgetVar="transferErrorDialogWg">
							<div>
								<h:outputText
									value="#{msgs['transfermultiplebalance.uploaderror']}" />
							</div>
							<div>
								<p:commandButton value="Cerrar"
									onclick="onclickToReload(); PF('transferErrorDialogWg').hide() ; "
									type="button" styleClass="ui-confirmdialog-yes"
									icon="ui-icon-check" />
							</div>
						</p:dialog>
						<!-- Analisis result report -->
						<p:dialog header="Resultados del analisis"
							id="analisisReportDlgId" modal="true"
							widgetVar="analisisReportDlgWg"
							style="width:50% !important; height:40% !important; top:25% !important; left: 30% !important;">
							<p:dataTable style="box-sizing: content-box" paginator="true"
								rows="12" id="analizeTransferResultsTblId"
								value="#{balanceMultipleController.transferAnalizeReportLists}"
								var="transferAnalizeRerport"
								widgetVar="analizeTransferResultsTblWg">
								<p:column
									styleClass="#{transferAnalizeRerport.haveErrors ? 'analisis_result_table_error' : ''}"
									style="min-width:100px">
									<f:facet name="header">
										<h:outputText value="Item" />
									</f:facet>
									<div style="min-width: 100px">
										<h:outputText value="#{transferAnalizeRerport.lineNumber}" />
									</div>
								</p:column>
								<p:column style="min-width:100px">
									<f:facet name="header">
										<h:outputText value="Login origen" />
									</f:facet>
									<div style="min-width: 100px">
										<h:outputText value="#{transferAnalizeRerport.sourceLogin}" />
									</div>
								</p:column>
								<p:column style="min-width:100px">
									<f:facet name="header">
										<h:outputText value="Bolsillo origen" />
									</f:facet>
									<div style="min-width: 100px">
										<h:outputText value="#{transferAnalizeRerport.sourcePocket}" />
									</div>
								</p:column>
								<p:column style="min-width:100px">
									<f:facet name="header">
										<h:outputText value="Login  destino" />
									</f:facet>
									<div style="min-width: 100px">
										<h:outputText value="#{transferAnalizeRerport.destLogin}" />
									</div>
								</p:column>
								<p:column style="min-width:100px">
									<f:facet name="header">
										<h:outputText value="Bolsillo destino" />
									</f:facet>
									<div style="min-width: 100px">
										<h:outputText value="#{transferAnalizeRerport.destPocket}" />
									</div>
								</p:column>
								<p:column style="min-width:100px">
									<f:facet name="header">
										<h:outputText value="Valor a transferir" />
									</f:facet>
									<div style="min-width: 100px">
										<h:outputText value="#{transferAnalizeRerport.amount}" />
									</div>
								</p:column>
								<p:column style="min-width:100px">
									<f:facet name="header">
										<h:outputText value="balance" />
									</f:facet>
									<div style="min-width: 100px">
										<h:outputText value="#{transferAnalizeRerport.balance}" />
									</div>
								</p:column>
							</p:dataTable>
							<hr class="sep-style" />
							<div class="field">
								<p:commandButton value="Transferir"
									disabled="#{balanceMultipleController.haveAnalizeErrors}"
									update="tranferProgressDlgId analisisReportDlgId"
									actionListener="#{balanceMultipleController.prepareToTransferFile()}"
									oncomplete="csvtp.processTransfer(xhr, status, args)" />
							</div>
						</p:dialog>
						<!-- Tranfer from file progress dialog -->
						<p:dialog
							header="#{balanceMultipleController.transferProgressHeader}"
							id="tranferProgressDlgId" modal="true"
							widgetVar="tranferProgressDlgWg"
							style="width:50% !important; height:40% !important; top:25% !important; left: 30% !important;">
							<p:progressBar widgetVar="transferProgressWg" ajax="true"
								value="#{balanceMultipleController.transferProgress}"
								labelTemplate="#{balanceMultipleController.transferProgress}%"
								styleClass="animated" global="false">
							</p:progressBar>
							<h:outputLabel
								value="#{balanceMultipleController.tranferProgressMessage}" />
						</p:dialog>
					</h:form>
				</p:tab>
			</p:tabView>
		</div>
		<br></br>
		<!-- Inclusion de contenido --> <!-- /.content-box --> </section>
	</ui:define>
</ui:composition>
</html>