<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<style>
.ui-picklist .ui-picklist-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 200px;
	width: 480px;
}

table {
	width: auto !important;
	border: none !important;
}

table  td {
	border: none !important;
}

table pickform tr {
	border: none !important;
}
</style>
	</ui:define>
	<ui:define name="content">
		<!-- content -->

		<!-- content -->
		<br />
		<br />

		<section id="content"> <!-- .content-box -->
		<div class="container">

			<p:growl globalOnly="true" id="growtrans" showSummary="true"
				sticky="false" life="3000" />
			<h:form id="pickform">
				<h:panelGrid columns="2" cellpadding="0" id="criteriaGrid">
					<h:outputLabel for="criteria" value="#{msgs['transfer.criteria']}" />
					<p:inputText value="#{balanceCurrentController.userfilter}"
						id="criteria">
						<f:ajax event="keyup" render="userPickList"
							listener="#{balanceCurrentController.filterUsers}" />

					</p:inputText>

				</h:panelGrid>

				<p:pickList id="userPickList"
					responsive="true"
				 	value="#{balanceCurrentController.userlist}" var="user"
					effect="bounce" itemValue="#{user}" itemLabel="#{user.name}"
					showCheckbox="true" required="true"
					requiredMessage="#{msgs['transfer.pick.noUser']}">
					<f:facet name="sourceCaption">
						<h:outputText value="#{msgs['transfer.header.found']}" />
					</f:facet>
					<f:facet name="targetCaption">
						<h:outputText value="#{msgs['transfer.header.torecharge']}" />
					</f:facet>

					<p:ajax event="transfer"
						listener="#{balanceCurrentController.onTransfer}" />
						
						
					
		
					<!--         <p:ajax event="select" listener="#{pickListView.onSelect}" update="msg" /> -->
					<!--         <p:ajax event="unselect" listener="#{pickListView.onUnselect}" update="msg" /> -->
					<!--         <p:ajax event="reorder" listener="#{pickListView.onReorder}" update="msg" /> -->

					<p:column style="width:25%">
						<h:outputText value="#{user.name}" />
					</p:column>

					<p:column style="width:20%;">
						<h:outputText value="#{user.favoriteMsisdn}" />
					</p:column>

					<p:column style="width:20%;">
						<h:outputText value="#{user.cu}" />
					</p:column>

					<p:column style="width:35%;">
						<h:outputText value="#{user.email}" />
					</p:column>
				</p:pickList>
				<p:message for="userPickList" />

			</h:form>
			<h:form>


				<h:panelGrid id="grid" columns="3" cellpadding="2">
					<h:outputLabel for="amount" value="#{msgs['myHistory.amount']}" />
					<p:inputText value="#{balanceCurrentController.amount}" id="amount"
						required="true" requiredMessage="#{msgs.fieldRequired}">
						<f:convertNumber type="number" />
						<f:validateDoubleRange minimum="1" maximum="5000000" />
					</p:inputText>
					<p:message for="amount" />




					<p:commandButton value="#{msgs['transfer.button.apply']}"
						actionListener="#{balanceCurrentController.executeTransaction}"
						update=":growtrans :login-form :pickform:userPickList :pickform:criteria amount grid">
						<p:confirm header="#{msgs['zones.confirmation.msg']}"
							message="#{msgs['transfer.confirm']}" icon="ui-icon-alert" />

					</p:commandButton>

				</h:panelGrid>

				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="explode">
					<p:commandButton value="#{msgs['subZone.okButton']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>

			</h:form>

		</div>


		<!-- Inclusion de contenido --> <!-- /.content-box --> </section>
	</ui:define>
</ui:composition>
</html>