<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
<div class="bg-main">
	<div id="main">
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_9 alpha">
                            <div class="suffix_1">
                                <h5><h:outputText value="#{msgs['contactForm.ouraddress']}"/> </h5>
                                <iframe width="310" height="430"  src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5000+Yonge+Street,+Suite+1901+Toronto,+Ontario+Canada&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=37.819897,79.013672&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=5000+Yonge+St+%231901,+Toronto,+Toronto+Division,+Ontario+M2N+7E9,+Canada&amp;t=m&amp;z=16&amp;iwloc=A&amp;ved=0CBAQpQY&amp;sa=X&amp;ei=YuG6TpyaMam-ywSnqfnwCw&amp;output=embed"></iframe>
                                <div class="indent">
                                </div>
                            </div>
                        </div>
                        <div class="grid_15 omega">
                            <div class="suffix_1">
                            	<h5><h:outputText value="#{msgs['contactForm.title']}"/></h5><br></br><br></br>
                            	<div style="clear:both"></div>
                                <div id="contact_form"><h:form prependId="false" id="contact-form">
                                    <fieldset>
                                    <label><h:outputText value="#{msgs['contactForm.description']}"/></label><br></br>
                                     <label for="name" id="name_error"><h:outputText value="#{msgs['contactForm.name']}"/></label> 
                                     <div class="field">
                                        <h:inputText id="name" value="#{contactController.name}" styleClass="text-input" required="true" requiredMessage="#{msgs['fieldRequired']}"/>
                                        <p:message for="name"/>
                                     </div>
                                      <label for="name" id="name_error"><h:outputText value="#{msgs['contactForm.email']}"/></label> 
                                      <div class="field">
                                        <h:inputText id="email" value="#{contactController.email}" validatorMessage="#{msgs.emailNotValid}" styleClass="text-input" required="true" requiredMessage="#{msgs['fieldRequired']}">
                                        <f:validator validatorId="cps.EmailValidator"/>
                                        </h:inputText>
                                        <p:message for="email"/>
                                      </div>
                                      <label for="name" id="name_error"><h:outputText value="#{msgs['contactForm.phone']}"/></label> 
                                      <div class="field">
                                        <h:inputText id="phone" value="#{contactController.phone}" styleClass="text-input" required="true" requiredMessage="#{msgs['fieldRequired']}"/>
                                        <p:message for="phone"/>
                                      </div>
                                      <label for="name" id="name_error"><h:outputText value="#{msgs['contactForm.message']}"/></label> 
                                      <div class="field1">
                                      <h:inputTextarea rows="4" value="#{contactController.message}" id="message" styleClass="text-input" required="true" requiredMessage="#{msgs['fieldRequired']}"/>
                                      <p:message for="message"/>
                                      </div>
                                      <div class="container">
                                      <div class="fleft" style="margin:20px 0;">
                                      <a href="#" onclick="document.getElementById('contact-form').reset();return false;" class="link">[<h:outputText value="#{msgs['form.clear']}"/>]</a>&nbsp;&nbsp;
                                      <h:commandLink actionListener="#{contactController.enviarEmail}" styleClass="link" value="[#{msgs['form.submit']}]"/>
                                      </div>
                                      </div>
                              </fieldset>    
                            </h:form></div>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
  </div>
</div>
</ui:define>
</ui:composition>