<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">  
    function handleLoginRequest(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  
</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">

						<div class="grid_15 omega" style="width: 100%;">
							<div class="suffix_1">
								<fieldset>

									<h5>
										<h:outputText value="#{msgs['menu.myUser']}" />
									</h5>
									<img style="margin-top: 0px;" class="pageImage"
										src="../images/cps/user1.png"></img>
									<div style="clear: both;"></div>
									<h:outputLink id="newUserLink" styleClass="link"
										value="javascript:void(0)" onclick="PF('dlg').show()" title="">
										<h:outputText value="[#{msgs['myUser.linkNew']}]" />
									</h:outputLink>
									<br></br> <br></br>


									<p:growl id="growl" showSummary="true" life="3000" />
									<p:tabView id="main-tab">
										<p:tab title="#{msgs['myUser.associates']}">
											<h:form prependId="false" id="car-form">
												<p:dataTable id="tableCar" var="user"
													value="#{usersManagerController.listUsers}">
													<p:column>
														<f:facet name="header">
															<h:outputText value="#{msgs['myUser.userTitle']}" />
														</f:facet>
														<h:outputText value="#{user.name}" />
														<h:outputText value=" " />
														<h:outputText value="#{user.lastName}" />
													</p:column>
												</p:dataTable>
												<p:dialog resizable="false" draggable="false" id="dialog"
													header="#{msgs['myUser.userTitle']}" widgetVar="dlg"
													width="400">
													<h:panelGrid columns="2" cellpadding="5">
														<h:outputLabel for="msisdn"
															value="#{msgs['myUser.userTitle']}: *" />
														<p:inputText value="#{usersManagerController.user}"
															id="msisdn" required="true"
															requiredMessage="#{msgs.fieldRequired}" />
														<f:facet name="footer">
															<p:commandButton id="reguser"
																value="#{msgs['myUser.register']}"
																update=":growl :main-tab:car-form:tableCar  @parent"
																actionListener="#{usersManagerController.registerUser}"
																oncomplete="handleLoginRequest(xhr, status, args)" />
														</f:facet>
													</h:panelGrid>
												</p:dialog>
											</h:form>
										</p:tab>
										<p:tab title="#{msgs['myUser.requests']}">
											<h:form prependId="false" id="req-user-form">
												<p:dataTable id="tableRequestUser" var="user"
													value="#{usersManagerController.listRequestUsers}">
													<p:column>
														<f:facet name="header">
															<h:outputText value="#{msgs['myUser.userTitle']}" />
														</f:facet>
														<h:outputText value="#{user.name}" />
														<h:outputText value=" " />
														<h:outputText value="#{user.lastName}" />
													</p:column>
													<p:column>
														<f:facet name="header">
															<h:outputText value="#{msgs['myUser.aceptTitle']}" />
														</f:facet>
														<p:commandLink value="#{msgs['myUser.aceptTitle']}"
															styleClass="link"
															update="@form:@parent:growl :req-user-form:tableRequestUser :car-form:tableCar  @parent"
															actionListener="#{usersManagerController.acceptUser}">
															<f:attribute name="login" value="#{user.login}" />
														</p:commandLink>
													</p:column>
												</p:dataTable>
											</h:form>
										</p:tab>
									</p:tabView>



								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>