<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper">
						<div class="grid_22 omega">
							<div class="suffix_1">
								<h:form prependId="false" id="contact-form">
									<fieldset>
										<h5>
											<h:outputText value="#{msgs['registerTitle']}" />
										</h5>
										<div class="field">
											<p:ajaxStatus>
												<f:facet name="start">
													<h:graphicImage value="/images/loader.gif" />
												</f:facet>
												<f:facet name="complete">
													<h:outputText value="" />
												</f:facet>
											</p:ajaxStatus>
										</div>
										<div style="clear: both"></div>
										<p:messages id="messageGeneral" showSummary="true"
											showDetail="true" globalOnly="true" />
										<div class="profileForm">
											<div class="column">
												<div class="field">
													<h:outputLabel value="#{msgs.registerName}"
														for="registerName" />
													<h:inputText maxlength="30" id="registerName"
														value="#{adminUserController.sysUser.name}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerName" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerLastName}"
														for="registerLastName" />
													<h:inputText maxlength="30" id="registerLastName"
														value="#{adminUserController.sysUser.lastName}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerLastName" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerBirthDate}"
														for="registerBirthDate" />
													<p:calendar navigator="true" yearRange="c-80:c+0"
														readonlyInput="true" maxlength="10" id="registerBirthDate"
														value="#{adminUserController.sysUser.birthDate}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerBirthDate" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerAddress}"
														for="registerAddress" />
													<h:inputText maxlength="45" id="registerAddress"
														value="#{adminUserController.sysUser.address}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerAddress" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerEmail}"
														for="registerEmail" />
													<h:inputText validatorMessage="#{msgs.emailNotValid}"
														maxlength="35" id="registerEmail"
														value="#{adminUserController.sysUser.email}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
														<f:validator validatorId="cps.EmailValidator" />
													</h:inputText>
													<p:message for="registerEmail" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerMsisdn}"
														for="registerMsisdn" />
													<h:inputText maxlength="11" id="registerMsisdn"
														value="#{adminUserController.sysUser.favoriteMsisdn}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerMsisdn" />
												</div>
											</div>
											<div class="column">
												<div class="field">
													<h:outputLabel value="#{msgs.registerPlate}"
														for="registerPlate" />
													<h:inputText maxlength="10" id="registerPlate"
														value="#{adminUserController.plate}" required="true"
														requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerPlate" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCountry}"
														for="registerCountry" />
													<h:selectOneMenu
														value="#{adminUserController.sysUser.countryIdcountry}"
														id="registerCountry" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItem itemLabel="" itemValue=""></f:selectItem>
														<f:selectItems
															value="#{parametrosController.listCountries}"
															var="country" itemLabel="#{country.name}"
															itemValue="#{country.idcountry}"
															itemDescription="#{country.name}" />
														<p:ajax listener="#{adminUserController.changeCountry}"
															event="change" update="registerCity" process="@this" />
													</h:selectOneMenu>
													<p:message for="registerCountry" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCity}"
														for="registerCity" />
													<h:selectOneMenu value="#{adminUserController.city}"
														id="registerCity" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItems value="#{adminUserController.cityes}"
															var="city" itemLabel="#{city.name}"
															itemValue="#{city.idcity}" itemDescription="#{city.name}" />
													</h:selectOneMenu>
													<p:message for="registerCity" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.loginLabel}" for="loginLabel" />
													<h:inputText maxlength="10" id="loginLabel"
														value="#{adminUserController.sysUser.login}"
														required="true" requiredMessage="#{msgs.loginRequired}">
														<p:ajax listener="#{adminUserController.validLogin}"
															event="keyup" update="loginMessage" />
													</h:inputText>
													<h:outputText id="loginMessage"
														binding="#{adminUserController.loginMessageBinding}" />
													<p:message id="messageLogin" for="loginLabel" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.passLabel}" for="pass" />
													
													<p:password minLength="6" id="pass"
														value="#{adminUserController.sysUser.pass}"
														required="true" requiredMessage="#{msgs.passRequired}">
														<f:validateLength minimum="6" />
													</p:password>
													<p:message for="pass" display="true" />
												</div>
											</div>
										</div>
										<div class="container">
											<div class="fleft" style="margin: 20px 0;">
												<h:outputLabel value="Al registrarte, aceptas los "
													for="legal" />
												<a target="_blank"
													href="#{facesContext.externalContext.requestContextPath}/doc/TERMINOS Y CONDICIONES CPS CR.pdf"><h:outputText
														value=" términos y condiciones" /></a>
												<h:outputLabel value=" del sitio" for="legal" />
											</div>
										</div>
										<div class="container">
											<div class="fleft" style="margin: 20px 0;">
												<h:selectBooleanCheckbox id="notificaciones"
													value="#{adminUserController.emailNotification}"
													name="notificaciones">
												</h:selectBooleanCheckbox>
												<!--             <input class="field" id="notificaciones" name ="notificaciones" type="checkbox" /> -->
												<h:outputLabel value="#{msgs.registerMessageNotificacion}"
													for="notificaciones" />
											</div>
										</div>


										<div class="container">
											<div class="fleft" style="margin: 20px 0;">
												<h:commandLink styleClass="link"
													value="[#{msgs.registerButton}]"
													action="#{adminUserController.registerUser}" />
											</div>
										</div>
									</fieldset>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>