<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<!-- Inclusion de contenido -->
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">

						<div class="grid_15 omega">
							<div class="suffix_1">
								<h:form prependId="false" id="contact-form">
									<fieldset>
										<h5>
											<h:outputText value="#{msgs['forgotTitle']}" />
										</h5>
										<div style="clear: both"></div>
										<p:messages showSummary="true" showDetail="true"
											globalOnly="true" />
										<div class="field">
											<h:outputLabel value="#{msgs.registerEmail}" for="login" />
											<p:inputText validatorMessage="#{msgs.emailNotValid}"
												id="login" value="#{loginController.login}" required="true"
												requiredMessage="#{msgs.fieldRequired}">
												<f:validator validatorId="cps.EmailValidator" />
											</p:inputText>
											<p:message id="mlogin" for="login" />
										</div>

										<div class="container">
											<div class="fleft" style="margin: 20px 0;">
												<p:commandLink styleClass="link" id="btnForgot"
													value="[#{msgs.forgotButton}]"
													action="#{loginController.rememberPass}"
													onclick="mojarra.jsfcljs(document.getElementById('contact-form'),{'btnForgot':'btnForgot'},'');return false" />
											</div>
										</div>
									</fieldset>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>
