<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

</h:head>
<h:body>

	<h:form prependId="false">
		<table>
			<tr>
				<td colspan="3"><p:growl showSummary="true" showDetail="true"
						globalOnly="false" /></td>
			</tr>
			<tr>
				<td><h:outputLabel value="#{msgs.loginLabel}" for="login" /></td>
				<td><h:inputText maxlength="10" id="login"
						value="#{loginController.login}" required="true"
						requiredMessage="#{msgs.loginRequired}" /></td>
				<td><p:message for="login" /></td>
			</tr>
			<tr>
				<td><h:outputLabel value="#{msgs.passLabel}" for="pass" /></td>
				<td><h:inputSecret id="pass" value="#{loginController.pass}"
						required="true" requiredMessage="#{msgs.passRequired}" /></td>
				<td><p:message for="pass" display="true" /></td>
			</tr>
			<tr>
				<td><h:commandButton id="SPANISH" value="Cambiar Idioma"
						actionListener="#{formSettings.swapLocale}" immediate="true" /></td>
				<td><h:commandButton value="Submit"
						action="#{loginController.loggin}" /></td>
			</tr>
		</table>
	</h:form>
</h:body>
</html>