<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
<ui:define name="content">
 <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_22 omega">
                            <div class="suffix_1">
<h:form prependId="false" id="contact-form">
 <fieldset> 
        <h5><h:outputText value="#{msgs['menu.createAgent']}"/></h5>
        <p:messages id="messageGeneral" showSummary="true" showDetail="true" globalOnly="true"/>
        <div class="profileForm">
			<div class="column">
				<div class="field">
				<h:outputLabel value="#{msgs.registerName}" for="registerName"/>
				<h:inputText maxlength="25" id="registerName" value="#{agentManagerController.agent.name}" required="true" requiredMessage="#{msgs.fieldRequired}"/>
				<p:message for="registerName"/>
				</div>
				<div class="field">
				<h:outputLabel value="#{msgs.registerLastName}" for="registerLastName"/>
				<h:inputText maxlength="20" id="registerLastName" value="#{agentManagerController.agent.lastName}" required="true" requiredMessage="#{msgs.fieldRequired}"/>
				<p:message for="registerLastName"/>
				</div>
				<div class="field">
				<h:outputLabel value="#{msgs.registerAddress}" for="registerAddress"/>
				<h:inputText maxlength="45" id="registerAddress" value="#{agentManagerController.agent.address}" required="true" requiredMessage="#{msgs.fieldRequired}"/>
				<p:message for="registerAddress"/>
				</div>
				<div class="field">
				<h:outputLabel value="#{msgs.registerEmail}" for="registerEmail"/>
				<h:inputText validatorMessage="#{msgs.emailNotValid}" maxlength="30" id="registerEmail" value="#{agentManagerController.agent.email}" required="true" requiredMessage="#{msgs.fieldRequired}">
				<f:validator validatorId="cps.EmailValidator"/>
				</h:inputText>
				<p:message for="registerEmail"/>
				</div>
			</div>
			<div class="column">				
				<div class="field">
				<h:outputLabel value="#{msgs.registerCountry}" for="registerCountry"/>
				<h:selectOneMenu value="#{agentManagerController.agent.countryIdcountry}" id="registerCountry">
				<f:selectItems value="#{parametrosController.listCountries}" var="country" itemLabel="#{country.name}" itemValue="#{country.idcountry}" itemDescription="#{country.name}"/>
				</h:selectOneMenu>
				<p:message for="registerCountry"/>
				</div>
				<div class="field">
				<h:outputLabel value="#{msgs.registerMsisdn}" for="registerMsisdn"/>
				<h:inputText maxlength="11" id="registerMsisdn" value="#{agentManagerController.agent.msisdn}" required="true" requiredMessage="#{msgs.fieldRequired}"/>
				<p:message for="registerMsisdn"/>
				</div>
				<div class="field">
				<h:outputLabel value="#{msgs.loginLabel}" for="loginLabel"/>
				<h:inputText maxlength="10" id="loginLabel" value="#{agentManagerController.agent.login}" required="true" requiredMessage="#{msgs.loginRequired}">
				</h:inputText><p:message id="messageLogin" for="loginLabel"/>		
				</div>
				<div class="field">
				<h:outputLabel value="#{msgs.passLabel}" for="pass"/>
				<p:password minLength="8" id="pass" value="#{agentManagerController.agent.pass}" required="true" requiredMessage="#{msgs.passRequired}"/>
				<p:message for="pass" display="true"/>
				</div>
			</div>
		</div>
        
		
		<div class="container buttonForm">
           <div class="fleft">
           <h:commandLink styleClass="link" value="[#{msgs.registerButton}]" action="#{agentManagerController.registerAgent}"/>
          </div>
       </div>
	</fieldset>
	</h:form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</section>
	</ui:define>
</ui:composition>
</html>