<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">  
    function handleLoginRequest(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  
</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<fieldset style="position: relative;">
					<h5>
						<h:outputText value="#{msgs['menu.myMobiles']}" />
					</h5>
					<img class="pageImage" src="../images/cps/mobile1.png"></img>
					<div style="clear: both;"></div>
					<h:outputLink id="newVehiculoLink" styleClass="link"
						value="javascript:void(0)" onclick="PF('dlg').show()" title="">
						<h:outputText value="[#{msgs['myMobiles.linkNew']}]" />
					</h:outputLink>
					<br></br> <br></br>


					<h:form id="formMobile" prependId="false">
						<p:growl id="growl" showSummary="true" life="3000" />
						<p:dataTable id="tableCar" var="mobile"
							value="#{mobileManagerController.listMsisdn}">
							<p:column headerText="#{msgs['myMobiles.mobileTitle']}">
								<h:outputText value="#{mobile.msisdn}" />
							</p:column>
							<p:column style="width:30px;">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<p:commandButton update="tableCar"
									oncomplete="PF('confirmDelete').show();"
									image="ui-icon-circle-close">
									<f:setPropertyActionListener value="#{mobile}"
										target="#{mobileManagerController.msisdnUser}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>


						<p:confirmDialog id="confirmDialog"
							message="#{msgs['myMobiles.confirm']}"
							header="#{msgs['zones.confirmation.msg']}" severity="alert"
							widgetVar="confirmDelete" modal="true">
							<p:commandButton id="removeButton" value="Eliminar"
								onclick="onclickToReload();"
								actionListener="#{mobileManagerController.removeMobileListener}"
								update=":formMobile:growl :formMobile:tableCar"
								oncomplete="PF('confirmDelete').hide();" />
							<p:commandButton value="Cancelar"
								onclick="onclickToReload(); PF('confirmDelete').hide();" type="button" />
						</p:confirmDialog>
					</h:form>
					<h:form>
						<p:dialog resizable="false" draggable="false" id="dialog"
							header="#{msgs['myMobiles.mobileTitle']}" widgetVar="dlg"
							width="400">

							<h:panelGrid columns="2" cellpadding="5">
								<h:outputLabel for="msisdn"
									value="#{msgs['myMobiles.mobileTitle']}: *" />
								<p:inputText value="#{mobileManagerController.msisdn}"
									id="msisdn" required="true"
									requiredMessage="#{msgs.fieldRequired}" />
								<f:facet name="footer">
									<p:commandButton value="#{msgs['myMobiles.register']}"
										onclick="onclickToReload();"
										update=":formMobile:growl :formMobile:tableCar  @parent"
										actionListener="#{mobileManagerController.registerMobile}"
										oncomplete="handleLoginRequest(xhr, status, args)" />
								</f:facet>
							</h:panelGrid>
						</p:dialog>

					</h:form>
				</fieldset>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>