<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">  
    function handleLoginRequest(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }
    
    function handleLoginRequestUser(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialogUser').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlgUser').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }
</script>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<fieldset style="position: relative;">

					<p:ajaxStatus onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();" />

					<p:dialog modal="true" widgetVar="statusDialog" header="Status"
						draggable="false" closable="false">
						<p:graphicImage value="/images/loading.gif" />
					</p:dialog>


					<p:growl id="growl" showDetail="true" life="3000" />
					<h5 style="margin-bottom: 50px;">
						<h:outputText value="#{msgs['menu.myVehicles']}" />
					</h5>
					<img class="pageImage" src="../images/cps/car1.png"></img>
					<div style="clear: both;"></div>
					<h:outputLink id="newVehiculoLink" styleClass="link"
						value="javascript:void(0)" onclick="PF('dlg').show()" title="">
						<h:outputText value="[#{msgs['myVehicles.linkNew']}]" />
					</h:outputLink>
					<br></br>
					<h:form prependId="false" id="car-form">
						<br></br>
						<p:dataTable id="tableCar" var="car"
							value="#{vehicleManagerController.listVehicle}"
							styleClass="noBorder">
							<p:column>
								<f:facet name="header">
									<h:outputText value="[#{msgs['myVehicles.plate']}]" />
								</f:facet>
								<h:outputText value="#{car.plate}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="[#{msgs['myVehicles.registerDate']}]" />
								</f:facet>
								<h:outputText value="#{car.dateReg}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							<p:column style="width:30px;">
								<p:commandButton ajax="false" title="Delete"
									image="ui-icon-circle-close"
									actionListener="#{vehicleManagerController.deleteVehicleUser}">
									<f:attribute name="plate" value="#{car.plate}" />
								</p:commandButton>
							</p:column>
							<p:column style="width:30px;">
								<p:commandButton title="#{msgs['myVehicles.shareVehicle']}"
									image="ui-icon-arrow-4-diag" oncomplete="PF('dlgUser').show();">
									<f:setPropertyActionListener value="#{car}"
										target="#{vehicleManagerController.vehicle}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>
					<h:form>
						<p:dialog resizable="false" id="dialog"
							header="#{msgs['myVehicles.head']}" widgetVar="dlg" width="400">
							<h:panelGrid columns="2" cellpadding="5">
								<h:outputLabel for="plate" value="Plate: *" />
								<p:inputText value="#{vehicleManagerController.vehicle.plate}"
									id="plate" required="true" label="plate" />

								<f:facet name="footer">
									<p:commandButton value="#{msgs['myClient.register']}"
										onclick="onclickToReload();"
										update="@form:@parent:growl :car-form:tableCar  @parent"
										actionListener="#{vehicleManagerController.registerVehicle}"
										oncomplete="handleLoginRequest(xhr, status, args)" />

								</f:facet>
							</h:panelGrid>
						</p:dialog>
					</h:form>


					<p:dialog resizable="false" id="dialogUser"
						header="#{msgs['myVehicles.shareVehicle']}" widgetVar="dlgUser"
						width="400">
						<h:form prependId="false">
							<h:panelGrid columns="2" cellpadding="5">
								<h:outputLabel for="registerUser"
									value="#{msgs['myUser.associates']}: *" />
								<h:selectOneMenu required="true" styleClass="select-input"
									value="#{vehicleManagerController.user}" id="registerUser">
									<f:selectItems value="#{usersManagerController.listUsers}"
										var="user" itemLabel="#{user.name} #{user.lastName}"
										itemValue="#{user.idsysUser}" itemDescription="#{user.name}" />
								</h:selectOneMenu>
								<f:facet name="footer">
									<p:commandButton
										onclick="onclickToReload();"
										value="#{msgs['myVehicles.shareVehicleButton']}"
										update="@form:@parent:growl" process="@form"
										actionListener="#{vehicleManagerController.shareVehicle}"
										oncomplete="handleLoginRequestUser(xhr, status, args)" />
								</f:facet>
							</h:panelGrid>
						</h:form>
					</p:dialog>



				</fieldset>




			</div>
		</div>

		</section>
	</ui:define>
</ui:composition>
</html>