<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">


<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<style>
.select {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DBDBDD;
	color: #6B6A6A;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 9px 10px;
	width: 292px;
}
</style>

		<script src="https://maps.google.com/maps/api/js?sensor=false"
			type="text/javascript"></script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper">
						<div class="grid_15 omega">
							<div class="suffix_1">
								<h:form id="contact-form" prependId="false">
									<fieldset>
										<p:growl id="growl" showDetail="true" life="3000" />
										<h5>
											<h:outputText value="#{msgs['menu.myZones']}" />
										</h5>
										<img style="margin-top: 0px;" class="pageImage"
											src="../images/cps/search1.png"></img>
										<div style="clear: both"></div>

										<!-- LISTADO DE PAISES -->
										<div class="field" style="clear: both;">
											<h:outputLabel value="#{msgs.registerCountry}"
												for="registerCountry" />
										</div>
										<div class="field" style="clear: both;">
											<p:selectOneMenu id="registerCountry"
												value="#{parkingZonesController.selectedCountryId}">
												<p:ajax event="change"
													listener="#{parkingZonesController.onSelectCountry}"
													update="registerCity" />
												<f:selectItem itemValue="-1"
													itemLabel="#{msgs.registerCountry}"></f:selectItem>
												<f:selectItems value="#{parkingZonesController.countries}"
													var="country" itemLabel="#{country.name}"
													itemValue="#{country.idcountry}"
													itemDescription="#{country.name}" />
											</p:selectOneMenu>
										</div>

										<div class="field" style="clear: both;">
											<!-- LISTADO DE CIUDADES DE ESE PAIS -->
											<h:outputLabel value="#{msgs.registerCity}"
												for="registerCity" />
										</div>
										<div class="field" style="clear: both;">
											<p:selectOneMenu immediate="true"
												valueChangeListener="#{parkingZonesController.onSelectCity}"
												onchange="this.form.submit();" id="registerCity">
												<f:selectItem itemValue="-1"
													itemLabel="#{msgs.registerCity}"></f:selectItem>
												<f:selectItems value="#{parkingZonesController.cities}"
													var="city" itemLabel="#{city.name}"
													itemValue="#{city.idcity}" itemDescription="#{city.name}" />
											</p:selectOneMenu>
										</div>
										<p:outputPanel
											style="text-align:left;display:block;margin:auto ">
											<p:graphicImage id="paymentpoint"
												value="../images/icons/puntodpago.png" />
											<h:outputLabel value="#{msgs['zone.paymentpoint']}, "
												for="normalicon" />
											<p:graphicImage id="rechargepoint"
												value="../images/icons/puntoderecarga.png" />
											<h:outputLabel value="#{msgs['zone.rechargepoint']}, "
												for="offlineicon" />
											<p:graphicImage id="rechargeandpaymentpoint"
												value="../images/icons/puntodepagoyrecarga.png" />
											<h:outputLabel
												value="#{msgs['zone.rechargeandpaymentpoint']} ."
												for="disabledicon" />
										</p:outputPanel>

									</fieldset>

								</h:form>
								<p:gmap fitBounds="true"
									center="#{parkingZonesController.lat},#{parkingZonesController.lon}"
									type="ROADMAP" style="width:900px;height:500px"
									model="#{parkingZonesController.simpleModel}" streetView="true">
									<p:ajax event="overlaySelect"
										listener="#{parkingZonesController.onMarkerSelect}" />
									<p:gmapInfoWindow>
										<p:outputPanel
											style="text-align:left;display:block;margin:auto;width:200px ">
											<p:outputPanel style="display:block;margin:auto;width:200px;">
												<h:outputText style="font-size:18px; font-weight:bold;"
													id="zonename"
													value="#{parkingZonesController.infoZone.commmerceBranch.name}" />
											</p:outputPanel>
											<br />
											<!-- CODIGO DE COMERCIO -->
											<h:outputLabel value="#{msgs['zones.parking.code']}: "
												for="idzone" />
											<h:outputText id="idzone"
												value="#{fn:replace(parkingZonesController.infoZone.commmerceBranch.idbranch,'COL','')}" />
											<br />
											<!-- EMAIL -->
											<h:outputLabel value="#{msgs['myAgent.email']}: " for="email" />
											<h:outputText id="email"
												value="#{parkingZonesController.infoZone.commmerceBranch.email}" />
											<br />
											<!-- DIRECCION DE LA SUCURSAL -->
											<h:outputLabel value="#{msgs['registerAddress']}: "
												for="cbaddress" />
											<h:outputText id="cbaddress"
												value="#{parkingZonesController.infoZone.commmerceBranch.address}" />
										</p:outputPanel>
									</p:gmapInfoWindow>
								</p:gmap>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>