<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">
			function handleDialogRequest(xhr, status, args) {
				if (args.validationFailed || !args.flag) {
					jQuery('#dialog').parent().effect("shake", {
						times : 3
					}, 100);
				} else {
					PF('registerZoneDialog').hide();
				}
			}
		</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form prependId="false" id="contact-form">
					<fieldset>
						<p:growl id="growl" showSummary="true" showDetail="true"
							life="3000" />

						<p:ajaxStatus onstart="statusDialog.show();"
							oncomplete="statusDialog.hide();" />

						<p:dialog width="100" modal="true" widgetVar="statusDialog"
							resizable="false" draggable="false" closable="false">
							<p:graphicImage value="/images/loading.gif" />
						</p:dialog>

						<h5>
							<h:outputText value="#{msgs['menu.subZones']}" />
						</h5>

						<div class="field">
							<h:outputLabel value="#{msgs.registerZoneClient}"
								for="registerzoneClient" />
							<h:selectOneMenu styleClass="select-input"
								id="registerzoneClient"
								value="#{managerSubZoneController.clientSelected}"
								converter="entityConverter">
								<f:selectItem itemLabel="Client" itemValue="-1" />
								<f:selectItems value="#{managerZoneController.listClients}"
									var="client" itemLabel="#{client.name}" itemValue="#{client}"
									itemDescription="#{client.name}" />
								<p:ajax update="idSelectZones"
									listener="#{managerSubZoneController.handleClientChange}"
									process="@this" />
							</h:selectOneMenu>
							<p:message for="registerzoneClient" />

							<h:outputLabel value="#{msgs['menu.myZones']}"
								for="idSelectZones" />
							<h:selectOneMenu styleClass="select-input" id="idSelectZones"
								value="#{managerSubZoneController.zoneSelected}"
								converter="entityConverter">
								<f:selectItem itemLabel="Zone" itemValue="-1" />
								<f:selectItems value="#{managerSubZoneController.listZones}"
									var="zone" itemLabel="#{zone.name}" itemValue="#{zone}"
									itemDescription="#{zone.name}" />
								<p:ajax update="tblSubzone display"
									listener="#{managerSubZoneController.handleZoneChange}"
									process="@this"
									onsuccess="$('#linkRegistrarSubzona').attr('href','javascript:PF('registerZoneDialog').show();')" />
							</h:selectOneMenu>
							<p:message for="idSelectZones" />
						</div>

						<br></br>
						<p:dataTable id="tblSubzone" var="subZone"
							value="#{managerSubZoneController.listSubZones}" paginator="true"
							rows="12" emptyMessage="Not info">

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['registerName']}" />
								</f:facet>
								<h:outputText value="#{subZone.name}" />
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['registerZoneLatitude']}" />
								</f:facet>
								<h:outputText value="#{subZone.latitude}">

								</h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['registerZoneLongitude']}" />
								</f:facet>
								<h:outputText value="#{subZone.longitude}">

								</h:outputText>
							</p:column>
							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<p:commandButton title="" update="tblSubzone"
									oncomplete="dialogConfiguracion.show()" image="ui-icon-wrench">
									<f:setPropertyActionListener value="#{subZone}"
										target="#{managerSubZoneController.subZoneSelected}" />
								</p:commandButton>
							</p:column>

							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>

								<p:commandButton title="" type="button"
									onclick="PF('cd').show()" image="ui-icon-circle-close" />
								<p:confirmDialog message="#{msgs['subZone.confirmMsg']}?"
									header="#{msgs['subZone.title']}" severity="alert"
									widgetVar="cd">
									<p:commandButton value="#{msgs['subZone.okButton']}"
										onclick="onclickToReload();"
										oncomplete="PF('cd').hide()" update="@form">
										<f:setPropertyActionListener value="#{subZone}"
											target="#{managerSubZoneController.removeSelectedSubZone}" />
									</p:commandButton>
									<p:commandButton value="#{msgs['subZone.cancelButton']}"
										onclick="onclickToReload(); PF('cd').hide()" type="button" />
								</p:confirmDialog>
							</p:column>


							<f:facet name="footer">
								<h:outputText
									value="Total #{fn:length(managerSubZoneController.listSubZones)} #{msgs['menu.subZones']}." />
							</f:facet>
						</p:dataTable>

						<div class="container buttonForm">
							<div class="fleft">
								<h:outputLink id="linkRegistrarSubzona" styleClass="link"
									value="javascript:void(0);">[#{msgs.registerButton}]</h:outputLink>
							</div>
						</div>
					</fieldset>
				</h:form>


				<p:dialog width="450" widgetVar="registerZoneDialog" header="Zone"
					id="dialog">
					<h:form prependId="false" id="contact-form1"
						styleClass="contact-form">
						<fieldset>
							<h5>
								<h:outputText value="#{msgs['subZone.registerSubZoneTitle']}" />
							</h5>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />
							<h:panelGroup id="display">
								<div class="profileForm">

									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs['subZone.zone']}" for="zoneName" />
											<h:inputText id="zoneName" class="text-input"
												value="#{managerSubZoneController.zoneSelected.name}"
												disabled="true" />
										</div>
									</div>

									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs.registerName}"
												for="registerName" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="registerName"
												value="#{managerSubZoneController.subZone.name}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="registerName" />
										</div>
									</div>
									<div class="column">

										<div class="field">
											<h:outputLabel value="#{msgs.registerZoneLatitude}"
												for="registerZoneLatitude" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="registerZoneLatitude"
												value="#{managerSubZoneController.subZone.latitude}"
												required="true" requiredMessage="#{msgs.fieldRequired}">
											</h:inputText>
											<p:message for="registerZoneLatitude" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs.registerZoneLongitude}"
												for="registerZoneLongitude" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="registerZoneLongitude"
												value="#{managerSubZoneController.subZone.longitude}"
												required="true" requiredMessage="#{msgs.fieldRequired}">
											</h:inputText>
											<p:message for="registerZoneLongitude" />
										</div>
									</div>
								</div>
								<div class="container buttonForm">
									<div class="fleft">
										<p:commandLink styleClass="link" onclick="onclickToReload();"
											value="[#{msgs.registerButton}]"
											actionListener="#{managerSubZoneController.registerSubzone}"
											oncomplete="handleDialogRequest(xhr, status, args)"
											update="growl tblSubzone" />
									</div>
								</div>
							</h:panelGroup>
						</fieldset>
					</h:form>
				</p:dialog>

				<!--  Panel de Configuracion de Agentes y Places asociados a Subzona-->
				<p:dialog id="dialogConfiguracion" widgetVar="dialogConfiguracion"
					width="900" header="#{msgs['subZone.dialogTitle']}">
					<h:panelGroup id="panelDialogConfiguracion">
						<p:tabView>
							<p:tab title="#{msgs['zones.agent']}">
								<h:form prependId="false">
									<p:growl id="grow4" showDetail="true" />
									<p:autoComplete id="idAutoCompleteAgente" forceSelection="true"
										required="true" requiredMessage="#{msgs.fieldRequired}"
										size="30" value="#{managerSubZoneController.selectedAgent}"
										completeMethod="#{managerZoneController.completeAgent}"
										var="agent" itemLabel="#{agent.name} #{agent.lastName}"
										itemValue="#{agent}" converter="entityConverter" />
									<h:outputText value=" " />
									<p:commandButton title="Add Agent" onclick="onclickToReload();"
										actionListener="#{managerSubZoneController.addAgent}"
										image="ui-icon-circle-plus" update="tableAgents grow4" />

								</h:form>

								<h:form prependId="false">
									<p:dataTable var="agents" id="tableAgents"
										value="#{managerSubZoneController.listAgents}">
										<p:column>
											<f:facet name="header">
												<h:outputText value="Name" />
											</f:facet>
											<h:outputText value="#{agents.name}" />
											<h:outputText value=" " />
											<h:outputText value="#{agents.lastName}" />
										</p:column>
										<p:column>
											<f:facet name="header">
												<h:outputText value="Address" />
											</f:facet>
											<h:outputText value="#{agents.address}" />
										</p:column>
										<p:column>
											<f:facet name="header">
												<h:outputText value="Email" />
											</f:facet>
											<h:outputText value="#{agents.email}" />
										</p:column>
										<p:column>
											<f:facet name="header">
												<h:outputText value="Cel" />
											</f:facet>
											<h:outputText value="#{agents.msisdn}" />
										</p:column>
										<p:column style="width:30px;">
											<p:commandButton title="Remove" onclick="onclickToReload();"
												image="ui-icon-circle-close" update="@form"
												actionListener="#{managerSubZoneController.removeAgent}">
												<f:attribute name="login" value="#{agents.login}" />
											</p:commandButton>
										</p:column>
									</p:dataTable>
								</h:form>
							</p:tab>
							<p:tab title="#{msgs['zones.places']}">

								<p:growl id="grow5" showDetail="true" />
								<h:panelGrid columns="2">

									<h:form prependId="false">
										<p:dataTable id="idTablePlaces" rows="10" paginator="true"
											value="#{managerSubZoneController.listPlaces}" var="place"
											selection="#{managerSubZoneController.selectedAvailablePlaces}">

											<f:facet name="header">  
                                           #{msgs['subZone.availableSpace']} : #{managerSubZoneController.zoneSelected.name}
                                        </f:facet>

											<p:column selectionMode="multiple" style="width:2%" />

											<p:column>
												<f:facet name="header">
													<h:outputText value="#{msgs['myHistory.titlePlace']}" />
												</f:facet>
												<h:outputText value="#{place.idplace}">
													<f:converter converterId="zoneIdConverter" />
												</h:outputText>
											</p:column>

											<f:facet name="footer">
												<p:commandButton id="asociatePLacesButton"
													onclick="onclickToReload();"
													value="#{msgs['subZone.associateSpace']}"
													icon="ui-icon-search"
													update="idTablePlaces idTablePlacesAssociates"
													actionListener="#{managerSubZoneController.addPlace}" />
											</f:facet>

										</p:dataTable>
									</h:form>
									<h:form prependId="false">
										<p:dataTable id="idTablePlacesAssociates" rows="10"
											paginator="true"
											value="#{managerSubZoneController.listPlacesSubzone}"
											var="placeSubzone"
											selection="#{managerSubZoneController.selectedPlacesSubzone}">

											<f:facet name="header">  
                                           #{msgs['subZone.associatedSpaces']} : #{managerSubZoneController.subZoneSelected.name}
                                        </f:facet>

											<p:column selectionMode="multiple" style="width:2%" />

											<p:column>
												<f:facet name="header">
													<h:outputText value="#{msgs['myHistory.titlePlace']}" />
												</f:facet>
												<h:outputText value="#{placeSubzone.idplace}">
													<f:converter converterId="zoneIdConverter" />
												</h:outputText>
											</p:column>

											<f:facet name="footer">
												<p:commandButton id="disassociatePLacesButton"
													onclick="onclickToReload();"
													value="#{msgs['subZone.dissasociateSpace']}"
													icon="ui-icon-search"
													update="idTablePlaces idTablePlacesAssociates"
													actionListener="#{managerSubZoneController.deletePlace}" />
											</f:facet>

										</p:dataTable>
									</h:form>
								</h:panelGrid>

							</p:tab>

						</p:tabView>
					</h:panelGroup>
				</p:dialog>

			</div>
		</div>


		</section>
	</ui:define>
</ui:composition>
</html>