<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">

	<ui:define name="head">
		<script type="text/javascript">  
function handleComplete(xhr, status, args){


    $('#totalcompletedamount').html(args.totalcompletedamount);
    $('#totalcompleteditems').html(args.totalcompleteditems);
    
    console.log("refreshing value");
}
</script>

	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['parameter.transfer.title']}" />
					</h5>
					<div class="field">
						<h:outputText value="#{msgs['parameter.transfer.startdate']}" />
						<p:calendar value="#{balanceTransactionController.fechaIni}"
							navigator="true" id="fechaIni" required="true"
							requiredMessage="#{msgs.fieldRequired}" />
						<p:message for="fechaIni" />
						<h:outputText value="#{msgs['parameter.transfer.enddate']}" />
						<p:calendar value="#{balanceTransactionController.fechaFin}"
							navigator="true" id="fechaFin" required="true"
							requiredMessage="#{msgs.fieldRequired}" />
						<p:message for="fechaFin" />
					</div>
					<h:panelGroup
						rendered="#{sessionScope.userSession.idsysUserType == '5'}">
						<div class="field">

							<h:outputLabel value="#{msgs.registerEmail}" for="registerEmail" />
							<h:inputText maxlength="35" id="registerEmail"
								value="#{balanceTransactionController.useremail}"
								requiredMessage="#{msgs.fieldRequired}">

							</h:inputText>
							<p:message for="registerEmail" />
						</div>
					</h:panelGroup>
					<p:commandButton
						actionListener="#{balanceTransactionController.reportTransference}"
						value="#{msgs['myHistory.search']}" update="tbl,linkExcel,linkPdf" />

					<br></br>
					<p:dataTable id="tbl" var="givereport"
						value="#{balanceTransactionController.userTransList}"
						paginator="true" rows="12" emptyMessage="No info"
						filteredValue="#{balanceTransactionController.userTransListFiltered}">


						<p:ajax oncomplete="handleComplete(xhr, status, args)"
							event="filter"
							listener="#{balanceTransactionController.onCompleteFilter}" />

						<p:column filterBy="#{givereport.idsysUserOrigin}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText
									value="#{msgs['parameter.transfer.userorigin.id']}" />
							</f:facet>
							<h:outputText value="#{givereport.idsysUserOrigin}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{msgs['parameter.transfer.userorigin.name']}" />
							</f:facet>
							<h:outputText value="#{givereport.userOriginName}" />
						</p:column>

						<p:column filterBy="#{givereport.idsysUserDest}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.transfer.userdest.id']}" />
							</f:facet>
							<h:outputText value="#{givereport.idsysUserDest}">
							</h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{msgs['parameter.transfer.userdest.name']}" />
							</f:facet>
							<h:outputText value="#{givereport.userDestName}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.transfer.value']}" />
							</f:facet>
							<h:outputText value="#{givereport.amount}"
								style="color : #{givereport.amount lt 0 ? 'red' : 'green'};">
								<f:convertNumber pattern="$#,##0" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{history.startTime}">
							<f:facet name="header">
								<h:outputText value="#{msgs['parameter.transfer.date']}" />
							</f:facet>
							<h:outputText value="#{givereport.transactionDate}" />
						</p:column>

						<f:facet name="footer">
							<div style="display: table; text-align: left; width: 70%">
								<div style="display: table-row">
									<div style="display: table-cell" id="totalcompletedamount">
										<h:outputText value="#{msgs['myHistory.totalamount']} " />
										<h:outputText
											value="#{balanceTransactionController.totalAmount}">
											<f:convertNumber pattern="$#,##0" />
										</h:outputText>
									</div>
								</div>
							</div>
						</f:facet>

						<f:facet name="footer">
							<div style="display: table; text-align: left; width: 70%">
								<div style="display: table-row">
									<div style="display: table-cell" id="totalcompleteditems">
										<h:outputText value="#{msgs['myHistory.totalitems']} " />
										<h:outputText
											value="#{balanceTransactionController.userTransList.size()}">
											<f:convertNumber type="number" />
										</h:outputText>
									</div>
								</div>
							</div>
						</f:facet>
					</p:dataTable>
					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						id="linkExcel" disabled="#{!balanceTransactionController.history}"
						styleClass="link1" value=""
						action="#{balanceTransactionController.generarInforme}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>
					<h:commandLink title="#{msgs['myHistory.linkPdf']}" id="linkPdf"
						disabled="#{!balanceTransactionController.history}"
						styleClass="link1" value=""
						action="#{balanceTransactionController.generarInforme}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>