<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/templateReports.xhtml">
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form id="contact-form">
					<h5>
						<h:outputText value="#{msgs['report.salescard.title']}" />
					</h5>
					<div class="field">
						<h:outputText value="#{msgs['myHistory.dateinit']}" />
						<p:calendar value="#{balancePinController.fechaIni}"
							navigator="true" id="fechaIni" required="true" pattern="dd/MM/yyyy"
							requiredMessage="#{msgs.fieldRequired}" />
						<p:message for="fechaIni" />
						<h:outputText value="#{msgs['myHistory.dateend']}" />
						<p:calendar value="#{balancePinController.fechaFin}"
							navigator="true" id="fechaFin" required="true" pattern="dd/MM/yyyy"
							requiredMessage="#{msgs.fieldRequired}" />
						<p:message for="fechaFin" />
					</div>
					<div class="field" style="width: 180px;">
						<h:commandLink title="#{msgs['myHistory.linkExcel']}"
							styleClass="link1" value=""
							action="#{balancePinController.generarInformeVentasTarjetas}">
							<f:param name="formato" value="xls" />
							<h:graphicImage url="/images/icons/excelsmall.gif" />
						</h:commandLink>
						<h:commandLink title="#{msgs['myHistory.linkPdf']}"
							styleClass="link1" value=""
							action="#{balancePinController.generarInformeVentasTarjetas}">
							<f:param name="formato" value="pdf" />
							<h:graphicImage url="/images/icons/pdfsmall.gif" />
						</h:commandLink>
					</div>
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>