<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">  
    function handleLoginRequest(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  
</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<fieldset>
					<div>
						<h5>
							<h:outputText value="#{msgs['menu.agent']}" />
						</h5>
						<div style="clear: both;"></div>
						<h:outputLink id="newUserLink" styleClass="link"
							value="#{facesContext.externalContext.requestContextPath}/faces/agent/registerAgent.xhtml"
							title="#{msgs['menu.createAgent']}">
							<h:outputText value="[#{msgs['menu.createAgent']}]" />
						</h:outputLink>
					</div>

					<br></br>
					<p:growl id="growl" showSummary="true" life="3000" />
					<h:form id="formAgents" prependId="false">
						<p:dataTable id="tableAgents" var="agent"
							value="#{agentManagerController.agents}">
							<p:column filterBy="#{agent.name}">
								<f:facet name="header">
									<h:outputText value="#{msgs['myAgent.nameTitle']}" />
								</f:facet>
								<h:outputText value="#{agent.name}" />
								<h:outputText value=" " />
								<h:outputText value="#{agent.lastName}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['myAgent.address']}" />
								</f:facet>
								<h:outputText value="#{agent.address}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['myAgent.email']}" />
								</f:facet>
								<h:outputText value="#{agent.email}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['myAgent.phono']}" />
								</f:facet>
								<h:outputText value="#{agent.msisdn}" />
							</p:column>
							<p:column>
								<p:commandButton id="buttonDelete" image="ui-icon-circle-minus"
									title="Delete" process="@this" update="@none"
									oncomplete="PF('confirmDelete').show()">
									<f:setPropertyActionListener value="#{agent}"
										target="#{agentManagerController.agent}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>
					<h:form>
						<p:confirmDialog id="confirmDialog"
							message="#{msgs['myAgent.deleteAgente']}"
							header="#{msgs['myAgent.deleteAgente']}" severity="alert"
							widgetVar="confirmDelete" modal="true">
							<p:commandButton process="@this" id="botonDelete"
								value="#{msgs['myAgent.deleteAgente']}"
								actionListener="#{agentManagerController.deleteAgent}"
								update=":formAgents:tableAgents"
								oncomplete="PF('confirmDelete').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="PF('confirmDelete').hide();" type="button" />
						</p:confirmDialog>
					</h:form>
				</fieldset>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>