<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['menu.consumption']}" />
					</h5>
					<div class="field">
						<h:outputText value="#{msgs['myHistory.dateinit']}" />
						<p:calendar value="#{reportParkingController.fechaIni}"
							navigator="true" id="fechaIni" required="true"
							requiredMessage="#{msgs.fieldRequired}"  pattern="d/M/yyyy" />
						<p:message for="fechaIni" />
						<h:outputText value="#{msgs['myHistory.dateend']}" />
						<p:calendar value="#{reportParkingController.fechaFin}"
							navigator="true" id="fechaFin" required="true"
							requiredMessage="#{msgs.fieldRequired}" pattern="d/M/yyyy" />
						<p:message for="fechaFin" />
					</div>
					<div class="field">
						<h:selectOneMenu rendered="#{reportParkingController.admin}"
							valueChangeListener="#{reportParkingController.changeClient}"
							onchange="this.form.submit();" immediate="true" id="idClient"
							value="#{reportParkingController.idClient}">
							<f:selectItem itemValue="-1" itemLabel="Client"></f:selectItem>
							<f:selectItems value="#{activeParkingController.listClients}"
								var="client" itemLabel="#{client.name}"
								itemValue="#{client.idclient}" itemDescription="#{client.name}" />
						</h:selectOneMenu>
					</div>
					<div class="field">
						<h:selectOneMenu immediate="true" id="registerCountry"
							value="#{reportParkingController.idZone}">
							<f:selectItem itemValue="-1" itemLabel="Zone"></f:selectItem>
							<f:selectItems value="#{reportParkingController.listZones}"
								var="zone" itemLabel="#{zone.name}" itemValue="#{zone.idzone}"
								itemDescription="#{zone.name}" />
						</h:selectOneMenu>
					</div>
					<div class="field">
						<h:selectOneMenu onchange="this.form.submit();" immediate="true"
							id="platformId" value="#{reportParkingController.platformId}">
							<f:selectItem itemValue="-1"
								itemLabel="#{msgs['myHistory.selectPlatform']}"></f:selectItem>
							<f:selectItems value="#{reportParkingController.listPlatform}"
								var="platform" itemLabel="#{platform.name}"
								itemValue="#{platform.idplatform}"
								itemDescription="#{platform.name}" />
						</h:selectOneMenu>
					</div>

					<p:commandButton
						actionListener="#{reportParkingController.reportParkingAv}"
						value="#{msgs['myHistory.search']}" update="tbl @form"></p:commandButton>
					<br></br>
					<p:dataTable id="tbl" var="history"
						value="#{reportParkingController.listReportParking}"
						paginator="true" rows="12" emptyMessage="No info">

						<p:column filterBy="#{history.vehiclePlate}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.titlePlate']}" />
							</f:facet>
							<h:outputText value="#{history.vehiclePlate}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.titlePlace']}" />
							</f:facet>
							<h:outputText value="#{history.placeIdplace}">
								<f:converter converterId="zoneIdConverter" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{history.startTime}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.titleStart']}" />
							</f:facet>
							<h:outputText value="#{history.startTime}" />
						</p:column>

						<p:column sortBy="#{history.endTime}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.titleEnd']}" />
							</f:facet>
							<h:outputText value="#{history.endTime}" />
						</p:column>

						<p:column sortBy="#{history.minutsRound}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.minuts']}" />
							</f:facet>
							<h:outputText value="#{history.minutsRound}">
								<f:convertNumber integerOnly="true" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.minutsValue']}" />
							</f:facet>
							<h:outputText value="#{history.minuteValue}">
								<f:convertNumber maxFractionDigits="4"></f:convertNumber>
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['myHistory.amount']}" />
							</f:facet>
							<h:outputText value="#{history.totalParking}">
								<f:convertNumber maxFractionDigits="4"></f:convertNumber>
							</h:outputText>
						</p:column>
						<f:facet name="footer">
							<h:outputText value="#{msgs['myHistory.totalminuts']}" />
							<h:outputText value="  " />
							<h:outputText value="#{reportParkingController.totalMinutos}">
								<f:convertNumber integerOnly="true" />
							</h:outputText>
							<h:outputText value="  " />
							<h:outputText value="#{msgs['myHistory.totalamount']}" />
							<h:outputText value="#{reportParkingController.totalMoney}">
								<f:convertNumber type="currency" />
							</h:outputText>
						</f:facet>
					</p:dataTable>
					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						disabled="#{!reportParkingController.history}" styleClass="link1"
						value="" action="#{reportParkingController.generarInforme}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>
					<h:commandLink title="#{msgs['myHistory.linkPdf']}"
						disabled="#{!reportParkingController.history}" styleClass="link1"
						value="" action="#{reportParkingController.generarInforme}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>