<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">
			function handleDialogSubmit(xhr, status, args, dialog) {
				if (!args.validationFailed) {console.log(dialog);
					PF(dialog).hide(); 
				} else {
					jQuery(".ui-dialog.ui-overlay-visible").effect("shake", {
						times : 1
					}, 100);
				}
			}
		</script>

		<style>
/* DRIVER */
.listStatus {
	width: 76%;
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
}

.listStatus li {
	display: inline-block;
	margin-right: 8px;
}

.listStatus li>span {
	display: inline-block;
	height: 19px;
	width: 19px;
	margin-right: 3px;
	overflow: hidden;
	text-indent: 9999px;
}

.status1 {
	background-color: #efefef;
	color: #006499;
}

.status2 {
	background-color: #FFFE7D;
	color: #2E2E2E;
}

.status3 {
	background-color: #66C1FF;
	color: #2E2E2E;
}

.status4 {
	background-color: #B3FF83;
	color: #2E2E2E;
}

.status5 {
	background-color: #E0534F;
	color: #fff;
}

.hiddenfalse {
	display: block;
}

.hiddentrue {
	display: none;
}

.listLabel {
	font-weight: bold;
	padding-right: 10px;
}

.profileList .column {
	width: 100%;
}

.profileList .field {
	border-top: 1px solid #ccc;
	background: #fcfcfc;
	padding: 5px 20px;
}

.profileList .field:last-child {
	border-bottom: 1px solid #ccc;
}

.autocomplete-cps select {
	display: none !important;
}

.ui-autocomplete-items .ui-state-highlight td {
	color: #FFFFFF;
	background-color: #006499;
}

table tr td:hover {
	color: #006499;
	background-color: #dddddd;
}

.tblDriver table td:nth-child(1), .tblDriver table th:first-child {
	width: 50px;
}

.tblDriver.ui-datatable .ui-column-filter {
	width: 78%;
}

.ui-autocomplete-items tr td:hover {
	background-color: #eeeeee;
	color: #006499;
	text-shadow: none;
}

.ui-autocomplete-multiple-container {
	clear: left;
	cursor: text;
	list-style-type: none;
	margin: 0 !important;
	min-height: 1px;
	overflow: hidden;
	width: 85%;
}

.ui-autocomplete-input-token input {
	height: 25px;
	width: 140px !important;
	padding: 0 !important;
	border: 0 none !important;
}

textarea {
	width: 78%;
}
</style>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form prependId="false" id="contact-form">
					<fieldset>
						<p:growl id="growl" showSummary="true" showDetail="true"
							life="3000" />
						<h5>
							<h:outputText value="#{msgs['menu.myDriverOperator']}" />
						</h5>
						<p:commandButton value="#{msgs['driver.addOperator']}"
							oncomplete="PF('driverAddDialog').show()"
							actionListener="#{cityDriverController.selectTypeUser}"
							update=":formExitUser :formNewUser :formExitUserCheck">
						</p:commandButton>
						<p:button href="/faces/driver/driverAdmin.xhtml"
							value="#{msgs['driver.listDriver']}" />
						<br></br>
						<p:dataTable id="tbl" styleClass="tblDriver" var="driver"
							value="#{cityDriverController.allOperators}" paginator="true"
							rows="12" emptyMessage="Not info">

							<p:column filterBy="#{driver.cu}">
								<f:facet name="header">
									<h:outputText value="CU" />
								</f:facet>
								<h:outputText value="#{driver.cu}" />
							</p:column>

							<p:column filterBy="#{driver.name}">
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.user.fullName']}" />
								</f:facet>
								<h:outputText value="#{driver.name} #{driver.lastName}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['driver.user.phone']}" />
								</f:facet>
								<h:outputText value="#{driver.favoriteMsisdn}">
									<f:convertNumber type="currency"></f:convertNumber>
								</h:outputText>
							</p:column>
							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<p:commandButton title="Detail"
									update=":contact-form2:displayMore"
									oncomplete="PF('driverMoreDialog').show()"
									icon="ui-icon-plusthick">
									<f:setPropertyActionListener value="#{driver}"
										target="#{cityDriverController.sysUser}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</fieldset>
				</h:form>

				<!-- Add -->
				<p:dialog width="480" height="500" widgetVar="driverAddDialog"
					header="Driver" id="dialogAdd" modal="true">
					<fieldset>
						<h5>
							<h:outputText value="#{msgs['driver.addOperator']}" />
						</h5>
					</fieldset>
					<!-- Form exit user -->
					<h:panelGroup id="formExitUserCheck">
						<h:panelGroup>
							<h:form prependId="false" id="contact-form1"
								styleClass="contact-form"
								rendered="#{cityDriverController.formUserExits == false}">
								<fieldset>
									<p:messages showSummary="true" showDetail="true"
										globalOnly="true" />
									<h:panelGroup id="displayAddExitCheck">
										<div class="profileForm">

											<div class="column">
												<div class="field">
													<h:outputLabel value="#{msgs['driver.user.Mobile']}"
														for="driverMobileExit" />
													<h:inputText styleClass="text-input" maxlength="15"
														id="driverMobileExit"
														value="#{cityDriverController.mobile}" required="false"
														requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="driverMobileExit" />
												</div>
											</div>
											<div class="container buttonForm">
												<div class="fleft">
													<p:commandLink styleClass="link"
														onclick="onclickToReload();" value="[#{msgs.checkButton}]"
														actionListener="#{cityDriverController.checkDriver}"
														update=":formExitUser :formExitUserCheck :formNewUser" />
												</div>
											</div>
										</div>
									</h:panelGroup>
								</fieldset>
							</h:form>
							<!--  if exit user show form -->
							<h:panelGroup id="formExitUser">
								<h:form prependId="false" id="contact-form1-2"
									styleClass="contact-form"
									rendered="#{cityDriverController.userType == 2}">
									<fieldset>
										<p:messages showSummary="true" showDetail="true"
											globalOnly="true" />
										<h:panelGroup id="displayAddExit">
											<div class="profileList">
												<div class="column">
													<div class="field">
														<h:outputText value="#{msgs['driver.user.cu']} :"
															styleClass="listLabel" />
														<h:outputText id="driverCU"
															value="#{cityDriverController.sysUser.cu}" />
													</div>
													<div class="field">
														<h:outputText value="#{msgs['driver.user.email']} :"
															styleClass="listLabel" />
														<h:outputText id="driverEmail"
															value="#{cityDriverController.sysUser.email}" />
													</div>
													<div class="field">
														<h:outputText value="#{msgs['driver.user.name']} :"
															styleClass="listLabel" />
														<h:outputText id="driverName"
															value="#{cityDriverController.sysUser.name}" />
													</div>
													<div class="field">
														<h:outputText value="#{msgs['driver.user.lastName']} :"
															styleClass="listLabel" />
														<h:outputText id="driverLastName"
															value="#{cityDriverController.sysUser.lastName}" />
													</div>

													<div class="field">
														<h:outputText value="#{msgs['driver.user.phone']} :"
															styleClass="listLabel" />
														<h:outputText id="driverPhone"
															value="#{cityDriverController.sysUser.favoriteMsisdn}" />
													</div>
												</div>
											</div>
											<div class="container buttonForm">
												<div class="fleft">
													<p:commandLink styleClass="link"
														onclick="onclickToReload();"
														value="[#{msgs.addButton}]"
														actionListener="#{cityDriverController.addDriverOperator}"
														oncomplete="handleDialogSubmit(xhr, status, args, 'driverAddDialog')"
														update=":contact-form:growl :contact-form:tbl" />
												</div>
											</div>
										</h:panelGroup>
									</fieldset>
								</h:form>
							</h:panelGroup>
							<!--  -->
						</h:panelGroup>
					</h:panelGroup>

					<!-- Form new user -->
					<h:panelGroup id="formNewUser">
						<h:form prependId="false" id="contact-form1-1"
							styleClass="contact-form"
							rendered="#{cityDriverController.userType == 1}">
							<fieldset>
								<!-- 	<p:messages showSummary="true" showDetail="true" globalOnly="true" />  -->
								<h:panelGroup id="displayAdd">
									<div class="profileForm">
										<div class="column">
											<div class="field">
												<h:outputLabel value="#{msgs['driver.user.email']}"
													for="driverEmailNew" />
												<h:inputText styleClass="text-input" maxlength="45"
													id="driverEmailNew" value="#{cityDriverController.email}"
													required="false" requiredMessage="#{msgs.fieldRequired}" />
												<p:message for="driverEmailNew" />
											</div>
											<div class="field">
												<h:outputLabel value="#{msgs['driver.user.name']}"
													for="driverNameNew" />
												<h:inputText styleClass="text-input" maxlength="30"
													id="driverNameNew"
													value="#{cityDriverController.sysUser.name}"
													required="true" requiredMessage="#{msgs.fieldRequired}" />
												<p:message for="driverNameNew" />
											</div>
											<div class="field">
												<h:outputLabel value="#{msgs['driver.user.lastName']}"
													for="driverLastNameNew" />
												<h:inputText styleClass="text-input" maxlength="30"
													id="driverLastNameNew"
													value="#{cityDriverController.sysUser.lastName}"
													required="true" requiredMessage="#{msgs.fieldRequired}" />
												<p:message for="driverLastNameNew" />
											</div>
											<div class="field">
												<h:outputLabel value="#{msgs['driver.user.phone']}"
													for="driverPhoneNew" />
												<h:inputText styleClass="text-input" maxlength="15"
													id="driverPhoneNew"
													value="#{cityDriverController.sysUser.favoriteMsisdn}"
													required="true" requiredMessage="#{msgs.fieldRequired}" />
												<p:message for="driverPhoneNew" />
											</div>
											<div class="field">
												<h:outputLabel value="#{msgs.registerCountry}"
													for="driverCountryNew" />
												<h:selectOneMenu
													value="#{cityDriverController.sysUser.countryIdcountry}"
													id="driverCountryNew" required="true"
													requiredMessage="#{msgs.fieldRequired}">
													<f:selectItem itemLabel="" itemValue=""></f:selectItem>
													<f:selectItems
														value="#{parametrosController.listCountries}"
														var="country" itemLabel="#{country.name}"
														itemValue="#{country.idcountry}"
														itemDescription="#{country.name}" />
													<p:ajax listener="#{adminUserController.changeCountry}"
														event="change" update="driverCityNew" process="@this" />
												</h:selectOneMenu>
												<p:message for="driverCountryNew" />
											</div>
											<div class="field">
												<h:outputLabel value="#{msgs.registerCity}"
													for="driverCityNew" />
												<h:selectOneMenu value="#{cityDriverController.city}"
													id="driverCityNew" required="true"
													requiredMessage="#{msgs.fieldRequired}">
													<f:selectItems value="#{adminUserController.cityes}"
														var="city" itemLabel="#{city.name}"
														itemValue="#{city.idcity}" itemDescription="#{city.name}" />
												</h:selectOneMenu>
												<p:message for="driverCityNew" />
											</div>
										</div>
									</div>
									<div class="container buttonForm">
										<div class="fleft">
											<p:commandLink styleClass="link" value="[#{msgs.addButton}]"
												onclick="onclickToReload();"
												actionListener="#{cityDriverController.registerDriver}"
												oncomplete="handleDialogSubmit(xhr, status, args, 'driverAddDialog');"
												update=":contact-form:growl :contact-form:tbl" />
										</div>
									</div>
								</h:panelGroup>
							</fieldset>
						</h:form>
					</h:panelGroup>
				</p:dialog>
				<!-- /Add -->


				<!--  More -->
				<p:dialog width="480" height="500" widgetVar="driverMoreDialog"
					header="Driver" id="dialogMore" modal="true">
					<h:form prependId="false" id="contact-form2"
						styleClass="contact-form">
						<fieldset>
							<h5>
								<h:outputText value="#{msgs['driverMoreTitle']}" />
							</h5>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />
							<h:panelGroup id="displayMore">
								<div class="profileList">
									<div class="column">
										<div class="field">
											<h:outputText value="#{msgs['driver.user.cu']}"
												styleClass="listLabel" />
											<h:outputText id="driverMoreCU"
												value="#{cityDriverController.sysUser.cu}" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.email']}"
												styleClass="listLabel" />
											<h:outputText id="driverMoreEmail"
												value="#{cityDriverController.sysUser.email}" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.name']}"
												styleClass="listLabel" />
											<h:outputText id="driverMoreName"
												value="#{cityDriverController.sysUser.name}" />
											<p:message for="driverMoreName" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.lastName']}"
												styleClass="listLabel" />
											<h:outputText id="driverMoreLastName"
												value="#{cityDriverController.sysUser.lastName}" />
										</div>
										<div class="field">
											<h:outputText value="#{msgs['driver.user.phone']}"
												styleClass="listLabel" />
											<h:outputText id="driverMorePhone"
												value="#{cityDriverController.sysUser.favoriteMsisdn}" />
										</div>
									</div>
								</div>
								<div class="container buttonForm">
									<div class="fleft">
										<p:commandLink styleClass="link"
											onclick="onclickToReload();"
											value="[#{msgs.unprivilegedButton}]"
											oncomplete="PF('confirmDialogDriverW').show();"
											update=":contact-form2:displayMore" />
									</div>
								</div>
							</h:panelGroup>
						</fieldset>
					</h:form>
				</p:dialog>
				<!-- /More -->

			</div>
		</div>
		<h:form>
			<p:confirmDialog id="confirmDeleteDialog"
				message="#{msgs['driver.confirmRemoveOperator']}"
				header="#{msgs['unprivilegedButton']}" severity="alert"
				widgetVar="confirmDialogDriverW" modal="true">
				<p:commandButton process="@this" id="botonConfirm"
					onclick="onclickToReload();"
					value="#{msgs['confirmButton']}"
					actionListener="#{cityDriverController.removeOperator}"
					update=":contact-form:growl :contact-form:tbl"
					oncomplete="handleDialogSubmit(xhr, status, args, 'confirmDialogDriverW'); handleDialogSubmit(xhr, status, args, 'driverMoreDialog');" />
				<p:commandButton value="#{msgs['parameter.cancel']}"
					onclick="onclickToReload(); PF('confirmDialogDriverW').hide();" type="button" />
			</p:confirmDialog>
		</h:form> </section>
	</ui:define>
</ui:composition>
</html>