<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
	
	 <style type="text/css">
.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}
</style>
		<script type="text/javascript">  
    function handleLoginRequest(xhr, status, args) { 

        //alert(status); 
       // PF('dialogAddCamp').hide(); 
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
           
            PF('dialogAddCamp').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  
</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<fieldset>
					<div>
						<h5>
							<h:outputText value="#{msgs['campaign.header.up']}" />
						</h5>
						<div style="clear: both;"></div>
						<h:form>
						<p:commandButton value="#{msgs['campaign.create']}" type="button" onclick="PF('dialogAddCamp').show();" />
						</h:form>
					</div>

					<br></br>
					<p:growl id="growl" showSummary="true" life="3000" />
					<h:form id="form1">
						<p:dataTable id="tableCampaigns" var="campaign"
							value="#{campaignController.listCampaigns}">
							<p:column filterBy="#{campaign.id_campaign}">
								<f:facet name="header">
									<h:outputText value="#{msgs['campaign.id']}" />
								</f:facet>
								<h:outputText value="#{campaign.idCampaign}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['campaign.description']}" />
								</f:facet>
								<h:outputText value="#{campaign.description}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['campaign.date.start']}" />
								</f:facet>
								<h:outputText value="#{campaign.startDate}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['campaign.date.end']}" />
								</f:facet>
								<h:outputText value="#{campaign.endDate}" />
							</p:column>
								<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['campaign.amount.range.start']}" />
								</f:facet>
								<h:outputText value="#{campaign.rangeAmountStart}" />
							</p:column>
								<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['campaign.amount.range.end']}" />
								</f:facet>
								<h:outputText value="#{campaign.rangeAmountEnd}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="%" />
								</f:facet>
								<h:outputText value="#{campaign.amountPercent}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['campaign.state']}" />
								</f:facet>
								<h:outputText value="#{campaign.campaignState.stateName}" />
							</p:column>
							<p:column>
								<p:commandButton id="buttonDelete" image="ui-icon-circle-minus" title="Delete"
									process="@this" update="@none" oncomplete="PF('confirmDelete').show()">
									<f:setPropertyActionListener value="#{campaign}"
										target="#{campaignController.campaign}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>

<h:form>
					<p:dialog id="dialogAddCampaign" widgetVar="dialogAddCamp" modal="true" appendToBody="true"
						width="900"  >
						<fieldset>
							<h5>
								<h:outputText value="Agregar #{msgs['campaign.menu.name']}" />
							</h5>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />

							<h:form  id="contact-form1"
								>
							
								<p:panelGrid columns="3" style="border=none;" id="display">
								
											
												<h:outputLabel value="#{msgs['campaign.description']}" for="campaignDescription" />
												<h:inputTextarea styleClass="text-input" maxlength="255"
													id="campaignDescription"
													value="#{campaignController.campaign.description}"
													required="true" requiredMessage="#{msgs.fieldRequired}" />
												<p:message for="campaignDescription" />
									
												<h:outputLabel value="#{msgs['campaign.date.start']}"
													for="startDate" />
												<p:calendar navigator="true" mindate="#{campaignController.currDate}" yearRange="c+0:c+20"
													readOnlyInputText="true" maxlength="10" id="startDate" 
													pattern="MM/dd/yyyy HH:mm:ss"
													value="#{campaignController.campaign.startDate}"
													required="true" requiredMessage="#{msgs.fieldRequired}" showOn="button" />
												<p:message for="startDate" />
											

									
												<h:outputLabel value="#{msgs['campaign.date.end']}"
													for="endDate" />
												<p:calendar navigator="true" mindate="#{campaignController.currDate}" yearRange="c+0:c+20"
													readOnlyInputText="true" maxlength="10" id="endDate"
													pattern="MM/dd/yyyy HH:mm:ss"
													value="#{campaignController.campaign.endDate}"
													required="true" requiredMessage="#{msgs.fieldRequired}"  showOn="button" /> 
												<p:message for="endDate" />
											
												<h:outputLabel  converter="javax.faces.BigDecimal" value="#{msgs['campaign.amount.range.start']}" for="campaignRangeStart" />
												<h:inputText styleClass="text-input" maxlength="15"
													id="campaignRangeStart"
													value="#{campaignController.campaign.rangeAmountStart}"
													required="true" requiredMessage="#{msgs.fieldRequired}" />
												<p:message for="campaignRangeStart" />
											
												<h:outputLabel  converter="javax.faces.BigDecimal" value="#{msgs['campaign.amount.range.end']}" for="campaignRangeEnd" />
												<h:inputText styleClass="text-input" maxlength="15"
													id="campaignRangeEnd"
													value="#{campaignController.campaign.rangeAmountEnd}"
													required="true" requiredMessage="#{msgs.fieldRequired}" />
												<p:message for="campaignRangeEnd" />
											
												<h:outputLabel value="#{msgs['campaign.amount.percent']}" for="campaignAmount" />
												<h:inputText converter="javax.faces.BigDecimal" styleClass="text-input" maxlength="15"
													id="campaignAmount"
													value="#{campaignController.campaign.amountPercent}"
													required="true" requiredMessage="#{msgs.fieldRequired}" />
												<p:message for="campaignAmount" />
											
<!-- 												<h:outputLabel value="#{msgs['campaign.state']}" for="campaignState" /> -->
<!-- 												<h:inputText styleClass="text-input" maxlength="15" -->
<!-- 													id="campaignState" -->
<!-- 													value="#{campaignController.campaign.campaignState}" -->
<!-- 													required="true" requiredMessage="#{msgs.fieldRequired}" /> -->
<!-- 												<p:message for="campaignState" /> -->
									</p:panelGrid>
									
									<div class="container buttonForm">
										<div class="fleft">
											<p:commandLink styleClass="link"
												value="[#{msgs['campaign.create']}]"
												actionListener="#{campaignController.addCampaign}"
												oncomplete="handleLoginRequest(xhr, status, args)"
												update=":growl :form1:tableCampaigns @form:display" />
										</div>
									</div>
								
							</h:form>
						</fieldset>
					</p:dialog>
					</h:form>
					<h:form>
						<p:confirmDialog id="confirmDialog"
							message="#{msgs['campaign.delete.message']}"
							header="#{msgs['campaign.delete.header']}" severity="alert"
							widgetVar="confirmDelete" modal="true">
							<p:commandButton process="@this" id="botonDelete"
								value="#{msgs['campaign.delete']}"
								actionListener="#{campaignController.deleteCampaign}"
								update=":form1:tableCampaigns"
								oncomplete="PF('confirmDelete').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="PF('confirmDelete').hide();" type="button" />
						</p:confirmDialog>
					</h:form>

				</fieldset>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>