<form autocomplete="off" method="post" name="driverForm" id="driverForm" class="list"
      ng-submit="driverForm.$valid && driver.sendForm()" cps-form-success="driver.formSuccess" cps-clean-data="true" novalidate>


  <div class="list card">

    <div class="item item-icon-left item-text-wrap">
      <i class="icon ion-driver-orig secondary"></i>
      <h2>{{::driver.dataRequest.display_name | cpsStartCase}}</h2>
      <p>{{driver.position.origin.formatted_address}}</p>
    </div>

    <div class="item item-icon-left item-text-wrap">
      <i class="icon ion-driver-dest secondary"></i>
      <h2 locale-id="destination">Destination</h2>
      <p>{{driver.position.destination.formatted_address}}</p>
    </div>
  </div>

  <label class="item item-input item-select cps-validated" for="driverPlate">
    <div class="input-label" locale-id="plate">
      Plate
    </div>
    <cps-user-vehicles ng-model="driver.dataVehicle.plate" name="driverPlate" fetch="driver.fetchVehicles" ng-change="driver.getVehicle()" required>
    </cps-user-vehicles>
  </label>

  <div class="item" ng-if="driver.dataVehicle.vehicleBrand">
    <i class="icon" ng-class="{0: 'ion-car', 1: 'ion-car', 2: 'ion-moto', 3: 'ion-bike' }[driver.dataVehicle.type || 0]"></i>
    {{driver.dataVehicle.vehicleBrand.vBrandName}}
  </div>

  <div class="item" ng-if="driver.dataVehicle.description">
    {{driver.dataVehicle.description}}
    <span class="item-note" locale-id="vehicleDescription">
      Brand and Color
    </span>
  </div>

  <p class="text-center padding nm row">
    <span class="hline col col-center">&nbsp;</span>
    <span class="bold col-text" locale-id="driverDate">Date of Service</span>
    <span class="hline col col-center">&nbsp;</span>
  </p>

  <div class="row item-group">
    <div class="col">
      <label class="item item-input item-select cps-validated" for="profileBDDay">
        <div class="input-label" locale-id="day">
          Day
        </div>
        <cps-dates date-type="days" date-element="select" ng-model="driver.dataRequest.date.day" name="driverDateDay" required>
        </cps-dates>
      </label>
    </div>
    <div class="col">
      <label class="item item-input item-select cps-validated" for="driverDateMonth">
        <div class="input-label" locale-id="month">
          Month
        </div>
        <cps-dates date-type="months" date-element="select"  ng-model="driver.dataRequest.date.month" name="driverDateMonth" required>
        </cps-dates>
      </label>
    </div>
    <div class="col">
      <label class="item item-input item-select cps-validated" for="driverDateYear">
        <div class="input-label" locale-id="hour">
          Hour
        </div>
        <cps-dates date-type="hour" date-element="select" ng-model="driver.dataRequest.date.hour" name="driverDateHour" required>
        </cps-dates>
      </label>
    </div>
  </div>

  <!-- <div class="padding">
       <i class="icon ion-information-circled primary"></i>
       <span locale-id="driverStopsInfo" locale-args="{{driver.rates}}" class="dark">Stops info</span>
       </div> -->

  <h3 locale-id="contactInformation">Contact information</h3>

  <label class="item item-input cps-validated" for="driverNameContact">
    <input type="text" placeholder="Contact Name" locale-id="nameContact" id="driverNameContact" name="driverNameContact" ng-minlength="3" ng-maxlength="30"
           ng-model="driver.dataRequest.contact_name" required/>
  </label>
  <label class="item item-input cps-validated" for="driverLastNameContact">
    <input type="text" placeholder="Contact Last Name" locale-id="lastNameContact" id="driverLastNameContact" name="driverLastNameContact" ng-minlength="3" ng-maxlength="30"
           ng-model="driver.dataRequest.contact_last_name" required/>
  </label>

  <label class="item item-input cps-validated" for="driverPhoneContact">
    <input type="tel" placeholder="Contact Phone" locale-id="phoneContact" id="driverPhoneContact" name="driverPhoneContact" ng-minlength="3" ng-maxlength="30"
           ng-model="driver.dataRequest.contact_phone" required/>
  </label>

  <div class="item item-toggle" cps-keyboard-handler="hide">
    <span locale-id="soat">SOAT</span>
    <label class="toggle toggle-secondary">
      <input ng-model="driver.dataRequest.soat" name="driverSoat" type="checkbox">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>

  <div class="item item-toggle" cps-keyboard-handler="hide">
    <span locale-id="tecnoReview">Tecnomecanica review</span>
    <label class="toggle toggle-secondary">
      <input ng-model="driver.dataRequest.rtm" name="driverRtm" type="checkbox">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>

  <label class="item item-input" for="driverMsg">
    <textarea ng-model="driver.dataRequest.comments" name="driverMsg" id="driverMsg" rows="5"
              placeholder="Observations" locale-id="observations"></textarea>
  </label>


  <input type="submit" locale-id="request" valie="Request" id="btnRequestDriver" ng-hide="buttonDisabled"
         class="button button-block button-primary" cps-hold="true"/>

</form>
