<div ng-init="driver.list()">
    <div class="list">

        <div ng-repeat="service in driver.dataServices track by service.id">
            <div class="item item-divider item-icon-right">
                <h2>
                    <span locale-id="bookingNumber">Booking</span>:
                    <span>#{{service.id}}</span>
                </h2>
                <!-- <i class="icon ion-edit"></i> -->
                <button class="icon ion-delete-item button icon button-icon" hm-tap="driver.cancel(service.id)">
                </button>
            </div>
            <div class="item">
                <h3>
                    <i class="icon ion-android-radio-button-on" ng-class="driver-status-{{service.state}}"></i>
                    <!-- <span locale-id="status">Status</span>: -->
                    <span locale-id="driverStatus{{service.state}}"></span>
                </h3>
                <h3>
                    <i class="icon ion-calendar"></i>
                    {{service.dateService | cpsDateFormat:'DD MMM YYYY, h:mm a'}}
                </h3>
                <p>
                    <i class="icon ion-driver-dest secondary"></i>
                    {{service.addressDest}}
                </p>
                <p>
                    <i class="icon ion-driver-orig secondary"></i>
                    {{service.addressOrigin}}
                </p>
                <p ng-if="service.fee">
                    <i class="icon ion-cash secondary"></i>
                    {{service.fee | cpsFormat}}
                </p>
                <p ng-if="service.operators.length">
                    <i class="icon ion-person-stalker secondary"></i>
                    <span ng-repeat="operator in service.operators track by operator.sysUser.idsysUser">
                        {{operator.sysUser.name | cpsCapitalize}} {{operator.sysUser.lastName | cpsCapitalize}}
                        <span ng-if="!$last">,</span>
                    </span>
                </p>
            </div>
        </div>
        <div ng-if="!driver.dataServices.length" class="text-center row padding mb-s driver-description">
            <span class="driver-logo col-20"></span>
            <p class="col" locale-id="driverDescription" locale-fallback="driverNoServices">Driver</p>
        </div>

        <div ng-if="!driver.dataServices.length" class="item text-center">
            <strong locale-id="driverNoServices">No service...</strong>
        </div>
    </div>

</div>
