<form autocomplete="off" method="post" name="loginForm" id="loginForm" class="list list-inset"
      ng-submit="loginForm.$valid && login.sendLogin(auth)" cps-form-success="login.formSuccess" cps-clean-data="true" novalidate>

  <div class="ui-field-contain text-center np-b">

    <label class="item item-input cps-validated" for="username">
      <input type="text" locale-id="usernameFull" placeholder="Username" id="username" name="username" ng-minlength="3" ng-maxlength="30"
             ng-model="login.auth.user" required/>
    </label>

    <label class="item item-input cps-validated" for="password">
      <input type="password" locale-id="password" placeholder="Password" id="password" name="password"
             ng-model="login.auth.pass" ng-minlength="3" ng-maxlength="30" required/>
    </label>

    <div class="button-group">
      <input type="submit" value="Login" locale-id="loginBtn" id="btnLogin"
             class="button button-block button-primary" cps-is-hold/>

      <a href="#register" locale-id="register" id="btnRegister" class="button button-block button-primary">
        Register
      </a>
    </div>

  </div>

</form>

<div ng-switch="recovery">
  <div ng-switch-when="true" class="padding">
    <a href="#pass-recovery" locale-id="resetPasswordBtn" class="light link">
      Forgot your password?
    </a>
  </div>
  <div ng-switch-when="dialog" class="padding">
    <a hm-tap="login.passRecoveryDialog()" locale-id="resetPasswordBtn" class="light link">
      Forgot your password?
    </a>
  </div>
</div>
