<div ng-controller="LoginController as login" ng-switch="login.hasSecondPass()">

  <cps-pass-second-create-form ng-switch-default>
    <!-- form create -->
  </cps-pass-second-create-form>

  <cps-pass-second-validate-form ng-switch-when="true">
    <!-- form change -->
  </cps-pass-second-validate-form>

</div>
