<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div>
					<!-- TITULO DE LA PAGINA -->
					<h5>
						<h:outputText value="#{msgs['bonus.page.title']}" />
					</h5>
				</div>
				<h:form id="contact-form">
					<p:growl id="growl" showSummary="true" life="3000"
						globalOnly="true" />
					<fieldset>
						<!-- PANEL DESPLEGABLE DE BONOS -->
						<p:accordionPanel id="pnlBonus"
							binding="#{bonusController.pnlBonus}">
							<!--
							/////////////////////////////////////////////////////////////////////////////////////////////////////// 
							 PANEL DE INGRESO  DEL COMPRADOR 
							///////////////////////////////////////////////////////////////////////////////////////////////////////
							-->
							<p:tab title="#{msgs['bonus.panel.customer']}"
								id="tabRegisterCustomer"
								disabled="#{bonusController.pnlCustomerDisabled}">
								<!-- LOGIN DEL COMPRADOR DEL BONO -->
								<div class="field">
									<p:outputLabel for="txtCustomerLogin"
										value="#{msgs['bonus.panel.customer.label']}" />
									<p:inputText
										placeholder="#{msgs['bonus.panel.customer.watermark']}"
										id="txtCustomerLogin"
										value="#{bonusController.customerLoginEntered}"
										onkeypress="if (event.keyCode == 13) { onchange(); return false; }">
										<p:ajax update="@form " event="change"
											listener="#{bonusController.onFindCustomer}">
										</p:ajax>
									</p:inputText>
								</div>
								<!-- DATOS BASICOS DE COMPRADOR SELECCIONADO-->
								<div class="field">

									<!-- /////////////////////////////////////////////////////////////////////////////////// -->
									<!-- CUANDO EL COMPRADO R YA EXISTE  -->
									<!-- /////////////////////////////////////////////////////////////////////////////////// -->
									<p:panelGrid id="pnlExistentCustomerData" columns="2"
										rendered="#{bonusController.renderCustomerDataPanel}">
										<h:outputText value="#{msgs['bonus.panel.login']}" />
										<h:outputText value="#{bonusController.customerUser.login}" />
										<h:outputText value="#{msgs['registerEmail']}" />
										<h:outputText value="#{bonusController.customerUser.email}" />
										<h:outputText value="#{msgs['registerName']}" />
										<h:outputText value="#{bonusController.customerUser.name}" />
										<h:outputText value="#{msgs['registerLastName']}" />
										<h:outputText value="#{bonusController.customerUser.lastName}" />
										<h:outputText value="#{msgs['registerMsisdn']}" />
										<h:outputText
											value="#{bonusController.customerUser.favoriteMsisdn}" />
										<h:outputText value="#{msgs['registerCountry']}" />
										<h:outputText
											value="#{bonusController.customerUser.city.country.name}" />
										<h:outputText value="#{msgs['registerCity']}" />
										<h:outputText
											value="#{bonusController.customerUser.city.name}" />
									</p:panelGrid>
									<!-- /////////////////////////////////////////////////////////////////////////////////// -->
									<!-- CUANDO EL COMPRADO R ES NUEVO   -->
									<!-- /////////////////////////////////////////////////////////////////////////////////// -->
									<p:panelGrid id="pnlNewCustomerData" columns="2"
										rendered="#{bonusController.renderNewCustomerDataPanel}">
										<!-- LOGIN -->
										<h:outputText value="#{msgs['bonus.panel.login']}" />
										<p:inputText id="newCustomerLogin"
											value="#{bonusController.customerUser.login}" required="true"
											requiredMessage="#{msgs.fieldRequired}">
											<p:message for="newCustomerLogin" />
											<f:validator validatorId="cps.LoginValidator" />
										</p:inputText>
										<!-- EMAIL -->
										<h:outputText value="#{msgs['registerEmail']}" />
										<p:inputText id="newCustomerEmail"
											value="#{bonusController.customerUser.email}" required="true"
											requiredMessage="#{msgs.fieldRequired}">
											<p:message for="newCustomerEmail" />
											<f:validator validatorId="cps.EmailExistValidator" />
											<f:validator validatorId="cps.EmailValidator" />
										</p:inputText>
										<!-- NOMBRE -->
										<h:outputText value="#{msgs['registerName']}" />
										<p:inputText value="#{bonusController.customerUser.name}"
											id="newCustomerName" required="true"
											requiredMessage="#{msgs.fieldRequired}">
											<p:message for="newCustomerName" />
										</p:inputText>
										<!-- APELLIDO -->
										<h:outputText value="#{msgs['registerLastName']}" />
										<p:inputText value="#{bonusController.customerUser.lastName}" />
										<!-- TELEFONO -->
										<h:outputText value="#{msgs['registerMsisdn']}" />
										<p:inputMask id="newCustomerMsisdn"
											value="#{bonusController.customerUser.favoriteMsisdn}"
											required="true" requiredMessage="#{msgs.fieldRequired}"
											mask="(999) 999-9999">
											<p:message for="newCustomerMsisdn" />
											<f:converter converterId="celPhoneConverter" />
											<f:validator validatorId="cps.MsisdnExistValidator" />
										</p:inputMask>
										<!-- PAIS -->
										<h:outputText value="#{msgs['registerCountry']}" />
										<h:selectOneMenu styleClass="select-input"
											value="#{bonusController.idCustomerCountry}" required="true"
											requiredMessage="#{msgs.fieldRequired}"
											id="registerCostumerCountry">
											<f:selectItems value="#{bonusController.listSelectCountries}"
												var="country" itemLabel="#{country.name}"
												itemValue="#{country.idcountry}"
												itemDescription="#{country.name}" />
											<p:ajax listener="#{bonusController.onChangeCustomerCountry}"
												event="change" update="@parent:registerCostumerCity" />
											<p:message for="registerCostumerCountry" />
										</h:selectOneMenu>
										<!-- CIUDAD -->
										<h:outputText value="#{msgs['registerCity']}" />
										<h:selectOneMenu value="#{bonusController.idCustomerCity}"
											id="registerCostumerCity" required="true"
											requiredMessage="#{msgs.fieldRequired}">
											<p:ajax event="change"
												listener="#{bonusController.onChangeCustomerCity}" />
											<f:selectItems value="#{bonusController.customerCities}"
												var="cityCustomer" itemLabel="#{cityCustomer.name}"
												itemValue="#{cityCustomer.idcity}"
												itemDescription="#{cityCustomer.name}" />
											<p:message for="registerCostumerCity" />
										</h:selectOneMenu>
									</p:panelGrid>
								</div>
								<!-- BOTON SIGUEINTE PASO : REGISTRAR BENEFICIARIO
									Desactiva el panel de los datos del comprador para 
									activar el panel de los datos del beneficiario 
								-->
								<div class="field">
									<p:commandButton value="#{msgs['bonus.panel.next']}"
										id="registerCustomer"
										actionListener="#{bonusController.onNextStepRegisteBeneficiary}"
										process="@form:pnlBonus:tabRegisterCustomer" update="@form" />
								</div>
							</p:tab>

							<!--
							/////////////////////////////////////////////////////////////////////////////////////////////////////// 
							 PANEL DE INGRESO  DEL BENEFICIARIO 
							///////////////////////////////////////////////////////////////////////////////////////////////////////
							-->
							<p:tab title="#{msgs['bonus.panel.beneficiary']}"
								id="tabRegisterBeneficiary"
								disabled="#{bonusController.pnlBeneficiaryDisabled}">
								<div class="field">
									<p:outputLabel for="txtBeneficiaryLogin"
										value="#{msgs['bonus.panel.beneficiary.label']}" />
									<p:inputText
										placeholder="#{msgs['bonus.panel.beneficiary.watermark']}"
										id="txtBeneficiaryLogin"
										value="#{bonusController.beneficiaryLoginEntered}"
										onkeypress="if (event.keyCode == 13) { onchange(); return false; }">
										<p:ajax update="@form" event="change"
											listener="#{bonusController.onFindBeneficiary}">
										</p:ajax>
									</p:inputText>
								</div>
								<!-- DATOS BASICOS DE BENEFICIARIO SELECCIONADO-->
								<div class="field">
									<!--//////////////////////////////////////////////////////////////////////////  -->
									<!-- CUANDO EL BENEFICIARIO  YA EXISTE  -->
									<!--//////////////////////////////////////////////////////////////////////////  -->
									<p:panelGrid id="pnlExistentBeneficiaryData" columns="2"
										rendered="#{bonusController.renderBeneficiaryDataPanel}">
										<h:outputText value="#{msgs['bonus.panel.login']}" />
										<h:outputText value="#{bonusController.beneficiaryUser.login}" />
										<h:outputText value="#{msgs['registerEmail']}" />
										<h:outputText value="#{bonusController.beneficiaryUser.email}" />
										<h:outputText value="#{msgs['registerName']}" />
										<h:outputText value="#{bonusController.beneficiaryUser.name}" />
										<h:outputText value="#{msgs['registerLastName']}" />
										<h:outputText
											value="#{bonusController.beneficiaryUser.lastName}" />
										<h:outputText value="#{msgs['registerMsisdn']}" />
										<h:outputText
											value="#{bonusController.beneficiaryUser.favoriteMsisdn}" />
										<h:outputText value="#{msgs['registerCountry']}" />
										<h:outputText
											value="#{bonusController.beneficiaryUser.city.country.name}" />
										<h:outputText value="#{msgs['registerCity']}" />
										<h:outputText
											value="#{bonusController.beneficiaryUser.city.name}" />
										<!-- MENSAJE -->
										<h:outputText value="#{msgs['bonus.panel.message']}" />
										<p:inputTextarea rows="10"
											value="#{bonusController.card.message}" />
										<!-- MEDIO DE PAGO -->
										<h:outputText value="#{msgs['bonus.panel.paymentmeans']}" />
										<h:selectOneMenu styleClass="select-input" id="pme"
											value="#{bonusController.idPaymentMeans}" required="true"
											requiredMessage="#{msgs.fieldRequired}">
											<f:selectItems value="#{bonusController.paymentMeans}"
												var="pm" itemLabel="#{pm.namePayment}"
												itemValue="#{pm.idPaymentMeans}"
												itemDescription="#{pm.namePayment}" />
											<p:ajax listener="#{bonusController.onChangePaymentMeans}"
												event="change" update="@form" />
										</h:selectOneMenu>
										<!-- BONOS DISPONIBLES -->
										<h:outputText
											value="#{msgs['bonus.panel.availableBonusAmount']}" />
										<h:selectOneMenu styleClass="select-input"
											value="#{bonusController.virtualCardAmountSelected}"
											required="true" requiredMessage="#{msgs.fieldRequired}">
											<f:selectItem itemLabel="$50.000" itemValue="50000" />
											<f:selectItem itemLabel="$100.000" itemValue="100000" />
										</h:selectOneMenu>
									</p:panelGrid>
									<!--//////////////////////////////////////////////////////////////////////////  -->
									<!-- CUANDO EL BENEFICIARIO  ES NUEVO   -->
									<!--//////////////////////////////////////////////////////////////////////////  -->
									<p:panelGrid id="pnlNewBeneficiaryData" columns="2"
										rendered="#{bonusController.renderNewBeneficiaryDataPanel}">
										<!-- LOGIN -->
										<h:outputText value="#{msgs['bonus.panel.login']}" />
										<p:inputText id="newBeneficiaryLogin"
											value="#{bonusController.beneficiaryUser.login}"
											required="true" requiredMessage="#{msgs.fieldRequired}">
											<p:message for="newBeneficiaryLogin" />
											<f:validator validatorId="cps.LoginValidator" />
										</p:inputText>
										<!-- EMAIL -->
										<h:outputText value="#{msgs['registerEmail']}" />
										<p:inputText id="newBeneficiaryEmail"
											value="#{bonusController.beneficiaryUser.email}"
											required="true" requiredMessage="#{msgs.fieldRequired}">
											<p:message for="newBeneficiaryEmail" />
											<f:validator validatorId="cps.EmailExistValidator" />
											<f:validator validatorId="cps.EmailValidator" />
										</p:inputText>
										<!-- NOMBRE -->
										<h:outputText value="#{msgs['registerName']}" />
										<p:inputText value="#{bonusController.beneficiaryUser.name}"
											id="newBeneficiaryName" required="true"
											requiredMessage="#{msgs.fieldRequired}">
											<p:message for="newBeneficiaryName" />
										</p:inputText>
										<!-- APELLIDO -->
										<h:outputText value="#{msgs['registerLastName']}" />
										<p:inputText
											value="#{bonusController.beneficiaryUser.lastName}" />
										<!-- TELEFONO -->
										<h:outputText value="#{msgs['registerMsisdn']}" />
										<p:inputMask id="newBeneficiaryMsisdn"
											value="#{bonusController.beneficiaryUser.favoriteMsisdn}"
											required="true" requiredMessage="#{msgs.fieldRequired}"
											mask="(999) 999-9999">
											<p:message for="newBeneficiaryMsisdn" />
											<f:converter converterId="celPhoneConverter" />
											<f:validator validatorId="cps.MsisdnExistValidator" />
										</p:inputMask>
										<!-- PAIS -->
										<h:outputText value="#{msgs['registerCountry']}" />
										<h:selectOneMenu styleClass="select-input"
											value="#{bonusController.idBeneficiaryCountry}"
											required="true" requiredMessage="#{msgs.fieldRequired}"
											id="registerBeneficiaryCountry">
											<f:selectItems value="#{bonusController.listSelectCountries}"
												var="country" itemLabel="#{country.name}"
												itemValue="#{country.idcountry}"
												itemDescription="#{country.name}" />
											<p:ajax
												listener="#{bonusController.onChangeBeneficiaryCountry}"
												event="change" update="@parent:registerBeneficiaryCity" />
											<p:message for="registerBeneficiaryCountry" />
										</h:selectOneMenu>
										<!-- CIUDAD -->
										<h:outputText value="#{msgs['registerCity']}" />
										<h:selectOneMenu value="#{bonusController.idBeneficiaryCity}"
											id="registerBeneficiaryCity" required="true"
											requiredMessage="#{msgs.fieldRequired}">
											<f:selectItems value="#{bonusController.beneficiaryCities}"
												var="cityBeneficiary" itemLabel="#{cityBeneficiary.name}"
												itemValue="#{cityBeneficiary.idcity}"
												itemDescription="#{cityBeneficiary.name}" />
											<p:ajax event="change"
												listener="#{bonusController.onChangeBeneficiaryCity}" />
											<p:message for="registerBeneficiaryCity" />
										</h:selectOneMenu>
										<!-- MENSAJE -->
										<h:outputText value="#{msgs['bonus.panel.message']}" />
										<p:inputTextarea rows="10"
											value="#{bonusController.card.message}" />
										<!-- MEDIO DE PAGO -->
										<h:outputText value="#{msgs['bonus.panel.paymentmeans']}" />
										<h:selectOneMenu styleClass="select-input" id="pmn"
											value="#{bonusController.idPaymentMeans}" required="true"
											requiredMessage="#{msgs.fieldRequired}">
											<f:selectItems value="#{bonusController.paymentMeans}"
												var="pm" itemLabel="#{pm.namePayment}"
												itemValue="#{pm.idPaymentMeans}"
												itemDescription="#{pm.namePayment}" />
											<p:ajax listener="#{bonusController.onChangePaymentMeans}"
												event="change" />
										</h:selectOneMenu>
										<!-- BONOS DISPONIBLES -->
										<h:outputText
											value="#{msgs['bonus.panel.availableBonusAmount']}" />
										<h:selectOneMenu styleClass="select-input"
											value="#{bonusController.virtualCardAmountSelected}"
											required="true" requiredMessage="#{msgs.fieldRequired}">
											<f:selectItem itemLabel="$50.000" itemValue="50000" />
											<f:selectItem itemLabel="$100.000" itemValue="100000" />
										</h:selectOneMenu>
									</p:panelGrid>

								</div>

								<!-- BOTON  REGISTRAR BENEFICIARIO 
									Desactiva el panel de los datos del beneficiario para 
									activar el panel de los datos del comprador
								-->
								<div class="field">
									<p:commandButton value="#{msgs['registerButton']}"
										id="registerBeneficiary"
										actionListener="#{bonusController.onRegisterBeneficiary}"
										update="@form" />

									<!-- BOTON VOLVER AL COMPRADOR -->

									<p:commandButton value="#{msgs['bonus.panel.backtocustomer']}"
										id="btnBackToCustomer"
										actionListener="#{bonusController.onBackToCustomer()}"
										update="@form" process="@this" />

								</div>

							</p:tab>
							<!-- VISUALIZAR LOS RESULTADOS ANTES DE GRABARLOS -->
							<p:tab title="#{msgs['bonus.panel.confirm.tabheader']}"
								disabled="#{bonusController.pnlConfirmDisabled}">
								<p:panelGrid columns="2"
									rendered="#{bonusController.renderConfirmPanel}">
									<!-- INFORMACION DEL COMPRADOR A CONFIRMAR -->
									<p:panelGrid columns="2">
										<f:facet name="header">
											<h:outputText value="#{msgs['bonus.panel.customer']}" />
										</f:facet>
										<h:outputText value="#{msgs['bonus.panel.login']}" />
										<h:outputText value="#{bonusController.customerUser.login}" />
										<h:outputText value="#{msgs['registerEmail']}" />
										<h:outputText value="#{bonusController.customerUser.email}" />
										<h:outputText value="#{msgs['registerName']}" />
										<h:outputText value="#{bonusController.customerUser.name}" />
										<h:outputText value="#{msgs['registerLastName']}" />
										<h:outputText value="#{bonusController.customerUser.lastName}" />
										<h:outputText value="#{msgs['registerMsisdn']}" />
										<h:outputText
											value="#{bonusController.customerUser.favoriteMsisdn}" />
										<h:outputText value="#{msgs['registerCountry']}" />
										<h:outputText
											value="#{bonusController.customerUser.city.country.name}" />
										<h:outputText value="#{msgs['registerCity']}" />
										<h:outputText
											value="#{bonusController.customerUser.city.name}" />
									</p:panelGrid>

									<!-- INFORMACION DEL BENEFICIARIO A CONFIRMAR -->

									<p:panelGrid columns="2">
										<f:facet name="header">
											<h:outputText value="#{msgs['bonus.panel.beneficiary']}" />
										</f:facet>
										<h:outputText value="#{msgs['bonus.panel.login']}" />
										<h:outputText value="#{bonusController.beneficiaryUser.login}" />
										<h:outputText value="#{msgs['registerEmail']}" />
										<h:outputText value="#{bonusController.beneficiaryUser.email}" />
										<h:outputText value="#{msgs['registerName']}" />
										<h:outputText value="#{bonusController.beneficiaryUser.name}" />
										<h:outputText value="#{msgs['registerLastName']}" />
										<h:outputText
											value="#{bonusController.beneficiaryUser.lastName}" />
										<h:outputText value="#{msgs['registerMsisdn']}" />
										<h:outputText
											value="#{bonusController.beneficiaryUser.favoriteMsisdn}" />
										<h:outputText value="#{msgs['registerCountry']}" />
										<h:outputText
											value="#{bonusController.beneficiaryUser.city.country.name}" />
										<h:outputText value="#{msgs['registerCity']}" />
										<h:outputText
											value="#{bonusController.beneficiaryUser.city.name}" />
										<h:outputText value="#{msgs['bonus.panel.message']}" />
										<h:outputText value="#{bonusController.card.message}" />
										<h:outputText value="#{msgs['bonus.panel.paymentmeans']}" />
										<h:outputText
											value="#{bonusController.paymentMeansSelected.namePayment}" />
										<h:outputText value="#{msgs['bonus.panel.bonusAmount']}" />
										<h:outputText
											value="#{bonusController.virtualCardAmountSelected}" />
									</p:panelGrid>

								</p:panelGrid>
								<br />
								<!-- BOTON DE CONFIRMAR INFORMACION DE BRENEFICIARIO Y COMPRADO
								-->
								<div class="field">
									<p:commandButton value="#{msgs['registerButton']}"
										id="confirmData" oncomplete="PF('dlgBonusSucessful').show()"
										actionListener="#{bonusController.onConfirmFormData()}"
										process="@this">
										<p:confirm header="#{msgs['bonus.dialog.attention']}"
											message="#{msgs['bonus.dialog.attentionmessage']}"
											icon="ui-icon-alert" />
										<p:confirmDialog global="true" showEffect="fade"
											hideEffect="explode">
											<p:commandButton value="#{msgs['driver.user.driverSoatYes']}"
												onclick="onclickToReload();"
												type="button" styleClass="ui-confirmdialog-yes"
												icon="ui-icon-check" />
											<p:commandButton value="#{msgs['driver.user.driverSoatNo']}"
												onclick="onclickToReload();"
												type="button" styleClass="ui-confirmdialog-no"
												icon="ui-icon-close" />
										</p:confirmDialog>
									</p:commandButton>

									<!-- BOTON VOLVER AL COMPRADOR -->

									<p:commandButton value="#{msgs['bonus.panel.backtocustomer']}"
										id="btnBackToCustomerFromconfirmation"
										actionListener="#{bonusController.onBackToCustomer()}"
										update="@form" process="@this" />

									<!-- BOTON VOLVER AL BENEFICIARIO -->

									<p:commandButton
										value="#{msgs['bonus.panel.backtobeneficiary']}"
										id="btnBackToBeneficiaryFromconfirmation"
										actionListener="#{bonusController.onBackToBeneficiary()}"
										update="@form" process="@this" />

								</div>


							</p:tab>

						</p:accordionPanel>
					</fieldset>
					<p:dialog modal="true" widgetVar="dlgBonusSucessful"
						showEffect="explode" hideEffect="bounce" height="100">
						<div class="field">
							<h:outputText value="#{msgs['bonus.dialog.sucessful']}" />
						</div>
						<div class="field">
							<p:commandButton value="#{msgs['subZone.okButton']}"
								onclick="onclickToReload();"
								actionListener="#{bonusController.resetForm()}" process="@this" />
						</div>
					</p:dialog>
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>