<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript"
			src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->

		<div class="container">
			<div class="inside">
				<div>
					<h5>
						<h:outputText
							value="#{msgs['commerce.branch.menu.registerpayment']}" />
					</h5>
				</div>
				<h:form id="contact-form">
					<p:growl id="growl" showSummary="true" life="3000" />
					<fieldset>
						<div class="field">
							<p:inputText id="txtIdentification"
								value="#{commerceBranchPaymentsController.identificationEntered}"
								required="true" requiredMessage="Identificacion requerida" />
							<p:message for="txtIdentification" />
							<p:watermark for="txtIdentification"
								value="#{msgs['commerce.branch.form.watermark.identificationmessage']}" />
							<br />
							<p:commandButton id="btnFindTelsForGivenIdentification"
								actionListener="#{commerceBranchPaymentsController.findTelsForGivenIdentification()}"
								value="#{msgs['myHistory.search']}" update="@form" />

							<p:blockUI block="@form"
								trigger="btnFindTelsForGivenIdentification" />
						</div>
						<!-- TRANSACTION DATA PANEL -->
						<p:panel id="pnlTransactionData">
							<p:panel id="pnlUserName" header="#{msgs['cbpm.userName']}"
								rendered="#{not empty commerceBranchPaymentsController.sysUserNameForSelectedId}">
								<br />
								<h:outputText style="font-weight: bold; font-size:large"
									value="#{commerceBranchPaymentsController.sysUserNameForSelectedId}" />
							</p:panel>
							<br />
							<!-- OPERATION TYPE -->
							<p:panel id="operationType"
								header="#{msgs['cbpm.operationType']}"
								rendered="#{not empty commerceBranchPaymentsController.sysUserNameForSelectedId}">
								<p:selectOneRadio id="radOperationType" immediate="true"
									value="#{commerceBranchPaymentsController.operationType}">
									<f:selectItem itemLabel="#{msgs['cbpm.pay']}" itemValue="PAGO" />
									<f:selectItem itemLabel="#{msgs['cbpm.withdraw']}"
										itemValue="RETIRO" />
									<f:selectItem itemLabel="#{msgs['cbpm.transaction']}"
										itemValue="RECARGA" />
									<p:ajax update="contact-form:pnlTransactionData"
										event="valueChange" />
								</p:selectOneRadio>
							</p:panel>
							<p:blockUI block="msisdnsPanel" trigger="radOperationType" />
							<br />
							<!-- PANEL DE TELEFONOS -->
							<p:panel id="msisdnsPanel"
								header="#{msgs['cbpm.chooseContactNumber']}">
								<p:dataTable var="m"
									value="#{commerceBranchPaymentsController.msisdnsKeysForSelectedId}"
									selection="#{commerceBranchPaymentsController.msisdnSelected}"
									rowKey="#{m}" emptyMessage="No se entontraron registros">
									<p:ajax event="rowSelectRadio"
										update="contact-form:pnlTransactionData" />
									<p:column id="tblMsisdnCol" selectionMode="single">
										<h:outputText style="margin-left: 10px;" value="#{m}">
										</h:outputText>
									</p:column>
								</p:dataTable>
							</p:panel>
							<br />
							<p:panel id="contactWay" header="#{msgs['cbpm.contactMedia']}"
								rendered="#{not empty commerceBranchPaymentsController.msisdnSelected}">
								<p:panelGrid columns="2">
									<p:selectOneRadio immediate="true"
										value="#{commerceBranchPaymentsController.contactUserWaySelected}">
										<!-- 										<f:selectItem itemDisabled="#{commerceBranchPaymentsController.operationType == 'RECARGA'}"  itemLabel="SMS" itemValue="SMS" /> -->
										<!-- 										<f:selectItem itemDisabled="#{commerceBranchPaymentsController.operationType == 'RECARGA'}"  itemLabel="LLAMADA" itemValue="LLAMADA" /> -->
										<f:selectItem itemLabel="APP" itemValue="APP" />
										<p:ajax update="contact-form:pnlTransactionData"
											event="valueChange" />
									</p:selectOneRadio>
									<!-- Pocket -->
									<p:panel
										rendered="#{(not empty  commerceBranchPaymentsController.contactUserWaySelected  
																	and commerceBranchPaymentsController.contactUserWaySelected != 'APP')
																	or 
																	(not empty  commerceBranchPaymentsController.contactUserWaySelected 
																	 and commerceBranchPaymentsController.contactUserWaySelected == 'APP' 
																	 and commerceBranchPaymentsController.operationType == 'RECARGA' ) }">
										<h:selectOneMenu styleClass="select-input"
											value="#{commerceBranchPaymentsController.selectedPocketId}"
											id="customerPockets">
											<p:ajax
												listener="#{commerceBranchPaymentsController.changeCustomerPocket()}"
												event="change" process="@this" />
											<f:selectItem itemLabel="#{msgs['cbpm.selectPocket']}" />
											<f:selectItems
												value="#{(commerceBranchPaymentsController.operationType == 'RECARGA' 
												and  commerceBranchPaymentsController.contactUserWaySelected == 'APP') 
												? commerceBranchPaymentsController.pocketsEnabledForCommerceBranch 
												: commerceBranchPaymentsController.customerPockets}"
												var="cp" itemLabel="#{cp.description}"
												itemValue="#{cp.pocketId}"
												itemDescription="#{cp.description}" />
										</h:selectOneMenu>
									</p:panel>

								</p:panelGrid>

							</p:panel>
							<br />
							<p:panel id="pnlSendPayment"
								header="#{msgs['cbpm.transactionAmount']}"
								rendered="#{not empty commerceBranchPaymentsController.contactUserWaySelected}">
								<pe:inputNumber id="txtPaymentAmount"
									value="#{commerceBranchPaymentsController.paymentAmount}"
									symbol="$ " decimalSeparator="," thousandSeparator="."
									emptyValue="" required="true"
									requiredMessage="Debe digitar el valor a cobrar" />
								<p:message for="txtPaymentAmount" />
								<br />
								<!-- CONFIRMACION DE LOS DATOS DE LA TRANSACCION -->
								<p:commandButton id="btnSendToServer" process="pnlSendPayment"
									update="pnlSendPayment"
									rendered="#{not empty commerceBranchPaymentsController.contactUserWaySelected}"
									actionListener="#{commerceBranchPaymentsController.confirmPaymentData()}"
									value="#{msgs['cbpm.confirm']}">
								</p:commandButton>

								<!-- MODULE DIALOGS -->

								<!-- INSUFFICIENTFOUNDS DIALOG  -->
								<p:dialog widgetVar="insufficientfunds" header="ERROR">
									<div style="display: inline-block;">
										<h:outputText value="#{msgs['cbpm.insufficientFounds']}" />
									</div>
									<br />
									<div style="display: inline-block;">
										<p:commandButton value="Ok"
											onclick="onclickToReload() ; PF('insufficientfunds').hide()" />
									</div>
								</p:dialog>

								<!-- 80 PERCENT MAX WITHDRAW DIALOG   -->
								<p:dialog widgetVar="maxwithdrawreached" header="ERROR">
									<div style="display: inline-block;">
										<h:outputText value="#{msgs['cbpm.maxAmountReached']}" />
									</div>
									<br />
									<div style="display: inline-block;">
										<p:commandButton value="Ok"
											onclick="onclickToReload() ; PF('maxwithdrawreached').hide()" />
									</div>
								</p:dialog>

								<!-- TRANSACTION DATA CONFIRMATION DIALOG -->
								<p:dialog header="#{msgs['cbpm.tranactionConfirmation']}"
									id="idConfirmPaymentData" style="text-align:center;"
									widgetVar="dlgConfirmPaymentData" showEffect="explode"
									hideEffect="bounce" height="100">
									<div style="display: inline-block;">
										<h:outputText value="#{msgs['cbpm.paymentConfirm']}" />
									</div>
									<br></br>
									<div style="display: inline-block;">
										<p:outputLabel style="font-size:large"
											value="#{commerceBranchPaymentsController.paymentAmount}">
											<f:convertNumber pattern="$ #,##0 pesos ?" />
										</p:outputLabel>
									</div>
									<br></br>
									<div style="display: inline-block;">
										<p:commandButton value="Confirmar"
											onclick="onclickToReload() ;" update="idTransactionReceived"
											actionListener="#{commerceBranchPaymentsController.sendPaymentDataToServer()}"
											oncomplete="PF('dlgConfirmPaymentData').hide()" />
										<p:commandButton onclick="onclickToReload();"
											value="#{msgs['cbpm.cancelTransaction']}"
											actionListener="#{commerceBranchPaymentsController.resetForm()}" />
									</div>
								</p:dialog>

								<!-- 	WSECURITY  TRANSACTION RECEIVED DIALOG -->
								<p:dialog header="#{msgs['cbpm.transactionCodeConfirm']}"
									style="text-align:center;" widgetVar="dlgIdTransactionReceived"
									id="idTransactionReceived" showEffect="explode"
									hideEffect="bounce" height="80px" width="400px">
									<div style="display: inline-block;">
										<!-- CONFIRMATION CODE -->
										<p:password maxlength="4" size="4"
											style="display: inline-block;"
											value="#{commerceBranchPaymentsController.authorizationCode}" />
									</div>
									<br></br>
									<br></br>
									<div style="display: inline-block;">
										<p:commandButton value="Confirmar"
											onclick="onclickToReload();"
											actionListener="#{commerceBranchPaymentsController.sendAuthorizationCode()}"
											oncomplete="PF('dlgIdTransactionReceived').hide()"
											update="growl" />
									</div>
								</p:dialog>

								<!-- TRANSACTION ACCEPTED DIALOG -->
								<p:dialog widgetVar="dlgCodeAccepted" id="transactionAccepted"
									modal="true" style="text-align:center;">
									<p:ajax event="close" update="@form"
										listener="#{commerceBranchPaymentsController.resetForm()}" />
									<div style="display: inline-block;">
										<p:outputLabel
											value="#{msgs['cbpm.confirmAccepted']} TI:#{commerceBranchPaymentsController.transactionId}"></p:outputLabel>
									</div>
									<br></br>
									<div style="display: inline-block;">
										<p:commandButton value="OK"
											onclick="onclickToReload() ; PF('dlgCodeAccepted').hide()" />
									</div>
								</p:dialog>

								<!-- TRANSACTION NOTIFICATION DIALOG -->
								<p:dialog widgetVar="dlgTransactionResult"
									id="transactionResult" modal="true" style="text-align:center;">
									<p:ajax event="close" update="@form"
										listener="#{commerceBranchPaymentsController.resetForm()}" />
									<div style="display: inline-block;">
										<p:outputLabel
											value="Resultado :#{commerceBranchPaymentsController.transactionResult}"></p:outputLabel>
									</div>
									<br></br>
									<div style="display: inline-block;">
										<p:outputLabel
											value="TI:#{commerceBranchPaymentsController.transactionId}"></p:outputLabel>
									</div>

									<br></br>
									<div style="display: inline-block;">

										<p:commandLink id="linkRejectedTransaction"
											rendered="#{commerceBranchPaymentsController.pdfStreamByteArray == null}"
											styleClass="link1" value="OK"
											onclick="onclickToReload() ; PF('dlgTransactionResult').hide() ;" ajax="true"
											immediate="false">
										</p:commandLink>

										<p:commandLink id="linkPrintTicket" target="_blank"
											rendered="#{commerceBranchPaymentsController.pdfStreamByteArray != null}"
											styleClass="link1"
											value="#{msgs['paymentHistory.buttoncaption.printticket']}"
											onclick="setTimeout(function(){onclickToReload() ; PF('dlgTransactionResult').hide() ;}, 1000)"
											action="#{commerceBranchPaymentsController.printTransactionTicket()}"
											ajax="false" immediate="false">
										</p:commandLink>
									</div>
								</p:dialog>

								<!--TRANSACTION REJECTED DIALOG-->
								<p:dialog header="ERROR" widgetVar="dlgCodeRejected"
									id="transactionRejected" modal="true"
									style="text-align:center;">
									<p:ajax event="close" update="@form"
										listener="#{commerceBranchPaymentsController.resetForm()}" />
									<div style="display: inline-block;">
										<p:outputLabel value="#{msg['cbpm.confirmRejected']}"></p:outputLabel>
									</div>
									<br></br>
									<div>
										<p:commandButton value="OK" style="display: inline-block;"
											onclick="onclickToReload(); PF('dlgCodeRejected').hide()" />
									</div>
								</p:dialog>

								<!-- DIALOGO QUE NOTIFICA AL CAJERO UNA TRANSACCION POR APLICACION RECIBIDA 
									Y ESPERANDO ACEPTACION DEL USUARIO  -->
								<p:dialog widgetVar="dlgTransactionRequestReceivedByServer"
									modal="true" style="text-align:center;">
									<div style="display: inline-block;">
										<p:outputLabel value="#{msgs['cbpm.confirmWaiting']}"></p:outputLabel>
									</div>
									<br></br>
									<div style="display: inline-block;">
										<p:commandButton value="OK"
											onclick="onclickToReload() ; PF('dlgTransactionRequestReceivedByServer').hide()" />
									</div>
								</p:dialog>
								<!-- 	DIALOGO DE CONFIRMACION PARA CANCELAR 
							LA TRNSACCION DESDE EL FORMULARIO PRINCIPAL   -->
								<p:commandButton id="btnCancel"
									rendered="#{not empty commerceBranchPaymentsController.contactUserWaySelected}"
									actionListener="#{commerceBranchPaymentsController.resetForm}"
									immediate="true" value="#{msgs['cbpm.cancel']}">
									<p:resetInput target="@form" />
									<p:confirm header="#{msgs['cbpm.atention']}"
										message="#{msgs['cbpm.cancelConfirm']}" icon="ui-icon-alert" />
								</p:commandButton>
								<!-- 	PLANTILLA DE DIALOGO CONFIRMATORIO -->
								<p:confirmDialog global="true" showEffect="fade"
									id="confirmDialog" hideEffect="explode">
									<p:commandButton onclick="onclickToReload() ;" value="#{msgs['cbpm.yes']}" type="button"
										styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
									<p:commandButton onclick="onclickToReload() ;" value="#{msgs['cbpm.no']}" type="button"
										styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								</p:confirmDialog>
							</p:panel>
						</p:panel>
						<!-- METODOS DEL BACKINBEAN DISPONIBLES PARA EL CODIGO JAVASCRIPT -->
						<p:remoteCommand name="bbPrepareAuthDataForJs" immediate="true"
							actionListener="#{commerceBranchPaymentsController.wsPrepareAuthDataForJs()}"
							oncomplete="wcs.wsSetAuthData(xhr, status, args)" />

						<p:remoteCommand name="bbPrepareTransactionDataForJs"
							immediate="true"
							actionListener="#{commerceBranchPaymentsController.wsPrepareTransactionDataForJs()}"
							oncomplete="wcs.wsSetTransactionData(xhr, status, args)" />

						<p:remoteCommand name="bbSuccessTransactionResponseListener"
							immediate="true"
							actionListener="#{commerceBranchPaymentsController.wsSuccessTransactionResponseListener()}" />

						<p:remoteCommand name="bbNotifyAceptReject" immediate="true"
							update=":contact-form:transactionResult"
							actionListener="#{commerceBranchPaymentsController.wsShowAcceptRejectMessage()}"
							oncomplete="PF('dlgTransactionResult').show()" />

						<!--JAVASCRIPT DE CONEXION AL WEBSOCKET -->
						<h:outputScript target="head"
							name="websocket/client/cbpaymentmanager/wsClientSecure.js">
						</h:outputScript>
					</fieldset>

				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>