<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">

		<style type="text/css">
.ui-datatable table {
	border-collapse: collapse;
	/*  width: 100%;  */
	table-layout: auto;
}

.ui-datatableov table {
	border-collapse: collapse;
	/*  width: 100%;  */
	table-layout: fixed;
}
</style>
		<script type="text/javascript">  
		//<![CDATA[
    function handleLoginRequest(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  


    function handleRefresh(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  

    function handleDialogSubmit(xhr, status, args, dialog) {
		if (!args.validationFailed) {
			console.log(dialog);
			PF(dialog).hide(); 
		} else {
			jQuery(".ui-dialog.ui-overlay-visible").effect("shake", {
				times : 1
			}, 100);
		}
	}
    //]]>
</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<fieldset>
					<div>
						<h5>
							<h:outputText value="#{msgs['commerce.branch.title']}" />
						</h5>
						<div style="clear: both;"></div>

					</div>

					<br></br>
					<p:growl id="growl" showSummary="true" life="3000" />
					<h:form id="formCommerce">
						<div class="field">
							<p:outputLabel for="idCommmerce"
								value="#{msgs['commerce.branch.selectCommerce']}" />
						</div>
						<div class="field">
							<h:selectOneMenu style="width: 350px;" 
								id="idCommmerce" value="#{commerceBranchController.idCommerce}">
								<f:selectItem itemValue="-1" itemLabel=""></f:selectItem>
								<f:selectItems value="#{commerceBranchController.commerces}"
									var="commerce" itemLabel="#{commerce.name}"
									itemValue="#{commerce.idCommerce}"
									itemDescription="#{commerce.name}" />
								<p:ajax listener="#{commerceBranchController.changeCommerce}"
									event="change" update="commerceTable newUserLink" process="@this" />
							</h:selectOneMenu>
						</div>
						<br />
						<div class="field">
							<p:commandLink id="newUserLink" styleClass="link"
								disabled="#{commerceBranchController.idCommerce==null or  commerceBranchController.idCommerce ==-1}"
								value="[#{msgs['commerce.branch.new']}]"
								update=":dialogAddCommerce :formAddCommerce" type="button"
								oncomplete="PF('dlgAddCommerce').show()">

								<f:setPropertyActionListener
									value="#{msgs['commerce.branch.new']}"
									target="#{commerceBranchController.addUpdateButton}" />
								<f:setPropertyActionListener
									value="#{msgs['commerce.branch.new']}"
									target="#{commerceBranchController.headerDialog}" />


							</p:commandLink>
						</div>
						<br />
						<p:dataTable id="commerceTable" var="commerceBranch"
							styleClass="ui-datatableov"
							value="#{commerceBranchController.commerceBranches}">
							<!-- 							scrollable="true" scrollWidth="100%" -->


							<p:column headerText="#{msgs['registerName']}" width="150">


								<h:outputText value="#{commerceBranch.name}" />


							</p:column>
							<p:column headerText="#{msgs['registerAddress']}" width="250">

								<h:outputText value="#{commerceBranch.address}" />

							</p:column>
							<p:column headerText="#{msgs['registerEmail']}" width="150">

								<h:outputText value="#{commerceBranch.email}" />

							</p:column>
							<!-- 							<p:column headerText="#{msgs['registerZoneLatitude']}" width="65"> -->

							<!-- 								<h:outputText -->
							<!-- 									value="#{commerceBranchController.commerceBranchLats[commerceBranch.idbranch]}" /> -->

							<!-- 							</p:column> -->
							<!-- 							<p:column headerText="#{msgs['registerZoneLongitude']}" -->
							<!-- 								width="65"> -->

							<!-- 								<h:outputText -->
							<!-- 									value="#{commerceBranchController.commerceBranchLongs[commerceBranch.idbranch]}" /> -->


							<!-- 							</p:column> -->
							<!-- 							<p:column headerText="#{msgs.registerCountry}" width="40"> -->

							<!-- 								<h:outputText value="#{commerceBranch.city.country.idcountry}" /> -->

							<!-- 							</p:column> -->
							<p:column headerText="#{msgs.registerCity}" width="80">

								<h:outputText value="#{commerceBranch.city.name}" />

							</p:column>

							<p:column headerText="#{msgs['commerce.branch.type']}" width="50">

								<p:commandButton update=":formCommerce:CBTypes"
									oncomplete="PF('commerceBranchTypeOP').show('#{component.clientId}')"
									icon="ui-icon-search" title="View">
									<f:setPropertyActionListener value="#{commerceBranch}"
										target="#{commerceBranchController.commerceBranch}" />
								</p:commandButton>
								<!-- 								<h:selectOneMenu converter="commerceBranchTypeConverter" -->
								<!-- 									id="registerType"> -->
								<!-- 									<f:selectItems value="#{commerceBranch.commerceBranchTypes}" -->
								<!-- 										var="commerceBranchType" -->
								<!-- 										itemLabel="#{commerceBranchType.name}" -->
								<!-- 										itemValue="#{commerceBranchType}" -->
								<!-- 										itemDescription="#{commerceBranchType.name}" /> -->
								<!-- 								</h:selectOneMenu> -->


							</p:column>

							<p:column headerText="#{msgs['commerce.status']}" width="70">



								<h:outputText value="#{commerceBranch.status}" />


							</p:column>
							<!-- headerText="#{msgs['myUser.register']}" -->
							<p:column style="text-align: right" width="100">
								<p:commandButton icon="ui-icon-person" title="Add User"
									process="@this" update=":formAttachUserCommerceBranch"
									oncomplete="PF('dlgAttachUserCommerceBranch').show()"
									style="width:30px;">
									<f:setPropertyActionListener value="#{commerceBranch}"
										target="#{commerceBranchController.commerceBranch}" />

								</p:commandButton>

								<p:commandButton icon="ui-icon-circle-minus" title="Delete"
									process="@this" update="@none"
									oncomplete="PF('confirmDeleteCommerce').show()"
									style="width:30px;">
									<f:setPropertyActionListener value="#{commerceBranch}"
										target="#{commerceBranchController.commerceBranch}" />


								</p:commandButton>

								<p:commandButton icon="ui-icon-gear" title="Information"
									process="@this"
									update=" :dialogAddCommerce :formAddCommerce :formCommerce:commerceTable"
									action="#{commerceBranchController.changeCountry}"
									oncomplete="PF('dlgAddCommerce').show()" style="width:30px;">
									<f:setPropertyActionListener value="#{commerceBranch}"
										target="#{commerceBranchController.commerceBranch}" />
									<f:setPropertyActionListener
										value="#{commerceBranch.position.y}"
										target="#{commerceBranchController.commerceLat}" />
									<f:setPropertyActionListener
										value="#{commerceBranch.position.x}"
										target="#{commerceBranchController.commerceLon}" />
									<f:setPropertyActionListener
										value="#{commerceBranch.city.idcity}"
										target="#{commerceBranchController.idCity}" />
									<f:setPropertyActionListener
										value="#{commerceBranch.city.idcountry}"
										target="#{commerceBranchController.idCountry}" />
									<f:setPropertyActionListener
										value="#{msgs['commerce.branch.modify']}"
										target="#{commerceBranchController.addUpdateButton}" />
									<f:setPropertyActionListener
										value="#{msgs['commerce.branch.modify.title']}"
										target="#{commerceBranchController.headerDialog}" />




								</p:commandButton>
							</p:column>

						</p:dataTable>
						<!-- 						overlay panel to show commerce branch types list -->
						<p:overlayPanel widgetVar="commerceBranchTypeOP" showEffect="fade"
							hideEffect="fade" dismissable="false" showCloseIcon="true">
							<p:dataTable var="cbtypes"
								value="#{commerceBranchController.commerceBranch.commerceBranchTypes}"
								id="CBTypes">

								<p:column width="50">

									<h:outputText value="#{cbtypes.idtype}" />
								</p:column>
								<p:column width="50">

									<h:outputText value="#{cbtypes.name}" />
								</p:column>

							</p:dataTable>
						</p:overlayPanel>
					</h:form>


					<h:form>

						<p:confirmDialog id="confirmDeleteCommerceDialog"
							message="#{msgs['commerce.branch.delete']}"
							header="#{msgs['commerce.branch.delete']}" severity="alert"
							widgetVar="confirmDeleteCommerce" modal="true">
							<p:commandButton process="@this" id="botonDeleteCommerce"
								onclick="onclickToReload();"
								value="#{msgs['commerce.branch.delete']}"
								actionListener="#{commerceBranchController.deleteCommerceBranch}"
								update=":formCommerce:commerceTable :growl"
								oncomplete="PF('confirmDeleteCommerce').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDeleteCommerce').hide();"
								type="button" />
						</p:confirmDialog>

						<p:confirmDialog id="confirmDetachUserDialog"
							message="#{msgs['commerce.branch.detach.user']}"
							header="#{msgs['commerce.branch.detach.title']}" severity="alert"
							widgetVar="confirmDetachUser" modal="true">
							<p:commandButton process="@this" id="botonDetachUser"
								onclick="onclickToReload();" value="Remover usuario"
								actionListener="#{commerceBranchController.detachCommerceUser}"
								update=":formAttachUserCommerceBranch:dialogAttachUserCommercegrid :growl"
								oncomplete="PF('confirmDetachUser').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDetachUser').hide();"
								type="button" />
						</p:confirmDialog>
					</h:form>


					<!-- ADD COMMERCE BRANCH DIALOG -->
					<p:dialog resizable="false" draggable="false"
						id="dialogAddCommerce"
						header="#{commerceBranchController.headerDialog}"
						widgetVar="dlgAddCommerce" width="450">
						<p:ajax event="close" update=":contact-form1 :dialogAddUser"
							listener="#{commerceBranchController.resetCommerceBranch}" />
						<h:form id="formAddCommerce">
							<p:growl id="growlCommerce" showSummary="true" life="3000" />


							<h:panelGrid id="formAddCommerceGrid" columns="2" cellpadding="5">

								<h:outputLabel value="#{msgs['registerName']}"
									for="registerNameCommerce" />
								<h:inputText styleClass="text-input" id="registerNameCommerce"
									required="true" requiredMessage="#{msgs.fieldRequired}"
									value="#{commerceBranchController.commerceBranch.name}" />

								<h:outputLabel value="#{msgs['registerAddress']}"
									for="registerAddressCommerce" />
								<h:inputText styleClass="text-input"
									id="registerAddressCommerce" required="true"
									requiredMessage="#{msgs.fieldRequired}"
									value="#{commerceBranchController.commerceBranch.address}" />


								<h:outputLabel value="#{msgs['registerEmail']}"
									for="registerEmailCommerce" />
								<h:inputText styleClass="text-input" maxlength="50"
									id="registerEmailCommerce" required="true"
									requiredMessage="#{msgs.fieldRequired}"
									value="#{commerceBranchController.commerceBranch.email}">
									<f:validator validatorId="cps.EmailValidator" />
								</h:inputText>

								<h:outputLabel value="#{msgs['registerZoneLatitude']}"
									for="registerLatCommerce" />
								<h:inputText styleClass="text-input" maxlength="10"
									id="registerLatCommerce" required="true"
									requiredMessage="#{msgs.fieldRequired}"
									value="#{commerceBranchController.commerceLat}">
									<f:validator
										validatorId="com.cps.jsf.validator.LatLonValidator" />
									<f:validateDoubleRange minimum="-90.0" maximum="90" />

								</h:inputText>

								<h:outputLabel value="#{msgs['registerZoneLongitude']}"
									for="registerLonCommerce" />
								<h:inputText styleClass="text-input" maxlength="10"
									id="registerLonCommerce" required="true"
									requiredMessage="#{msgs.fieldRequired}"
									value="#{commerceBranchController.commerceLon}">
									<f:validator
										validatorId="com.cps.jsf.validator.LatLonValidator" />
									<f:validateDoubleRange minimum="-180.0" maximum="180" />

								</h:inputText>



								<h:outputLabel value="#{msgs.registerCountry}"
									for="registerCountry" />
								<h:selectOneMenu id="registerCountry"
									value="#{commerceBranchController.idCountry}" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItem itemLabel="" itemValue=""></f:selectItem>
									<f:selectItems
										value="#{commerceBranchController.listCountries}"
										var="country" itemLabel="#{country.name}"
										itemValue="#{country.idcountry}"
										itemDescription="#{country.name}" />
									<p:ajax listener="#{commerceBranchController.changeCountry}"
										event="change" update="registerCity" process="@this" />
								</h:selectOneMenu>
								<h:outputLabel value="#{msgs.registerCity}" for="registerCity" />
								<h:selectOneMenu value="#{commerceBranchController.idCity}"
									id="registerCity" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItems value="#{commerceBranchController.listCities}"
										var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}"
										itemDescription="#{city.name}" />
								</h:selectOneMenu>

								<!-- branch types -->

								<h:outputLabel value="#{msgs['commerce.branch.type']}"
									for="registerType" />
								<p:selectCheckboxMenu id="menu"
									converter="commerceBranchTypeConverter"
									value="#{commerceBranchController.commerceBranch.commerceBranchTypes}"
									label="#{msgs['commerce.branch.type']}" filter="true"
									filterMatchMode="startsWith" panelStyle="width:250px">
									<f:attribute name="collectionType"
										value="java.util.LinkedHashSet" />
									<f:selectItems id="registerType"
										value="#{commerceBranchController.commerceBranchTypes}"
										var="commerceBranchType"
										itemLabel="#{commerceBranchType.name}"
										itemValue="#{commerceBranchType}"
										itemDescription="#{commerceBranchType.name}" />
								</p:selectCheckboxMenu>
								<!-- 								<h:selectOneMenu -->
								<!-- 									value="#{commerceBranchController.commerceBranchType}" -->
								<!-- 									id="registerType"> -->
								<!-- 									<f:selectItem itemLabel="Tipo"></f:selectItem> -->
								<!-- 									<f:selectItems -->
								<!-- 										value="#{commerceBranchController.commerceBranchTypes}" -->
								<!-- 										var="commerceBranchType" -->
								<!-- 										itemLabel="#{commerceBranchType.name}" -->
								<!-- 										itemValue="#{commerceBranchType.idtype}" -->
								<!-- 										itemDescription="#{commerceBranchType.name}" /> -->

								<!-- 								</h:selectOneMenu> -->

								<!-- /branch TYPES -->

								<h:outputLabel value="#{msgs['commerce.status']}"
									for="registerActive" />
								<h:selectOneMenu
									value="#{commerceBranchController.commerceBranch.status}"
									id="registerActive">
									<f:selectItem itemValue="A"
										itemLabel="#{msgs['commerce.status.A']}"></f:selectItem>
									<f:selectItem itemValue="I"
										itemLabel="#{msgs['commerce.status.I']}"></f:selectItem>
								</h:selectOneMenu>

								<f:facet name="footer">
									<p:commandButton onclick="onclickToReload();"
										value="#{commerceBranchController.addUpdateButton}"
										update=":formCommerce:commerceTable :formAddCommerce:formAddCommerceGrid formAddCommerce:growlCommerce"
										actionListener="#{commerceBranchController.addCommerceBranch}"
										oncomplete="handleDialogSubmit(xhr, status, args, 'dlgAddCommerce');">

									</p:commandButton>

									<!-- 									<p:commandButton -->
									<!-- 										value="#{commerceBranchController.addUpdateButton}" -->
									<!-- 										update=":formCommerce:commerceTable :formAddCommerce:formAddCommerceGrid formAddCommerce:growlCommerce" -->
									<!-- 										actionListener="#{commerceBranchController.addCommerceBranch}" -->
									<!-- 										oncomplete="handleDialogSubmit(xhr, status, args, 'dlgAddCommerce');"> -->

									<!-- 									</p:commandButton> -->


								</f:facet>
							</h:panelGrid>
						</h:form>
					</p:dialog>


					<!-- dialog attach user to commerce -->

					<h:form id="formAttachUserCommerceBranch">
						<p:dialog resizable="false" id="dialogAttachUserCommerce"
							header="#{msgs['commerce.branch.associate.user']}"
							widgetVar="dlgAttachUserCommerceBranch" width="850" modal="true"
							height="550">
							<p:ajax event="close" update=":contact-form1 :dialogAddUser"
								listener="#{commerceBranchController.cleanUserCommerce}" />
							<p:growl id="growl" showSummary="true" showDetail="true"
								life="3000" />
							<h5>
								<h:outputText value="#{msgs['commerce.branch.associate']}" />
							</h5>
							<h:panelGrid id="dialogAttachUserCommercegrid" columns="1"
								cellpadding="2">
								<!-- 																	actionListener="#{commerceBranchController.selectTypeUser}" -->

								<p:commandButton value="#{msgs['commerce.branch.associate']}"
									onclick="onclickToReload();"
									oncomplete="PF('commerceBranchUserAddDialog').show()"
									update=":formAddCommerce :formCommerce:commerceTable">
								</p:commandButton>

								<p:dataTable id="tbl" var="sysuser"
									value="#{commerceBranchController.commerceBranch.sysUserList}"
									paginator="true" rows="12" emptyMessage="Not info">

									<p:column>
										<f:facet name="header">
											<h:outputText value="CU" />
										</f:facet>
										<h:outputText value="#{sysuser.cu}" />
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{msgs['myUser.name']}" />
										</f:facet>
										<h:outputText value="#{sysuser.name} #{sysuser.lastName}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{msgs['myUser.favoriteMsisdn']}" />
										</f:facet>
										<h:outputText value="#{sysuser.favoriteMsisdn}">
											<f:convertNumber type="currency"></f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column style="width:32px">
										<f:facet name="header">
											<h:outputText value=" " />
										</f:facet>

										<p:column style="width:32px;text-align: center">
											<p:commandButton icon="ui-icon-circle-minus" title="Delete"
												onclick="onclickToReload();" process="@this" update="@none"
												oncomplete="PF('confirmDetachUser').show()"
												style="width:30px;">
												<f:setPropertyActionListener value="#{sysuser}"
													target="#{commerceBranchController.sysUser}" />
											</p:commandButton>
										</p:column>
										<!-- 										<p:commandButton title="Detail" -->
										<!-- 											update=":contact-form2:displayMore" -->
										<!-- 											oncomplete="PF('sysuserMoreDialog').show()" -->
										<!-- 											icon="ui-icon-plusthick"> -->
										<!-- 											<f:setPropertyActionListener value="#{sysuser}" -->
										<!-- 												target="#{commerceBranchController.sysUser}" /> -->
										<!-- 										</p:commandButton> -->
									</p:column>
								</p:dataTable>


							</h:panelGrid>
						</p:dialog>

					</h:form>
					<!-- end dialog attach user -->


					<!-- Add -->
					<p:dialog width="480" height="500"
						widgetVar="commerceBranchUserAddDialog" header="User"
						id="dialogAddUser" modal="true">

						<p:ajax event="close" update=":contact-form1 :dialogAddUser"
							listener="#{commerceBranchController.cleanUserCommerceLocal}" />
						<fieldset>
							<h5>
								<h:outputText value="#{msgs['commerce.branch.associate.user']}" />
							</h5>
						</fieldset>
						<!-- Form exist user -->
						<h:panelGroup id="formExistUserCheck">
							<h:panelGroup>
								<h:form prependId="false" id="contact-form1"
									styleClass="contact-form"
									rendered="#{commerceBranchController.formUserExists == false}">
									<fieldset>
										<p:messages showSummary="true" showDetail="true"
											globalOnly="true" />
										<h:panelGroup id="displayAddExistCheck">
											<div class="profileForm">

												<div class="column">
													<div class="field">
														<h:outputLabel value="#{msgs['myuser.criteria']}"
															for="sysuserMobileExist" />
														<h:inputText styleClass="text-input" maxlength="150"
															id="sysuserMobileExist"
															value="#{commerceBranchController.userCriteria}"
															required="false" requiredMessage="#{msgs.fieldRequired}" />
														<p:message for="sysuserMobileExist" />
													</div>
												</div>
												<div class="container buttonForm">
													<div class="fleft">
														<p:commandLink styleClass="link"
															onclick="onclickToReload();"
															value="[#{msgs.checkButton}]"
															actionListener="#{commerceBranchController.checkUser}"
															update=":formExistUser :formExistUserCheck :formNewUser" />
													</div>
												</div>
											</div>
										</h:panelGroup>
									</fieldset>
								</h:form>
								<!--  if exist user show form -->
								<h:panelGroup id="formExistUser">
									<h:form prependId="false" id="contact-form1-2"
										styleClass="contact-form"
										rendered="#{commerceBranchController.userType == 2}">
										<fieldset>
											<p:messages showSummary="true" showDetail="true"
												globalOnly="true" />
											<h:panelGroup id="displayAddExist">
												<div class="profileList">
													<div class="column">
														<div class="field">
															<h:outputText value="#{msgs['myuser.uc']} :" />
															<h:outputText id="sysuserCU"
																value="#{commerceBranchController.sysUser.cu}" />
														</div>
														<div class="field">
															<h:outputText value="#{msgs['registerEmail']} :" />
															<h:outputText id="sysuserEmail"
																value="#{commerceBranchController.sysUser.email}" />
														</div>
														<div class="field">
															<h:outputText value="#{msgs['myUser.name']} :" />
															<h:outputText id="sysuserName"
																value="#{commerceBranchController.sysUser.name}" />
														</div>
														<div class="field">
															<h:outputText value="#{msgs['myUser.lastname']} :" />
															<h:outputText id="sysuserLastName"
																value="#{commerceBranchController.sysUser.lastName}" />
														</div>

														<div class="field">
															<h:outputText value="#{msgs['myUser.favoriteMsisdn']} :" />
															<h:outputText id="sysuserPhone"
																value="#{commerceBranchController.sysUser.favoriteMsisdn}" />
														</div>
													</div>
												</div>
												<div class="container buttonForm">
													<div class="fleft">
														<p:commandLink styleClass="link"
															onclick="onclickToReload();" value="[#{msgs.addButton}]"
															actionListener="#{commerceBranchController.registerCommerceUser}"
															oncomplete="handleDialogSubmit(xhr, status, args, 'commerceBranchUserAddDialog')"
															update=":formAttachUserCommerceBranch:dialogAttachUserCommercegrid :formAttachUserCommerceBranch:growl :formAttachUserCommerceBranch:tbl" />
													</div>
												</div>
											</h:panelGroup>
										</fieldset>
									</h:form>
								</h:panelGroup>
								<!--  -->
							</h:panelGroup>
						</h:panelGroup>

						<!-- Form new user -->
						<h:panelGroup id="formNewUser">
							<h:form prependId="false" id="contact-form1-1"
								styleClass="contact-form"
								rendered="#{commerceBranchController.userType == 1}">
								<fieldset>
									<!-- 	<p:messages showSummary="true" showDetail="true" globalOnly="true" />  -->
									<h:panelGroup id="displayAdd">
										<div class="profileForm">
											<div class="column">
												<div class="field">
													<h:outputLabel value="#{msgs['registerEmail']}"
														for="sysuserEmailNew" />
													<h:inputText styleClass="text-input" maxlength="45"
														id="sysuserEmailNew"
														value="#{commerceBranchController.sysUser.email}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
														<f:validator validatorId="cps.EmailValidator" />
													</h:inputText>
													<p:message for="sysuserEmailNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs['myUser.name']}"
														for="sysuserNameNew" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="sysuserNameNew"
														value="#{commerceBranchController.sysUser.name}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="sysuserNameNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs['myUser.lastname']}"
														for="sysuserLastNameNew" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="sysuserLastNameNew"
														value="#{commerceBranchController.sysUser.lastName}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="sysuserLastNameNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs['registerIdentification']}"
														for="sysuserIdNew" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="sysuserIdNew"
														value="#{commerceBranchController.sysUser.login}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="sysuserIdNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs['myUser.favoriteMsisdn']}"
														for="sysuserPhoneNew" />
													<h:inputText styleClass="text-input" maxlength="15"
														id="sysuserPhoneNew"
														value="#{commerceBranchController.sysUser.favoriteMsisdn}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="sysuserPhoneNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCountry}"
														for="sysuserCountryNew" />
													<h:selectOneMenu
														value="#{commerceBranchController.idCountry}"
														id="sysuserCountryNew" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItem itemLabel="" itemValue=""></f:selectItem>
														<f:selectItems
															value="#{parametrosController.listCountries}"
															var="country" itemLabel="#{country.name}"
															itemValue="#{country.idcountry}"
															itemDescription="#{country.name}" />
														<p:ajax
															listener="#{commerceBranchController.changeUserCountry}"
															event="change" update="sysuserCityNew" process="@this" />
													</h:selectOneMenu>
													<p:message for="sysuserCountryNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCity}"
														for="sysuserCityNew" />
													<h:selectOneMenu value="#{commerceBranchController.idCity}"
														id="sysuserCityNew" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItems
															value="#{commerceBranchController.listCities}" var="city"
															itemLabel="#{city.name}" itemValue="#{city.idcity}"
															itemDescription="#{city.name}" />
													</h:selectOneMenu>
													<p:message for="sysuserCityNew" />
												</div>
											</div>
										</div>
										<div class="container buttonForm">
											<div class="fleft">
												<p:commandLink styleClass="link" value="[#{msgs.addButton}]"
													onclick="onclickToReload();"
													actionListener="#{commerceBranchController.registerCommerceUser}"
													oncomplete="handleDialogSubmit(xhr, status, args, 'commerceBranchUserAddDialog');"
													update=":formAttachUserCommerceBranch:dialogAttachUserCommercegrid :formAttachUserCommerceBranch:growl :formAttachUserCommerceBranch:tbl" />
											</div>
										</div>
									</h:panelGroup>
								</fieldset>
							</h:form>
						</h:panelGroup>
					</p:dialog>
					<!-- /Add -->


				</fieldset>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>
