<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">

		<style type="text/css">
.tabled tbody td {
	padding: 10px 20px;
	background: #fafafa;
	border: none !important;
}

.tabledata tbody td {
	padding: 10px 20px;
	background: #fafafa;
	border: 1px !important;
}

.tableInactivePockets {
	display: none;
}
</style>
		<script type="text/javascript">  
		//<![CDATA[
		function handleDialogSubmit(xhr, status, args, dialog) {
			if (!args.validationFailed) 
				{console.log(dialog);
				PF(dialog).hide(); 
			} else {
				jQuery(".ui-dialog.ui-overlay-visible").effect("shake", {
					times : 1
				}, 100);
			}
		}

		PrimeFaces.widget.FileUpload.prototype.reset = function() {
		    this.clearMessages();
		    return this.init(this.cfg);
		}

// 		PrimeFaces.widget.FileUpload.prototype.upload= function() {
// 		    this.uploadButton.click();
// 		    return this.init(this.cfg);
//		}
    function handleLoginRequest(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  


    function handleRefresh(xhr, status, args) {  
        if(args.validationFailed || !args.flag) {  
            jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
        } else {  
            PF('dlg').hide();  
            //jQuery('#loginLink').fadeOut();  
        }  
    }  
  //]]>
</script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<fieldset>
					<div>
						<h5>
							<h:outputText value="#{msgs['menu.myClient']}" />
						</h5>
						<div style="clear: both;"></div>
						<h:outputLink id="newUserLink" styleClass="link"
							rendered="#{sessionScope.userSession.idsysUserType == '1'}"
							value="javascript:void(0)" onclick="PF('dlg').show()" title="">
							<h:outputText value="[#{msgs['myClient.linkNew']}]" />

						</h:outputLink>
					</div>

					<br></br>
					<p:growl id="growl" showSummary="true" life="3000"
						globalOnly="true" />
					<h:form id="formClient" prependId="false">
						<p:dataTable id="tableClient" var="client"
							value="#{managerClientController.listClients}">
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['myClient.nameTitle']}" />
								</f:facet>
								<h:outputText value="#{client.name}" />
							</p:column>
							<!-- BORRAR CLIENTE -->
							<p:column style="width:32px;text-align: center"
								rendered="#{sessionScope.userSession.idsysUserType == '1'}">
								<p:commandButton icon="ui-icon-circle-minus" title="Delete"
									process="@this" update="@none"
									oncomplete="PF('confirmDelete').show()" style="width:30px;">
									<f:setPropertyActionListener value="#{client}"
										target="#{managerClientController.client}" />
								</p:commandButton>
							</p:column>
							<!-- CONFIGURAR CLIENTE -->
							<p:column style="width:32px;text-align: center">
								<p:commandButton icon="ui-icon-gear" title="Information"
									action="#{managerClientController.fillInfo}" process="@this"
									update=":tabviewid :tabviewid:formInfo:countryTree :tabviewid:formCommerce:commerceTable 
									:tabviewid:formPocket :tabviewid:formPocket:pocketTable"
									oncomplete="PF('dlgInfo').show()" style="width:30px;">
									<f:setPropertyActionListener value="#{client}"
										target="#{managerClientController.client}" />
								</p:commandButton>
							</p:column>


							<!-- EDITAR NOMBRE DE CLIENTE  -->
							<p:column style="width:32px;text-align: center"
								rendered="#{sessionScope.userSession.idsysUserType == '1'}">
								<p:commandButton icon="ui-icon-pencil" title="Edition"
									process="@this" update="dlgEditClientName"
									oncomplete="PF('wvEditClientName').show()" style="width:30px;">
									<f:setPropertyActionListener value="#{client}"
										target="#{clientEditorDialogController.clientToEdit}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>

						<p:dialog resizable="false" draggable="false" id="dialog"
							header="#{msgs['myClient.linkNew']}" widgetVar="dlg" width="450">
							<h:panelGrid id="dlgPanelGrid" columns="2" cellpadding="5">

								<h:outputLabel for="name"
									value="#{msgs['myClient.nameTitle']}: *" />
								<p:inputText value="#{managerClientController.client.name}"
									id="name" required="true"
									requiredMessage="#{msgs.fieldRequired}" />
								<f:facet name="footer">
									<p:commandButton onclick="onclickToReload();"
										value="#{msgs['myClient.register']}"
										update=":formClient:dlgPanelGrid :growl :formClient:tableClient  @parent"
										actionListener="#{managerClientController.registerClient}"
										oncomplete="handleLoginRequest(xhr, status, args)">

									</p:commandButton>
								</f:facet>
							</h:panelGrid>
						</p:dialog>

					</h:form>

					<!-- CREATE / EDIT POCKET-->
					<p:dialog
						header="#{managerClientController.pocketOperation == 'add' ?  msgs['pocket.add'] : msgs['pocket.edit']  }"
						widgetVar="wvAddPocket" id="dlgAddPocket" dynamic="true">
						<p:ajax event="close" update="dlgAddPocket"
							listener="#{pocketController.resetForm()}" />
						<h:form id="frmCreatePocket">
							<h:panelGrid columns="2" cellpadding="5" width="300">
								<!-- NOMBRE BOLSILLO -->
								<h:outputLabel value="#{msgs['pocket.name']}" for="pocketName"
									style="margin:10px 5px" />
								<p:inputText maxlength="50" styleClass="field" id="pocketName"
									value="#{pocketController.pocketName}" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<p:message showSummary="true" for="pocketName" />
								</p:inputText>
								<!-- TIPO DE  BOLSILLO -->
								<h:outputLabel value="#{msgs['pocket.type']}" for="pocketType"
									style="margin:10px 5px" />
								<h:selectOneMenu id="pocketType"
									value="#{pocketController.pocketTypeId}" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItem itemLabel="#{msgs['pocket.selectPocketType']}"
										itemValue="" noSelectionOption="true" />
									<f:selectItems value="#{pocketController.pocketTypes}"
										var="pocketType" itemLabel="#{pocketType.description}"
										itemValue="#{pocketType.idPocketType}"
										itemDescription="#{pocketType.description}" />
									<p:message showSummary="true" for="pocketType" />
								</h:selectOneMenu>
								<!-- NUMERO DE CUENTA-->
								<h:outputLabel value="#{msgs['pocket.account']}"
									for="pocketName" style="margin:10px 5px" />
								<p:inputText maxlength="50" styleClass="field"
									id="pocketAccount" value="#{pocketController.accountNumber}"
									required="true" requiredMessage="#{msgs.fieldRequired}">
									<f:validator validatorId="cps.PocketAccountValidator" />
									<p:message showSummary="true" for="pocketAccount" />
								</p:inputText>
								<!-- CREAR BOLSILLO -->
								<p:commandButton onclick="onclickToReload();"
									value="#{managerClientController.pocketOperation == 'add' ?  msgs['pocket.create'] : msgs['pocket.edit']  }"
									actionListener="#{managerClientController.confirmPocketCreation()}"
									update="
									:frmCreatePocket
									growl :comfirmPocketDialog
									">
								</p:commandButton>
							</h:panelGrid>
						</h:form>
					</p:dialog>


					<!-- DIALOGO PARA EDICION DE NOMBRE DE CLIENTE -->
					<p:dialog header="#{msgs['myClient.editTitle']}"
						widgetVar="wvEditClientName" id="dlgEditClientName">
						<p:ajax event="close" update="dlgEditClientName"
							listener="#{clientEditorDialogController.resetForm()}" />
						<h:form id="frmUpdateClientName">
							<h:panelGrid columns="2" cellpadding="5" width="300">
								<!-- NOMBRE DEL CLIENTE -->
								<h:outputLabel value="#{msgs['clientname.editor.clientname']}"
									for="clientName" style="margin:10px 5px" />
								<p:inputText maxlength="50" styleClass="field" id="clientName"
									value="#{clientEditorDialogController.clientToEdit.name}"
									required="true" requiredMessage="#{msgs.fieldRequired}">
									<p:message showSummary="true" for="clientName" />
								</p:inputText>
								<!-- ACTUALIZAR  CLIENTE -->
								<p:commandButton onclick="onclickToReload();"
									value="#{msgs['clientname.editor.updateclient']}"
									actionListener="#{clientEditorDialogController.confirmClientUpdate()}"
									update="
									:formClient
									growl
									">
								</p:commandButton>
							</h:panelGrid>
						</h:form>
					</p:dialog>

					<!-- DIALOGO DE CONFIRMACION CREACION DE BOLSILLO -->
					<p:confirmDialog header="#{msgs['zones.confirmation.msg']} "
						style="text-align:center;" severity="alert"
						id="comfirmPocketDialog"
						message="#{managerClientController.pocketOperation == 'add' ?  msgs['pocket.create.confirm.msg'] : msgs['pocket.edit.confirm.msg']  }"
						widgetVar="dlgConfirmPocketCreation" showEffect="explode"
						hideEffect="bounce">
						<h:form id="frmConfirmPocketCreation">
							<div style="display: inline-block;">
								<!-- SI -->
								<p:commandButton value="SI" onclick="onclickToReload();"
									update="
									:tabviewid:formInfo:countryTree  
									:tabviewid:formCommerce:commerceTable   
									:tabviewid:formPocket 
									:tabviewid:formPocket:pocketTable :formDlgSetupCommercePocket"
									actionListener="#{managerClientController.createPocket()}"
									oncomplete="PF('dlgConfirmPocketCreation').hide()" />
								<!-- NO -->
								<p:commandButton value="Cancelar" onclick="onclickToReload();"
									actionListener="#{pocketController.resetForm()}"
									oncomplete="PF('dlgConfirmPocketCreation').hide()" />
							</div>
						</h:form>
					</p:confirmDialog>





					<!-- MAIN DIALOG TAB SECTION 
					 TABS: 
					      - LOCATION
					      - ENTITY OR COMMERCES 
					      - POCKETS 
					      - USERS FOR CLIENTS -->
					<p:dialog resizable="false" draggable="false" id="dialogInfo"
						header="#{msgs['myClient.country.list']}" widgetVar="dlgInfo"
						width="950" modal="true">
						<p:ajax event="close" update=":contact-form1 :dialogAddUser"
							listener="#{managerClientController.cleanClient}" />
						<p:tabView id="tabviewid">
							<p:tab title="Localidades">
								<h:form id="formInfo">
									<h:panelGrid id="panelTree" columns="2" cellpadding="5">

										<p:treeTable id="countryTree"
											value="#{managerClientController.root}" var="treeitem">
											<p:column headerText="Nombre">
												<h:outputText value="#{treeitem.name}" />
											</p:column>
											<p:column headerText="Id">
												<h:outputText value="#{treeitem.id}" />
											</p:column>

											<p:column style="width:24px">
												<p:commandLink onclick="onclickToReload();"
													oncomplete="PF('addCityDlg').show()" title="View Detail"
													styleClass="ui-icon ui-icon-plusthick"
													rendered="#{treeitem.type eq 1}"
													action="#{managerClientController.changeCountry}"
													process="@this" update=":formDlgCIty:dialogAddCity">
													<f:setPropertyActionListener value="#{treeitem}"
														target="#{managerClientController.selectedItem}" />
												</p:commandLink>
											</p:column>
											<p:column style="width:24px">
												<p:commandLink onclick="onclickToReload();"
													oncomplete="PF('confirmDeleteCountry').show()"
													title="View Detail" styleClass="ui-icon ui-icon-closethick"
													rendered="#{treeitem.type eq 1}">
													<f:setPropertyActionListener value="#{treeitem}"
														target="#{managerClientController.selectedItem}" />
												</p:commandLink>
												<p:commandLink onclick="onclickToReload();"
													oncomplete="PF('confirmDeleteCity').show()"
													title="View Detail" styleClass="ui-icon ui-icon-closethick"
													rendered="#{treeitem.type eq 2}">
													<f:setPropertyActionListener value="#{treeitem}"
														target="#{managerClientController.selectedItem}" />
												</p:commandLink>
											</p:column>

										</p:treeTable>
										<f:facet name="footer">
											<p:commandButton onclick="onclickToReload();"
												value="#{msgs['myClient.country.add']}"
												oncomplete="PF('dlgAddCountry').show()">
											</p:commandButton>
										</f:facet>
									</h:panelGrid>
								</h:form>
							</p:tab>
							<p:tab title="#{msgs['commerce.title']}">
								<h:form id="formCommerce">
									<p:dataTable id="commerceTable" var="commerce"
										scrollable="true" scrollHeight="250"
										value="#{managerClientController.commerces}" editable="true">
										<!--  										<p:ajax event="rowEditInit" -->
										<!--                           			 	 listener="#{managerClientController.rowEditInit}"  -->
										<!--                            				 process="@this" -->
										<!--                           					  /> -->
										<p:ajax event="rowEdit"
											listener="#{managerClientController.onRowEdit}"
											update=":growl :tabviewid:formCommerce:commerceTable" />
										<p:ajax event="rowEditCancel"
											listener="#{managerClientController.onRowCancel}"
											update=":tabviewid:formCommerce:commerceTable" />
										<p:column headerText="Logo">
											<p:graphicImage height="50" width="50"
												value="../../../web/images#{commerce.imageURL}_large" />
										</p:column>
										<p:column headerText="#{msgs['registerName']}">

											<p:cellEditor>
												<f:facet name="output">
													<h:outputText value="#{commerce.name}" />
												</f:facet>
												<f:facet name="input">
													<p:inputText value="#{commerce.name}" />
												</f:facet>
											</p:cellEditor>

										</p:column>
										<p:column headerText="#{msgs['registerAddress']}">
											<p:cellEditor>
												<f:facet name="output">
													<h:outputText value="#{commerce.address}" />
												</f:facet>
												<f:facet name="input">
													<p:inputText value="#{commerce.address}" />
												</f:facet>
											</p:cellEditor>
										</p:column>
										<p:column headerText="#{msgs['registerEmail']}">
											<p:cellEditor>
												<f:facet name="output">
													<h:outputText value="#{commerce.email}" />
												</f:facet>
												<f:facet name="input">
													<p:inputText value="#{commerce.email}" />
												</f:facet>
											</p:cellEditor>
										</p:column>
										<p:column headerText="#{msgs['registerZoneLatitude']}">
											<p:cellEditor>
												<f:facet name="output">
													<h:outputText
														value="#{managerClientController.commerceLats[commerce.idCommerce]}" />
												</f:facet>
												<f:facet name="input" id="inputlat">
													<p:inputText converter="javax.faces.Double"
														value="#{managerClientController.commerceLats[commerce.idCommerce]}">
														<f:validateDoubleRange minimum="-90.0" maximum="90" />
													</p:inputText>
												</f:facet>
											</p:cellEditor>
										</p:column>
										<p:column headerText="#{msgs['registerZoneLongitude']}">
											<p:cellEditor>
												<f:facet name="output">
													<h:outputText
														value="#{managerClientController.commerceLongs[commerce.idCommerce]}" />
												</f:facet>
												<f:facet name="input" id="inputlon">
													<p:inputText converter="javax.faces.Double"
														value="#{managerClientController.commerceLongs[commerce.idCommerce]}">
														<f:validateDoubleRange minimum="-90.0" maximum="90" />
													</p:inputText>
												</f:facet>
											</p:cellEditor>

										</p:column>

										<p:column headerText="#{msgs.registerCountry}">

											<h:outputText value="#{commerce.city.country.name}" />

										</p:column>
										<p:column headerText="#{msgs.registerCity}">

											<h:outputText value="#{commerce.city.name}" />

										</p:column>
										<p:column headerText="#{msgs['commerce.status']}">
											<p:cellEditor>

												<f:facet name="output">
													<h:outputText value="#{commerce.status}" />
												</f:facet>
												<f:facet name="input">
													<h:selectOneMenu value="#{commerce.status}"
														id="registerActive">
														<f:selectItem itemValue="A"
															itemLabel="#{msgs['commerce.status.A']}"></f:selectItem>
														<f:selectItem itemValue="I"
															itemLabel="#{msgs['commerce.status.I']}"></f:selectItem>
													</h:selectOneMenu>
												</f:facet>
											</p:cellEditor>

										</p:column>
										<p:column headerText="#{msgs['commerce.delete']}">
											<p:commandButton icon="ui-icon-circle-minus" title="Delete"
												onclick="onclickToReload();" process="@this" update="@none"
												oncomplete="PF('confirmDeleteCommerce').show()"
												style="width:30px;">
												<f:setPropertyActionListener value="#{commerce}"
													target="#{managerClientController.commerce}" />


											</p:commandButton>
										</p:column>
										<!-- 										update=":formAddCommerce :tabviewid:formCommerce:commerceTable" -->
										<p:column headerText="#{msgs['myUser.register']}">
											<p:commandButton icon="ui-icon-person" title="Add User"
												onclick="onclickToReload();" process="@this"
												update=":formAttachUserCommerce"
												oncomplete="PF('dlgAttachUserCommerce').show()"
												style="width:30px;">
												<f:setPropertyActionListener value="#{commerce}"
													target="#{managerClientController.commerce}" />
												<f:setPropertyActionListener
													value="#{managerClientController.userFormAction.COMMERCE_USER}"
													target="#{managerClientController.userFormAction}" />
											</p:commandButton>
										</p:column>
										<!-- 										<p:column style="width:32px"> -->
										<!-- 																						<p:rowEditor /> -->


										<!-- 										</p:column> -->

										<p:column style="width:32px;text-align: center">
											<p:commandButton icon="ui-icon-triangle-1-s"
												onclick="onclickToReload();" title="Information"
												action="#{managerClientController.fillCommercePocketInfo}"
												process="@this" update=":formDlgSetupCommercePocket"
												oncomplete="PF('setupCommercePocketWV').show()"
												style="width:30px;">
												<f:setPropertyActionListener value="#{commerce}"
													target="#{managerClientController.commerce}" />
											</p:commandButton>
										</p:column>
										<f:facet name="footer">

											<p:commandButton onclick="onclickToReload();"
												value="#{msgs['commerce.add']}" update=":formAddCommerce"
												oncomplete="PF('dlgAddCommerce').show()">
											</p:commandButton>
										</f:facet>
									</p:dataTable>
								</h:form>
							</p:tab>

							<!-- END COMMERCE TAB -->
							<!-- POCKET TAB -->
							<p:tab title="#{msgs['pocket.title']}">
								<h:form id="formPocket">

									<p:dataTable id="pocketTable" var="pocket" scrollable="true"
										rowStyleClass="#{pocket.estado eq 'A' ? '' : 'tableInactivePockets' }"
										scrollHeight="250"
										value="#{managerClientController.client.pockets}"
										editable="false">
										<!--POCKET NAME -->
										<p:column headerText="#{msgs['pocket.name']}">
											<h:outputText value="#{pocket.description}" />
										</p:column>
										<!-- POCKET TYPE -->
										<p:column headerText="#{msgs['pocket.type']}">
											<h:outputText value="#{pocket.pocketType.description}" />
										</p:column>
										<!-- ACCOUNT NUMBER -->
										<p:column headerText="#{msgs['pocket.account.header']}">
											<h:outputText value="#{pocket.accountNumber}" />
										</p:column>
										<!-- POCKET CREATED DATE-->
										<p:column headerText="#{msgs['pocket.created']}"
											rendered="#{sessionScope.userSession.idsysUserType == '1'}">
											<h:outputText value="#{pocket.createdDate}">
												<f:convertDateTime type="date"
													pattern="yyyy-MM-dd hh:mm:ss a" />
											</h:outputText>
										</p:column>
										<!-- DELETE POCKET -->
										<p:column style="width:32px;text-align: center"
											rendered="#{sessionScope.userSession.idsysUserType == '1'}">
											<p:commandButton onclick="onclickToReload();"
												icon="ui-icon-circle-minus" title="Delete" process="@this"
												update="@none" oncomplete="PF('confirmDeletePocket').show()"
												style="width:30px;">
												<f:setPropertyActionListener value="#{pocket}"
													target="#{managerClientController.pocket}" />
											</p:commandButton>
										</p:column>
										<!-- EDIT SELECTED POCKET-->
										<p:column style="width:32px;text-align: center"
											rendered="#{sessionScope.userSession.idsysUserType == '1'}">
											<p:commandButton onclick="onclickToReload();"
												icon="ui-icon-pencil" title="Edition"
												action="#{managerClientController.editPocket()}"
												process="@this" update="dlgAddPocket :comfirmPocketDialog"
												oncomplete="PF('wvAddPocket').show()" style="width:30px;">
												<f:setPropertyActionListener value="#{pocket}"
													target="#{managerClientController.pocket}" />
												<f:setPropertyActionListener value="edit"
													target="#{managerClientController.pocketOperation}" />

											</p:commandButton>
										</p:column>
										<f:facet name="footer">
											<!-- ADD POCKET -->

											<p:commandButton onclick="onclickToReload();"
												value="#{msgs['pocket.add']}"
												rendered="#{sessionScope.userSession.idsysUserType == '1'}"
												style="margin-bottom: 15px;"
												update="dlgAddPocket :comfirmPocketDialog"
												oncomplete="PF('wvAddPocket').show()" process="@this">
												<f:setPropertyActionListener value="add"
													target="#{managerClientController.pocketOperation}" />
											</p:commandButton>
										</f:facet>
									</p:dataTable>
								</h:form>
							</p:tab>


							<!-- USER TAB-->
							<p:tab title="#{msgs['myClient.user.title']}"
								rendered="#{sessionScope.userSession.idsysUserType == 1}">
								<h:form id="formUserClient">

									<p:dataTable id="userClientTable" var="user" scrollable="true"
										scrollHeight="250"
										value="#{managerClientController.getClientClientAdminTypeUsers()}"
										editable="false">
										<!-- user name -->
										<p:column headerText="#{msgs['myUser.name']}">
											<h:outputText value="#{user.name}" />
										</p:column>
										<!-- User email -->
										<p:column headerText="#{msgs['registerEmail']}">
											<h:outputText value="#{user.email}" />
										</p:column>
										<!-- User Unique Code -->
										<p:column headerText="#{msgs['myuser.uc']}">
											<h:outputText value="#{user.cu}" />
										</p:column>
										<!-- User Created date -->
										<p:column headerText="#{msgs['pocket.created']}">
											<h:outputText value="#{user.dateReg}">
												<f:convertDateTime type="date"
													pattern="yyyy-MM-dd hh:mm:ss a" />
											</h:outputText>
										</p:column>
										<!-- delete user from client -->
										<p:column style="width:32px;text-align: center">
											<p:commandButton onclick="onclickToReload();"
												icon="ui-icon-circle-minus" title="Delete" process="@this"
												update=":confirmForm:confirmDetachUserDialog"
												oncomplete="PF('confirmDetachUser').show()"
												style="width:30px;">
												<f:setPropertyActionListener value="#{user}"
													target="#{managerClientController.sysUser}" />
												<f:setPropertyActionListener
													value="#{managerClientController.userFormAction.CLIENT_USER}"
													target="#{managerClientController.userFormAction}" />
											</p:commandButton>
										</p:column>


										<f:facet name="footer">
											<p:commandButton onclick="onclickToReload();"
												value="#{msgs['commerce.associate']}"
												actionListener="#{managerClientController.cleanSysUserForm()}"
												oncomplete="PF('userAddDialogWidgVar').show()"
												update=":formAddCommerce :tabviewid:formCommerce:commerceTable">


												<f:setPropertyActionListener
													value="#{managerClientController.userFormAction.CLIENT_USER}"
													target="#{managerClientController.userFormAction}" />
											</p:commandButton>
										</f:facet>
									</p:dataTable>
								</h:form>
							</p:tab>


						</p:tabView>
					</p:dialog>
					<!-- END TAB SECTION -->









					<!-- CONFIRM DELETE DIALOG SECTION -->
					<h:form id="confirmForm">
						<p:confirmDialog id="confirmDialog"
							message="#{msgs['myClient.deleteCliente']}"
							header="#{msgs['myClient.deleteCliente']}" severity="alert"
							widgetVar="confirmDelete" modal="true">
							<p:commandButton process="@this" id="botonDelete"
								onclick="onclickToReload();"
								value="#{msgs['myClient.deleteCliente']}"
								actionListener="#{managerClientController.deleteClient}"
								update=":formClient:tableClient :growl"
								oncomplete="PF('confirmDelete').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDelete').hide();" type="button" />
						</p:confirmDialog>
						<p:confirmDialog id="confirmDeleteCommerceDialog"
							message="#{msgs['commerce.delete']}"
							header="#{msgs['commerce.delete']}" severity="alert"
							widgetVar="confirmDeleteCommerce" modal="true">
							<p:commandButton process="@this" id="botonDeleteCommerce"
								onclick="onclickToReload();"
								value="#{msgs['commerce.delete']}"
								actionListener="#{managerClientController.deleteCommerce}"
								update=":tabviewid:formCommerce:commerceTable :growl"
								oncomplete="PF('confirmDeleteCommerce').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDeleteCommerce').hide();" type="button" />
						</p:confirmDialog>
						<p:confirmDialog id="confirmRemovePocketDialog"
							message="#{msgs['pocket.delete.msg']}"
							header="#{msgs['pocket.delete']}" severity="alert"
							widgetVar="confirmDeletePocket" modal="true">
							<p:commandButton process="@this" id="botonDeletePocket"
								onclick="onclickToReload();"
								value="#{msgs['pocket.delete']}"
								actionListener="#{managerClientController.deletePocket}"
								update=":tabviewid:formInfo:countryTree :tabviewid:formCommerce:commerceTable 
									:tabviewid:formPocket :tabviewid:formPocket:pocketTable :growl :formDlgSetupCommercePocket"
								oncomplete="PF('confirmDeletePocket').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDeletePocket').hide();" type="button" />
						</p:confirmDialog>


						<p:confirmDialog id="confirmDetachPocketDialog"
							message="#{msgs['pocket.detach.msg']}"
							header="#{msgs['pocket.detach']}" severity="alert"
							widgetVar="confirmDetachPocket" modal="true">
							<p:commandButton process="@this" id="botonDetachPocket"
								onclick="onclickToReload();"
								value="#{msgs['pocket.detach']}"
								actionListener="#{managerClientController.detachPocketCommerce}"
								update=":formDlgSetupCommercePocket :formDlgSetupCommercePocket:commerceTree :formDlgSetupCommercePocket:commercePocketSelect :growl :tabviewid:formCommerce:commerceTable"
								oncomplete="PF('confirmDetachPocket').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDetachPocket').hide();" type="button" />
						</p:confirmDialog>
						<p:confirmDialog id="confirmDeleteCountryDlg"
							message="#{msgs['myClient.country.msg.delete']}"
							header="#{msgs['myClient.country.delete']}" severity="alert"
							widgetVar="confirmDeleteCountry">
							<p:commandButton process="@this" id="botonDeleteCountry"
								onclick="onclickToReload();"
								value="#{msgs['myClient.country.delete']}"
								actionListener="#{managerClientController.deleteCountry}"
								update=" :tabviewid:formInfo:countryTree :growl @parent"
								oncomplete="PF('confirmDeleteCountry').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDeleteCountry').hide();" type="button" />
						</p:confirmDialog>
						<p:confirmDialog id="confirmDeleteCityDlg"
							message="#{msgs['myClient.city.msg.delete']}"
							header="#{msgs['myClient.city.delete']}" severity="alert"
							widgetVar="confirmDeleteCity">
							<p:commandButton process="@this" id="botonDeleteCity"
								onclick="onclickToReload();"
								value="#{msgs['myClient.city.delete']}"
								actionListener="#{managerClientController.deleteCity}"
								update=":tabviewid:formInfo :tabviewid:formInfo:countryTree :growl @parent"
								oncomplete="PF('confirmDeleteCity').hide();" />
							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDeleteCity').hide();" type="button" />
						</p:confirmDialog>



						<!-- confirm detach user section -->
						<p:confirmDialog id="confirmDetachUserDialog"
							message="#{msgs['myClient.user.detach.mgs']}"
							header="#{msgs['myClient.user.detach.title']}" severity="alert"
							widgetVar="confirmDetachUser" modal="true">
							<p:commandButton process="@this" id="botonDetachUser"
								onclick="onclickToReload();"
								rendered="#{managerClientController.userFormAction == managerClientController.userFormAction.COMMERCE_USER}"
								value="#{msgs['myClient.user.detach.button']}"
								actionListener="#{managerClientController.detachCommerceUser}"
								update=":formAttachUserCommerce:dialogAttachUserCommerceGrid :growl"
								oncomplete="PF('confirmDetachUser').hide();" />

							<p:commandButton process="@this" id="botonDetachUserClient"
								onclick="onclickToReload();"
								rendered="#{managerClientController.userFormAction == managerClientController.userFormAction.CLIENT_USER}"
								value="#{msgs['myClient.user.detach.button']}"
								actionListener="#{managerClientController.detachClientUser}"
								update=":tabviewid:formUserClient :growl"
								oncomplete="PF('confirmDetachUser').hide();" />


							<p:commandButton value="#{msgs['parameter.cancel']}"
								onclick="onclickToReload(); PF('confirmDetachUser').hide();" type="button" />
						</p:confirmDialog>
						<!-- END: confirm detach user section -->
					</h:form>



					<!--                             ADD COUNTRY DIALOG -->
					<h:form>
						<p:dialog resizable="true" draggable="false" id="dialogAddCountry"
							header="#{msgs['myClient.country.add']}"
							widgetVar="dlgAddCountry" width="450">

							<h:panelGrid columns="2" cellpadding="5">

								<h:outputLabel value="#{msgs.registerCountry}"
									for="registerCountry" />
								<h:selectOneMenu id="registerCountry"
									value="#{managerClientController.idCountry}" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItem itemLabel="" itemValue=""></f:selectItem>
									<f:selectItems value="#{parametrosController.listCountries}"
										var="country" itemLabel="#{country.name}"
										itemValue="#{country.idcountry}"
										itemDescription="#{country.name}" />
								</h:selectOneMenu>



								<f:facet name="footer">
									<p:commandButton onclick="onclickToReload();"
										value="#{msgs['myClient.country.add']}"
										update="@parent :tabviewid:formInfo:countryTree "
										actionListener="#{managerClientController.addCountry}"
										oncomplete="PF('dlgAddCountry').hide();" />
								</f:facet>
							</h:panelGrid>

						</p:dialog>

					</h:form>




					<!-- CITY DIALOG -->

					<h:form id="formDlgCIty">

						<p:dialog resizable="false" draggable="false" id="dialogAddCity"
							header="#{msgs['myClient.city.add']}" widgetVar="addCityDlg"
							width="450">
							<h:panelGrid columns="2" cellpadding="5">


								<h:outputLabel value="#{msgs.registerCity}" for="registerCity" />
								<h:selectOneMenu value="#{managerClientController.city}"
									id="registerCity" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItems value="#{managerClientController.listCities}"
										var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}"
										itemDescription="#{city.name}" />
								</h:selectOneMenu>


								<f:facet name="footer">
									<p:commandButton onclick="onclickToReload();"
										value="#{msgs['myClient.city.add']}"
										update=":growl :tabviewid:formInfo:countryTree   @parent"
										actionListener="#{managerClientController.addCity}"
										oncomplete="PF('addCityDlg').hide();" />
								</f:facet>
							</h:panelGrid>
						</p:dialog>

					</h:form>



					<!-- setup pockets dialog -->
					<h:form id="formDlgSetupPocket">

						<p:dialog resizable="false" draggable="false"
							id="dialogSetupPocket" modal="true"
							header="#{msgs['Pocket.setup.dialog.title']}"
							widgetVar="setupPocketWV" width="450">
							<h:panelGrid columns="2" cellpadding="5">



								<h:selectOneMenu id="commercePocket" required="true"
									value="#{managerClientController.idcommerce}"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItems
										value="#{managerClientController.avPocketCommerces}"
										var="commerce" itemLabel="#{commerce.name}"
										itemValue="#{commerce.idCommerce}"
										itemDescription="#{commerce.name}" />
								</h:selectOneMenu>
								<p:commandButton value="#{msgs['commerce.associate']}"
									onclick="onclickToReload();"
									actionListener="#{managerClientController.associateCommercePocket}"
									update=":growl :tabviewid:formInfo:countryTree   @parent"
									oncomplete="PF('setupPocketWV').hide();" />

								<h:outputLabel value="Comercios" for="commerceTree" />
								<p:treeTable id="commerceTree"
									value="#{managerClientController.rootCommerce}" var="treeitem">

									<p:column headerText="Nombre">
										<h:outputText value="#{treeitem.name}" />
									</p:column>
									<p:column headerText="Id">
										<h:outputText value="#{treeitem.id}" />
									</p:column>


									<p:column style="width:24px">
										<p:commandLink oncomplete="PF('confirmDeleteCountry').show()"
											onclick="onclickToReload();"
											title="View Detail" styleClass="ui-icon ui-icon-closethick">
											<f:setPropertyActionListener value="#{treeitem}"
												target="#{managerClientController.selectedItem}" />
										</p:commandLink>

									</p:column>

								</p:treeTable>
								<!-- actionListener="#{managerClientController.addCity}" -->

								<h:outputLabel value="Límites de uso" for="useLimit" />
								<h:inputText styleClass="text-input" maxlength="50"
									id="useLimit" />
								<h:outputLabel value="Frecuencia de Uso" for="userFrecuence" />
								<h:inputText styleClass="text-input" maxlength="50"
									id="userFrecuence" />
								<h:outputLabel value="Monto máximo" for="maxAmmount" />
								<h:inputText styleClass="text-input" maxlength="50"
									id="maxAmmount" />

								<f:facet name="footer">
									<p:commandButton onclick="onclickToReload();"
										value="#{msgs['commerce.associate']}"
										update=":growl :tabviewid:formInfo:countryTree   @parent"
										oncomplete="PF('setupPocketWV').hide();" />
								</f:facet>
							</h:panelGrid>
						</p:dialog>

					</h:form>
					<!-- ADDCOMERCE DIALOG -->
					<p:dialog resizable="false" id="dialogAddCommerce"
						header="#{msgs['commerce.add']}" widgetVar="dlgAddCommerce"
						width="650" height="550">
						<h:form id="formAddCommerce" enctype="multipart/form-data">

							<p:growl id="growlCommerce" showSummary="true" life="3000" />



							<h:panelGrid id="formAddCommerceGrid" columns="2" cellpadding="5">

								<h:outputLabel value="Nombre" for="registerNameCommerce" />
								<h:inputText styleClass="text-input" id="registerNameCommerce"
									required="true"
									value="#{managerClientController.commerce.name}" />


								<h:outputLabel value="Dirección" for="registerAddressCommerce" />
								<h:inputText styleClass="text-input"
									id="registerAddressCommerce" required="true"
									value="#{managerClientController.commerce.address}" />


								<h:outputLabel value="Correo" for="registerEmailCommerce" />
								<h:inputText styleClass="text-input" maxlength="50"
									id="registerEmailCommerce" required="true"
									value="#{managerClientController.commerce.email}">

									<f:validator validatorId="cps.EmailValidator" />
								</h:inputText>

								<h:outputLabel value="Latitud" for="registerLatCommerce" />
								<h:inputText styleClass="text-input" maxlength="10"
									id="registerLatCommerce"
									value="#{managerClientController.commerceLat}">
									<f:validator
										validatorId="com.cps.jsf.validator.LatLonValidator" />
									<f:validateDoubleRange minimum="-90.0" maximum="90" />
								</h:inputText>

								<h:outputLabel value="Longitud" for="registerLonCommerce" />
								<h:inputText styleClass="text-input" maxlength="10"
									id="registerLonCommerce"
									value="#{managerClientController.commerceLon}">
									<f:validator
										validatorId="com.cps.jsf.validator.LatLonValidator" />
									<f:validateDoubleRange minimum="-180.0" maximum="180" />
								</h:inputText>
								<h:outputLabel value="#{msgs.registerCountry}"
									for="registerCountry" />
								<h:selectOneMenu id="registerCountry"
									value="#{managerClientController.idCountry}" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItem itemLabel="" itemValue=""></f:selectItem>
									<f:selectItems value="#{managerClientController.listCountries}"
										var="country" itemLabel="#{country.name}"
										itemValue="#{country.idcountry}"
										itemDescription="#{country.name}" />
									<p:ajax
										listener="#{managerClientController.changeCommerceCountry}"
										event="change" update="registerCity" process="@this" />
								</h:selectOneMenu>
								<h:outputLabel value="#{msgs.registerCity}" for="registerCity" />
								<h:selectOneMenu value="#{managerClientController.city}"
									id="registerCity" required="true"
									requiredMessage="#{msgs.fieldRequired}">
									<f:selectItems value="#{managerClientController.listCities}"
										var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}"
										itemDescription="#{city.name}" />


								</h:selectOneMenu>
								<h:outputLabel value="Estado" for="registerActive" />
								<h:selectOneMenu
									value="#{managerClientController.commerce.status}"
									id="registerActive">
									<f:selectItem itemValue="A" itemLabel="Activo"></f:selectItem>
									<f:selectItem itemValue="I" itemLabel="Inactivo"></f:selectItem>
								</h:selectOneMenu>
								<h:outputLabel value="Logo" for="uploadimage" />

								<!-- 								 <h:inputFile id="uploadimage" value="#{managerClientController.upfile}" /> -->
								<p:fileUpload id="uploadimage" update=":growl"
									widgetVar="fileUploadWidgetVar"
									label="#{msgs['commerce.file.select']}"
									uploadLabel="#{msgs['commerce.file.upload']}"
									cancelLabel="#{msgs['commerce.file.cancel']}"
									fileUploadListener="#{managerClientController.handleFileUpload}"
									mode="advanced" sizeLimit="1500000" fileLimit="1"
									allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
								<f:facet name="footer">
									<p:commandButton onclick="onclickToReload();"
										value="#{managerClientController.addUpdateButton}"
										update="@parent :tabviewid:formCommerce:commerceTable :formAddCommerce :formAddCommerce:formAddCommerceGrid formAddCommerce:growlCommerce"
										actionListener="#{managerClientController.addCommerce}"
										oncomplete="handleDialogSubmit(xhr, status, args, 'dlgAddCommerce')">

									</p:commandButton>

								</f:facet>
							</h:panelGrid>


						</h:form>

					</p:dialog>
					<!-- 					end dialog commerce -->


					<!-- setup pockets dialog commerce -->


					<p:dialog resizable="false" draggable="false"
						id="dialogSetupCommercePocket" modal="true"
						header="#{msgs['pocket.title']} [#{msgs['pocket.attach']}]"
						widgetVar="setupCommercePocketWV" width="450">
						<p:ajax event="close"
							update=":contact-form1 :tabviewid:formCommerce:commerceTable :formAddCommerce"
							listener="#{managerClientController.cleanUserCommerce}" />
						<h:form id="formDlgSetupCommercePocket">

							<h:panelGroup id="setupCommercePocketPanel">


								<h:panelGrid columns="1" id="commercePocketGrid" cellpadding="5">

									<h:panelGrid columns="2" id="commercePocketGridAdd"
										cellpadding="5">
										<h:selectOneMenu id="commercePocketSelect" required="true"
											value="#{managerClientController.pocketId}"
											requiredMessage="#{msgs.fieldRequired}">
											<f:selectItems value="#{managerClientController.listPockets}"
												var="pocket" itemLabel="#{pocket.description}"
												itemValue="#{pocket.pocketId}"
												itemDescription="#{pocket.description}" />
										</h:selectOneMenu>

										<p:commandButton value="#{msgs['pocket.attach']}"
											onclick="onclickToReload();"
											action="#{managerClientController.associateCommercePocket}"
											update="@form  :formDlgSetupCommercePocket :formDlgSetupCommercePocket:commercePocketGrid :tabviewid:formCommerce:commerceTable" />
									</h:panelGrid>
									<!-- 	oncomplete="PF('setupPocketWV').hide();"  -->
									<h:outputLabel value="#{msgs['pocket.title']}"
										for="commerceTree" />
									<p:treeTable id="commerceTree"
										value="#{managerClientController.rootCommerce}" var="treeitem">

										<p:column headerText="Nombre">
											<h:outputText value="#{treeitem.name}" />
										</p:column>
										<p:column headerText="Id">
											<h:outputText value="#{treeitem.id}" />
										</p:column>


										<p:column style="width:24px">
											<p:commandLink oncomplete="PF('confirmDetachPocket').show()"
												onclick="onclickToReload();"
												title="View Detail" styleClass="ui-icon ui-icon-closethick"
												process="@this">
												<f:setPropertyActionListener value="#{treeitem}"
													target="#{managerClientController.selectedItem}" />
											</p:commandLink>

										</p:column>

									</p:treeTable>
									<!-- actionListener="#{managerClientController.addCity}" -->

									<f:facet name="footer">



									</f:facet>
								</h:panelGrid>

							</h:panelGroup>
						</h:form>
					</p:dialog>


					<!-- dialog attach user to commerce -->

					<h:form id="formAttachUserCommerce">
						<p:dialog resizable="false" id="dialogAttachUserCommerce"
							header="#{msgs['commerce.associate.user']}"
							widgetVar="dlgAttachUserCommerce" width="850" modal="true"
							height="550">
							<p:ajax event="close" update=":contact-form1 :dialogAddUser"
								listener="#{managerClientController.cleanUserCommerce}" />
							<p:growl id="growl" showSummary="true" showDetail="true"
								life="3000" />
							<h5>
								<h:outputText value="#{msgs['commerce.associate']}" />
							</h5>
							<h:panelGrid id="dialogAttachUserCommerceGrid" columns="1"
								cellpadding="2">

								<p:commandButton value="#{msgs['commerce.associate']}"
									onclick="onclickToReload();"
									actionListener="#{managerClientController.cleanSysUserForm()}"
									oncomplete="PF('userAddDialogWidgVar').show()"
									update=":formAddCommerce :tabviewid:formCommerce:commerceTable">
								</p:commandButton>

								<p:dataTable id="tbl" var="sysuser"
									value="#{managerClientController.getCommerceCommerceAdminTypeUsers()}"
									paginator="true" rows="12" emptyMessage="Not info">

									<p:column>
										<f:facet name="header">
											<h:outputText value="CU" />
										</f:facet>
										<h:outputText value="#{sysuser.cu}" />
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{msgs['myUser.name']}" />
										</f:facet>
										<h:outputText value="#{sysuser.name} #{sysuser.lastName}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{msgs['myUser.favoriteMsisdn']}" />
										</f:facet>
										<h:outputText value="#{sysuser.favoriteMsisdn}">
											<f:convertNumber type="currency"></f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column style="width:32px">
										<f:facet name="header">
											<h:outputText value=" " />
										</f:facet>
										<p:column style="width:32px;text-align: center">
											<p:commandButton icon="ui-icon-circle-minus" title="Delete"
												onclick="onclickToReload();"
												process="@this"
												update=":confirmForm:confirmDetachUserDialog"
												oncomplete="PF('confirmDetachUser').show()"
												disabled="#{sysuser.idsysUserType == '1'}"
												style="width:30px;">
												<f:setPropertyActionListener value="#{sysuser}"
													target="#{managerClientController.sysUser}" />
												<f:setPropertyActionListener
													value="#{managerClientController.userFormAction.COMMERCE_USER}"
													target="#{managerClientController.userFormAction}" />
											</p:commandButton>
										</p:column>
									</p:column>
								</p:dataTable>


							</h:panelGrid>
						</p:dialog>

					</h:form>
					<!-- end dialog attach user -->



					<!-- Add user  dialog -->
					<p:dialog width="480" height="500" widgetVar="userAddDialogWidgVar"
						header="User" id="dialogAddUser" modal="true">

						<p:ajax event="close" update=":contact-form1 :dialogAddUser"
							listener="#{managerClientController.cleanUserCommerceLocal}" />
						<fieldset>
							<h5>
								<h:outputText
									value="#{managerClientController.userFormAction == managerClientController.userFormAction.COMMERCE_USER?msgs['commerce.associate.user']:msgs['myClient.user.associate']}" />
							</h5>
						</fieldset>
						<!-- Form exist user -->
						<h:panelGroup id="formExistUserCheck">
							<h:panelGroup>
								<h:form prependId="false" id="contact-form1"
									styleClass="contact-form"
									rendered="#{managerClientController.formUserExists == false}">
									<fieldset>
										<p:messages showSummary="true" showDetail="true"
											globalOnly="true" />
										<h:panelGroup id="displayAddExistCheck">
											<div class="profileForm">

												<div class="column">
													<div class="field">
														<h:outputLabel value="#{msgs['myuser.criteria']}"
															for="sysuserMobileExist" />
														<h:inputText styleClass="text-input" maxlength="150"
															id="sysuserMobileExist"
															value="#{managerClientController.userCriteria}"
															required="false" requiredMessage="#{msgs.fieldRequired}" />
														<p:message for="sysuserMobileExist" />
													</div>
												</div>
												<div class="container buttonForm">
													<div class="fleft">
														<p:commandLink styleClass="link"
															value="[#{msgs.checkButton}]"
															onclick="onclickToReload();"
															actionListener="#{managerClientController.checkUser}"
															update=":formExistUser :formExistUserCheck :formNewUser" />
													</div>
												</div>
											</div>
										</h:panelGroup>
									</fieldset>
								</h:form>
								<!--  if exist user show form -->
								<h:panelGroup id="formExistUser">
									<h:form prependId="false" id="contact-form1-2"
										styleClass="contact-form"
										rendered="#{managerClientController.userType == 2}">
										<fieldset>
											<p:messages showSummary="true" showDetail="true"
												globalOnly="true" />
											<h:panelGroup id="displayAddExist">
												<div class="profileList">
													<div class="column">
														<div class="field">
															<h:outputText value="#{msgs['myuser.uc']} :" />
															<h:outputText id="sysuserCU"
																value="#{managerClientController.sysUser.cu}" />
														</div>
														<div class="field">
															<h:outputText value="#{msgs['registerEmail']} :" />
															<h:outputText id="sysuserEmail"
																value="#{managerClientController.sysUser.email}" />
														</div>
														<div class="field">
															<h:outputText value="#{msgs['myUser.name']} :" />
															<h:outputText id="sysuserName"
																value="#{managerClientController.sysUser.name}" />
														</div>
														<div class="field">
															<h:outputText value="#{msgs['myUser.lastname']} :" />
															<h:outputText id="sysuserLastName"
																value="#{managerClientController.sysUser.lastName}" />
														</div>

														<div class="field">
															<h:outputText value="#{msgs['myUser.favoriteMsisdn']} :" />
															<h:outputText id="sysuserPhone"
																value="#{managerClientController.sysUser.favoriteMsisdn}" />
														</div>
													</div>
												</div>
												<div class="container buttonForm">
													<div class="fleft">
														<p:commandLink styleClass="link"
															onclick="onclickToReload();" value="[#{msgs.addButton}]"
															rendered="#{managerClientController.userFormAction == managerClientController.userFormAction. COMMERCE_USER}"
															actionListener="#{managerClientController.registerUser}"
															oncomplete="handleDialogSubmit(xhr, status, args, 'userAddDialogWidgVar')"
															update=":formAttachUserCommerce:dialogAttachUserCommerceGrid :formAttachUserCommerce:growl :formAttachUserCommerce:tbl" />


														<p:commandLink styleClass="link"
															onclick="onclickToReload();"
															rendered="#{managerClientController.userFormAction == managerClientController.userFormAction. CLIENT_USER}"
															value="[#{msgs.addButton}]"
															actionListener="#{managerClientController.registerUser}"
															oncomplete="handleDialogSubmit(xhr, status, args, 'userAddDialogWidgVar')"
															update=":tabviewid:formUserClient" />
													</div>
												</div>
											</h:panelGroup>
										</fieldset>
									</h:form>
								</h:panelGroup>
								<!--  -->
							</h:panelGroup>
						</h:panelGroup>

						<!-- Form new user -->
						<h:panelGroup id="formNewUser">
							<h:form prependId="false" id="contact-form1-1"
								styleClass="contact-form"
								rendered="#{managerClientController.userType == 1}">
								<fieldset>
									<!-- 	<p:messages showSummary="true" showDetail="true" globalOnly="true" />  -->
									<h:panelGroup id="displayAdd">
										<div class="profileForm">
											<div class="column">
												<div class="field">
													<h:outputLabel value="#{msgs['registerEmail']}"
														for="sysuserEmailNew" />
													<h:inputText styleClass="text-input" maxlength="45"
														id="sysuserEmailNew"
														value="#{managerClientController.sysUser.email}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
														<f:validator validatorId="cps.EmailValidator" />
													</h:inputText>
													<p:message for="sysuserEmailNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs['myUser.name']}"
														for="sysuserNameNew" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="sysuserNameNew"
														value="#{managerClientController.sysUser.name}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="sysuserNameNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs['myUser.lastname']}"
														for="sysuserLastNameNew" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="sysuserLastNameNew"
														value="#{managerClientController.sysUser.lastName}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="sysuserLastNameNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs['registerIdentification']}"
														for="sysuserIdNew" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="sysuserIdNew"
														value="#{managerClientController.sysUser.login}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="sysuserIdNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs['myUser.favoriteMsisdn']}"
														for="sysuserPhoneNew" />
													<h:inputText styleClass="text-input" maxlength="15"
														id="sysuserPhoneNew"
														value="#{managerClientController.sysUser.favoriteMsisdn}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="sysuserPhoneNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCountry}"
														for="sysuserCountryNew" />
													<h:selectOneMenu
														value="#{managerClientController.idCountry}"
														id="sysuserCountryNew" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItem itemLabel="" itemValue=""></f:selectItem>
														<f:selectItems
															value="#{parametrosController.listCountries}"
															var="country" itemLabel="#{country.name}"
															itemValue="#{country.idcountry}"
															itemDescription="#{country.name}" />
														<p:ajax
															listener="#{managerClientController.changeUserCountry}"
															event="change" update="sysuserCityNew" process="@this" />
													</h:selectOneMenu>
													<p:message for="sysuserCountryNew" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCity}"
														for="sysuserCityNew" />
													<h:selectOneMenu value="#{managerClientController.city}"
														id="sysuserCityNew" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItems
															value="#{managerClientController.listCities}" var="city"
															itemLabel="#{city.name}" itemValue="#{city.idcity}"
															itemDescription="#{city.name}" />
													</h:selectOneMenu>
													<p:message for="sysuserCityNew" />
												</div>
											</div>
										</div>
										<div class="container buttonForm">
											<div class="fleft">
												<p:commandLink styleClass="link" value="[#{msgs.addButton}]"
													onclick="onclickToReload();"
													rendered="#{managerClientController.userFormAction == managerClientController.userFormAction. COMMERCE_USER}"
													actionListener="#{managerClientController.registerUser}"
													oncomplete="handleDialogSubmit(xhr, status, args, 'userAddDialogWidgVar');"
													update=":formAttachUserCommerce:dialogAttachUserCommerceGrid :formAttachUserCommerce:growl :formAttachUserCommerce:tbl" />

												<p:commandLink styleClass="link" value="[#{msgs.addButton}]"
													onclick="onclickToReload();"
													rendered="#{managerClientController.userFormAction == managerClientController.userFormAction. CLIENT_USER}"
													actionListener="#{managerClientController.registerUser}"
													oncomplete="handleDialogSubmit(xhr, status, args, 'userAddDialogWidgVar');"
													update=":tabviewid:formUserClient :formAttachUserCommerce:growl :formAttachUserCommerce:tbl" />
											</div>
										</div>
									</h:panelGroup>
								</fieldset>
							</h:form>
						</h:panelGroup>
					</p:dialog>
					<!-- /Add -->

				</fieldset>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>
