/*----------
  #Base
 ------------*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
#icon-cps {
    margin-top: 8px;
    width: 60px;
    height: 28px;
    position: relative;
    background: url('../img/logo.png') no-repeat;
    border: 0;
    left: 0;
    float: left;
}

a, a:visited {
       text-decoration: none !important;
   }
iframe {
    border: none;
}

blockquote {
    color: #333333;
}

li {
    list-style: none;
}

/*----------
  #Platforms
  -----------*/
.platform-ios {
    &.ios8,
    &.ios7 {
        .ui-header {
            padding-top: 20px;
            .ui-btn {
                margin-top: 20px;
            }
        }
        .ui-popup-container {
            margin-top: 20px;
        }
        #branding {
            margin: 25px auto 0 auto;
        }
    }
}

/*----------
  #Forms
------------*/

.ui-input-datebox {
    position: relative;
    .ui-btn {
        position: absolute;
        right: 7px;
        margin: 2px;
        top: 0;
    }
}

/*----------
  #Utils
  -----------*/
.ui-mobile {
    .bold {
        font-family: sans-serif;
        font-weight: bold;
    }
    .color1 {
        color: #0092d5;
    }
    .hline {
        border-bottom: 1px solid #ddd;
        display: inline-block;
        position: relative;
        top: -10px;
        width: 65px;
    }
    .invisible {
        display: none;
    }
    .text-big {
        font-size: 30px;
    }
    .text-center, .center {
        text-align: center;
    }
    .title-center{
        margin: 5px 0;
        padding: 0;
        text-align: center;
    }
    .title {
        color: #0092d5;
    }
    .subtitle {
        color: #0092d5;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    .pl-l {
        padding-left: 3em;
    }
    .font-s {
        font-size: 0.8em;
    }
    .font-xs {
        font-size: 0.7em;
    }
    .th {
        padding: 0;
    }
    .td {
        position: absolute;
        right: 20px;
        font-size: 14px;
        font-weight: normal;
    }
    .uc {
        text-transform: uppercase;
    }
    .hide-content {
        display: none !important;
    }
    .show-content {
        display: block !important;
    }
    .full-width {
        width: 100%;
    }
    .text-wrap {
        white-space: normal;
    }
    .text-left {
        text-align: left;
    }
    .content-compact {
        margin: 0 auto;
    }
}
/*----------
  #Social
 -------------*/
.cps-social a {
    padding: 5px 10px;
}
.ui-icon-share{
    background-color: transparent !important;
    border-width: 0 !important;
}
.ui-icon-share:after{
    background: url('../img/sprite-icons.png') -29px -2px no-repeat;
    background-color: transparent;
}

/*----------
  #Driver
  ----------*/
.driverPickmeup_header {
    padding: 0 0.8em;
}
.driverFieldDate {
    padding: 10px 0 0;
    margin: auto;
}
.btn-driverCheck{
    position: absolute;
    right: 0.8em;
    top: 4px;
}
.btn-driverLocation{
    position: absolute;
    right: 3em;
    top: 4px;
}
.btn-driverLocation:after, .btn-driverCheck:after{
                               background-color: rgba(5, 117, 180, 1.0);
                           }

.ui-page .ui-listview .ui-li-count.ui-li-nophone {
    background: url('../img/sprite-icons.png') 0 0 transparent;
    height: 26px;
    width: 14px;
    border-width: 0;
    margin-top: -13px;
}

/*-----------------
  #General Content
  -----------------*/
.ui-page form .formError {
    background-color: #ffffc2;
}
.ui-header{
    height: 42px;
}
.ui-page .ui-header.header-ios7 a {
    margin-top: 20px !important;
}
.ui-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}
.ui-page.margin-ios7{
    margin-top: 20px !important;
}
.ui-page.fullMap .ui-content{
    padding: 0;
}
.ui-page .ui-popup label, .ui-page .ui-popup p, .ui-page .ui-popup legend{
    color: #666;
    text-align: center;
}
.ui-page .ui-content-pop{
    padding: 1em;
}
.ui-controlgroup-horizontal {
    text-align: center;
}
.ui-controlgroup-horizontal legend {
    margin:auto;
}
.logos-list {
    width: 100%;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        width: 30%;
        img {
            width: 100%;
        }
    }
}
.popInfo {
    margin: 0;
    padding: 0;
    p, em {
        font-size: 0.8em;
    }
    h4 {
        font-size: 0.9em;
    }
    .ui-checkbox {
        .ui-btn,
        .ui-btn:hover {
            background-color: transparent;
            border-color: transparent;
            font-size: 0.8em;
        }
    }
}

.ui-field-contain-full {
    >label~[class*=ui-],
    .ui-controlgroup-controls .input-full {
        float: left;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/*----------
 #Media Query
 --------------*/
@media screen and (orientation:portrait) {
    @-ms-viewport {
        height:device-heigth!important;
    }
}
@media screen and (orientation:landscape) {
    @-ms-viewport {
        height:device-heigth!important;
    }
}

/*----------
  #Nav
  -------------*/
.ui-navbar h3 {
    text-shadow: 1px 1px 2px #666;
}

/*----------
  #Icons
 -------------*/
.icon-alert-db {
    &:after {
        content: "";
        display: block;
        background: url("../img/icon-alert.png") no-repeat 0 0;
        height: 35px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 25px;
    }
    &:before {
        content: "";
        display: block;
        background: url("../img/icon-alert.png") no-repeat 0 0;
        height: 35px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 25px;
    }
}

/*------------
  #Maps
  --------------*/
.infoBox {
    padding: 19px 19px 0;
}

.infoBox:after {
    content: "▼";
    display: block;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    left: 45.5%;
}

.infoBox .content-box {
    width: 280px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666666;
    background: #FFFFFF;
    margin-bottom: 33px;
    padding-bottom: 20px;
    -moz-box-shadow:  0 9px 26px rgba(0,0,0,0.4);
    -webkit-box-shadow:  0 9px 26px rgba(0,0,0,0.4);
    box-shadow:  0 9px 26px rgba(0,0,0,0.4);
}

.infoBox > img {
    z-index: 99;
    width: 22px;
}

.infoBox button {
    font-size: 1.4em;
    border: 0 none;
    box-shadow: 1px 1px 2px #666;
    background: #007DC6;
    color: #fff;
    padding: 5px 12px;
}

.phoneytext {
    text-shadow: 0 1px 2px #04507C;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, arial;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    background: #007DC6;
    z-index: 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 0 10px;
    border: 1px dotted #fff;
    margin: 0;
}

.phoneytext h1 {
    margin: 0.4em 0;
    padding: 0;
}

.infotext p {
    padding: 0 0 4px 0;
    margin: 7px;
    border-bottom: 1px dotted #666;
}
.infotext {
    color: #666666;
    font-family: Helvetica Neue, Helvetica, arial;
    font-size: 1.2em;
    line-height: 15px;
    font-weight: bold;
    padding: 4px 15px 4px 15px;
    text-shadow: none;
}

.pop {
    &.in {
        margin: auto 30px;
    }
    .ui-datebox-header,
    fieldset.ui-grid-b,
    .ui-datebox-dboxin,
    .ui-datebox-controls {
        padding: 0 20px;
    }
    .ui-datebox-controls {
        padding: 10px 20px;
    }
    .ui-block-a,
    .ui-block-b,
    .ui-block-c {
        padding: 0 5px;
        &.ui-icon-minus {
            border-radius: 0px 0px 0.3125em 0.3125em;
            -webkit-border-radius: 0px 0px 0.3125em 0.3125em;
            margin-bottom: 5px;
        }
        &.ui-icon-plus {
            border-radius: 0.3125em 0.3125em 0px 0px;
            -webkit-border-radius: 0.3125em 0.3125em 0px 0px;
            margin-top: 5px;
        }
        input {
            width: 100%;
            margin: 0;
            padding: 10px 0;
            text-align: center;
            border-color: transparent;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}
/* ---------------
  # Custom Preload
 ------------------*/

.preloadPage, .preloadPage .ui-content {
    background: #00a7e9;
    color: #FFFFFF;
    padding: 0;
}

.preloadPage .cpsLoader_header {
    display: block;
    background: url("../img/logo-city.jpg") no-repeat top center / auto 100%;
    height: 150px;
    width: 100%;
    position: fixed;
    top: 32px;
    left: 0;
    z-index: 999999;
}

.preloadPage .cpsLoader_footer {
    background: url("../img/bg-city.jpg") repeat-x left bottom / auto 100%;
    display: block;
    height: 250px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.cpsLoader_wraapper {
    top: 45%;
    position: absolute;
    text-align: center;
    width: 100%;
}
.cpsLoader_wraapper .cpsLoader_text {
    opacity: 0;
}
.cpsLoader_container{
    width:110.33333333333334px;
    margin: auto;
}
.cpsLoader{
    background-color: #00a7e9;
    float:left;
    height:10px;
    margin-left:17px;
    width:10px;
    -moz-animation-name:bounce_cpsLoader;
    -moz-animation-duration:1.9500000000000002s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-border-radius:21px;
    -webkit-animation-name:bounce_cpsLoader;
    -webkit-animation-duration:1.9500000000000002s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-border-radius:21px;
    -ms-animation-name:bounce_cpsLoader;
    -ms-animation-duration:1.9500000000000002s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-border-radius:21px;
    -o-animation-name:bounce_cpsLoader;
    -o-animation-duration:1.9500000000000002s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-border-radius:21px;
    animation-name:bounce_cpsLoader;
    animation-duration:1.9500000000000002s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    border-radius:21px;
}

.cpsLoader_1{
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

.cpsLoader_2{
    -moz-animation-delay:0.9099999999999999s;
    -webkit-animation-delay:0.9099999999999999s;
    -ms-animation-delay:0.9099999999999999s;
    -o-animation-delay:0.9099999999999999s;
    animation-delay:0.9099999999999999s;
}

.cpsLoader_3{
    -moz-animation-delay:1.1700000000000002s;
    -webkit-animation-delay:1.1700000000000002s;
    -ms-animation-delay:1.1700000000000002s;
    -o-animation-delay:1.1700000000000002s;
    animation-delay:1.1700000000000002s;
}

@-moz-keyframes bounce_cpsLoader{
    0%{
    }
    50%{
        background-color:#FFFFFF;
    }
    100%{
    }
}

@-webkit-keyframes bounce_cpsLoader{
    0%{
    }
    50%{
        background-color:#FFFFFF;
    }
    100%{
    }
}

@-ms-keyframes bounce_cpsLoader{
    0%{
    }
    50%{
        background-color:#FFFFFF;
    }
    100%{
    }
}

@-o-keyframes bounce_cpsLoader{
    0%{
    }
    50%{
        background-color:#FFFFFF
    }
    100%{
    }
}

@keyframes bounce_cpsLoader{
    0%{
    }
    50%{
        background-color:#FFFFFF
    }
    100%{
    }
}
/*------------
  # Animation
  ---------------*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}



@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .ui-mobile {
        .text-center .ui-input-text {
            margin: 0 auto;
        }
    }
}