<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<!-- Inclusion de contenido -->
	

<ui:define name="head">
<style>
	 .tea {
				width:292px !important;
				
				}
</style>

</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper">
						<div class="grid_22 omega">
							<div class="suffix_1">
								<h:form prependId="false" id="contact-form">
									<fieldset>
										<h5>
											<h:outputText value="#{msgs['menu.createZone']}" />
										</h5>
										<div class="profileForm">
											<p:messages showSummary="true" showDetail="true"
												globalOnly="true" />
											<div class="column">
											
											   	<div class="field">
													<h:outputLabel value="#{msgs.registerZoneClient}"
														for="registerzoneClient" />
													<h:selectOneMenu styleClass="select-input"
														value="#{registerZoneController.zone.clientIdclient}"
														id="registerzoneClient"
														required="true" requiredMessage="#{msgs.fieldRequired}"
														 >
														<f:selectItem itemLabel="" itemValue=""></f:selectItem>
														<f:selectItems
															value="#{registerZoneController.listClients}"
															var="client" itemLabel="#{client.name}"
															itemValue="#{client.idclient}"
															itemDescription="#{client.name}" />
													<p:ajax listener="#{registerZoneController.clientChangeMethod}" 
													event="change" update="registerCountry,registerCity" process="@this"/>
													</h:selectOneMenu>
													<p:message for="registerzoneClient" />
													
												</div>
												<div class="field">
														  <h:outputLabel value="#{msgs.registerCountry}" for="registerCountry"/>
											 			 <h:selectOneMenu styleClass="select-input"
											 			  id="registerCountry" value="#{registerZoneController.idCountry}"
											 			required="true" requiredMessage="#{msgs.fieldRequired}"
														 >
														<f:selectItem itemLabel="" itemValue=""></f:selectItem>
													  <f:selectItems value="#{registerZoneController.client.clientCountries}" var="country"
													   itemLabel="#{country.name}" itemValue="#{country.idcountry}" 
													   itemDescription="#{country.name}"/>
													  <p:ajax listener="#{registerZoneController.changeCountry}" event="change" update="registerCity" process="@this"/>
													  
													  </h:selectOneMenu>
													  <p:message for="registerCountry" />
												</div>
												
												<div class="field">
												    <h:outputLabel value="#{msgs.registerCity}" for="registerCity"/>
										    		<h:selectOneMenu  styleClass="select-input" value="#{registerZoneController.idCity}" id="registerCity"
										    		 required="true" requiredMessage="#{msgs.fieldRequired}"
														 >
														<f:selectItem itemLabel="" itemValue=""></f:selectItem>
													<f:selectItems value="#{registerZoneController.listCities}" var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}" itemDescription="#{city.name}"/>
												  	</h:selectOneMenu>
												  	  <p:message for="registerCity" />
												  	
		 										 </div>
		 										 
		 										 
												<div class="field">
													<h:outputLabel value="ID"
														for="registerzoneID" />
													<h:inputText styleClass="text-input" maxlength="10"
														id="registerzoneID"
														value="#{registerZoneController.zone.idzone}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerzoneID" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerName}"
														for="registerName" />
													<h:inputText styleClass="text-input" maxlength="150"
														id="registerName"
														value="#{registerZoneController.zone.name}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerName" />
												</div>

												<div class="field">
													<h:outputLabel value="#{msgs.registerZoneHourValue}"
														for="registerZoneHourValue" />
													<h:inputText styleClass="text-input" maxlength="10"
														id="registerZoneHourValue"
														value="#{registerZoneController.zone.minuteValue}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerZoneHourValue" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerAddress}"
														for="registerAddress" />
													<h:inputText styleClass="text-input" maxlength="100"
														id="registerAddress"
														value="#{registerZoneController.zone.address}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerAddress" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerEmail}"
														for="registerEmail" />
													<h:inputText styleClass="text-input" maxlength="100"
														id="registerEmail"
														value="#{registerZoneController.zone.email}">
													</h:inputText>
													<p:message for="registerEmail" />
												</div>
												
												

											</div>
											<div class="column">
												<div class="field">
													<h:outputLabel value="#{msgs.registerZoneOpenTime}(06:00)"
														for="registerZoneOpenTime" />
													<p:inputMask mask="99:99" styleClass="text-input"
														maxlength="30" id="registerZoneOpenTime"
														value="#{registerZoneController.openTime}" required="true"
														requiredMessage="#{msgs.fieldRequired}">

													</p:inputMask>
													<p:message for="registerZoneOpenTime" />
												</div>

												<div class="field">
													<h:outputLabel
														value="#{msgs.registerZoneCloseTime} (18:00)"
														for="registerZoneCloseTime" />
													<p:inputMask mask="99:99" styleClass="text-input"
														maxlength="30" id="registerZoneCloseTime"
														value="#{registerZoneController.closeTime}"
														required="true" requiredMessage="#{msgs.fieldRequired}">

													</p:inputMask>
													<p:message for="registerZoneCloseTime" />
												</div>
												
												
												<div class="field">
													<h:outputLabel value="#{msgs.registerZoneLatitude}"
														for="registerZoneLatitude" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="registerZoneLatitude"
														value="#{registerZoneController.zone.latitude}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
													</h:inputText>
													<p:message for="registerZoneLatitude" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerZoneLongitude}"
														for="registerZoneLongitude" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="registerZoneLongitude"
														value="#{registerZoneController.zone.longitude}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
													</h:inputText>
													<p:message for="registerZoneLongitude" />
												</div>

												<div class="field">
													<h:outputLabel
														value="URL. I.E: http://IP:PORT/wsPagoXCelular"
														for="registerURL" />
													<h:inputText styleClass="text-input" maxlength="200"
														id="registerURL"
														value="#{registerZoneController.zone.url}"
														required="false" />

													<p:message for="registerURL" />
												</div>
												<div class="field">
													<h:outputLabel
														value="#{msgs['zones.schedule']}"
														for="registerSchedule" />
													<h:inputTextarea   maxlength="500" styleClass="tea"
														id="registerSchedule"
														value="#{registerZoneController.zone.schedule}"
														required="false"/>

													<p:message for="registerSchedule" />
												</div>
											</div>
										</div>
										<div class="container buttonForm">
											<div class="fleft">
												<h:commandLink styleClass="link"
													value="[#{msgs.registerButton}]"
													action="#{registerZoneController.registerZone}" />
											</div>
										</div>
									</fieldset>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>