<div ng-switch="actionType">
  <a ng-switch-when="modal" ng-hide="!paymentez.hasCards()" class="button button-block button-primary" hm-tap="paymentez.editCards()" locale-id="editCards">
    Edit Cards
  </a>

  <div ng-switch-when="select">
    <div class="list list-cps" ng-init="paymentez.listCards()">

      <label class="item item-radio" ng-repeat="card in paymentez.userCards()">
        <input type="radio" name="group" value="{{card.card_reference}}" ng-model="paymentez.debitData.card_reference">
        <div class="item-content">
          <h2 class="title title-icon-left">
            <i class="icon" ng-class="{'mc': 'ion-mastercard', 'vi': 'ion-visa'}[card.type]"></i>
            <span>{{card.termination}}</span>
          </h2>
          <p>{{card.name}}</p>
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <div ng-if="!paymentez.hasCards()">
        <a class="button button-block button-primary" hm-tap="paymentez.addCard()" locale-id="addCard">
          Add Card
        </a>
        <div class="item item-text-wrap text-center">
          <span locale-id="noHaveCards">No have Cards</span>
        </div>
      </div>

      <div class="item item-divider" locale-id="paymentInstallmentsNumber">
        Installments number
      </div>
      <label class="item range range-primary" for="installments">
        <i class="icon ion-card"></i>
        <input type="range" ng-model="paymentez.debitData.installments" name="installments" min="1" max="12">
        <span>{{paymentez.debitData.installments}}</span>
      </label>
      <div class="padding">
        <i class="icon ion-information-circled primary"></i>
        <span locale-id="paymentezCardsInfo" class="dark">Payment info</span>
      </div>

    </div>
  </div>

  <div ng-switch-default ng-controller="PaymentezController as paymentez">
    <a class="button button-block button-primary" hm-tap="paymentez.addCard()" locale-id="addCard">
      Add Card
    </a>

    <ul class="list list-cps" ng-init="paymentez.listCards()">

      <li class="item item-divider" locale-id="userCards">
        User cards
      </li>

      <li class="item item-icon-right item-icon-left" ng-repeat="card in paymentez.userCards()">
        <i class="icon" ng-class="{'mc': 'ion-mastercard', 'vi': 'ion-visa'}[card.type]"></i>
        <h2>{{card.termination}}</h2>
        <p>{{card.name}}</p>
        <button class="icon ion-delete-item button icon button-icon" ng-click="paymentez.deleteCard(card)">
        </button>
      </li>
      <li ng-if="!paymentez.hasCards()" class="item text-center">
        <span locale-id="noHaveCards">No have Cards</span>
      </li>
    </ul>
  </div>

</div>
