<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper" style="position:relative;">                    	
                        <div class="grid_15 omega">
                            <div class="suffix_1">                            
                            	<h5 style="float:left;"><h:outputText value="#{msgs['menu.reloadPin']}"/></h5>
                                <img style=" position: inherit; left:150px; top:-8px;" class="pageImage" src="../images/cps/shop1.png"></img>
                                <div id="contact_form" style="clear:both;">
                                <p:messages showSummary="true" showDetail="true" globalOnly="true" />
                                <h:form prependId="false" method="post" id="contact-form">
                                    <fieldset> 
                                      <div class="field">
                                        <h:outputLabel value="PIN" for="pin" id="labelforpin"/>
                                        <h:inputText label="labelforpin" styleClass="text-input" maxlength="10" id="pin" value="#{balancePinController.pin}" required="true" requiredMessage="#{msgs.reloadBalancePinRequired}"  converterMessage="#{msgs.reloadBalancePinNumber}"/>
                                        <p:message for="pin"/>
                                       </div>
                                      <div class="container">
                                        <div class="fleft" style="margin:20px 0;">
                                        <h:commandLink styleClass="link" value="[#{msgs.reloadBalanceButton}]" action="#{balancePinController.reloadBalancePin}"/>
                                       </div>
                                      </div>
                                    </fieldset>    
                                </h:form>
                              </div>
                              </div>
                              <div class="pageInfo">
                              	<p><h:outputText value="#{msgs.reloadBalancePinMessage}"/></p>
                            </div>                   
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
      <!-- /.content-box -->
    </section>
	</ui:define>
</ui:composition>
</html>