<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper">
						<div class="grid_22 omega">
							<div class="suffix_1">
								<h:form prependId="false" id="contact-form">
									<fieldset>
										<h5>
											<h:outputText value="#{msgs['registerTitle']}" />
										</h5>
										<div class="field">
											<p:ajaxStatus>
												<f:facet name="start">
													<h:graphicImage value="/images/loader.gif" />
												</f:facet>
												<f:facet name="complete">
													<h:outputText value="" />
												</f:facet>
											</p:ajaxStatus>
										</div>
										<div style="clear: both"></div>
										<p:messages id="messageGeneral" showSummary="true"
											showDetail="true" globalOnly="true" />
										<div class="profileForm">
											<div class="column">
												<div class="field">
													<h:outputLabel value="#{msgs.registerName}"
														for="registerName" />
													<h:inputText maxlength="30" id="registerName"
														value="#{adminUserController.sysUser.name}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerName" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerLastName}"
														for="registerLastName" />
													<h:inputText maxlength="30" id="registerLastName"
														value="#{adminUserController.sysUser.lastName}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerLastName" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerBirthDate}"
														for="registerBirthDate" />
													<p:calendar navigator="true" maxdate="c" yearRange="c-70:c"
														readOnlyInputText="true" maxlength="20"
														id="registerBirthDate"
														value="#{adminUserController.sysUser.birthDate}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerBirthDate" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerAddress}"
														for="registerAddress" />
													<h:inputText maxlength="45" id="registerAddress"
														value="#{adminUserController.sysUser.address}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerAddress" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerEmail}"
														for="registerEmail" />
													<h:inputText maxlength="35" id="registerEmail"
														value="#{adminUserController.sysUser.email}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
														<f:validator validatorId="cps.EmailValidator" />
													</h:inputText>
													<p:message for="registerEmail" />
												</div>
												<div class="field">
													<p:outputLabel value="#{msgs.registerMsisdn}"
														for="registerMsisdn" />
													<p:inputMask id="registerMsisdn"
														value="#{adminUserController.sysUser.favoriteMsisdn}"
														required="true" requiredMessage="#{msgs.fieldRequired}"
														mask="(999) 999-9999">
														<f:converter converterId="celPhoneConverter" />
														<!-- <f:validator validatorId="cps.MsisdnValidator" /> -->
													</p:inputMask>
													 <p:message for="registerMsisdn" />
												</div>
											</div>
											<div class="column">

												<div class="field">
													<h:outputLabel value="#{msgs.registerCountry}"
														for="registerCountry" />
													<h:selectOneMenu
														value="#{adminUserController.selectedCountry}"
														id="registerCountry" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItem itemLabel="" itemValue=""></f:selectItem>
														<f:selectItems
															value="#{parametrosController.listCountries}"
															var="country" itemLabel="#{country.name}"
															itemValue="#{country.idcountry}"
															itemDescription="#{country.name}" />
														<p:ajax listener="#{adminUserController.changeCountry}"
															event="change" update="registerCity" process="@this" />
													</h:selectOneMenu>
													<p:message for="registerCountry" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCity}"
														for="registerCity" />
													<h:selectOneMenu value="#{adminUserController.city}"
														id="registerCity" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItems value="#{adminUserController.cityes}"
															var="city" itemLabel="#{city.name}"
															itemValue="#{city.idcity}" itemDescription="#{city.name}" />
													</h:selectOneMenu>
													<p:message for="registerCity" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.loginLabel}" for="loginLabel" />
													<h:inputText maxlength="10" id="loginLabel"
														value="#{adminUserController.sysUser.login}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
														<!--<f:validator validatorId="cps.LoginValidator" />  -->
														<f:validateLength minimum="3" />
													</h:inputText>
													<p:message for="loginLabel" display="true" />
												</div>
												<!-- CONTRASEÑA PRINCIPAL -->
												<div class="field">
													<h:outputLabel value="#{msgs.passLabel}" for="pass" />
													<p:password minLength="6" id="pass" immediate="true"
														value="#{adminUserController.sysUser.pass}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
														<f:validateLength minimum="6" />
													</p:password>
													<p:message for="pass" display="true" />
												</div>
												<!-- CONTRASEÑA DE TRANSACCIONES -->
												<!-- 
												<div class="field">
													<h:outputLabel value="#{msgs.pass2Label}" for="pass2" />
													<p:password minLength="6" id="pass2"
														value="#{adminUserController.sysUser.pass2}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
														<f:attribute name="uiComponentIdToCompare"
															value="contact-form:pass" />
														<f:attribute name="messageToDisplay"
															value="#{msgs['registerTransactionEqualMain']}" />
														<f:validator validatorId="cps.SecondPasswordValidator" />
														<f:validateLength minimum="4" />
													</p:password>
													<p:message for="pass2" display="true" />
												</div>
												-->
											</div>
										</div>
										<div class="container">
											<div class="fleft" style="margin: 20px 0;">
												<h:outputLabel value="#{msgs.registerAcceptTerms}"
													for="legal" />
												<a target="_blank"
													href="#{facesContext.externalContext.requestContextPath}/doc/TERMINOS Y CONDICIONES CPS CR.pdf"><h:outputText
														value=" #{msgs.registerTermsAndCondicition}" /></a>
												<h:outputLabel value=" #{msgs.registerOfSite}" for="legal" />
											</div>
										</div>
										<div class="container">
											<div class="fleft" style="margin: 20px 0;">
												<h:selectBooleanCheckbox id="notificaciones"
													value="#{adminUserController.emailNotification}"
													name="notificaciones">
												</h:selectBooleanCheckbox>
												<!--             <input class="field" id="notificaciones" name ="notificaciones" type="checkbox" /> -->
												<h:outputLabel value="#{msgs.registerMessageNotificacion}"
													for="notificaciones" />
											</div>
										</div>


										<div class="container">
											<div class="fleft" style="margin: 20px 0;">
												<h:commandLink styleClass="link"
													value="[#{msgs.registerButton}]"
													action="#{adminUserController.registerUser}">
													<f:param name="cps_url"
														value="#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}" />
												</h:commandLink>
											</div>
										</div>
									</fieldset>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>