<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/template.xhtml">
	<!-- Inclusion de contenido -->
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">
						<div class="grid_22 omega">
							<div class="suffix_1">
								<h:form prependId="false" id="contact-form">
									<fieldset>
										<h5 style="float: left;">
											<h:outputText value="#{msgs['menu.myProfile']}" />
										</h5>
										<img style="margin-top: -3px;" class="pageImage"
											src="../images/cps/profile1.png"></img>
										<div style="clear: both"></div>
										<p:messages showSummary="true" showDetail="true"
											globalOnly="true" />
										<div class="profileForm" style="clear: both; padding: 0px;">
											<div class="column">
												<div class="field">
													<h:outputLabel
														rendered="#{sessionScope.userSession.idsysUserType == '2'}"
														value="#{msgs['myuser.uc']}" for="registerCu" />
													<h:inputText styleClass="text-input" maxlength="20"
														id="registerCu" value="#{adminUserController.sysUser.cu}"
														required="true" requiredMessage="#{msgs.fieldRequired}"
														readonly="true"
														rendered="#{sessionScope.userSession.idsysUserType == '2'}" />
													<p:message
														rendered="#{sessionScope.userSession.idsysUserType == '2'}"
														for="registerCu" />
												</div>

												<div class="field">
													<h:outputLabel value="#{msgs.registerName}"
														for="registerName" />
													<h:inputText styleClass="text-input" maxlength="20"
														id="registerName"
														value="#{adminUserController.sysUser.name}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerName" />
												</div>

												<div class="field">
													<h:outputLabel value="#{msgs.registerLastName}"
														for="registerLastName" />
													<h:inputText styleClass="text-input" maxlength="20"
														id="registerLastName"
														value="#{adminUserController.sysUser.lastName}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerLastName" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerBirthDate}"
														for="registerBirthDate" />
													<p:calendar styleClass="text-input" yearRange="c-40:c"
														navigator="true" readOnlyInputText="true" maxlength="10"
														id="registerBirthDate"
														value="#{adminUserController.sysUser.birthDate}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerBirthDate" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerAddress}"
														for="registerAddress" />
													<h:inputText styleClass="text-input" maxlength="40"
														id="registerAddress"
														value="#{adminUserController.sysUser.address}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message for="registerAddress" />
												</div>
											</div>
											<div class="column">
												<div class="field">
													<h:outputLabel value="#{msgs.registerEmail}"
														for="registerEmail" />
													<h:inputText styleClass="text-input" maxlength="30"
														id="registerEmail"
														value="#{adminUserController.sysUser.email}"
														required="true" requiredMessage="#{msgs.fieldRequired}">
														<f:validator validatorId="cps.EmailValidator" />
													</h:inputText>
													<p:message for="registerEmail" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCountry}"
														for="registerCountry" />
													<h:selectOneMenu styleClass="select-input"
														value="#{adminUserController.sysUser.countryIdcountry}"
														id="registerCountry">
														<f:selectItems
															value="#{parametrosController.listCountries}"
															var="country" itemLabel="#{country.name}"
															itemValue="#{country.idcountry}"
															itemDescription="#{country.name}" />
														<p:ajax listener="#{adminUserController.changeCountry}"
															event="change" update="registerCity" process="@this" />
													</h:selectOneMenu>
													<p:message for="registerCountry" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerCity}"
														for="registerCity" />
													<h:selectOneMenu
														value="#{adminUserController.sysUser.city.idcity}"
														id="registerCity" required="true"
														requiredMessage="#{msgs.fieldRequired}">
														<f:selectItems value="#{adminUserController.cityes}"
															var="city" itemLabel="#{city.name}"
															itemValue="#{city.idcity}" itemDescription="#{city.name}" />
													</h:selectOneMenu>
													<p:message for="registerCity" />
												</div>
												<div class="field">
													<h:outputLabel value="#{msgs.registerMsisdn}"
														for="registerMsisdn" />

													<p:inputMask id="registerMsisdn"
														value="#{adminUserController.sysUser.favoriteMsisdn}"
														required="true" requiredMessage="#{msgs.fieldRequired}"
														mask="(999) 999-9999">
														<f:converter converterId="celPhoneConverter" />
														<f:validator validatorId="cps.MsisdnValidator" />
													</p:inputMask>


													<p:message for="registerMsisdn" />
												</div>
												<div class="field">
													<h:inputHidden styleClass="text-input"
														rendered="#{adminUserController.sysUser.cu != adminUserController.sysUser.login}"
														value="#{adminUserController.sysUser.login}" />
													<h:outputLabel value="#{msgs.loginLabel}"
														rendered="#{adminUserController.sysUser.cu == adminUserController.sysUser.login}"
														for="registerLogin" />
													<h:inputText styleClass="text-input"
														rendered="#{adminUserController.sysUser.cu == adminUserController.sysUser.login}"
														maxlength="15" id="registerLogin"
														value="#{adminUserController.sysUser.login}"
														required="true" requiredMessage="#{msgs.fieldRequired}" />
													<p:message
														rendered="#{adminUserController.sysUser.cu == adminUserController.sysUser.login}"
														for="registerLogin" />
												</div>
											</div>
										</div>
										<div class="container buttonForm" style="padding: 0px;">
											<div class="fleft" style="margin: 20px 0;">
												<h:commandLink styleClass="link"
													value="[#{msgs.updateButton}]"
													action="#{adminUserController.updateUser}">
													<f:param name="cps_url"
														value="#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}" />
												</h:commandLink>
											</div>
										</div>
									</fieldset>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>