<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script src="https://maps.google.com/maps/api/js?sensor=false"
			type="text/javascript"></script>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper">
						<div class="grid_15 omega">
							<div class="suffix_1">
								<h:form id="contact-form" prependId="false">
									<fieldset>
										<p:growl id="growl" showDetail="true" life="3000" />
										<h5>
											<h:outputText value="#{msgs['menu.myZones']}" />
										</h5>
										<img style="margin-top: 0px;" class="pageImage"
											src="../images/cps/search1.png"></img>
										<div style="clear: both"></div>
										<div class="field">
											<h:outputLabel value="#{msgs.registerCountry}"
												for="registerCountry" />
											<h:selectOneMenu immediate="true"
												valueChangeListener="#{parkingZonesController.changeZone}"
												onchange="this.form.submit();" id="registerCountry">
												<f:selectItem itemValue="-1"
													itemLabel="#{msgs.registerCity}"></f:selectItem>
												<f:selectItems value="#{parkingZonesController.cities}"
													var="city" itemLabel="#{city.name}"
													itemValue="#{city.idcity}" itemDescription="#{city.name}" />
											</h:selectOneMenu>
									<p:outputPanel
											style="text-align:left;display:block;margin:auto ">		
									<p:graphicImage id="normalicon" value="../images/icons/flag.png" />
									<h:outputLabel value="#{msgs['zone.online']}, " for="normalicon" />
								    <p:graphicImage id="offlineicon" value="../images/icons/offlineflag.png" />
								    <h:outputLabel value="#{msgs['zone.offline']}, " for="offlineicon" />
									<p:graphicImage id="disabledicon" value="../images/icons/deactivateflag.png" />
									<h:outputLabel value="#{msgs['zone.deactivated']} ." for="disabledicon" />
									</p:outputPanel>
										</div>
									</fieldset>
									
								</h:form>
								<p:gmap fitBounds="true"
									center="#{parkingZonesController.lat},#{parkingZonesController.lon}"
									type="ROADMAP" style="width:900px;height:500px"
									model="#{parkingZonesController.simpleModel}" streetView="true">
									<p:ajax event="overlaySelect"
										listener="#{parkingZonesController.onMarkerSelect}" />
									<p:gmapInfoWindow>
										<p:outputPanel
											style="text-align:left;display:block;margin:auto;width:200px ">
											<p:outputPanel style="display:block;margin:auto;width:200px;">
												<h:outputText 
													style="font-size:18px; font-weight:bold;"
													id="zonename"
													value="#{parkingZonesController.infoZone.zone.name}" />
											</p:outputPanel>

											<!-- 										<p:graphicImage value="/images/antalya/#{mapBean.marker.data}" /> -->
											<br />
											<h:outputLabel value="#{msgs['zones.parking.code']}: "
												for="idzone" />
											<h:outputText id="idzone"
												value="#{fn:replace(parkingZonesController.infoZone.zone.idzone,'COL','')}" />
											<br />

											<h:outputLabel value="#{msgs['zones.quota']}: "
												for="zonequota" />
											<h:outputText id="zonequota"
												value="#{parkingZonesController.infoZone.quota}" />
											<br />
											<h:outputLabel value="#{msgs['myAgent.email']}: " for="email" />
											<h:outputText id="email"
												value="#{parkingZonesController.infoZone.zone.email}" />
											<br />
											<h:outputLabel value="#{msgs['zones.schedule']}: "
												for="schedule" />
											<h:outputText id="schedule"
												value="#{parkingZonesController.infoZone.zone.schedule}" />
											<!-- 										<h:outputText value="#{parkingZonesController.marker.title}" /> -->

										</p:outputPanel>

									</p:gmapInfoWindow>
								</p:gmap>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>