<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">
			function handleLoginRequest(xhr, status, args) {
				if (args.validationFailed || !args.flag) {
					jQuery('#dialog').parent().effect("shake", {
						times : 3
					}, 100);
				} else {
					PF('zoneDialog').hide();
					//jQuery('#loginLink').fadeOut();  
				}
			}


			function handlePriceRequest(xhr, status, args) {
				if (args.validationFailed || !args.flag) {
					jQuery('#dialog').parent().effect("shake", {
						times : 3
					}, 100);
				} else {
					PF('addPriceDlg').hide();
					//jQuery('#loginLink').fadeOut();  
				}
			}
		</script>

		<style>
.tea {
	width: 292px !important;
	height: 100px !important;
}
</style>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">

				<h:form>
					<p:confirmDialog id="confirmDialogD"
						message="#{msgs['zones.deactivate']}"
						header="#{msgs['zones.confirmation.msg']}" severity="alert"
						widgetVar="confirmToggleD" modal="true">
						<p:commandButton process="@this" id="botonToggle"
							value="#{msgs['zones.confirm.btn']}"
							actionListener="#{managerZoneController.toggleActivate}"
							update=":contact-form:tbl"
							oncomplete="PF('confirmToggleD').hide();" />
						<p:commandButton value="#{msgs['parameter.cancel']}"
							onclick="PF('confirmToggleD').hide();" type="button" />
					</p:confirmDialog>
				</h:form>
				<h:form>
					<p:confirmDialog id="confirmDialogA"
						message="#{msgs['zones.activate']}"
						header="#{msgs['zones.confirmation.msg']}" severity="alert"
						widgetVar="confirmToggleA" modal="true">
						<p:commandButton process="@this" id="botonToggle"
							value="#{msgs['zones.confirm.btn']}"
							actionListener="#{managerZoneController.toggleActivate}"
							update=":contact-form:tbl"
							oncomplete="PF('confirmToggleA').hide();" />
						<p:commandButton value="#{msgs['parameter.cancel']}"
							onclick="PF('confirmToggleA').hide();" type="button" />
					</p:confirmDialog>
				</h:form>
				<h:form prependId="false" id="contact-form">
					<fieldset>
						<p:growl id="growl" showSummary="true" showDetail="true"
							life="3000" />
						<h5>
							<h:outputText value="#{msgs['menu.myZones']}" />
						</h5>

						<br></br> <br></br> <br></br>
						<!-- 						value="#{managerZoneController.client}" -->
						<div class="field">
							<h:outputLabel value="#{msgs.registerZoneClient}"
								for="registerzoneClient" />
							<h:selectOneMenu styleClass="select-input"
								id="registerzoneClient"
								valueChangeListener="#{managerZoneController.listCountries}"
								onchange="this.form.submit();">
								<f:selectItem itemLabel="Client" itemValue="-1" />
								<f:selectItems value="#{managerZoneController.listClients}"
									var="client" itemLabel="#{client.name}"
									itemValue="#{client.idclient}" itemDescription="#{client.name}" />
							</h:selectOneMenu>
							<p:message for="registerzoneClient" />
						</div>



						<div class="field">
							<h:outputLabel value="#{msgs.registerCountry}"
								for="registerzoneCountry" />
							<h:selectOneMenu styleClass="select-input"
								id="registerzoneCountry"
								valueChangeListener="#{managerZoneController.listCities}"
								onchange="this.form.submit();">
								<f:selectItem itemLabel="#{msgs.registerCountry}" itemValue="-1" />
								<f:selectItems
									value="#{managerZoneController.client.clientCountries}"
									var="country" itemLabel="#{country.name}"
									itemValue="#{country.idcountry}"
									itemDescription="#{country.name}" />
							</h:selectOneMenu>
							<p:message for="registerzoneCountry" />
						</div>

						<div class="field">
							<h:outputLabel value="#{msgs.registerCity}"
								for="registerzoneCity" />
							<h:selectOneMenu styleClass="select-input" id="registerzoneCity"
								valueChangeListener="#{managerZoneController.listZonesAction}"
								onchange="this.form.submit();">
								<f:selectItem itemLabel="#{msgs.registerCity}" itemValue="-1" />
								<f:selectItems value="#{managerZoneController.filteredCities}"
									var="city" itemLabel="#{city.name}" itemValue="#{city.idcity}"
									itemDescription="#{city.name}" />
							</h:selectOneMenu>
							<p:message for="registerzoneCity" />
						</div>
						<br></br>
						<p:dataTable id="tbl" var="zone"
							value="#{managerZoneController.listZones}" paginator="true"
							rows="12" emptyMessage="Not info">

							<p:column filterBy="#{zone.name}">
								<f:facet name="header">
									<h:outputText value="#{msgs['registerName']}" />
								</f:facet>
								<h:outputText value="#{zone.name}" />
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['registerZoneHourValue']}" />
								</f:facet>
								<h:outputText value="#{zone.minuteValue}">
									<f:convertNumber type="currency"></f:convertNumber>
								</h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['registerZoneOpenTime']}" />
								</f:facet>
								<h:outputText value="#{zone.openTime}">

								</h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['registerZoneCloseTime']}" />
								</f:facet>
								<h:outputText value="#{zone.closeTime}">

								</h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['registerZoneLatitude']}" />
								</f:facet>
								<h:outputText value="#{zone.latitude}">

								</h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['registerZoneLongitude']}" />
								</f:facet>
								<h:outputText value="#{zone.longitude}">

								</h:outputText>
							</p:column>

							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<!-- 								<h:outputText value="#{zone.active}"> -->

								<!-- 								</h:outputText> -->
								<!-- <h:outputText value="#{msgs['resgisterZoneActive']}" /> -->
								<p:commandButton title="Activate"
									update=":contact-form1:display" icon="ui-icon-circle-minus"
									process="@this" oncomplete="PF('confirmToggleD').show()"
									rendered="#{zone.active eq 1}">
									<f:setPropertyActionListener value="#{zone}"
										target="#{managerZoneController.zone}" />
								</p:commandButton>
								<p:commandButton title="Activate"
									update=":contact-form1:display" icon="ui-icon-circle-check
 "
									process="@this" oncomplete="PF('confirmToggleA').show()"
									rendered="#{zone.active eq 0}">
									<f:setPropertyActionListener value="#{zone}"
										target="#{managerZoneController.zone}" />
								</p:commandButton>
							</p:column>
							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<p:commandButton title="Edit" update=":contact-form1:display"
									oncomplete="PF('zoneDialog').show()" icon="ui-icon-pencil">
									<f:setPropertyActionListener value="#{zone}"
										target="#{managerZoneController.zone}" />
								</p:commandButton>
							</p:column>
							<p:column style="width:32px">
								<f:facet name="header">
									<h:outputText value=" " />
								</f:facet>
								<p:commandButton title="Restriction"
									update=":panelDialogRestrict"
									oncomplete="PF('dialogRest').show()" icon="ui-icon-locked">
									<f:setPropertyActionListener value="#{zone}"
										target="#{managerZoneController.zoneRestrict}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</fieldset>
				</h:form>
				<p:dialog width="850" widgetVar="zoneDialog" header="Zone"
					id="dialog">
					<h:form prependId="false" id="contact-form1"
						styleClass="contact-form">
						<fieldset>
							<h5>
								<h:outputText value="#{msgs['updateZoneTitle']}" />
							</h5>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />
							<h:panelGroup id="display">
								<div class="profileForm">
									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs.registerName}"
												for="registerName" />
											<h:inputText styleClass="text-input" maxlength="150"
												id="registerName" value="#{managerZoneController.zone.name}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="registerName" />
										</div>

										<div class="field">
											<h:outputLabel value="#{msgs.registerZoneHourValue}"
												for="registerZoneHourValue" />
											<h:inputText styleClass="text-input" maxlength="10"
												id="registerZoneHourValue"
												value="#{managerZoneController.zone.minuteValue}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="registerZoneHourValue" />
										</div>

										<div class="field">
											<h:outputLabel value="#{msgs.registerAddress}"
												for="registerAddress" />
											<h:inputText styleClass="text-input" maxlength="150"
												id="registerAddress"
												value="#{managerZoneController.zone.address}"
												required="true" requiredMessage="#{msgs.fieldRequired}" />
											<p:message for="registerAddress" />
										</div>

										<div class="field">
											<h:outputLabel value="#{msgs.registerEmail}"
												for="registerEmail" />
											<h:inputText styleClass="text-input" maxlength="100"
												id="registerEmail"
												value="#{managerZoneController.zone.email}" required="true">
												<!-- 												<f:validator validatorId="cps.EmailValidator" /> -->
											</h:inputText>
											<p:message for="registerEmail" />
										</div>


										<div class="field">
											<h:outputLabel
												value="URL. I.E: http://IP:PORT/wsPagoXCelular"
												for="registerURL" />
											<h:inputText styleClass="text-input" maxlength="200"
												id="registerURL" value="#{managerZoneController.zone.url}"
												required="false" />

											<p:message for="registerURL" />
										</div>
									</div>

									<div class="column">
										<div class="field">
											<h:outputLabel value="#{msgs.registerZoneOpenTime}(06:00)"
												for="registerZoneOpenTime" />
											<p:inputMask mask="99:99" styleClass="text-input"
												maxlength="30" id="registerZoneOpenTime"
												value="#{managerZoneController.openTime}" required="true"
												requiredMessage="#{msgs.fieldRequired}">

											</p:inputMask>
											<p:message for="registerZoneOpenTime" />
										</div>

										<div class="field">
											<h:outputLabel value="#{msgs.registerZoneCloseTime} (18:00)"
												for="registerZoneCloseTime" />
											<p:inputMask mask="99:99" styleClass="text-input"
												maxlength="30" id="registerZoneCloseTime"
												value="#{managerZoneController.closeTime}" required="true"
												requiredMessage="#{msgs.fieldRequired}">

											</p:inputMask>
											<p:message for="registerZoneCloseTime" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs.registerZoneLatitude}"
												for="registerZoneLatitude" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="registerZoneLatitude"
												value="#{managerZoneController.zone.latitude}"
												required="true" requiredMessage="#{msgs.fieldRequired}">
											</h:inputText>
											<p:message for="registerZoneLatitude" />
										</div>
										<div class="field">
											<h:outputLabel value="#{msgs.registerZoneLongitude}"
												for="registerZoneLongitude" />
											<h:inputText styleClass="text-input" maxlength="30"
												id="registerZoneLongitude"
												value="#{managerZoneController.zone.longitude}"
												required="true" requiredMessage="#{msgs.fieldRequired}">
											</h:inputText>
											<p:message for="registerZoneLongitude" />
										</div>


										<div class="field">
											<h:outputLabel value="#{msgs['zones.schedule']}"
												for="registerSchedule" />
											<h:inputTextarea maxlength="500" styleClass="tea"
												id="registerSchedule"
												value="#{managerZoneController.zone.schedule}"
												required="false" />

											<p:message for="registerSchedule" />
										</div>
									</div>
								</div>
								<div class="container buttonForm">
									<div class="fleft">
										<p:commandLink styleClass="link"
											value="[#{msgs.updateButton}]"
											actionListener="#{managerZoneController.updateZone}"
											oncomplete="handleLoginRequest(xhr, status, args)"
											update=":contact-form:growl :contact-form:tbl" />
									</div>
								</div>
							</h:panelGroup>
						</fieldset>
					</h:form>
				</p:dialog>
				<p:dialog id="dialogRestrict" widgetVar="dialogRest" width="900">
					<h:panelGroup id="panelDialogRestrict">
						<p:tabView id="tabrestrict">
							<p:tab title="#{msgs['zones.timerestrict']}">
								<h:form id="formTabRestrict" prependId="false">
									<p:growl id="grow3" showSummary="true" showDetail="true"
										life="3000" />
									<h:panelGrid columns="5" id="gridTimeRestrict">
										<h:outputText value="Day" />
										<h:outputText value="Max  Minuts" />
										<h:outputText value="Start Time (06:00)" />
										<h:outputText value="End Time (18:00)" />
										<h:outputText value=" " />
										<h:selectOneMenu
											value="#{managerZoneController.timeRestrict.day}">
											<f:selectItem itemLabel="Lunes" itemValue="2" />
											<f:selectItem itemLabel="Martes" itemValue="3" />
											<f:selectItem itemLabel="Miercoles" itemValue="4" />
											<f:selectItem itemLabel="Jueves" itemValue="5" />
											<f:selectItem itemLabel="Sabado" itemValue="6" />
											<f:selectItem itemLabel="Domingo" itemValue="1" />
										</h:selectOneMenu>
										<h:inputText required="true"
											requiredMessage="Max Minuts Required"
											value="#{managerZoneController.timeRestrict.maxMinutes}"
											size="6" validatorMessage="El valor no puede ser cero">
											<f:validateLongRange minimum="1" />
										</h:inputText>
										<p:inputMask mask="99:99" required="true"
											requiredMessage="Start Time Required"
											value="#{managerZoneController.startTime}" size="6" />
										<p:inputMask mask="99:99" required="true"
											requiredMessage="End Time Required"
											value="#{managerZoneController.endTime}" size="6" />
										<p:commandButton icon="ui-icon-circle-plus"
											actionListener="#{managerZoneController.registerTimeRestrict}"
											update=":tabrestrict:zone-form:tableTimeRestricts grow3 gridTimeRestrict"
											title="Add Restrict" />
									</h:panelGrid>
								</h:form>
								<h:form prependId="false" id="zone-form">
									<p:dataTable id="tableTimeRestricts"
										value="#{managerZoneController.listTimeRestricts}"
										var="restrict">
										<p:column>
											<h:selectOneMenu value="#{restrict.day}" disabled="true">
												<f:selectItem itemLabel="Lunes" itemValue="2" />
												<f:selectItem itemLabel="Martes" itemValue="3" />
												<f:selectItem itemLabel="Miercoles" itemValue="4" />
												<f:selectItem itemLabel="Jueves" itemValue="5" />
												<f:selectItem itemLabel="Sabado" itemValue="6" />
												<f:selectItem itemLabel="Domingo" itemValue="1" />
											</h:selectOneMenu>
										</p:column>
										<p:column>
											<h:outputText value="#{restrict.maxMinutes}"></h:outputText>
										</p:column>
										<p:column>
											<h:outputText value="#{restrict.startTime}"></h:outputText>
										</p:column>
										<p:column>
											<h:outputText value="#{restrict.endTime}"></h:outputText>
										</p:column>
										<p:column>
											<p:commandButton icon="ui-icon-circle-minus" id="delete-bt"
												actionListener="#{managerZoneController.deleteTimeRestrict}"
												update="@form tableTimeRestricts formTabRestrict:grow3"
												title="Delete Restrict">
												<f:param name="idTimeRestrict"
													value="#{restrict.idtimeRestrict}"></f:param>
											</p:commandButton>
										</p:column>
									</p:dataTable>
								</h:form>
							</p:tab>
							<p:tab title="#{msgs['zones.pricerestrict']}">

								<h:form prependId="false" id="price-form">
									<p:dataTable id="tablePriceRestricts"
										value="#{managerZoneController.listPriceRestricts}"
										var="priceRestrict">
										<p:column headerText="#{msgs['zones.pricerestrict.day']}">
											<h:selectOneMenu value="#{priceRestrict.day}" disabled="true">
												<f:selectItem itemLabel="Toda la Semana" itemValue="-1" />
												<f:selectItem itemLabel="Lun-Vie" itemValue="-2" />
												<f:selectItem itemLabel="Lunes" itemValue="2" />
												<f:selectItem itemLabel="Martes" itemValue="3" />
												<f:selectItem itemLabel="Miercoles" itemValue="4" />
												<f:selectItem itemLabel="Jueves" itemValue="5" />
												<f:selectItem itemLabel="Sabado" itemValue="6" />
												<f:selectItem itemLabel="Domingo" itemValue="1" />
											</h:selectOneMenu>
										</p:column>
										<p:column
											headerText="#{msgs['zones.pricerestrict.rate.time']}">
											<h:outputText value="#{priceRestrict.rateTimeMinutes}">
											</h:outputText>
										</p:column>
										<p:column
											headerText="#{msgs['zones.pricerestrict.rate.value']}">
											<h:outputText value="#{priceRestrict.minuteValue}">
												<f:convertNumber type="currency" />
											</h:outputText>
										</p:column>
										<p:column
											headerText="#{msgs['zones.pricerestrict.time.start']}">
											<h:outputText value="#{priceRestrict.startTime}"></h:outputText>
										</p:column>
										<p:column headerText="#{msgs['zones.pricerestrict.time.end']}">
											<h:outputText value="#{priceRestrict.endTime}"></h:outputText>
										</p:column>

										<p:column
											headerText="#{msgs['zones.pricerestrict.vehicle.type']}">
											<h:outputText value="#{priceRestrict.vehicleType.vTypeName}"></h:outputText>

										</p:column>
										<p:column
											headerText="#{msgs['zones.pricerestrict.rate.type']}">
											<h:outputText value="#{priceRestrict.rateType.name}"></h:outputText>

										</p:column>


										<p:column
											headerText="#{msgs['zones.pricerestrict.description']}">
											<h:outputText value="#{priceRestrict.description}"></h:outputText>

										</p:column>
										<p:column headerText="#{msgs['zones.pricerestrict.delete']}">
											<p:commandButton icon="ui-icon-circle-minus" update="@form"
												title="Delete Restrict"
												oncomplete="PF('confirmDialogPriceW').show()">
												<f:setPropertyActionListener value="#{priceRestrict}"
													target="#{managerZoneController.priceRestrict}" />

											</p:commandButton>
										</p:column>
									</p:dataTable>
								</h:form>
								<br />
								<h:form prependId="false" id="addprice-form">
									<p:growl id="grow2" showSummary="true" showDetail="true"
										life="3000" />
									<p:commandButton value="agregar restricion" update=""
										oncomplete="PF('addPriceDlg').show()">
									</p:commandButton>
								</h:form>
							</p:tab>
							<!-- 							<p:tab title="#{msgs['zones.agent']}"> -->
							<!-- 								<h:form prependId="false"> -->
							<!-- 									<p:growl id="grow4" showDetail="true" /> -->
							<!-- 									<p:autoComplete forceSelection="true" required="true" -->
							<!-- 										requiredMessage="#{msgs.fieldRequired}" size="30" -->
							<!-- 										value="#{managerZoneController.selectedAgent}" -->
							<!-- 										completeMethod="#{managerZoneController.completeAgent}" -->
							<!-- 										var="agent" itemLabel="#{agent.name} #{agent.lastName}" -->
							<!-- 										itemValue="#{agent}" converter="entityConverter" /> -->
							<!-- 									<h:outputText value=" " /> -->
							<!-- 									<p:commandButton title="Add Agent" -->
							<!-- 										actionListener="#{managerZoneController.addAgent}" -->
							<!-- 										icon="ui-icon-circle-plus" update="tableAgents grow4" /> -->
							<!-- 									<p:dataTable var="agents" id="tableAgents" -->
							<!-- 										value="#{managerZoneController.listAgents}"> -->
							<!-- 										<p:column> -->
							<!-- 											<f:facet name="header"> -->
							<!-- 												<h:outputText value="Name" /> -->
							<!-- 											</f:facet> -->
							<!-- 											<h:outputText value="#{agents.name}" /> -->
							<!-- 											<h:outputText value=" " /> -->
							<!-- 											<h:outputText value="#{agents.lastName}" /> -->
							<!-- 										</p:column> -->
							<!-- 										<p:column> -->
							<!-- 											<f:facet name="header"> -->
							<!-- 												<h:outputText value="Address" /> -->
							<!-- 											</f:facet> -->
							<!-- 											<h:outputText value="#{agents.address}" /> -->
							<!-- 										</p:column> -->
							<!-- 										<p:column> -->
							<!-- 											<f:facet name="header"> -->
							<!-- 												<h:outputText value="Email" /> -->
							<!-- 											</f:facet> -->
							<!-- 											<h:outputText value="#{agents.email}" /> -->
							<!-- 										</p:column> -->
							<!-- 										<p:column> -->
							<!-- 											<f:facet name="header"> -->
							<!-- 												<h:outputText value="Cel" /> -->
							<!-- 											</f:facet> -->
							<!-- 											<h:outputText value="#{agents.msisdn}" /> -->
							<!-- 										</p:column> -->
							<!-- 									</p:dataTable> -->
							<!-- 								</h:form> -->
							<!-- 							</p:tab> -->
							<!-- 							<p:tab title="#{msgs['zones.places']}"> -->
							<!-- 								<h:form prependId="false" id="place-form"> -->
							<!-- 									<p:growl id="grow5" showDetail="true" /> -->
							<!-- 									<p:inputText required="true" -->
							<!-- 										requiredMessage="#{msgs.fieldRequired}" size="15" -->
							<!-- 										value="#{managerZoneController.place.idplace}" /> -->
							<!-- 									<h:outputText value=" " /> -->
							<!-- 									<p:commandButton title="Add Place" -->
							<!-- 										actionListener="#{managerZoneController.addPlace}" -->
							<!-- 										icon="ui-icon-circle-plus" update="places grow5" /> -->
							<!-- 									<p:dataTable paginator="true" rows="8" var="place" id="places" -->
							<!-- 										value="#{managerZoneController.listPlaces}"> -->
							<!-- 										<p:column> -->
							<!-- 											<f:facet name="header"> -->
							<!-- 												<h:outputText value="Place" /> -->
							<!-- 											</f:facet> -->
							<!-- 											<h:outputText value="#{place.idplace}"> -->
							<!-- 												<f:converter converterId="zoneIdConverter" /> -->
							<!-- 											</h:outputText> -->
							<!-- 										</p:column> -->
							<!-- 										<p:column style="width:10px;"> -->
							<!-- 											<p:commandButton title="Delete Place" process="@this" -->
							<!-- 												oncomplete="PF('dconfirmDialogPlaceW').show();" -->
							<!-- 												icon="ui-icon-circle-minus"> -->
							<!-- 												<f:setPropertyActionListener value="#{place}" -->
							<!-- 													target="#{managerZoneController.place}" /> -->
							<!-- 											</p:commandButton> -->
							<!-- 										</p:column> -->
							<!-- 									</p:dataTable> -->
							<!-- 								</h:form> -->
							<!-- 							</p:tab> -->
						</p:tabView>
					</h:panelGroup>
				</p:dialog>
			</div>
		</div>




		<p:dialog resizable="false" draggable="false" id="dialogAddprice"
			header="#{msgs['zones.pricerestrict.add.title']}"
			widgetVar="addPriceDlg" width="450">
			<h:form id="formDlgPrice">
				<h:panelGrid columns="2" cellpadding="5">


					<h:outputText value="#{msgs['zones.pricerestrict.day']}" />

					<h:selectOneMenu value="#{managerZoneController.priceRestrict.day}">
						<f:selectItem itemLabel="Toda la Semana" itemValue="-1" />
						<f:selectItem itemLabel="Lunes a Viernes" itemValue="-2" />
						<f:selectItem itemLabel="Lunes" itemValue="2" />
						<f:selectItem itemLabel="Martes" itemValue="3" />
						<f:selectItem itemLabel="Miercoles" itemValue="4" />
						<f:selectItem itemLabel="Jueves" itemValue="5" />
						<f:selectItem itemLabel="Sabado" itemValue="6" />
						<f:selectItem itemLabel="Domingo" itemValue="1" />
					</h:selectOneMenu>

					<h:outputText value="#{msgs['zones.pricerestrict.rate.time']}" />

					<h:inputText required="true"
						requiredMessage="#{msgs.fieldRequired} #{msgs['zones.pricerestrict.rate.time']}"
						value="#{managerZoneController.priceRestrict.rateTimeMinutes}"
						size="12" validatorMessage="El valor no puede ser cero">
						<f:validateDoubleRange minimum="0.01" />
					</h:inputText>

					<h:outputText
						value="#{msgs['zones.pricerestrict.rate.value']} #{msgs['zones.pricerestrict.rate.value']}" />

					<h:inputText required="true"
						requiredMessage="#{msgs.fieldRequired}"
						value="#{managerZoneController.priceRestrict.minuteValue}"
						size="6" validatorMessage="El valor no puede ser cero">
						<f:validateDoubleRange minimum="0.01" />
					</h:inputText>
					<h:outputText
						value="#{msgs['zones.pricerestrict.time.start']} (06:00)" />

					<p:inputMask mask="99:99" required="true"
						requiredMessage="Start Time Required"
						value="#{managerZoneController.startTime}" size="6" />
					<h:outputText
						value="#{msgs['zones.pricerestrict.time.end']} (18:00)" />

					<p:inputMask mask="99:99" required="true"
						requiredMessage="#{msgs.fieldRequired}"
						value="#{managerZoneController.endTime}" size="6" />

					<h:outputLabel value="#{msgs['zones.pricerestrict.vehicle.type']}"
						for="registerVehicleType" />
					<h:selectOneMenu value="#{managerZoneController.vehicleTypeId}"
						id="registerVehicleType" required="true"
						requiredMessage="#{msgs.fieldRequired}">
						<f:selectItems value="#{managerZoneController.vehicleTypes}"
							var="vType" itemLabel="#{vType.vTypeName}"
							itemValue="#{vType.vTypeId}"
							itemDescription="#{vType.vTypeDescription}" />
					</h:selectOneMenu>
					<h:outputLabel value="#{msgs['zones.pricerestrict.rate.type']}"
						for="registerRateType" />
					<h:selectOneMenu value="#{managerZoneController.rateTypeId}"
						id="registerRateType" required="true"
						requiredMessage="#{msgs.fieldRequired} #{msgs['zones.pricerestrict.rate.type']}">
						<f:selectItems value="#{managerZoneController.rateTypes}"
							var="rType" itemLabel="#{rType.name}"
							itemValue="#{rType.idrateType}"
							itemDescription="#{rType.description}" />
					</h:selectOneMenu>


					<h:outputText value="#{msgs['zones.pricerestrict.description']}" />

					<p:inputTextarea rows="6" cols="33" required="true"
						requiredMessage="#{msgs.fieldRequired} #{msgs['zones.pricerestrict.description']}"
						value="#{managerZoneController.priceRestrict.description}"
						size="256">
					</p:inputTextarea>
					<f:facet name="footer">
						<p:commandButton icon="ui-icon-circle-plus"
							value="#{msgs['zones.pricerestrict.add.button']}"
							actionListener="#{managerZoneController.registerPriceRestrict}"
							update=" @form :tabrestrict:addprice-form:grow2 :tabrestrict:price-form:tablePriceRestricts"
							title="Add Restrict"
							oncomplete="handlePriceRequest(xhr, status, args);" />

					</f:facet>
				</h:panelGrid>


			</h:form>

		</p:dialog> <!-- <h:form>
		  	<p:confirmDialog id="confirmDeleteDialogPlace"
				message="#{msgs['myZones.deletePlace']}"
				header="#{msgs['myZones.deletePlace']}" severity="alert"
				widgetVar="confirmDialogPlaceW" modal="true">
				<p:commandButton process="@this" id="botonDelete"
					value="#{msgs['myZones.deletePlace']}"
					actionListener="#{managerZoneController.deletePlace}"
					update=":tabrestrict:place-form:places :contact-form:growl"
					oncomplete="PF('dconfirmDialogPlaceW').hide();" />
				<p:commandButton value="#{msgs['parameter.cancel']}"
					onclick="PF('dconfirmDialogPlaceW').hide();" type="button" />
			</p:confirmDialog>
		</h:form> --> <h:form>
			<p:confirmDialog id="confirmDeleteDialogPrice"
				message="#{msgs['zones.pricerestrict.delete.confirm']}"
				header="#{msgs['zones.confirmation.msg']}" severity="alert"
				widgetVar="confirmDialogPriceW" modal="true">
				<p:commandButton process="@this" id="botonDeletePrice"
					value="#{msgs['zones.pricerestrict.delete.button']}"
					actionListener="#{managerZoneController.deletePriceRestrict}"
					update=":tabrestrict:addprice-form:grow2 :tabrestrict:price-form:tablePriceRestricts"
					oncomplete="PF('confirmDialogPriceW').hide();" />
				<p:commandButton value="#{msgs['parameter.cancel']}"
					onclick="PF('confirmDialogPriceW').hide();" type="button" />
			</p:confirmDialog>
		</h:form> </section>
	</ui:define>
</ui:composition>
</html>