<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script src="https://maps.google.com/maps/api/js?sensor=false"
			type="text/javascript"></script>
			<script src="../js/fancyzoom/js-global/FancyZoom.js" type="text/javascript"></script>
            <script src="../js/js-global/FancyZoomHTML.js" type="text/javascript"></script>
	</ui:define>
	<body id="zonesfrm" onload="setupZoom()">
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<div class="container_24">
					<div class="wrapper" style="position: relative;">
				
						<div class="grid_15 omega">
							<div class="suffix_1">
								<fieldset>
									<p:growl id="growl" showDetail="true" life="3000" />
									<h5>
										<h:outputText value="#{msgs['menu.myZones']}" />
									</h5>
									<img style="margin-top: 0px;" class="pageImage"
										src="../images/cps/search1.png"></img>

									<p:gmap zoom="11"
										center="#{userZonesController.country.latitude},#{userZonesController.country.longitude}"
										type="HYBRID" style="width:300%;height:500px"
										model="#{userZonesController.simpleModel}" streetView="true" />
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
	</body>
</ui:composition>
</html>