<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/templateReports.xhtml">
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['report.monthly.parkingchart']}" />
					</h5>
					
						<h:outputText value="#{msgs['parameter.year']}" />
                        <table><tr><td>
                        <p:spinner value="#{reportParkingController.year}" min="2011" max="2013"></p:spinner>
                        </td>
                        </tr>
					    </table>
					<div class="field" style="width: 180px;">
						<h:commandLink title="#{msgs['myHistory.linkExcel']}"
							styleClass="link1" value=""
							action="#{reportParkingController.generarInformeSalesMonth}">
							<f:param name="formato" value="xls" />
							<h:graphicImage url="/images/icons/excelsmall.gif" />
						</h:commandLink>
						<h:commandLink title="#{msgs['myHistory.linkPdf']}"
							styleClass="link1" value=""
							action="#{reportParkingController.generarInformeSalesMonth}">
							<f:param name="formato" value="pdf" />
							<h:graphicImage url="/images/icons/pdfsmall.gif" />
						</h:commandLink>
					</div>
				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>