<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">	
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
        <h:form id="contact-form" prependId="false" >
        <h5><h:outputText value="#{msgs['parameter.campaign.title']}"/></h5>
        <div class="field">
        <h:outputText value="#{msgs['parameter.transfer.startdate']}"/><p:calendar value="#{campaignLogReportController.startDate}" navigator="true" id="fechaIni" required="true" requiredMessage="#{msgs.fieldRequired}"/><p:message for="fechaIni"/>
        <h:outputText value="#{msgs['parameter.transfer.enddate']}"/><p:calendar value="#{campaignLogReportController.endDate}" navigator="true" id="fechaFin" required="true" requiredMessage="#{msgs.fieldRequired}"/><p:message for="fechaFin"/>
        </div>
     <h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '5'}">
           <div class="field">
     
		<h:outputLabel value="#{msgs.registerEmail}" for="registerEmail"/>
				<h:inputText  maxlength="45" id="registerEmail" value="#{campaignLogReportController.email}" requiredMessage="#{msgs.fieldRequired}">
				
				</h:inputText>
				<p:message for="registerEmail"/>
		</div>
		</h:panelGroup>
		<p:commandButton actionListener="#{campaignLogReportController.reportCampaingLog}" value="#{msgs['myHistory.search']}" update="tbl,linkExcel,linkPdf"/>

		<br></br>
		<p:dataTable id="tbl" var="campaignLog" value="#{campaignLogReportController.listCampaigns}" paginator="true" rows="12" emptyMessage="No info">  
    <p:column  filterBy="#{campaignLog.sysUser.cu}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['myuser.uc']}" />  
        </f:facet>  
        <h:outputText value="#{campaignLog.sysUser.cu}"/>  
    </p:column> 

    <p:column>  
        <f:facet name="header">  
            <h:outputText value="#{msgs.registerEmail}" />  
        </f:facet>  
        <h:outputText value="#{campaignLog.sysUser.email}"/>  
    </p:column>  
    
     
        <p:column>  
        <f:facet name="header">  
            <h:outputText value="#{msgs['parameter.campaign.percent']}" />  
        </f:facet>  
        <h:outputText value="#{campaignLog.amountPercent}">
        </h:outputText>  
    </p:column>
  
    <p:column>  
        <f:facet name="header">  
            <h:outputText value="#{msgs['parameter.transfer.value']}" />  
        </f:facet>  
        <h:outputText value="#{campaignLog.amount}" style="color : #{campaignLog.amount lt 0 ? 'red' : 'green'};"/>  
    </p:column>  
    
      <p:column sortBy="#{campaignLog.logDate}">  
        <f:facet name="header">  
            <h:outputText value="#{msgs['parameter.transfer.date']}" />  
        </f:facet>  
        <h:outputText value="#{campaignLog.logDate}" />  
    </p:column>  
    
    <f:facet name="footer">  
           
    </f:facet>  
</p:dataTable>  
<h:commandLink title="#{msgs['myHistory.linkExcel']}" id="linkExcel" disabled="#{!campaignLogReportController.logs}"  styleClass="link1" value="" action="#{campaignLogReportController.generarInforme}">
<f:param name="formato" value="xls"/>
<h:graphicImage url="/images/icons/excelsmall.gif"/>
</h:commandLink>
<h:commandLink title="#{msgs['myHistory.linkPdf']}" id="linkPdf" disabled="#{!campaignLogReportController.logs}" styleClass="link1" value="" action="#{campaignLogReportController.generarInforme}">
<f:param name="formato" value="pdf"/>
<h:graphicImage url="/images/icons/pdfsmall.gif"/>
</h:commandLink>
</h:form>
</div>
</div>
</section>
</ui:define>
</ui:composition>
</html>