<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form id="contact-form" prependId="false">
					<h5>
						<h:outputText value="#{msgs['menu.userReport']}" />
					</h5>
					<div class="field">
						<h:outputText value="#{msgs['myHistory.dateinit']}" />
						<p:calendar value="#{reportUserController.fechaIni}"
							navigator="true" id="fechaIni" required="true"
							requiredMessage="#{msgs.fieldRequired}" pattern="d/M/yyyy"/>
					
						<p:message for="fechaIni" />
						<h:outputText value="#{msgs['myHistory.dateend']}" />
						<p:calendar value="#{reportUserController.fechaFin}"
							navigator="true" id="fechaFin" required="true"
							requiredMessage="#{msgs.fieldRequired}" pattern="d/M/yyyy" />
						
						<p:message for="fechaFin" />
					</div>
					<p:commandButton
						actionListener="#{reportUserController.reportUsersByDate}"
						value="#{msgs['myHistory.search']}" update="tbl @form"></p:commandButton>
					<br></br>
					<p:dataTable id="tbl" var="userinfo"
						value="#{reportUserController.listReportUser}" paginator="true"
						rows="12" emptyMessage="No info">

						<p:column filterBy="#{userinfo.login}"  filterFunction="#{reportUserController.filterByName}" > 
							<f:facet name="header">
								<h:outputText value="Login" />
							</f:facet>
							<h:outputText value="#{userinfo.login}" />
						</p:column>
						
						<p:column filterBy="#{userinfo.cu}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myuser.uc']}" />
							</f:facet>
							<h:outputText value="#{userinfo.cu}" />
						</p:column>
						
						
						<p:column filterBy="#{userinfo.name}" filterFunction="#{reportUserController.filterByName}" >
							<f:facet name="header">
								<h:outputText value="#{msgs['myUser.name']}" />
							</f:facet>
							<h:outputText value="#{userinfo.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['myUser.lastname']}" />
							</f:facet>
							<h:outputText value="#{userinfo.lastName}" />
						</p:column>


						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['myUser.address']}" />
							</f:facet>
							<h:outputText value="#{userinfo.address}" />

						</p:column>
						
						<p:column sortBy="#{userinfo.email}">
							<f:facet name="header">
								<h:outputText value="#{msgs['contactForm.email']}" />
							</f:facet>
							<h:outputText value="#{userinfo.email}">
								<f:convertNumber integerOnly="true" />
							</h:outputText>
						</p:column>
							<p:column sortBy="#{userinfo.emailNotification}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myUser.email.ad']}" />
							</f:facet>
							<h:outputText value="#{userinfo.emailNotification}">
								<f:convertNumber integerOnly="true" />
							</h:outputText>
						</p:column>
						<p:column  filterBy="#{userinfo.favoriteMsisdn}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myUser.favoriteMsisdn']}" />
							</f:facet>
							<h:outputText value="#{userinfo.favoriteMsisdn}">
								<f:convertNumber integerOnly="true" />
							</h:outputText>
						</p:column>
							
						
						<p:column sortBy="#{userinfo.birthDate}">
							<f:facet name="header">
								<h:outputText value="#{msgs['registerBirthDate']}" />
							</f:facet>
							<h:outputText value="#{userinfo.birthDate}" />
						</p:column>
						
						<p:column sortBy="#{userinfo.dateReg}">
							<f:facet name="header">
								<h:outputText value="#{msgs['myUser.regDate']}" />
							</f:facet>
							<h:outputText value="#{userinfo.dateReg}" />
						</p:column>



						<f:facet name="footer">
						<h:outputText value="#{msgs['myUser.totalUsers']}" />
							<h:outputText value="  " />
							<h:outputText value="#{reportUserController.totalUsers}">
								<f:convertNumber integerOnly="true" />
							</h:outputText>

						</f:facet>
					</p:dataTable>

					<h:commandLink title="#{msgs['myHistory.linkExcel']}"
						 styleClass="link1"
						value="" action="#{reportUserController.generarInforme}">
						<f:param name="formato" value="xls" />
						<h:graphicImage url="/images/icons/excelsmall.gif" />
					</h:commandLink>
					<h:commandLink title="#{msgs['myHistory.linkPdf']}"
						 styleClass="link1"
						value="" action="#{reportUserController.generarInforme}">
						<f:param name="formato" value="pdf" />
						<h:graphicImage url="/images/icons/pdfsmall.gif" />
					</h:commandLink>

				</h:form>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>