<div class="list">

  <li class="item item-checkbox" ng-repeat="data in pocket.info.data">
    <label class="checkbox">
      <input type="checkbox" value="{{data.id}}" ng-model="wallet.payment.data[data.id]"
             ng-true-value="{{data.amount}}">
    </label>
    <div class="row">
      <div class="col">{{data.id}}</div>
      <div class="col">{{data.amount | cpsFormat}}</div>
    </div>
  </li>

</div>
