<div class="list" ng-switch="isPayment" ng-init="wallet.initPockets()">
  <div ng-switch-default>

    <div class="pockets" ng-repeat="pocket in wallet.pockets | orderBy: 'type.id'">
      <div class="item item-divider item-icon-left">
        <i class="icon" ng-class="{0: 'ion-cash',
                                  1: 'ion-bag',
                                  2: 'ion-bag',
                                  3: 'ion-ios-barcode'}[pocket.type.id >= 4 ? 0 : pocket.type.id]"></i>
        <span locale-key="name" locale-obj="{{pocket.info.locales}}">{{pocket.name || pocket.description | cpsCapitalize}}</span>
      </div>

      <a class="item item-icon-right" hm-tap="wallet.pocketDetail(pocket)">
        <div>
          <span locale-id="pocketType{{pocket.type.id}}Balance">Total</span>:
          <span class="primary">{{pocket.info.balance | cpsFormat}}</span>
        </div>
        <span ng-if="!wallet.options.unifiedBonus" class="badge badge-light">{{pocket.info.data.length}}</span>
        <i class="icon ion-chevron-right primary"></i>
      </a>
    </div>

    <div ng-if="!wallet.hasPockets()">
      <h4 locale-id="notHasPockets" class="text-center padding">Not has Pockets</h4>
    </div>
  </div>

  <div ng-switch-when="true">
    <p class="sub-title text-center" locale-id="selectPocketInfo">Please select pocket</p>
    <div ng-repeat="pocket in wallet.pockets | orderBy: 'type.id'">
      <div ng-if="wallet.isPocketAllow(allow_pockets, pocket)">
        <div class="item item-divider" locale-key="name" locale-obj="{{pocket.info.locales}}">
          {{pocket.name || pocket.description | cpsCapitalize}}
        </div>
        <label class="item item-radio">
          <input type="radio" name="group" value="{{pocket.id}}" ng-model="wallet.method.pocket.id">
          <div class=item-content>
            <span locale-id="pocketType{{pocket.type.id}}Balance">
              Total
            </span>:
            <span class="primary">{{pocket.info.balance | cpsFormat}}</span>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
    </div>

    <div ng-if="wallet.pocketsAllow <= 0">
      <span locale-id="notHasAllowPockets">Not has Allow Pockets</span>
    </div>
  </div>

</div>
