<div class="list" ng-controller="WalletController as wallet">

  <a class="item" ng-class="{'item-thumbnail-left': pocket.info.images.images}" href="#">
    <div ng-if="pocket.info && pocket.info.images.images">
      <img ng-src="{{pocket.info.images}}">
    </div>
    <h2>
      <span locale-id="pocketBalance">Total</span>:
      <span class="primary">{{pocket.info.balance | cpsFormat}}</span>
    </h2>
    <!-- <p><span locale-id="createdDate">Created date</span>: {{pocket.created_date | date:'M/d/yyyy' }}</p> -->
  </a>

  <ul ng-if="pocket.info.data && !wallet.options.unifiedBonus">
    <li class="item" ng-repeat="data in pocket.info.data">
      <h2>{{data.amount | cpsFormat}}</h2>
      <p>
        <span locale-id="code">Code</span>: <span>{{data.id}}</span>
      </p>
    </li>
  </ul>

  <div ng-id="pocket.history">
    <div class="row item item-text-wrap" ng-repeat="history in payment.userHistory | filter:q as results track by history.datereg">
      <div class="col">
        <h2 ng-bind="history.date"></h2>
        <p locale-id="{{history.operation}}History"></p>
        <p ng-if="history.branch">
          <span locale-id="zone">Branch</span>:
          <span>{{history.branch.name}}</span>
        </p>
        <p ng-if="history.pocket">
          <span locale-id="pocket">Pocket</span>:
          <!-- <span locale-id="pocket{{history.pocket.pocketType.idPocketType}}"></span> -->
          <span locale-key="name" locale-obj="{{history.pocket.Info.locales}}">
            {{history.pocket.name || history.pocket.description | cpsCapitalize}}
          </span>
        </p>
      </div>
      <div class="col col-33 text-right {{history.type}}" ng-bind="history.amount"></div>
    </div>

    <div ng-if="payment.userHistory <= 0" class="row item">
      <span locale-id="notHasHistory">Not have history</span>
    </div>
  </div>

</div>
