<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">

<!-- Menu para usuario publico -->
<h:panelGroup rendered="#{sessionScope.userSession == null}">
	<div class="nav">
		<ul class="sf-menu">
			<li
				class="#{facesContext.viewRoot.viewId == '/index.xhtml' ? '' : ''}"><a
				href="#{facesContext.externalContext.requestContextPath}/faces/index.xhtml"><h:outputText
						value="#{msgs['menu.home']}" /></a></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/aboutUs.xhtml' ? '' : ''}"><a
				href="#{facesContext.externalContext.requestContextPath}/faces/aboutUs.xhtml"><h:outputText
						value="#{msgs['menu.aboutUs']}" /></a></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/services.xhtml' ? '' : ''}"><a
				href="#{facesContext.externalContext.requestContextPath}/faces/services.xhtml"><h:outputText
						value="#{msgs['menu.services']}" /></a></li>
			<!-- <li
				class="#{facesContext.viewRoot.viewId == '/moreInf.xhtml' ? '' : ''}"><a
				href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml"><h:outputText
						value="#{msgs['menu.clients']}" /></a></li> -->
			<!--   <li class="#{facesContext.viewRoot.viewId == '/tower.xhtml' ? '' : ''}"><a href="#{facesContext.externalContext.requestContextPath}/faces/tower.xhtml"><h:outputText value="#{msgs['menu.solutions']}"/></a></li> -->
			<!-- <li><a
				href="#{facesContext.externalContext.requestContextPath}/faces/support.xhtml"><h:outputText
						value="#{msgs['menu.support']}" /></a></li> -->
			<li
				class="#{facesContext.viewRoot.viewId == '/contacts.xhtml' ? '' : ''}"><a
				href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
						value="#{msgs['menu.contacts']}" /></a></li>
			<li><a
				href="#{facesContext.externalContext.requestContextPath}/faces/downloads.xhtml"><h:outputText
						value="#{msgs['menu.download']}" /></a></li>

			<li><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/zones/ParkingPlaces.xhtml">
					<h:outputText value="#{msgs['menu.Zones.Map']}" />
				</h:outputLink></li>


		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario publico -->
<!-- Menu para usuario Logueado -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '2'}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}#{addPasswordController.URL}">
							<h:outputText value="#{msgs['menu.createPass2']}" />
						</h:outputLink>
					</li>
					<li
						class="#{facesContext.viewRoot.viewId == '/security/changePassword.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
					<!-- 					<li -->
					<!-- 						class="#{facesContext.viewRoot.viewId == '/doc/Manual del Usuario City V1.pdf' ? '' : ''}"><a -->
					<!-- 						href="#{facesContext.externalContext.requestContextPath}/doc/Manual del Usuario City V1.pdf" -->
					<!-- 						download="Manual del Usuario City V1.pdf" target="_blank"><h:outputText -->
					<!-- 								value="Manual" /></a></li> -->
					<li
						class="#{facesContext.viewRoot.viewId == '/contacts.xhtml' ? '' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
								value="#{msgs['menu.contacts']}" /></a></li>

				</ul>
			</li>
			<!-- 			<li -->
			<!-- 				class="#{facesContext.viewRoot.viewId == '/balance/reloadBalancePin.xhtml' || facesContext.viewRoot.viewId == '/balance/reloadPayPal.xhtml' ? '' : ''}"><a -->
			<!-- 				href="javascript:void(0);"><h:outputText -->
			<!-- 						value="#{msgs['menu.myReloads']}" /></a> -->
			<!-- 				<ul> -->
			<!-- 					<li -->
			<!-- 						class="#{facesContext.viewRoot.viewId == '/balance/reloadUserVirtual.xhtml' ? '' : ''}"><h:outputLink -->
			<!-- 							value="#{facesContext.externalContext.requestContextPath}/faces/balance/reloadUserVirtual.xhtml"> -->
			<!-- 							<h:outputText value="#{msgs['menu.recharge.account']}" /> -->
			<!-- 						</h:outputLink></li> -->
			<!-- 				</ul></li> -->

			<li
				class="#{facesContext.viewRoot.viewId == '/parking/layoutReports.xhtml' ? '' : ''}"><h:outputLink>
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportPaymentHistory.xhtml">
							<h:outputText value="#{msgs['paymentHistory.Title']}" />
						</h:outputLink></li>

				</ul></li>


			<!-- <li
				class="#{facesContext.viewRoot.viewId == '/moreInf.xhtml' || facesContext.viewRoot.viewId == '/tower.xhtml' || facesContext.viewRoot.viewId == '/contacts.xhtml' ? '' : ''}"><a
				href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.services']}" /></a>
				<ul>
					  <li class="#{facesContext.viewRoot.viewId == '/moreInf.xhtml' ? '' : ''}"><a href="#{facesContext.externalContext.requestContextPath}/faces/moreInf.xhtml"><h:outputText value="#{msgs['menu.clients']}"/></a></li> 
					<li
						class="#{facesContext.viewRoot.viewId == '/PreguntasFrecuentes.pdf' ? '' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/PreguntasFrecuentes.pdf"><h:outputText
								value="PREGUNTAS" /></a></li>
					 <li class="#{facesContext.viewRoot.viewId == '/tower.xhtml' ? '' : ''}"><a href="#{facesContext.externalContext.requestContextPath}/faces/tower.xhtml"><h:outputText value="#{msgs['menu.solutions']}"/></a></li>
					<li
						class="#{facesContext.viewRoot.viewId == '/contacts.xhtml' ? '' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
								value="#{msgs['menu.contacts']}" /></a></li>
					<li
						class="#{facesContext.viewRoot.viewId == '/aboutUs.xhtml' ? '' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/aboutUs.xhtml"><h:outputText
								value="#{msgs['menu.aboutUs']}" /></a></li>
				</ul></li> -->

		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '3'}">
	<nav>
		<ul class="sf-menu">
			<li
				class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}"><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
					<h:outputText value="#{msgs['menu.myProfile']}" />
				</h:outputLink></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/cards/importCards.xhtml' ? '' : ''}"><h:outputLink
					value="javascript:void(0)">
					<h:outputText value="#{msgs['menu.cards']}" />
				</h:outputLink>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/cards/importCards.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/cards/importCards.xhtml">
							<h:outputText value="#{msgs['menu.importCards']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/parking/ActiveParking.xhtml' || facesContext.viewRoot.viewId == '/parking/ActiveParkingGraphic.xhtml' ? '' : ''}"><h:outputLink
					value="">
					<h:outputText value="#{msgs['menu.ActiveParking']}" />
				</h:outputLink>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/parking/ActiveParking.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/ActiveParking.xhtml">
							<h:outputText value="#{msgs['menu.ActiveParkingList']}" />
						</h:outputLink></li>
					<li
						class="#{facesContext.viewRoot.viewId == '/parking/ActiveParkingGraphic.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/parking/ActiveParkingGraphic.xhtml">
							<h:outputText value="#{msgs['menu.ActiveParkingGraphic']}" />
						</h:outputLink></li>
				</ul></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/parking/reportParking.xhtml' ? '' : ''}"><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/parking/reportParking.xhtml">
					<h:outputText value="#{msgs['menu.myHistory']}" />
				</h:outputLink></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/parking/layoutReports.xhtml' ? '' : ''}"><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/template/layoutReports.xhtml">
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/security/changePassword.xhtml' ? '' : ''}"><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
					<h:outputText value="#{msgs['menu.changePass']}" />
				</h:outputLink></li>
		</ul>
	</nav>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado -->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '1' or sessionScope.userSession.idsysUserType == '4'}">
	<nav>
		<ul class="sf-menu">
			<li
				class="#{facesContext.viewRoot.viewId == '/client/managerClients.xhtml' ? '' : ''}"><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/client/managerClients.xhtml">
					<h:outputText value="#{msgs['menu.myClient']}" />
				</h:outputLink></li>
			<li
				class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}#{addPasswordController.URL}">
							<h:outputText value="#{msgs['menu.createPass2']}" />
						</h:outputLink>
					</li>
					<li
						class="#{facesContext.viewRoot.viewId == '/security/changePassword.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
					<!-- 					<li -->
					<!-- 						class="#{facesContext.viewRoot.viewId == '/doc/Manual del Usuario City V1.pdf' ? '' : ''}"><a -->
					<!-- 						href="#{facesContext.externalContext.requestContextPath}/doc/Manual del Usuario City V1.pdf" -->
					<!-- 						download="Manual del Usuario City V1.pdf" target="_blank"><h:outputText -->
					<!-- 								value="Manual" /></a></li> -->
					<li
						class="#{facesContext.viewRoot.viewId == '/contacts.xhtml' ? '' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
								value="#{msgs['menu.contacts']}" /></a></li>


				</ul>
			</li>
			<li
				class="#{facesContext.viewRoot.viewId == '/parking/layoutReports.xhtml' ? '' : ''}"><h:outputLink>
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<!-- 					<li><h:outputLink -->
					<!-- 							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUserCitySales.xhtml"> -->
					<!-- 							<h:outputText value="#{msgs['menu.recharge']}" /> -->
					<!-- 						</h:outputLink></li> -->
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportGiveTransaction.xhtml">
							<h:outputText value="#{msgs['parameter.transfer.menu']}" />
						</h:outputLink></li>
					<!-- 										<li><h:outputLink -->
					<!-- 							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportPaymentHistory.xhtml"> -->
					<!-- 							<h:outputText value="#{msgs['paymentHistory.Title']}" /> -->
					<!-- 						</h:outputLink></li> -->
					<li
						class="#{facesContext.viewRoot.viewId == '/reports/reportUser.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
							<h:outputText value="#{msgs['menu.userReport']}" />
						</h:outputLink></li>
					<!-- 					<li><h:outputLink -->
					<!-- 							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportConsolidate.xhtml"> -->
					<!-- 							<h:outputText value="#{msgs['consolidate.Title']}" /> -->
					<!-- 						</h:outputLink></li> -->
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportOperation.xhtml">
							<h:outputText value="#{msgs['report.operation.menu.Title']}" />
						</h:outputLink></li>
					<!-- 					<li><h:outputLink -->
					<!-- 							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportTraspasoBolsillos.xhtml"> -->
					<!-- 							<h:outputText -->
					<!-- 								value="#{msgs['report.traspasobolsillo.menu.Title']}" /> -->
					<!-- 						</h:outputLink></li> -->
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportActivacionBolsillos.xhtml">
							<h:outputText
								value="#{msgs['report.activacionbolsillo.menu.Title']}" />
						</h:outputLink></li>
				</ul></li>

			<ui:fragment
				rendered="#{sessionScope.userSession.idsysUserType != '1'}">
				<li><h:outputLink
						value="#{facesContext.externalContext.requestContextPath}/faces/balance/transferMultipleBalance.xhtml">
						<h:outputText value="#{msgs['parameter.transfer.menu']}" />
					</h:outputLink></li>
			</ui:fragment>
		</ul>
	</nav>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado ADMIN-->
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '5'}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}#{addPasswordController.URL}">
							<h:outputText value="#{msgs['menu.createPass2']}" />
						</h:outputLink>
					</li>
					<li
						class="#{facesContext.viewRoot.viewId == '/security/changePassword.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>
					<li
						class="#{facesContext.viewRoot.viewId == '/contacts.xhtml' ? '' : ''}"><a
						href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml"><h:outputText
								value="#{msgs['menu.contacts']}" /></a></li>
					<li><a
						href="#{facesContext.externalContext.requestContextPath}/faces/downloads.xhtml"><h:outputText
								value="#{msgs['menu.download']}" /></a></li>
				</ul>
			</li>



			<li class=""><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/wallet/commerceBranchManager.xhtml">
					<h:outputText value="#{msgs['commerce.branch.title']}" />

				</h:outputLink>

				<ul>

				</ul></li>

			<li
				class="#{facesContext.viewRoot.viewId == '/reports/reportUser.xhtml' ? '' : ''}"><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportPaymentHistory.xhtml">
							<h:outputText value="#{msgs['paymentHistory.Title']}" />
						</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportUser.xhtml">
							<h:outputText value="#{msgs['menu.userReport']}" />
						</h:outputLink></li>
					<!-- 					<li -->
					<!-- 						class="#{facesContext.viewRoot.viewId == '/reports/reportSales.xhtml' ? '' : ''}"><h:outputLink -->
					<!-- 							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportSales.xhtml"> -->
					<!-- 							<h:outputText value="#{msgs['menu.income']}" /> -->
					<!-- 						</h:outputLink></li> -->
				</ul></li>






		</ul>
	</div>
</h:panelGroup>
<h:panelGroup
	rendered="#{sessionScope.userSession.idsysUserType == '6' and sessionScope.commerceBranchSession != null}">
	<div class="nav">
		<ul class="sf-menu" style="display: inline-block;">
			<li
				class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
				<a href="javascript:void(0);"><h:outputText
						value="#{msgs['menu.myProfile']}" /></a>
				<ul>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/account/updateUser.xhtml">
							<h:outputText value="#{msgs['menu.myProfile']}" />
						</h:outputLink>
					</li>
					<li
						class="#{facesContext.viewRoot.viewId == '/account/updateUser.xhtml' ? '' : ''}">
						<h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/newPassTransac.xhtml">
							<h:outputText value="#{msgs['menu.createPass2']}" />
						</h:outputLink>
					</li>
					<li
						class="#{facesContext.viewRoot.viewId == '/security/changePassword.xhtml' ? '' : ''}"><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/security/changePassword.xhtml">
							<h:outputText value="#{msgs['menu.changePass']}" />
						</h:outputLink></li>

				</ul>
			</li>

			<li
				class="#{facesContext.viewRoot.viewId == '/reports/reportUser.xhtml' ? '' : ''}">
				<h:outputLink value="">
					<h:outputText value="#{msgs['menu.layoutReports']}" />
				</h:outputLink>
				<ul>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/faces/reports/reportPaymentHistory.xhtml">
							<h:outputText value="#{msgs['paymentHistory.Title']}" />
						</h:outputLink></li>
				</ul>
			</li>

			<li><h:outputLink
					value="#{facesContext.externalContext.requestContextPath}/faces/wallet/commerceBranchPaymentsManager.xhtml">
					<h:outputText
						value="#{msgs['commerce.branch.menu.registerpayment']}" />
				</h:outputLink></li>

			<li
				class="#{facesContext.viewRoot.viewId == '/contacts.xhtml' ? '' : ''}"><a
				href="#{facesContext.externalContext.requestContextPath}/faces/contacts.xhtml">
					<h:outputText value="#{msgs['menu.contacts']}" />
			</a></li>
		</ul>
	</div>
</h:panelGroup>
<!-- Fin Menu para usuario Logueado -->
<!-- Menu para usuario Logueado Perfil Driver -->
<!-- Fin Menu para usuario Logueado Perfil Driver -->
<!-- Menu para usuario Supervisor Logueado -->
<div></div>
<!-- Fin Menu para usuario Supervisor Logueado -->
</html>
