<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    
   <link rel="SHORTCUT ICON" href="../images/cps/icono.ico"/> 
  <script type="text/javascript">
    $ = jQuery;
  </script> 
  
  <title><ui:insert name="title">CPS</ui:insert></title>
  <meta charset="utf-8"/>
  <meta name="description" content="Your description"/>
  <meta name="keywords" content="Your keywords"/>
  <meta name="author" content="Your name"/>
  <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/reset.css" type="text/css" media="all"/>
  <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/grid.css" type="text/css" media="all"/>
  <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/style.css" type="text/css" media="all"/>
  
  <!-- styles for prettyPhoto -->
  <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/prettyPhoto.css" type="text/css" media="all"/>
  


  <!-- <script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>-->

  
  <!--  <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/script.js"></script>--> 
  <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/easyTooltip.js"></script>
  <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  
  <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="all"/>
  
  

<ui:insert name="head">

</ui:insert>
</h:head>

<body>
    <ui:insert name="headerReport">
     
    </ui:insert>

<div id="content">
  <ui:insert name="content">
   
  </ui:insert>
</div>
</body>

</html>
