<!-- About -->
<cps-content>
  <cps-page id="aboutPage" class="aboutPage">

    <!-- general About Page -->
    <div class="padding">

      <div class="section-content">

        <article class="content-info">
          <section class="description">
            <p locale-id="aboutDescription">
              <!-- description text -->
            </p>
          </section>
          <div class="row">
            <div class="col">
              <h5 class="text-uc city mt-m" locale-id="moreInfo">
                More Info
              </h5>
              <p class="font-s mt-s">
                <a cps-open="{{main.client.page}}">
                  {{main.client.page}}
                </a>
                <br>
                <a cps-open="mailto:{{main.client.email}}">
                  {{main.client.email}}
                </a>
                <br>
                <span>(571) 621 0355</span>
              </p>
            </div>
            <div class="col text-right">
              <h5 class="city" locale-id="followus">
                Follow us
              </h5>

              <ul class="social">
                <li>
                  <a cps-social="https://twitter.com/CityParkingsas" class="button button-icon icon ion-social-twitter">
                    <span class="hide">
                      Twitter
                    </span>
                  </a>
                </li>
                <li>
                  <a cps-social="https://facebook.com/398654126812091" social-id="398654126812091" class="button button-icon icon ion-social-facebook">
                    <span class="hide">
                      Facebook
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </article>

        <cps-feedback-form>
          <!-- from here -->
        </cps-feedback-form>

      </div>

    </div>
    <!-- End General About Page -->

  </cps-page>
</cps-content>
<!-- End About -->
