<!-- Balance -->
<cps-content>
  <div id="balancePage" class="balancePage padding">
    <div class="button-bar">
      <a href="#balance-recharge" class="button button-light" locale-id="recharge"
         ng-class="('balance-recharge' | cpsIsRoute) ? 'button-primary' : 'button-light'">
        Recharge
      </a>
      <a href="#balance-transfer" class="button" locale-id="transfer"
         ng-class="('balance-transfer' | cpsIsRoute) ? 'button-primary' : 'button-light'">
        Transfer
      </a>
    </div>

    <cps-balance-user class="text-center">
      <!-- User balance here -->
    </cps-balance-user>

    <!-- Recharge Balance Page -->
    <cps-page section="balance-recharge">
      <cps-paymentez-recharge-form>
        <!-- Full Recharge form -->
      </cps-paymentez-recharge-form>

      <cps-paymentez-cards action-type="modal">
        <!-- User cards -->
      </cps-paymentez-cards>


    </cps-page>
    <!-- End Balance Page -->

    <!-- Give Balance Page -->
    <cps-page section="balance-transfer">

      <cps-balance-transfer-form>
        <!-- Form here -->
      </cps-balance-transfer-form>

    </cps-page>
    <!-- End Give Balance -->

  </div>
</cps-content>
<!-- End Balance -->
