<!-- Booking -->
<cps-content>
  <cps-page id="bookingPage" class="bookingPage padding">

    <a href="#zones" locale-id="bookingNewRegister"
       class="button button-block button-primary">
      New Booking
    </a>

    <cps-booking-list>
      <!-- payment section here -->
    </cps-booking-list>

  </cps-page>
</cps-content>
<!-- End Booking -->
