<!-- Login -->
<cps-content>
  <cps-page data-role="page" id="login" class="loginPage city-bg" cps-full-height>

    <h1 class="title title-center text-center padding">
      <img src="static/images/logo-app.png" alt="CPS" />
    </h1>

    <cps-login-form recovery="dialog">
      <!-- loginForm -->
    </cps-login-form>

    <div class="ui-field-contain text-center np-t">

      <!-- Social Login -->
      <div class="social-login" ng-show="false">
        <p class="registerWith c_gray">
          <span class="hline">&nbsp;</span>
          <span class="registerWithtxt bold">or register with</span>
          <span class="hline">&nbsp;</span>
        </p>

        <!-- <a data-role="button" href="#" id="btnTw" class="btnTw  btnGeneral" data-inline="true">
             <span class="fonticon icon-tw">Twitter</span>
             </a> -->
        <a data-role="button" href="#" id="btnConnectFb" class="btnFb btnGeneral" data-inline="true">
          <span class="fonticon icon-fb">Facebook</span>
        </a>

      </div>
    </div>

  </cps-page>
  <!-- End Login -->
</cps-content>
