<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">

	<ui:define name="head">
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
			<p:growl id="growl" globalOnly="true" showDetail="true" />
				<h:form id="contact-form" prependId="false">
					
					<fieldset>
						<h5>
							<h:outputText value="#{msgs['menu.accountBlocking']}" />
						</h5>
						<div class="clearfix"></div>
						<br />
						<h:panelGroup
							rendered="#{sessionScope.userSession.idsysUserType == '5'}">
							<div class="field">
								<h:outputLabel value="#{msgs.registerIdentification}"
									for="sys_user_identification" />
								<h:inputText maxlength="35" id="sys_user_identification"
									required="true"
									value="#{blockingAccountController.sysUserIdentification}"
									requiredMessage="#{msgs.fieldRequired}">
								</h:inputText>
								<p:message for="sys_user_identification" />
							</div>
							<!--BOTON DE BLOQUEAR -->
							<div class="container">
								<div class="fleft" style="margin: 20px 0;">
									<p:commandLink styleClass="link" id="blockunblockid"
										value="[#{msgs.blockunblockbuttonvalue}]"
										actionListener="#{blockingAccountController.identificationToBlockUnblockListener}"
										update="contact-form growl">
										<p:ajax event="dialogReturn"
											listener="#{blockingAccountController.onStatusChosen}"
											update="growl" />
									</p:commandLink>
								</div>
							</div>
						</h:panelGroup>
					</fieldset>
					<p:confirmDialog global="true" showEffect="fade"
						widgetVar="blockconfirmation" hideEffect="explode"
						message="#{msgs['blockingconfirmation']}">
						<p:commandButton value="#{msgs['driver.user.driverSoatYes']}"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
							actionListener="#{blockingAccountController.blockUser}"
							process="@this" update="growl" />
						<p:commandButton value="#{msgs['driver.user.driverSoatNo']}"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close"
							onclick="PF('blockconfirmation').hide()" />
					</p:confirmDialog>
				</h:form>

			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>
</html>
