<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">
			function handleDialogSubmit(xhr, status, args, dialog) {
				if (!args.validationFailed) {console.log(dialog);
					PF(dialog).hide(); 
				} else {
					jQuery(".ui-dialog.ui-overlay-visible").effect("shake", {
						times : 1
					}, 100);
				}
			}
		</script>

		<style>
.hiddenfalse {
	display: block;
}

.hiddentrue {
	display: none;
}

.listLabel {
	font-weight: bold;
	padding-right: 10px;
}

.profileList .column {
	width: 100%;
}

.profileList .field {
	border-top: 1px solid #ccc;
	background: #fcfcfc;
	padding: 5px 20px;
}

.profileList .field:last-child {
	border-bottom: 1px solid #ccc;
}

textarea {
	width: 78%;
}
</style>
	</ui:define>
	<ui:define name="content">
		<!-- content -->
		<section id="content"> <!-- .content-box -->
		<div class="container">
			<div class="inside">
				<h:form prependId="false" id="contact-form">
					<fieldset>
						<p:growl id="growl" showSummary="true" showDetail="true"
							life="3000" />
						<h5>
							<h:outputText value="#{msgs['menu.mySupervisor']}" />
						</h5>

						<div class="clearfix"></div>
						<b> <h:outputText value="#{msgs['supervisor.userBalance']}" />
						</b> <br />
						<br />
						<!-- <h:form prependId="false" id="formSupervisorGetBalance" styleClass="contact-form" rendered="true">
						<fieldset>
							<p:messages showSummary="true" showDetail="true"
								globalOnly="true" />-->
						<h:panelGroup id="displaySupervisorGetBalance">
							<div class="profileForm">
								<div class="column">
									<div class="field">
										<h:outputLabel value="#{msgs['supervisor.user.cuMobile']}"
											for="supervisorCodeUser" />
										<h:inputText styleClass="text-input" maxlength="15"
											id="supervisorCodeUser"
											value="#{supervisorController.codeUser}" required="false"
											requiredMessage="#{msgs.fieldRequired}" />
										<p:message for="supervisorCodeUser" />
									</div>
								</div>
								<div class="container buttonForm">
									<div class="fleft">
										<p:commandButton value="#{msgs.checkButton}"
											oncomplete="PF('userBalanceDialog').show()"
											actionListener="#{supervisorController.soapConsultarSaldo}"
											update=":formGetBalanceUser">
										</p:commandButton>
									</div>
								</div>
							</div>
						</h:panelGroup>
						<!-- </fieldset>
						</h:form>-->

					</fieldset>
				</h:form>

				<!-- get balance -->
				<p:dialog width="480" height="500" widgetVar="userBalanceDialog"
					header="Supervisor" id="dialogUserBalance" modal="true">
					<fieldset>
						<h5>
							<h:outputText value="#{msgs['supervisor.userBalance']}" />
						</h5>
					</fieldset>
					<!-- Form exit user -->
					<h:panelGroup id="formGetBalanceUser">
						<h:panelGroup>
							<h:form prependId="false" id="contact-form1"
								styleClass="contact-form" rendered="true">
								<fieldset>
									<p:messages showSummary="true" showDetail="true"
										globalOnly="true" />
									<h:panelGroup id="displayAddExitCheck"
										rendered="#{supervisorController.userExist == true}">
										<div class="profileList">

											<div class="column">
												<div class="field listTitle">
													<h:outputText value="#{msgs['supervisor.user.balance']}"
														styleClass="listLabel" />
													<h:outputText id="supervisorSaldo"
														value="#{supervisorController.getSaldo}" />
												</div>
												<div class="field">
													<h:outputText value="#{msgs['supervisor.user.cu']}"
														styleClass="listLabel" />
													<h:outputText id="supervisorCu"
														value="#{supervisorController.getCu}" />
												</div>
												<div class="field">
													<h:outputText value="#{msgs['supervisor.user.login']}"
														styleClass="listLabel" />
													<h:outputText id="supervisorLogin"
														value="#{supervisorController.getLogin}" />
												</div>
												<div class="field">
													<h:outputText value="#{msgs['supervisor.user.name']}"
														styleClass="listLabel" />
													<h:outputText id="supervisorName"
														value="#{supervisorController.getName}" />
												</div>
												<div class="field">
													<h:outputText value="#{msgs['supervisor.user.last']}"
														styleClass="listLabel" />
													<h:outputText id="supervisorLast"
														value="#{supervisorController.getLast}" />
												</div>
												<div class="field">
													<h:outputText value="#{msgs['supervisor.user.email']}"
														styleClass="listLabel" />
													<h:outputText id="supervisorEmail"
														value="#{supervisorController.getEmail}" />
												</div>
												<div class="field">
													<h:outputText value="#{msgs['supervisor.user.phone']}"
														styleClass="listLabel" />
													<h:outputText id="supervisorPhone"
														value="#{supervisorController.getPhone}" />
												</div>
											</div>

										</div>
									</h:panelGroup>
									<div class="container buttonForm">
										<div class="fleft">
											<p:commandLink onclick="onclickToReload();" styleClass="link" rendered="true"
												value="[#{msgs.closeButton}]"
												oncomplete="PF('userBalanceDialog').hide()" />
										</div>
									</div>
								</fieldset>
							</h:form>

							<!--  -->
						</h:panelGroup>
					</h:panelGroup>

				</p:dialog>
				<!-- /get balance -->

			</div>
		</div>

		</section>
	</ui:define>
</ui:composition>
</html>