<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<f:view contentType="text/html" locale="en">

	<h:head>
		<title>Datos de usuario a bloquear</title>
	</h:head>

	<h:body>
		<!-- .content-box -->
		<h:form prependId="false" id="contact-form1" styleClass="contact-form"
			rendered="true">

			<!-- 			//////////////// -->
			<fieldset>
			<div class="profileList">
				<div class="field">
					<h:outputText value="#{msgs['supervisor.user.cu']}"
						styleClass="cf2label" />
					<h:outputText id="supervisorCu"
						value="#{blockingDialogController.sysUserIdentification}" />
				</div>
				<div class="field">
					<h:outputText value="#{msgs['supervisor.user.login']}"
						styleClass="cf2label" />
					<h:outputText id="supervisorLogin"
						value="#{blockingDialogController.login}" />
				</div>
				<div class="field">
					<h:outputText value="#{msgs['supervisor.user.name']}"
						styleClass="cf2label" />
					<h:outputText id="supervisorName"
						value="#{blockingDialogController.name}" />
				</div>
				<div class="field">
					<h:outputText value="#{msgs['supervisor.user.last']}"
						styleClass="cf2label" />
					<h:outputText id="supervisorLast"
						value="#{blockingDialogController.lastName}" />
				</div>
				<div class="field">
					<h:outputText value="#{msgs['supervisor.user.email']}"
						styleClass="cf2label" />
					<h:outputText id="supervisorEmail"
						value="#{blockingDialogController.email}" />
				</div>
				<div class="field">
					<h:outputText value="#{msgs['supervisor.user.phone']}"
						styleClass="cf2label" />
					<h:outputText id="supervisorPhone"
						value="#{blockingDialogController.phone}" />
				</div>
				<!-- 			//////////////// -->
				<div class="field">
					<h:outputText value="Estado del usuario" styleClass="cf2label" />
					<h:outputText id="sysuserStatus"
						value="#{blockingDialogController.sysUserStatus}" />
				</div>
			</div>
			</fieldset>
			<br>
			</br>
			<p:commandButton icon="ui-icon-search"
				value="#{blockingDialogController.blockUnblockButtonValue}"
				actionListener="#{blockingDialogController.blockUnblock}">
			</p:commandButton>
		</h:form>

	</h:body>

</f:view>
</html>