<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
>	
<ui:composition template="/template/template.xhtml">
<!-- Inclusion de contenido -->
<ui:define name="content">
     <!-- content -->
    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        	<div class="inside">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_15 omega">
                            <div class="suffix_1">
                            	<h5><h:outputText value="#{msgs['menu.reloadPayPal']}"/></h5>
                                <div style="clear:both"></div>
                                <div id="">
                                <div class="field">
                                <h:outputLabel value="#{msgs['reloadPayPalConfirm']}"/>
                                </div>
                                <br />
                                <h:outputText value="CAD #{balancePPController.payPalBean.amount}"></h:outputText>
                                <br />
                                <br />
                                <h:outputText value="#{balancePPController.button}" escape="false"></h:outputText>
                                </div>
                              </div>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>
        
      <!-- /.content-box -->
    </section>
	</ui:define>
</ui:composition>
</html>