<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
>	


<ui:composition template="/template/template.xhtml">

<ui:define name="content">
     <!-- content -->

    <!-- content -->
    <section id="content">
     <!-- .content-box -->
        <div class="container">
        <f:event type="preRenderView" listener="#{cityParkingController.isPendingPayments}" />
  			<h:form id="form1"> 
             <p:messages id="msg" showDetail="true" autoUpdate="true" closable="true" /> 
             </h:form>  
        	<div class="inside">
                <div class="container_24" style="position:relative;">
                    <div class="wrapper">
                    	<h:panelGroup rendered="#{cityParkingController.isPendings()}">
                        <div class="grid_15 omega" style="position: inherit;">
                            <div class="suffix_1">
                          
                            	<h5><h:outputText value="#{msgs['reloadBalance.cps.title']}"/></h5>                                
                            	<img class="pageImage" src="../images/cps/shop1.png"></img>
                                <div style="clear:both"></div>
                                <div id="contact_form" style="clear:both;">
                                <p:messages showSummary="true" showDetail="true" globalOnly="true" />
                                <!-- target="_blank" -->
                                <h:form prependId="false" method="post" id="contact-form"  onsubmit="return validate()">
                                    <fieldset> 
                                      <div class="field">
                                        <h:outputLabel value="#{msgs['myHistory.amount']}" for="value" id="labelforvalue"/>
                                        <h:inputText label="labelforvalue" styleClass="text-input" maxlength="10" id="value" value="#{cityParkingController.value}" required="true" requiredMessage="#{msgs.reloadBalancePinRequired}"  converterMessage="#{msgs.reloadBalancePinNumber}"/>
                                        <p:message for="value"/>
                                       </div>
                                      <div class="container">
                                        <div class="fleft" style="margin:20px 0;">
                                           <p:commandButton  value="[#{msgs.reloadBalanceButton}]" action="#{cityParkingController.initPayment}" 
                                          >
                                            
                                           </p:commandButton>
                                           
                                            
                                  
                                       </div>
                                      </div>
                                    </fieldset>    
                                </h:form>
                                
                                            <script language="javascript">
                                          
											    function handlePaymentRequest(xhr, status, args) {  
											    	// alert("payId="+args.payId);
											    	
											    	
											    	window.location='https://'+args.outcome;
											    	/* var child = window.open('https://'+args.outcome,'','toolbar=0,status=0');
													 var timer = setInterval(checkChild, 500);

													 $.blockUI({ message:'Transacción en proceso', css: { 
												            border: 'none', 
												            padding: '15px', 
												            backgroundColor: '#000', 
												            '-webkit-border-radius': '10px', 
												            '-moz-border-radius': '10px', 
												            opacity: .5, 
												            color: '#fff' 
												        }
                                                         
												         }); 
													 function checkChild() {
													    if (child.closed) {
													       // alert("Child window closed"); 
													        $.unblockUI();  
													        clearInterval(timer);
													       
													    }
													 }

													   function closeAndRedirect()
														{
															child.close();
															window.location="../index.xhtml";														}
													 

													 $.ajax({
															url: "../../cps/checkpayment?payId="+args.payId,
															timeout: 90000,
															success: function(response){
																if (response == null){
																	
																	return false
																}else{
																
																	//alert("response="+ response); 

																	if(response!='Started')
																	{
																	
																		clearInterval(timer);
																		$.unblockUI();
																		window.location="../index.xhtml";
																		//setTimeout(closeAndRedirect,5000);
																	} 
																	//$.mobile.hidePageLoadingMsg();
																	//NT - Actualizando saldo de usuario en SESSION
																	///rampgap.updateBalance(response.balance);					
																	//var balance = '<p>'+LANG.balancetxt.text+': CRC '+response.balance+'</p>';
																//	$('#infoBalanceContent').html(balance);
													  				//$.mobile.changePage($("#infoBalance"));
																}
															},
															error: function(xhr, ajaxOptions, thrownError)
															{
																if(ajaxOptions!='timeout')
																{
																	alert('error: '+thrownError);
																}
																else
																{
																	//alert('error: timeout ');
																	clearInterval(timer);
																}
																$.unblockUI();
																
															}
														});*/

													
											    } 
											</script>
											
											<!--button type="button" onclick="closeAndRedirect()">Click Me!</button--> 
                              </div>
                              <div class="pageInfo">
                              	<p><h:outputText value="#{msgs['reloadBalance.cps.zp']}"/></p>                              	
                            </div>
                            <img class="serviceLogo" src="../images/cps/cityp.jpg" style="display: block; position"></img>
                           </div>                            
                        </div><!-- omega -->
                        </h:panelGroup>
                    </div>                    
                </div>
            </div>
        </div>
        
 
<!-- Inclusion de contenido -->
      <!-- /.content-box -->
    </section>
	</ui:define>
</ui:composition>
</html>